<div class="dashboard-appointments">
	<h3 class="align-member-section">Pending Appointments</h3>
	<ul class="nav nav-tabs" role="tablist">
		<li [ngClass]="{'active': isRequest}" role="presentation"><a class="pointer" (click)="isRequest=true;isProposed=false" role="tab" data-toggle="tab"><b>Request ({{requests.length}})</b></a></li>
		<li><a><b>|</b></a></li>
		<li [ngClass]="{'active': isProposed}"  role="presentation"><a class="pointer" (click)="isProposed=true;isRequest=false" role="tab" data-toggle="tab"><b>Proposed ({{proposes.length}})</b></a></li>
	</ul>
	<div class="tab-content">
		<div [ngClass]="{'active': isRequest}" role="tabpanel" class="tab-pane tab_pane_padding" id="request">
			<div *ngIf="requests && loadingAccept != [] && loadingReject != []">
				<div *ngFor="let request of requests; let i=index ">
					<div class="col-md-12 col-sm-12 col-xs-12 appointments">
						<div class="row">
							<div class="col-md-3 col-sm-12 col-xs-12 appointments-img"><img class="img-responsive" src="{{request.property.pictures.bed[0].url}}"></div>
							<div class="col-md-9 col-sm-12 col-xs-12 appointments-caption">
								<h5>You have a viewing request for</h5>
								<h4><b>#{{request?.property.address.floor}}-{{request?.property.address.unit}} {{request?.property.development.name}}</b></h4>
								<div class="item-caption-desc">
									<div class="col-md-1 detail-no-padding">
										<span class="item_pending_appointment"><i class="fa fa-bed icon_list_right item_pending_appointment" aria-hidden="true"></i> {{request?.property.details.bedroom}}</span>
									</div>
									<div class="col-md-1 detail-no-padding">
										<span class="item_pending_appointment"><i class="fa fa-female" aria-hidden="true"></i><i class="fa fa-male icon_list_right item_pending_appointment" aria-hidden="true"></i> {{request?.property.details.bathroom}}</span>
									</div>
									<div class="col-md-3 col-sm-2 detail-property">
										<span class="item_pending_appointment"><i class="fa fa-expand icon_list_right item_pending_appointment" aria-hidden="true"></i></span>
										<div class="sqft-size-listing pending upcoming">{{request?.property.details.size_sqf}} sqft</div>
										<div class="sqm-result upcoming pending sqm-size-listing-mg">{{request?.property.details.size_sqm}} sqm</div>
									</div>
									<div class="col-md-6 pd-left-0 fl-l-visible" *ngIf="request.property.details.furnishing != 'unfurnished'">
				                      	<img width="15px" height="15px" class="icon_list_right" src="/client/include/images/{{request?.property.details.furnishing}}.png">
				                      	<div class="sqft-size-listing property-listing">{{request?.property.details.furnishing | capitalizeFirst}} </div><div class="sqm-result property sqm-size-listing-mg">Furnished</div>
                    				</div>
                    				<div class="col-md-6 pd-left-0 fl-l-visible" *ngIf="request.property.details.furnishing == 'unfurnished'">
                      					<img width="15px" height="15px" class="icon_list_right" src="/client/include/images/not.png">
                      					<div class="sqft-size-listing property-listing">Not </div><div class="sqm-result property sqm-size-listing-mg">Furnished</div>
                    				</div>
								</div>				
								<div class="col-md-6 col-sm-6 col-xs-12 pl0 pd-top">
									<span>When :</span><br>
									<span><i class="fa fa-calendar cblue tp" aria-hidden="true"></i>
										{{request?.chosen_time.date}}
									</span><br>
									<span><i class="fa fa-clock-o cblue tp" aria-hidden="true"></i>
										{{request?.chosen_time.from}}-{{request?.chosen_time.to}}
									</span>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 pl0 pd-top">
									<span>Request by :</span><br>
									<img *ngIf="request?.tenant.picture" class="avatar tp" src="{{request?.tenant.picture.url}}">
									<img *ngIf="!request?.tenant.picture" class="avatar tp" src="client/include/images/img/cs.png">
									<span class="cblue">{{request?.tenant.username}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 appointments-nav">
				        <div class="pull-left pull_left_top">
				            <span>Accept or reject user's proposed timing</span>
				        </div>
		               	<div class="pull-right pull_right_top">
			                <button (click)="accept(request?._id, i)" type="button" name="button" class="btn btn-primary btn-lg btn-green btn-responsive">
			                	<span *ngIf="loadingAccept[i]" class="span-button"><i class='fa fa-spinner fa-spin '></i> Please Wait</span>
            					<span *ngIf="!loadingAccept[i]" class="span-button"><i class="fa fa-check" aria-hidden="true"></i> Accept</span>
			                </button>
			                <button (click)="reject(request?._id, i)" type="button" name="button" class="btn btn-primary btn-lg btn-pink btn-responsive">
			                	<span *ngIf="loadingReject[i]" class="span-button"><i class='fa fa-spinner fa-spin '></i> Please Wait</span>
            					<span *ngIf="!loadingReject[i]" class="span-button"><i class="fa fa-times" aria-hidden="true"></i> Reject</span>
			                </button>
			                <button (click)="messageUser(propose?._id)" type="button" name="button" class="btn btn-primary btn-lg btn-blue btn-responsive" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Message User"><i class="fa fa-comment-o" aria-hidden="true"></i> Message User</button>
		               	</div>
		            </div>
				</div>
			</div>
		</div>
		<div [ngClass]="{'active': isProposed }" role="tabpanel" class="tab-pane tab_pane_padding" id="proposed">
			<div *ngIf="proposes && loading != []">
				<div *ngFor="let propose of proposes; let i=index ">
					<div class="col-md-12 col-sm-12 col-xs-12 appointments">
						<div class="row">
							<div class="col-md-3 col-sm-12 col-xs-12 appointments-img"><img class="img-responsive" src="{{propose?.property.pictures.bed[0].url}}"></div>
							<div class="col-md-9 col-sm-12 col-xs-12 appointments-caption">
								<h5>You are requesting a viewing for</h5>
								<h4><b>#{{propose?.property.address.floor}}-{{propose?.property.address.unit}} {{propose?.property.development.name}} </b></h4>
								<div class="item-caption-desc">
									<div class="col-md-1 detail-no-padding">
										<span class="item_pending_appointment"><i class="fa fa-bed icon_list_right item_pending_appointment" aria-hidden="true"></i> {{propose?.property.details.bedroom}}</span>
									</div>
									<div class="col-md-1 detail-no-padding">
										<span class="item_pending_appointment"><i class="fa fa-female" aria-hidden="true"></i><i class="fa fa-male icon_list_right item_pending_appointment" aria-hidden="true"></i> {{propose?.property.details.bathroom}}</span>
									</div>
									<div class="col-md-3 col-sm-2 detail-property">
										<span class="item_pending_appointment"><i class="fa fa-expand icon_list_right item_pending_appointment" aria-hidden="true"></i></span>
										<div class="sqft-size-listing pending upcoming">{{propose?.property.details.size_sqf}} sqft</div>
										<div class="sqm-result upcoming pending sqm-size-listing-mg">{{propose?.property.details.size_sqm}} sqm</div>
									</div>
									<div class="col-md-6 pd-left-0 fl-l-visible">
										<img width="15px" height="15px" class="icon_list_right" src="/client/include/images/{{propose?.property.details.furnishing}}.png">
										<div class="sqft-size-listing property-listing">{{propose?.property.details.furnishing | capitalizeFirst}}</div><div class="sqm-result property sqm-size-listing-mg">Furnished</div>
									</div>
								</div>				
								<div class="col-md-6 col-sm-6 col-xs-12 pl0 pd-top">
									<span>When :</span><br>
									<span><i class="fa fa-calendar cblue tp" aria-hidden="true"></i>
										{{propose?.chosen_time.date}}
									</span><br>
									<span><i class="fa fa-clock-o cblue tp" aria-hidden="true"></i>
										{{propose?.chosen_time.from}}-{{propose?.chosen_time.to}}
									</span>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 pl0 pd-top">
									<span>To:</span><br>
									<img *ngIf="propose?.landlord.picture" class="avatar tp" src="{{propose.landlord.picture.url}}">
									<img *ngIf="!propose?.landlord.picture" class="avatar tp" src="client/include/images/img/cs.png">
									<span class="cblue">{{propose?.landlord.username}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 appointments-nav">
		              	<div class="pull-left pull_left_top">
	            			<span>Request Status :<b class="cblue"> {{propose.status | capitalizeFirst}}</b></span>
	            		</div>
		       			<div class="pull-right pull_right_top">
		       				<button (click)="cancel(propose?._id, i)" type="button" name="button" class="btn btn-primary btn-lg btn-pink btn-responsive">
			       				<span *ngIf="loading[i]" class="span-button"><i class='fa fa-spinner fa-spin '></i> Please Wait</span>
			       				<span *ngIf="!loading[i]" class="span-button"><i class="fa fa-times" aria-hidden="true"></i> Cancel Request</span>
		       				</button>
	           				<button (click)="messageUser(propose?._id)" type="button" name="button" class="btn btn-primary btn-lg btn-blue btn-responsive"><i class="fa fa-comment-o" aria-hidden="true"></i> Message User</button>
		           		</div>
		       		</div>
				</div>
			</div>
		</div>
	</div>
</div>