<div id="content" [class]="contentClass">
	<div class="panel panel-inverse" data-sortable-id="table-basic-1">
		<div class="panel-heading">
			<div class="panel-heading-btn">
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
			</div>
			<h4 class="panel-title">Form User</h4>
		</div> 
		<div class="panel-body">
			<form #form="ngForm" [formGroup]="myForm" (ngSubmit)="myForm.valid && userId ? updateUser() : createUser()">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="form-group" [ngClass]="{'has-error':!myForm.controls['username'].valid && myForm.controls['username'].touched }">
						<label for="username">Username</label>
						<input type="text" class="form-control" formControlName="username" placeholder="Input your username" name="username" [(ngModel)]="dataUser.username" required>
						<span *ngIf="myForm.controls['username'].hasError('required') && myForm.controls['username'].touched" class="text-danger">Name is required</span>
					</div>
					<div class="form-group"  [ngClass]="{'has-error':!myForm.controls['email'].valid && myForm.controls['email'].touched }">
						<label for="email">Email</label>
						<input type="email" class="form-control" formControlName="email" placeholder="Input your email" name="email" [(ngModel)]="dataUser.email" required>
						<span *ngIf="myForm.controls['email'].hasError('required') && myForm.controls['email'].touched" class="text-danger">Email is required</span>
					</div>
					<div class="form-group" [ngClass]="{'has-error':!myForm.controls['password'].valid && myForm.controls['password'].touched }">
						<label for="password">Password</label>
						<input type="password" class="form-control" formControlName="password" placeholder="Input your password" name="password" validateEqual="confirmPassword" reverse="true" required [(ngModel)]="dataUser.password">
						<span *ngIf="myForm.controls['password'].hasError('required') && myForm.controls['password'].touched" class="text-danger">Password is required</span>
					</div>
					<div class="form-group" [ngClass]="{'has-error':!myForm.controls['confirmPassword'].valid && myForm.controls['confirmPassword'].touched }">
						<label for="confirmPassword">Password Confirmation</label>
						<input type="password" class="form-control" formControlName="confirmPassword" placeholder="Re-type your password here" name="confirmPassword" validateEqual="password" required [(ngModel)]="dataUser.confirmPassword">
						<span *ngIf="myForm.controls['confirmPassword'].hasError('required') && myForm.controls['confirmPassword'].touched" class="text-danger">Confirm Password is required</span>
						<span *ngIf="dataUser.confirmPassword && dataUser.password != dataUser.confirmPassword" class="text-danger">New passwords do not match</span>
					</div>
					<div class="form-group">
						<label for="role">Role</label>
						<select class="form-control" name="role" formControlName="role" [(ngModel)]="dataUser.role">
							<option value="admin">Admin</option>
							<option value="user">User</option>
						</select>
					</div>
					<div class="form-group" [ngClass]="{'has-error':!myForm.controls['phone'].valid && myForm.controls['phone'].touched }">
						<label for="phone">Phone</label>
						<input type="tel" class="form-control" formControlName="phone" id="phone" placeholder="Input your phone number" name="phone" [(ngModel)]="dataUser.phone" required intl-tel-input>
						<span *ngIf="myForm.controls['phone'].hasError('required') && myForm.controls['phone'].touched" class="text-danger">Phone is required</span>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-primary" (click)="backToUser()"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Back</button>
						<button class="btn btn-primary" [disabled]="!myForm.valid">Save</button>
					</div>
				</div>
			</form>      
		</div>
	</div>
</div>