<div id="content" [class]="contentClass">
  <div class="panel panel-inverse" data-sortable-id="table-basic-1">
    <div class="panel-heading">
      <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
      </div>
      <h4 class="panel-title">View Detail User</h4>
    </div>   
    <div *ngIf="!userId">
      <loading></loading>
    </div>
    <div class="panel-body" *ngIf="userId">
      <div class="">
        <div class="row less">
          <div class="admin-pro-title step-5-location">
            <h4 class="color-black">User Information</h4>
          </div>
          <div class="col-md-2 admin-mg-btm">
              <img *ngIf="userDetail?.picture" src="{{userDetail?.picture?.url}}" class="admin-landlord-profil admin-img-profil-60 size-150">
              <img *ngIf="!userDetail?.picture" src="public/assets/images/No-Picture-Available.jpg" class="admin-landlord-profil admin-img-profil-60 size-150">
          </div>
          <div class="col-md-2">
            <p> Username</p>
              <div *ngIf="isTenant != undefined">
                <p> Full Name</p>
                <p> Type Of ID</p>
                <p> ID No.</p>
                <p> Mobile</p>
                <p> Email</p>
                <p> Date Joined</p>
                <p> Date Verified</p>
              </div>
          </div>
          <div class="col-md-3">
            <p><span class="admin-mg-min-plus">:</span> <span>{{userDetail?.username}}</span></p>
            <div *ngIf="isTenant != undefined">
              <p><span class="admin-mg-min-plus">:</span> <span>{{userDetail?.tenant?.data?.name}}</span> </p>
              <p><span class="admin-mg-min-plus">:</span> <span>{{userDetail?.tenant?.data?.identification_type}}</span> </p>
              <p><span class="admin-mg-min-plus">:</span> <span>{{userDetail?.tenant?.data?.identification_number}}</span> </p>
              <p><span class="admin-mg-min-plus">:</span> <span>{{userDetail?.phone}}</span></p>
              <p><span class="admin-mg-min-plus">:</span> <span>{{userDetail?.email}}</span></p>
              <p><span class="admin-mg-min-plus">:</span> <span>{{userDetail?.created_at | date:'dd/MM/yyyy'}}</span></p>
              <p><span class="admin-mg-min-plus">:</span> <span>{{userDetail?.verification?.verified_date | date:'dd/MM/yyyy'}}</span> </p>
            </div>  
          </div>
        </div>

        <div class="row less" *ngIf="isLandlord != undefined">
          <div class="admin-pro-title">
            <h4 class="color-black">Identification Documents (Individual)</h4>
          </div>
            <div class="col-md-12">
              <div class="col-md-2">
                <p class="text-center"><b>Front</b></p>
                <a *ngIf="userDetail?.landlord?.data?.identification_proof?.front" href="{{userDetail?.landlord?.data?.identification_proof?.front?.url}}" target="_blank" data-lightbox="">
                  <img class="image_road_sg admin-identification" width="100%" height="120" src="{{ userDetail?.landlord?.data?.identification_proof?.front?.url}}"/>
                </a>
                <img *ngIf="!userDetail?.landlord?.data?.identification_proof?.front" src="public/assets/images/No-Picture-Available.jpg" class="image_road_sg" width="100%" height="120">
              </div>
              <div class="col-md-2">
                <p class="text-center"><b>Back - if applicable</b></p>
                <a *ngIf="userDetail?.landlord?.data?.identification_proof?.back" href="{{userDetail?.landlord?.data?.identification_proof?.back?.url}}" target="_blank" data-lightbox="">
                  <img class="image_road_sg admin-identification" width="100%" height="120" src="{{userDetail?.landlord?.data?.identification_proof?.back?.url}}" />
                </a>
                <img *ngIf="!userDetail?.landlord?.data?.identification_proof?.back" src="public/assets/images/No-Picture-Available.jpg" class="image_road_sg" width="100%" height="120">
              </div>
            <div class="col-md-2">
              <p><b>As Landlord</b></p>
              <p>Name</p>
              <p>Type</p>
              <p>Id No</p>
            </div>
            <div class="col-md-3">
            <p><b class="admin-visibility-hidden">As Landlord</b></p>
              <p><span class="admin-mg-min-plus">:</span><span>{{userDetail?.landlord?.data?.name}}</span> </p>
              <p><span class="admin-mg-min-plus">:</span><span>{{userDetail?.landlord?.data?.identification_type}}</span> </p>
              <p><span class="admin-mg-min-plus">:</span><span>{{userDetail?.landlord?.data?.identification_number}}</span> </p>
            </div>
          </div>
        </div>

        <div class="row less" *ngIf="isCompany?.length != 0">
          <div class="admin-pro-title mg-top-20">
            <h4 class="color-black">Identification Documents (Company)</h4>
          </div>
          <div *ngFor="let company of userDetail?.companies" class="col-md-5">
            <p> Name  : {{company?.name}}</p>
            <p> Registration ID : {{company?.registration_number}}</p>
            <p>
            <img class="image_road_sg" width="237" height="158" src="{{company?.documents[0]?.url}}" />
            </p>
          </div>
        </div>

        <div class="row less admin-step4" *ngIf="isProperty?.length != 0">
          <div class="admin-pro-title step-5-location">
            <h4 class="color-black">Property</h4>
          </div>
          <div class="col-md-3 admin portofolio" *ngFor="let property of userDetail?.owned_properties">
            <div class="col-md-12 no-padding no-pd-lf">
              <img class="image_road_sg" width="237" height="158" src="{{property?.pictures?.living[0]?.url}}">
            </div>
            <div class="col-md-12 no-padding no-pd-lf">
              <span class="font-size-12">{{property?.address?.floor}} - {{property?.address?.unit}} {{property?.development?.name}}</span><br>
              <span class="admin-blue_road_sg"><i class="fa fa-map-marker icon_list_right" aria-hidden="true"></i>
               {{property?.address?.block_number}} {{property?.address?.street_name}} {{property?.address?.postal_code}}
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>    
  <button type="button" class="btn btn-sm btn-primary mg-top-20" (click)="backToUser()"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Back</button>
</div>
