<div id="content" [class]="contentClass">
	<div class="panel panel-inverse" data-sortable-id="table-basic-1">
	    <div class="panel-heading">
	        <div class="panel-heading-btn">
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
	        </div>
	        <h4 class="panel-title">Form Bank</h4>
	    </div> 
	    <div class="panel-body">
			<form #form="ngForm" [formGroup]="myForm" (ngSubmit)="myForm.valid && bankId ? updateBank() : createBank()">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="form-group"  [ngClass]="{'has-error':!myForm.controls['code'].valid && myForm.controls['code'].touched }">
						<label for="code">Code</label>
						<input type="code" class="form-control" formControlName="code" placeholder="Input your code" name="code" [(ngModel)]="dataBank.code" required>
						<span *ngIf="myForm.controls['code'].hasError('required') && myForm.controls['code'].touched" class="text-danger">Code is required</span>
					</div>
					<div class="form-group" [ngClass]="{'has-error':!myForm.controls['name'].valid && myForm.controls['name'].touched }">
						<label for="name">Name</label>
						<input type="text" class="form-control" formControlName="name" placeholder="Input bank name" name="name" [(ngModel)]="dataBank.name" required>
						<span *ngIf="myForm.controls['name'].hasError('required') && myForm.controls['name'].touched" class="text-danger">Name is required</span>
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<input type="description" class="form-control" formControlName="description" placeholder="Input your description" name="description" [(ngModel)]="dataBank.description">
						<span *ngIf="myForm.controls['description'].hasError('required') && myForm.controls['description'].touched" class="text-danger">Description is required</span>
					</div>
					<div class="form-group">
						<button class="btn btn-primary" [disabled]="!myForm.valid">Save</button>
					</div>
				</div>
			</form>   
		</div>
	</div>		   
</div>