<div class="container">
	<p class="current-list between-navbar why-us">
		<a routerLink="/">Home</a>
		<a routerLink="/appointment/ZWz7SkmDveHu7WWkS/initiate-view">&gt; Schedule Viewing</a>
	</p>
</div>

<div class="container select-date-time">
	<div class="member-property set-to-zero">
		<div class="row">
			<div class="title text-center">
				<h3>SCHEDULE VIEWING</h3>
			</div>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-md-10 col-sm-10 col-xs-12 upside-box select-date-time">
					<h5>You are schedule viewing for :</h5>
					<h3 class="schedule-viewing-mg-btm">{{property?.development.name}}</h3>
					<h5 class="bc f16"><i class="fa fa-map-marker ltr-spacing" aria-hidden="true"> </i>{{property?.address.block_number}} {{property?.address.street_name}}</h5>
					<h6 class="bc f11 country-no-behind schedule">{{property?.address.country}} {{property?.address.postal_code}}</h6>
				</div>
			</div>
			<div class="upload-title">
				Select date and time
			</div>
			<div class="upload-title calender-title">calender</div>
			<div class="row for-calender">
				<div class="col-md-9 col-sm-9 col-xs-12">
					<div id="calendar" class="fc fc-ltr fc-unthemed">
						<div class="fc-toolbar">
							<div class="fc-left"><h2>{{month}}</h2></div>
							<div class="fc-right">
								<button type="button" class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right fc-state-disabled" disabled="disabled">today</button>
								<div class="fc-button-group">
									<button type="button" (click)="prev(fc)" class="fc-prev-button fc-button fc-state-default fc-corner-left"><span class="fc-icon fc-icon-left-single-arrow"></span></button>
									<button type="button" (click)="next(fc)" class="fc-next-button fc-button fc-state-default fc-corner-right"><span class="fc-icon fc-icon-right-single-arrow"></span></button>
								</div>
							</div>
							<div class="fc-center"></div>
							<div class="fc-clear"></div>
						</div>
						<p-schedule [eventRender]="eventRender" [events]="events" [header]="header" [defaultDate]="today" [eventLimit]="4" [editable]="true"
						(onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)" #fc></p-schedule>
					</div>
				</div>
				<!-- ==========MODAL-SELECT-TIMING========= -->
				<div class="modal fade responsive-modal" [config]="{backdrop: 'static'}" role="dialog" bsModal #modal="bs-modal" tabindex="-1">
					<div class="modal-dialog width-fifty">
						<div class="modal-content calendar">
							<div class="modal-header bg-blue">
								<span id="titleDate" class="font-modal-header" style="display: none"></span>
								<span class="font-modal-header">{{model.showDate}}</span>
								<button type="button" class="close" (click)="modal.hide() || removeSelected()">×</button>
							</div>
							<div class="modal-header bg-gray">
								<h4 class="select-timing">Select Timing/s</h4>
							</div>
							<div class="modal-body">
								<div *ngFor="let timing of timings">
									<div class="col-md-12 col-sm-12 col-xs-12 bg-white-timing second">
										<div class="col-md-2 col-sm-2 col-xs-3 times-timing">
											<span class="font-in-viewing time">{{timing.time}}</span>
											-
											<span class="font-in-viewing time">{{timing.time2}}</span>
										</div>
										<div class="col-md-8 col-sm-8 col-xs-6 times-timing">
											<div class="col-md-2 col-sm-2 col-xs-2">
												<div [class]="timing.cls"></div>
											</div>
											<div class="col-md-9 col-sm-9 col-xs-9 times-timing">
												<span class="font-in-viewing">
													{{timing.status}}
												</span>
											</div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-3 mg-checkbox">
											<div class="checkbox checkbox-primary responsive-checkbox">
												<p-checkbox *ngIf="timing.status == 'Available'" class="box selectTime styled" [(ngModel)]="selectedValue" [value]="timing" (click)="getSelected(timing)"></p-checkbox>
												<p-checkbox *ngIf="timing.status != 'Available'" class="box selectTime styled" disabled="true" [value]="timing" (change)="getSelected(timing)"></p-checkbox>
											</div>
										</div>
									</div>
								</div>
							</div>
							<ul class="pager wizard-calendar">
								<li (click)="modal.hide() || removeSelected()" class="previous cursor"><a class="cancel">Cancel</a></li>
								<li (click)="modal.hide() || select()" class="next pull-right finish cursor"><a class="select">Select</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- =============END============= -->
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="box-color-viewing">
							<span class="viewing-avail">VIEWING AVAILABILITY</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-3 pd-between-color second">
						<div class="green-box-viewing"></div>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9 calender-viewing">
						<span class="font-in-viewing">More than 3 slots available</span>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-3 pd-between-color second">
						<div class="green-box-viewing yellow"></div>
					</div>
					<!-- ==========================chat-schedule-viewing=================================== -->
					<div class="col-md-9 col-sm-9 col-xs-9 calender-viewing">
						<span class="font-in-viewing">Less than 3 slots available</span>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-3 pd-between-color second">
						<div class="green-box-viewing pink"></div>
					</div>
					<!-- ==========================chat-schedule-viewing=================================== -->
					<div class="col-md-9 col-sm-9 col-xs-9 calender-viewing">
						<span class="font-in-viewing">Not available</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-sm-10 col-xs-12 upside-box select-date-time">
					<h5><b>You have selected:</b></h5>
					<div class="col-md-1 col-sm-1 col-xs-2 select-date-time">
						<i class="fa fa-calendar blue-icon-awesome" aria-hidden="true"></i>
					</div>
					<div *ngIf="selected === true">
						<div class="col-md-11 col-sm-11 col-xs-10">
							<h5 class="margin-left-h5">
								{{model.showDate}}
							</h5>
						</div>
						<div class="col-md-1 col-sm-1 col-xs-2 select-date-time">
							<i class="fa fa-clock-o blue-icon-awesome" aria-hidden="true"></i>
						</div>
						<div class="col-md-11 col-sm-11 col-xs-10">
							<h5 class="margin-left-h5">
								<span *ngFor="let time of model.time; let i = index ">{{model.time[i]}}-{{model.time2[i]}} </span>
							</h5>
						</div>
					</div>
					<div *ngIf="selected === false">
						<div class="col-md-11 col-sm-11 col-xs-10">
							<h5 class="margin-left-h5">
								Please select a date &amp; time from the calendar above
							</h5>
						</div>
						<div class="col-md-1 col-sm-1 col-xs-2 select-date-time">
							<i class="fa fa-clock-o blue-icon-awesome" aria-hidden="true"></i>
						</div>
						<div class="col-md-11 col-sm-11 col-xs-10">
							<h5 class="margin-left-h5">
								Please select a date &amp; time from the calendar above
							</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="upload-title">
				Message
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 message">
				<div data-required="true" class="form-group">
					<textarea id="message" [(ngModel)]="message" class="form-control" placeholder="Say hi or leave a message to the property owner" rows="5" maxlength="300"></textarea>
					<span class="help-block"></span>
				</div>
			</div>
			<ul class="pager wizard">
				<li id="previous" class="previous btn-previous-sc" (click)="back()"><a>Previous</a></li>
<!-- <li id="createAppointment" class="next pull-right finish">
<a routerLink="#" type="button" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Please Wait">
	Submit</a></li> -->
				<li class="next pull-right finish">
				<button (click)="confirm(property?._id)" type="submit" class="btn-submit-sc">
					<span *ngIf="loading"><i class='fa fa-spinner fa-spin '></i> Please Wait</span>
					<span *ngIf="!loading && dreamtalkReady && ddp">Submit</span>
					<span *ngIf="!loading && !dreamtalkReady && ddp">Submit without message</span>
					<span *ngIf="!loading && !dreamtalkReady && !ddp">Submit without message</span>
					<span *ngIf="!loading && dreamtalkReady && !ddp">Submit without message</span>
				</button>
				</li>
			</ul>
		</div>
<!--  END IF BANNED -->
	</div>
</div>