<div id="content" [class]="contentClass">
    <div class="panel panel-inverse" data-sortable-id="table-basic-1">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Default Table</h4>
        </div>
        <div class="panel-body">
            <fieldset class="bd-gray">
                <div class="ui-widget-header">
                    <i class="fa fa-search global-filter"></i>
                    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                </div>
            	<p-dataTable [value]="appointments" [rows]="10" [paginator]="true" [globalFilter]="gb">
            		<p-column field="landlord.username" header="Landlord"></p-column>
                	<p-column field="tenant.username" header="Tenant"></p-column>
                	<p-column header="Schedule">
                        <template let-data="rowData" pTemplate="body">
                            {{data.chosen_time?.date}}, {{data.chosen_time?.from}} - {{data.chosen_time?.to}}
                        </template>
                    </p-column>
                    <p-column header="Status">
                        <template let-data="rowData" pTemplate="body">
                            {{data.status | capitalizeFirst}}
                        </template>
                    </p-column>
                    <p-column header="State">
                        <template let-data="rowData" pTemplate="body">
                            {{data.state | capitalizeFirst}}
                        </template>
                    </p-column>
                	<p-column header="Action">
                        <template let-data="rowData" pTemplate="body">
                    		<button class="btn btn-danger mg-bot-top" type="button" (click)="showModalDelete(data._id)">Delete</button>
                        </template>
                	</p-column>
            	</p-dataTable>
            </fieldset>
        </div>    
    </div>    
</div>	

<div bsModal #modalDelete="bs-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="hideModalDelete()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>×</span>
                </button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">This will remove the user appointment and the data.</div>
            <div class="modal-footer">
                <button (click)="hideModalDelete()" type="button" class="btn btn-default modal-btn-dismiss">Close</button>
                <button (click)="delete()" type="button" class="btn btn-primary modal-btn-confirm">OK</button>
            </div>
        </div>
    </div>
</div>