<div class="dashboard-appointments">
	<h3 class="align-member-section">Tenancy Agreement</h3>
	<div class="header-breadcrumb">
		<span id="filAll" [ngClass]="{'color-in-status-blue': isAll }">
			<a class="pointer" (click)="isAll=true;isAction=false;isPending=false;isArchived=false">All ({{agreements.length}})</a>
		</span>|
		<span id="filAction" [ngClass]="{'color-in-status-blue': isAction }" class="span-pd-left-8">
			<a class="pointer" (click)="isAll=false;isAction=true;isPending=false;isArchived=false">Action Required ({{action.length}})</a>
		</span>|
		<span id="filPending" [ngClass]="{'color-in-status-blue': isPending }" class="span-pd-left-8">
			<a class="pointer" (click)="isAll=false;isAction=false;isPending=true;isArchived=false">Pending ({{pending.length}})</a>
		</span>|
		<span id="filArchived" [ngClass]="{'color-in-status-blue': isArchived }" class="span-pd-left-8">
			<a class="pointer" (click)="isAll=false;isAction=false;isPending=false;isArchived=true">Archived ({{archived.length}})</a>
		</span>
	</div>
	<div class="tab-content">
		<div role="tabpanel" [ngClass]="{'active': isAll }" class="tab-pane active tab-pd-top" id="isAll">
			<p-dataTable [value]="agreements" [rows]="10" [paginator]="true">
				<p-column header="Property">
			    	<template let-agreements="rowData" pTemplate="body">
			    		#{{agreements.property?.address.floor}}-{{agreements.property?.address.block_number}} {{agreements.property?.address.street_name}}
			    	</template>
			    </p-column>
			    <p-column field="landlord.username" header="Landlord"></p-column>
			    <p-column field="tenant.username" header="Tenant"></p-column>
			    <p-column header="Status">
			    	<template let-agreements="rowData" pTemplate="body">
			    		<span *ngIf="agreements.tenancy_agreement?.data.status == 'pending' && userID == agreements.landlord._id">Waiting for tenant to upload payment proof</span>
			    		<span *ngIf="agreements.tenancy_agreement?.data.status == 'pending' && userID == agreements.tenant._id">You need to upload payment</span>
			    		<span *ngIf="agreements.tenancy_agreement?.data.status == 'admin-confirmation'" class="status-blue-property">Pending Staysmart verification</span>
			    		<span *ngIf="agreements.tenancy_agreement?.data.status == 'accepted'" class="status-accepted-property">Archived</span>
			    		<span *ngIf="agreements.tenancy_agreement?.data.status == 'expired'" class="status-rejected-property">Expired</span>
			    		<span *ngIf="agreements.tenancy_agreement?.data.status == 'rejected'" class="status-rejected-property">Rejected</span>
			    	</template>
			    </p-column>
			    <p-column field="tenancy_agreement.data.created_at" header="Since"></p-column>
			    <p-column header="Stamp Certificate">
			    	<template let-agreements="rowData" pTemplate="body">
			    		<span *ngIf="!agreements.tenancy_agreement?.data.stamp_certificate" class="status-red-property">Not uploaded</span>
			    	</template>
			    </p-column>
			    <p-column header="Action" styleClass="col-button">
			    	<template let-agreements="rowData" pTemplate="body">
			    		<span *ngIf="agreements.tenancy_agreement.data.status != 'rejected'">
			    			<a (click)="view(agreements)" class="under_line pointer">View</a>
			    		</span>
			    		<span *ngIf="agreements.tenancy_agreement?.data.status == 'accepted' && !agreements.inventory_list?.data.status && agreements.landlord._id == userID">
			    			<a (click)="createIL(agreements)" class="under_line pointer">Create IL</a>
			    		</span>
			    	</template>
			    </p-column>
			</p-dataTable>
		</div>
		<div role="tabpanel" [ngClass]="{'active': isAction }" class="tab-pane active tab-pd-top" id="isAll">
			<p-dataTable [value]="action" [rows]="10" [paginator]="true">
				<p-column header="Property">
			    	<template let-action="rowData" pTemplate="body">
			    		#{{action.property?.address.floor}}-{{action.property?.address.block_number}} {{action.property?.address.street_name}}
			    	</template>
			    </p-column>
			    <p-column field="landlord.username" header="Landlord"></p-column>
			    <p-column field="tenant.username" header="Tenant"></p-column>
			    <p-column header="Status">
			    	<template let-action="rowData" pTemplate="body">
			    		<span *ngIf="action.tenancy_agreement?.data.status == 'pending' && userID == action.landlord._id">Waiting for tenant to upload payment proof</span>
			    		<span *ngIf="action.tenancy_agreement?.data.status == 'pending' && userID == action.tenant._id">You need to upload payment</span>
			    		<span *ngIf="action.tenancy_agreement?.data.status == 'admin-confirmation'" class="status-blue-property">Pending Staysmart verification</span>
			    		<span *ngIf="action.tenancy_agreement?.data.status == 'accepted'" class="status-accepted-property">Archived</span>
			    		<span *ngIf="action.tenancy_agreement?.data.status == 'expired'" class="status-rejected-property">Expired</span>
			    		<span *ngIf="action.tenancy_agreement?.data.status == 'rejected'" class="status-rejected-property">Rejected</span>
			    	</template>
			    </p-column>
			    <p-column header="Since">
			    	<template let-agreement="rowData" pTemplate="body">
			    		<span>{{agreement?.tenancy_agreement?.data?.created_at | date:'dd/MM/yy'}}</span>
			    	</template>
			    </p-column>
			    <p-column header="Stamp Certificate">
			    	<template let-action="rowData" pTemplate="body">
			    		<span *ngIf="!action.tenancy_agreement?.data.stamp_certificate" class="status-red-property">Not uploaded</span>
			    	</template>
			    </p-column>
			    <p-column header="Action" styleClass="col-button">
			    	<template let-action="rowData" pTemplate="body">
			    		<span *ngIf="action.tenancy_agreement.data.status != 'rejected'">
			    			<a (click)="view(action)" class="under_line pointer">View</a>
			    		</span>
			    		<span *ngIf="action.tenancy_agreement?.data.status == 'accepted' && !action.inventory_list?.data.status && action.landlord._id == userID">
			    			<a (click)="createIL(action)" class="under_line pointer">Create IL</a>
			    		</span>
			    	</template>
			    </p-column>
			</p-dataTable>
		</div>
		<div role="tabpanel" [ngClass]="{'active': isPending }" class="tab-pane active tab-pd-top" id="isAll">
			<p-dataTable [value]="pending" [rows]="10" [paginator]="true">
				<p-column header="Property">
			    	<template let-pending="rowData" pTemplate="body">
			    		#{{pending.property?.address.floor}}-{{pending.property?.address.block_number}} {{pending.property?.address.street_name}}
			    	</template>
			    </p-column>
			    <p-column field="landlord.username" header="Landlord"></p-column>
			    <p-column field="tenant.username" header="Tenant"></p-column>
			    <p-column header="Status">
			    	<template let-pending="rowData" pTemplate="body">
			    		<span *ngIf="pending.tenancy_agreement?.data.status == 'pending' && userID == pending.landlord._id">Waiting for tenant to upload payment proof</span>
			    		<span *ngIf="pending.tenancy_agreement?.data.status == 'pending' && userID == pending.tenant._id">You need to upload payment</span>
			    		<span *ngIf="pending.tenancy_agreement?.data.status == 'admin-confirmation'" class="status-blue-property">Pending Staysmart verification</span>
			    		<span *ngIf="pending.tenancy_agreement?.data.status == 'accepted'" class="status-accepted-property">Archived</span>
			    		<span *ngIf="pending.tenancy_agreement?.data.status == 'expired'" class="status-rejected-property">Expired</span>
			    		<span *ngIf="pending.tenancy_agreement?.data.status == 'rejected'" class="status-rejected-property">Rejected</span>
			    	</template>
			    </p-column>
			    <p-column field="tenancy_agreement.data.created_at" header="Since"></p-column>
			    <p-column header="Stamp Certificate">
			    	<template let-pending="rowData" pTemplate="body">
			    		<span *ngIf="!pending.tenancy_agreement?.data.stamp_certificate" class="status-red-property">Not uploaded</span>
			    	</template>
			    </p-column>
			    <p-column header="Action" styleClass="col-button">
			    	<template let-pending="rowData" pTemplate="body">
			    		<span *ngIf="pending.tenancy_agreement.data.status != 'rejected'">
			    			<a (click)="view(pending)" class="under_line pointer">View</a>
			    		</span>
			    		<span *ngIf="pending.tenancy_agreement?.data.status == 'accepted' && !pending.inventory_list?.data.status && pending.landlord._id == userID">
			    			<a (click)="createIL(pending)" class="under_line pointer">Create IL</a>
			    		</span>
			    	</template>
			    </p-column>
			</p-dataTable>
		</div>
		<div role="tabpanel" [ngClass]="{'active': isArchived }" class="tab-pane active tab-pd-top" id="isAll">
			<p-dataTable [value]="archived" [rows]="10" [paginator]="true">
				<p-column header="Property">
			    	<template let-archived="rowData" pTemplate="body">
			    		#{{archived.property?.address.floor}}-{{archived.property?.address.block_number}} {{archived.property?.address.street_name}}
			    	</template>
			    </p-column>
			    <p-column field="landlord.username" header="Landlord"></p-column>
			    <p-column field="tenant.username" header="Tenant"></p-column>
			    <p-column header="Status">
			    	<template let-archived="rowData" pTemplate="body">
			    		<span *ngIf="archived.tenancy_agreement?.data.status == 'archived' && userID == archived.landlord._id">Waiting for tenant to upload payment proof</span>
			    		<span *ngIf="archived.tenancy_agreement?.data.status == 'archived' && userID == archived.tenant._id">You need to upload payment</span>
			    		<span *ngIf="archived.tenancy_agreement?.data.status == 'admin-confirmation'" class="status-blue-property">Pending Staysmart verification</span>
			    		<span *ngIf="archived.tenancy_agreement?.data.status == 'accepted'" class="status-accepted-property">Archived</span>
			    		<span *ngIf="archived.tenancy_agreement?.data.status == 'expired'" class="status-rejected-property">Expired</span>
			    		<span *ngIf="archived.tenancy_agreement?.data.status == 'rejected'" class="status-rejected-property">Rejected</span>
			    	</template>
			    </p-column>
			    <p-column field="tenancy_agreement.data.created_at" header="Since"></p-column>
			    <p-column header="Stamp Certificate">
			    	<template let-archived="rowData" pTemplate="body">
			    		<span *ngIf="!archived.tenancy_agreement?.data.stamp_certificate" class="status-red-property">Not uploaded</span>
			    	</template>
			    </p-column>
			    <p-column header="Action" styleClass="col-button">
			    	<template let-archived="rowData" pTemplate="body">
			    		<span *ngIf="archived.tenancy_agreement.data.status != 'rejected'">
			    			<a (click)="view(archived)" class="under_line pointer">View</a>
			    		</span>
			    		<span *ngIf="archived.tenancy_agreement?.data.status == 'accepted' && !archived.inventory_list?.data.status && archived.landlord._id == userID">
			    			<a (click)="createIL(archived)" class="under_line pointer">Create IL</a>
			    		</span>
			    	</template>
			    </p-column>
			</p-dataTable>
		</div>
	</div>
</div>

<!-- pdf modal -->
<div class="modal fade" id="stampCertificateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog signIn_modal modal-detail-payment" role="document">
		<div class="modal-content">
			<div class="modal-body modal-body-login">
				<div class="row">
					<div class="col-md-12 col-sm-6 col-xs-6 view-payment-detail">

						<h4 class="center">Document not found</h4>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end pdf modal -->
