<section id="footer">
 <div class="container">
  <div class="row footer-site">
   <div class="col-md-6 col-sm-6">
    <h1>ABOUT US</h1>
    <p>Founded in 2016, Staysmart is driven by the need to create a sense of clarity through a platform – a platform which could bridge the gap between landlords and tenants. We believe that everyone should get the most out of their rental real estate. <a routerLink="/information/about-us" class="under-line">Read more...</a></p>
  </div>
  <div class="col-md-3 col-sm-3">
    <h1>LINKS</h1>
    <ul>
     <li><a routerLink="/">HOME</a></li>
     <li><a routerLink="#">LISTINGS</a></li>
     <li><a routerLink="/fees-charges">FEES AND CHARGES</a></li>
     <li><a routerLink="/terms-condition">TERMS &amp; CONDITIONS</a></li>
     <li><a routerLink="/privacy">PRIVACY POLICY</a></li>
     <li><a routerLink="/information/about-us">ABOUT US</a></li>
     <li><a routerLink="/blog">BLOG</a></li>
     <li><a routerLink="/faq">FAQ</a></li>
   </ul>
 </div>
 <div class="col-md-3 col-sm-3">
  <h1>CONTACT US</h1>
  <p class="contact">
    <a routerLink="#">
      <i class="fa fa-envelope-o" aria-hidden="true"></i> support@staysmart.sg
    </a>
  </p>
</div>
</div>
</div>
</section>