<section style="padding-top:50px;padding-bottom:50px;">
  <div class="container">
    <div class="row between-navbar browse-property grid-list">
      <div class="title text-center"><h1>LISTINGS</h1></div>
      <div class="subtitle text-center subtitle_list"></div>
    </div>
  </div>
  <div class="container">
    <p class="current-list browse-list">
    <a routerLink="/">StaySmart</a><span class="color-black-breadcrumb"> &gt; List View </span>
    </p>
    <a *ngFor="let dataProperty of dataProperties | slice:0:show; let i=index " (click)="view(dataProperty._id)" class="view-property" target="_blank">
        <div class="item item-list row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="shortlist width">
                    <div class="col-md-8 col-sm-7 col-xs-8 border-asking">
                        <h5>ASKING</h5>
                        <h4 class="f15 width-asking">${{dataProperty.details.price}} <span class="month-font color-white">/month</span></h4>
                    </div>
                    <div *ngIf="!dataProperty.shortlisted" class="col-md-3 col-sm-5 col-xs-2 shortlist-icon">
                        <a role="button" (click)="shortlistProperty(dataProperty._id)" class="favourite"><img src="/assets/images/icon_shortlist.png"></a>
                    </div>
                    <div *ngIf="dataProperty.shortlisted" class="col-md-3 col-sm-5 col-xs-2 shortlist-icon listed">
                        <a role="button" (click)="unshortlistProperty(dataProperty._id)" class="favourite"><img src="/assets/images/icon_shortlist.png"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 item-img">
                    <div class="item-img">
                        <div class="col-md-12">
                            <img src="{{dataProperty.pictures.bed[0].url}}" alt="Chania">
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12 item-caption">
                    <div class="item-caption-desc">
                        <h4><b>{{dataProperty.development.name}}</b></h4>
                        <div class="item-caption-avatar new-caption-item">
                            <img *ngIf="dataProperty.owner.user?.picture" src="{{dataProperty.owner.user.picture?.url}}" alt="Not found">
                            <img *ngIf="!dataProperty.owner.user?.picture" alt="Not found" src="client/include/images/img/cs.png">
                            <span class="span_list_right">{{dataProperty.owner.user.username}}</span>
                        </div>
                        <div class="col-md-1 col-sm-2 col-xs-2 no-padding-list third width-first">
                          <span class="span_list_right"><i class="fa fa-bed icon_list_right" aria-hidden="true"></i> {{dataProperty.details.bedroom}}</span>
                        </div>
                        <div class="col-md-1 col-sm-2 col-xs-2 no-padding-list width-first">
                          <span class="span_list_right"><i class="fa fa-female" aria-hidden="true"></i><i class="fa fa-male icon_list_right" aria-hidden="true"></i> {{dataProperty.details.bathroom}}</span>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4 no-padding-list width-second">
                          <span class="span_list_right"><i class="fa fa-expand icon_list_right" aria-hidden="true"></i></span>
                          <div class="sqft-size-map-view grid">{{dataProperty.details.size_sqf}} sqft</div>
                          <div class="size-browse-map grid">{{dataProperty.details.size_sqm}} sqm</div>
                        </div>
                        <div class="col-md-6 pd-left-0 fl-l-visible" *ngIf="dataProperty.details.furnishing != 'unfurnished'">
                          <img width="20px" height="20px" class="icon_list_right" src="client/include/images/{{dataProperty.details.furnishing}}.png">
                          <div class="sqft-size-listing property-listing f15">{{dataProperty.details.furnishing | capitalizeFirst}}</div><div class="sqm-result property sqm-size-listing-mg f15">Furnished</div>
                        </div>
                        <div class="col-md-6 pd-left-0 fl-l-visible" *ngIf="dataProperty.details.furnishing == 'unfurnished'">
                          <img width="20px" height="20px" class="icon_list_right" src="client/include/images/not.png">
                          <div class="sqft-size-listing property-listing f15">Not</div><div class="sqm-result property sqm-size-listing-mg f15">Furnished</div>
                        </div>
                          </div>
                        <div class="caption-desc list-two">
                          <h4><b>Description</b></h4>
                          <p>newly renovated</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <button *ngIf="show < dataProperties.length" (click)="showMore()" id="viewMore" class="btn btn-default view-more">VIEW MORE</button>
</div>
</section>
