<section class="navbar navbar-filter filter-class">
    <div class="container browse-filter">
      <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="col-md-4 col-sm-4 col-xs-4 border-filter">
          <button id="btn-map-view" class="filter-show" style="background:none;border:none;outline: none;" (click)="active = 1">
            <span class="fa fa-map-o" [ngClass]="{'active':active == 1}"></span>
          </button>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 border-filter center">
          <button id="btn-list-view" class="filter-show" style="background:none;border:none;outline: none;" (click)="active = 2">
            <span class="glyphicon glyphicon-th-list" [ngClass]="{'active':active == 2}" aria-hidden="true"></span>
          </button>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <button id="btn-grid-view" class="filter-show pull-right" style="background:none;border:none;outline: none;" (click)="active = 3">
            <span class="glyphicon glyphicon-th-large" [ngClass]="{'active':active == 3}" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="col-xs-12 visible-xs text-center">
        <button id="navbarDown" (click)="propertySearch()" >
          <i *ngIf="down" class="fa fa-angle-double-down" aria-hidden="true"></i>
          <i *ngIf="up" class="fa fa-angle-double-up" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-md-10 col-sm-12 col-xs-12 nav-display" *ngIf="propertySearchDropdown" style="display: block">
        <div class="collapse navbar-collapse browse">
          <ul class="nav navbar-nav navbar-right browse property">
            <li class="mg-top-res-loc"><a class="btn btn-filter border-filter more-filters location-filter width-100 collapsed" role="button" id="location-sort" (click)="showLocation();setFocus(searchLocation)">Location <i class="fa fa-sort" aria-hidden="true"></i> <br> {{location}}</a></li>
            <li (change)="changeQuery()">
              <a class="btn btn-filter border-filter dropdown-toggle width-100" id="price-range" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" (click)="hideLocation()" (click)="hideCalender()">No. of Bedroom <i class="fa fa-sort" aria-hidden="true"></i><br>{{numberBedroom.sort()}}</a>
              <ul class="dropdown-menu navbar-search" aria-labelledby="sort">
                <li>
                  <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox first-checkbox-all-browse">
                    <input id="All" class="styled filter" type="checkbox" [checked]="(numberBedroom.indexOf('all') > -1)" (change)="handleClick($event,'bedroom','all')" name="bedroomRadio" value="all">
                    <label for="All">
                        All
                    </label>
                  </div>
                </li>
                <li>
                  <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox1">
                    <input id="1bedroom" class="styled filter" type="checkbox" name="bedroomRadio" value="1" [checked]="(numberBedroom.indexOf(1) > -1)" (change)="handleClick($event,'bedroom','1')">
                    <label for="1bedroom">
                        1 Bedroom
                    </label>
                  </div>
                </li>
                <li>
                  <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox2">
                    <input id="2bedroom" class="styled filter" type="checkbox" name="bedroomRadio" value="2" [checked]="(numberBedroom.indexOf(2) > -1)" (change)="handleClick($event,'bedroom','2')">
                    <label for="2bedroom">
                        2 Bedrooms
                    </label>
                  </div>
                </li>
                <li>
                  <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox2">
                    <input id="3bedroom" class="styled filter" type="checkbox" name="bedroomRadio" value="3" [checked]="(numberBedroom.indexOf(3) > -1)" (change)="handleClick($event,'bedroom','3')">
                    <label for="3bedroom">
                        3 Bedrooms
                    </label>
                  </div>
                </li>
                <li>
                  <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox2">
                    <input id="4bedroom" class="styled filter" type="checkbox" name="bedroomRadio" value="4" [checked]="(numberBedroom.indexOf(4) > -1)" (change)="handleClick($event,'bedroom','4')">
                    <label for="4bedroom">
                        4 Bedrooms
                    </label>
                  </div>
                </li>
                <li>
                  <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox3">
                    <input id="5bedroom" class="styled filter" type="checkbox" name="bedroomRadio" value="5" [checked]="(numberBedroom.indexOf(5) > -1)" (change)="handleClick($event,'bedroom','5')">
                    <label for="5bedroom">
                        5+ Bedrooms
                    </label>
                  </div>
                  </li>
              </ul>
            </li>
            <li class="" (change)="changeQuery()">
              <a class="btn btn-filter border-filter dropdown-toggle width-100" id="sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="hideLocation()" (click)="hideCalender()">No. of Bathroom <i class="fa fa-sort" aria-hidden="true"></i><br>{{numberBathroom.sort()}}</a>
              <ul class="dropdown-menu navbar-search" aria-labelledby="sort">
                <!-- <li><a href="#" class="sortBrowseProperty" name="priceAsc">Price Low to High</a></li>
                <li><a href="#" class="sortBrowseProperty" name="priceDesc">Price High to Low</a></li>
                <li><a href="#" class="sortBrowseProperty" name="createdDesc">Newest</a></li>
                <li><a href="#" class="sortBrowseProperty" name="createdAsc">Oldest</a></li> -->
                <li>
                  <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox first-checkbox-all-browse">
                    <input id="All1" class="styled filter" type="checkbox" name="bathroomRadio" value="all" [checked]="(numberBathroom.indexOf('all') > -1)" (change)="handleClick($event,'bathroom','all')">
                    <label for="All1">
                        All
                    </label>
                  </div>
                </li>
                <li>
                  <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox7">
                    <input id="1bathroomRadio" class="styled filter" type="checkbox" name="bathroomRadio" value="1" [checked]="(numberBathroom.indexOf(1) > -1)" (change)="handleClick($event,'bathroom','1')">
                    <label for="1bathroomRadio">
                        1 Bathroom
                    </label>
                  </div>
                </li>
                <li>
                  <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5 align">
                    <input id="2bathroomRadio" class="styled filter" type="checkbox" name="bathroomRadio" value="2" [checked]="(numberBathroom.indexOf(2) > -1)" (change)="handleClick($event,'bathroom','2')">
                    <label for="2bathroomRadio">
                        2 Bathrooms
                    </label>
                  </div>
                </li>
                <li>
                  <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5 align">
                    <input id="3bathroomRadio" class="styled filter" type="checkbox" name="bathroomRadio" value="3" [checked]="(numberBathroom.indexOf(3) > -1)" (change)="handleClick($event,'bathroom','3')">
                    <label for="3bathroomRadio">
                        3 Bathrooms
                    </label>
                  </div>
                </li>
                <li>
                  <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5 align">
                    <input id="4bathroomRadio" class="styled filter" type="checkbox" name="bathroomRadio" value="4" [checked]="(numberBathroom.indexOf(4) > -1)" (change)="handleClick($event,'bathroom','4')">
                    <label for="4bathroomRadio">
                        4 Bathrooms
                    </label>
                  </div>
                </li>
                <li>
                  <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5 align last">
                    <input id="5bathroomRadio" class="styled filter" type="checkbox" name="bathroomRadio" value="5" [checked]="(numberBathroom.indexOf(5) > -1)" (change)="handleClick($event,'bathroom','5')">
                    <label for="5bathroomRadio">
                        5+ Bathrooms
                    </label>
                  </div>
                  </li>
              </ul>
            </li>
            <li class="" (change)="changeQuery()">
              <a class="btn btn-filter border-filter dropdown-toggle rental-range width-100" id="sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="hideLocation()" (click)="hideCalender()">Rental Range <i class="fa fa-sort" aria-hidden="true"></i><br>{{priceRangeText}}</a>
              <ul class="dropdown-menu scroll_multiselect test navbar-search" aria-labelledby="sort">
              <li>
                <div class="selector-p-10">
                  <input type="text" name="minPriceInput" id="minPriceInput" class="selector-maxinput" placeholder="Min" [(ngModel)]="pricemin" (click)="priceFunction($event,pricemax,'pricemax')">
                  <div class="selector-dash"></div>
                  <input type="text" name="maxPriceInput" id="maxPriceInput" class="selector-mininput" placeholder="Max" [(ngModel)]="pricemax" (click)="priceFunction($event,pricemin,'pricemin')">
                </div>
              </li>
              <li id="keepOpen">
                <div class="">
                  <ul class="selector-list ut-text-left size">
                    <li class="no-hover"><button class="btn-danger btn-clear-rental-range" id="clearPrice" (click)="clearPrice()">Clear</button></li>
                  </ul>
                </div>
              </li>

                <li id="keepOpen" *ngIf="pricestat == 'pricemin'" (click)="priceFunction($event,'all',pricestat)">
                  <div class="">
                    <ul class="selector-list ut-text-left size" style="text-align : left;">
                      <li class="selector-pointer priceMin" value="0" name="minMax">$0.00</li>
                    </ul>
                  </div>
                </li>
                <ng-container *ngFor="let price of mirrorRangePrice">
                  <li id="keepOpen" (click)="priceFunction($event,price.price,pricestat)">
                    <div class="">
                      <ul class="selector-list ut-text-left size" style="text-align : left;">
                        <li class="selector-pointer" value="1000" name="minMax" [ngClass]="pricestat">${{price.price}},00</li>
                      </ul>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </li>

            <li class="mg-min-top-res-size" (change)="changeQuery()">
              <a class="btn btn-filter border-filter dropdown-toggle size-range width-100" id="sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="hideLocation()" (click)="hideCalender()">Size Range <i class="fa fa-sort" aria-hidden="true"></i><br>{{sqftRangeText}}</a>
              <ul class="dropdown-menu scroll_multiselect navbar-search" aria-labelledby="sort">
              <li>
                <div class="selector-p-10">
                  <input type="text" name="minPriceInput" id="minSizeInput" class="selector-maxinput" placeholder="Min" [(ngModel)]="sqftmin" (click)="sqftFunction($event,sqftmax,'sqftmax')">
                  <div class="selector-dash"></div>
                  <input type="text" name="maxPriceInput" id="maxSizeInput" class="selector-mininput" placeholder="Max" [(ngModel)]="sqftmax" (click)="sqftFunction($event,sqftmin,'sqftmin')">
                </div>
              </li>
              <li id="keepOpen">
                <div class="">
                  <ul class="selector-list ut-text-left size">
                    <li class="no-hover"><button class="btn-danger btn-clear-rental-range" id="clearSize" (click)="clearSqft()">Clear</button></li>
                  </ul>
                </div>
              </li>

                <li id="keepOpen" *ngIf="sqftstat == 'sqftmin'" (click)="sqftFunction($event,'all',sqftstat)">
                  <div class="">
                    <ul class="selector-list ut-text-left size" style="text-align : left;">
                      <li class="selector-pointer sizeMin" value="0" name="minMaxSize">0 sqft</li>
                    </ul>
                  </div>
                </li>
                <ng-container *ngFor="let sqft of mirrorRangeSqft">
                  <li id="keepOpen" (click)="sqftFunction($event,sqft.sqft,sqftstat)">
                    <div class="">
                      <ul class="selector-list ut-text-left size" style="text-align : left;">
                        <li class="selector-pointer sizeMin" value="200" name="minMaxSize" [ngClass]="sqftstat">{{sqft.sqft}} sqft</li>
                      </ul>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </li>
            <li><a class="btn btn-filter border-filter more-filters width-100" (click)="searchByDate()">Date Available <i class="fa fa-sort" aria-hidden="true"></i><br>{{dateText}}
            </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</section>
<section class="filter-date" *ngIf="showCalendar == true">
  <datepicker [(ngModel)]="availableDate" name="available" [minDate]="minDate" [showWeeks]="false" [dateDisabled]="dateDisabled" (click)="handleClickDate($event)"></datepicker>
  <button type="button" class="btn btn-danger pull-right btn-clear-date" (click)="clearDate()">Clear</button>
</section>
<section id="filter-menu" class="filter-menu filter-map" [ngClass]="hideLocationSearch">
    <div class="container grid-and-list-filter border-filter-browse location">
      <div class="bd-location" style="border-bottom: 0px solid rgb(204, 204, 204);">
        <div class="pd-right-40 pd-left-40" id="filter" style="z-index: 100;" aria-expanded="false">
          <form role="form">
            <div class="row no-border">
              <div class="col-md-3 col-sm-12 col-xs-12"><label>LOCATION</label></div>
              <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search for location" autocomplete="off" #searchLocation [formControl]="searchLocationControl">
                </div>
              </div>
              <div class="col-md-9 col-sm-12 col-xs-12"><label></label></div>
              <div class="col-md-3 col-sm-12 col-xs-12 location-clear"><button class="btn btn-danger pull-right" id="clear" (click)="emptyLocation()"> Clear </button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
<div *ngIf="active == 1 ">
  <my-one-listproperty [dataProperties]="dataProperties"
      [lng]="lng" [lat]="lat"
      [zoom]="zoom" [minZoom]="minZoom" [maxZoom]="maxZoom"
      [markers]="markers"
      [customStyle]="customStyle"
      [show]="show" [incrementNumber]="incrementNumber" (incShow)="incShow($event)"
      [circles]="circles" [queryRadius]="queryRadius" [showcircles]="showcircles"
      (radiusNew)="onRadiusNew($event)">
  </my-one-listproperty>
</div>
<div *ngIf="active == 2 ">
  <my-two-listproperty [dataProperties]="dataProperties" [show]="show" [incrementNumber]="incrementNumber" (incShow)="incShow($event)"></my-two-listproperty>
</div>
<div *ngIf="active == 3 ">
  <my-three-listproperty [dataProperties]="dataProperties" [show]="show" [incrementNumber]="incrementNumber" (incShow)="incShow($event)"></my-three-listproperty>
</div>
