<section>
<div class="row" style="position:relative;margin-left:0px;margin-right:0px;">
  <section id="map-list">
      <div class="container-full">
        <div class="col-md-6 col-xs-6 col-sm-6 map-list-pro between-navbar browse-property">
          <div class="map-list-pro-container list-wrapper">
            <!-- Looping start here -->
            <div *ngIf="dataProperties.length > 0">
              <ng-container *ngFor="let dataProperty of dataProperties | slice:0:show; let i=index">
                <div class="item item-map col-md-12 col-sm-12 col-xs-12" >
                  <div *ngIf="!dataProperty.shortlisted" class="item-map-shortlist">
                      <a role="button" class="favourite" (click)="shortlistProperty(dataProperty._id)"><img src="/client/include/images/icon_shortlist_small.png"></a>
                  </div>
                  <div *ngIf="dataProperty.shortlisted" class="item-map-shortlist listed">
                      <a role="button" class="favourite" (click)="unshortlistProperty(dataProperty._id)"><img src="/client/include/images/icon_shortlist_small.png"></a>
                  </div>
                  <a href="property/{{dataProperty._id}}/view" class="view-property" target="_blank">
                      <div class="col-md-3">
                          <div class="item-img">
                              <img src="{{dataProperty.pictures.bed[0].url}}" alt="Chania">
                          </div>
                      </div>

                      <div class="col-md-6 col-ms-6 col-xs-12 list-no-padding">
                          <div class="item-caption-desc">
                              <h5><b>{{dataProperty.development?.name}}</b></h5>
                              <h5 class="mp mg-bot-1150"><i class="fa fa-map-marker" aria-hidden="true"></i> {{dataProperty.address?.street_name}}</h5>
                              <div class="col-md-2 col-sm-2 col-xs-2 no-padding-list two width-list-two">
                                <span class="map-font-size"><i class="fa fa-bed icon_list_right" aria-hidden="true"></i> {{dataProperty.details?.bedroom}}</span>
                              </div>
                              <div class="col-md-2 col-sm-2 col-xs-2 no-padding-list two width-list-two">
                                <span class="map-font-size"><i class="fa fa-female" aria-hidden="true"></i><i class="fa fa-male icon_list_right" aria-hidden="true"></i> {{dataProperty.details?.bathroom}}</span>
                              </div>
                              <div class="col-md-4 col-sm-4 col-xs-4 no-padding-list mg-right list-maps width-list-location">
                                <span><i class="fa fa-expand icon_list_right" aria-hidden="true"></i></span>
                                <div class="sqft-size-map-view">{{dataProperty.details?.size_sqf}} sqft</div>
                                <div class="size-browse-map">{{dataProperty.details?.size_sqm}} sqm</div>
                              </div>
                              <div class="col-md-4 pd-left-0 fl-l-visible map-999" *ngIf="dataProperty.details?.furnishing != 'unfurnished'">
                                <img width="15px" height="15px" class="icon_list_right" src="client/include/images/{{dataProperty.details?.furnishing}}.png">
                                <div class="sqft-size-listing property-listing map f12">{{dataProperty.details?.furnishing | capitalizeFirst}}</div><div class="sqm-result property sqm-size-listing-mg f12">Furnished</div>
                              </div>
                              <div class="col-md-4 pd-left-0 fl-l-visible map-999" *ngIf="dataProperty.details?.furnishing == 'unfurnished'">
                                <img width="15px" height="15px" class="icon_list_right" src="client/include/images/not.png">
                                <div class="sqft-size-listing property-listing map f12">Not</div><div class="sqm-result property sqm-size-listing-mg f12">Furnished</div>
                              </div>
                              <div class="item-caption-avatar">
                                  <img *ngIf="dataProperty.owner.user?.picture" alt="Not found" src="{{dataProperty.owner.user.picture?.url}}">
                                  <img *ngIf="!dataProperty.owner.user?.picture" alt="Not found" src="client/include/images/img/cs.png">
                                  <span>{{dataProperty.owner.user?.username}}</span>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-xs-12 item-map-col-3">
                          <div class="item-caption-desc-map">
                              <h5><small>ASKING</small><br><span class="mp"><b>{{dataProperty.details?.price | currency:'USD':true:'4.0-0'}}</b><span class="month-font">/month</span></span></h5>
                              <p>
                                  <small>${{dataProperty.details?.psqft}} psf</small><br>
                              </p>
                          </div>
                      </div>
                  </a>
                </div>
              </ng-container>
            </div>
                <button *ngIf="show < dataProperties.length" (click)="showMore()" id="viewMore" class="btn btn-default view-more">VIEW MORE</button>
          </div>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 map-view-pro between-navbar browse-property">
          <section>
            <style>
              .sebm-google-map-container {
                height: 700px;
              }
            </style>
            <sebm-google-map mapTypeId="roadmap"
              [latitude]="lat"
              [longitude]="lng"
              [zoom]="zoom"
              [minZoom]="minZoom"
              [maxZoom]="maxZoom"
              [disableDefaultUI]="true"
              [zoomControl]="false"
              [styles]="customStyle">

              <sebm-google-map-marker
                  *ngFor="let m of markers; let i = index"
                  (markerClick)="clickedMarker(m.content,infoWindow, i)"
                  [latitude]="m.lat"
                  [longitude]="m.lng"
                  [label]="m.label"
                  [markerDraggable]="m.draggable"
                  [iconUrl]="{
                      url: m.iconUrl
                  }"
                  (dragEnd)="markerDragEnd(m, $event)">

                <sebm-google-map-info-window (infoWindowClose)="onInfoWindowClose(i)" #infoWindow>
                  <strong>{{m.content}}</strong>
                </sebm-google-map-info-window>

              </sebm-google-map-marker>

              <sebm-google-map-circle *ngIf="showcircles" [latitude]="circles.geometry.location.lat()" [longitude]="circles.geometry.location.lng()"
                  [radius]="queryRadius"
                  [fillColor]="'DarkTurquoise'"
                  [circleDraggable]="true"
                  [editable]="false"
                  [visible]="showcircles"
                  (dragEnd)="centerChanged($event)"
                  (radiusChange)="radiusChanged($event)">
              </sebm-google-map-circle>

            </sebm-google-map>
          </section>
        </div>
      </div>
    </section>
</div>
</section>
