<div id="content" [class]="contentClass">
    <div class="panel panel-inverse" data-sortable-id="table-basic-1">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Landlord Information</h4>
        </div> 
        <div class="panel-body">  
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2 admin-mg-btm">
                        <!-- <a href="{{picture}}" data-lightbox="imagesIdentity"> -->
                        <img *ngIf="dataAgreement?.landlord?.picture" src="{{dataAgreement?.landlord?.picture?.url}}" class="admin-landlord-profil size-150">
                        <img *ngIf="!dataAgreement?.landlord?.picture" src="public/assets/images/No-Picture-Available.jpg" class="admin-landlord-profil size-150">
                        <!-- </a> -->
                    </div>
                    <div class="col-md-2">
                        <p>Full Name</p>
                        <p>Type</p>
                        <p>ID Number</p>
                        <p>Username</p>
                        <p>Email</p>
                        <p>Phone</p>
                        <!-- <p>Reported</p> -->
                        <button id="userDetails" type="button" class="btn btn-info admin-btn-info" (click)="viewUserDetail(dataAgreement?.landlord?._id)">Details</button>
                    </div>
                    <div class="col-md-3">
                        <p><span class="admin-mg-min-plus">:</span><span>{{dataPayment?.landlord?.name}}</span></p>
                        <p><span class="admin-mg-min-plus">:</span><span>{{dataPayment?.landlord?.identification_type}}</span></p>
                        <p><span class="admin-mg-min-plus">:</span><span>{{dataPayment?.landlord?.identification_number}}</span></p>
                        <p><span class="admin-mg-min-plus">:</span><span>{{dataAgreement?.landlord?.username}}</span></p>
                        <p><span class="admin-mg-min-plus">:</span><span>{{dataAgreement?.landlord?.email}}</span></p>
                        <p><span class="admin-mg-min-plus">:</span><span>{{dataAgreement?.landlord?.phone}}</span></p>
                        <!-- <p><span class="admin-mg-min-plus">:</span><span *ngIf="dataPayment?.landlord.report_user.reported == false">No</span> -->
                        <!-- <span *ngIf="dataPayment?.landlord.report_user.reported == True">Yes</span></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="panel panel-inverse" data-sortable-id="table-basic-1">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Tenant Information</h4>
        </div> 
        <div class="panel-body">  
            <div class="col-md-12">
                <div class="row tenant-information">
                    <div class="col-md-2 admin-mg-btm">
                        <!-- <a href="{{picture}}" data-lightbox="imagesIdentity"> -->
                        <img *ngIf="dataAgreement?.tenant?.picture" src="{{dataAgreement?.tenant?.picture?.url}}" class="admin-landlord-profil size-150">
                        <img *ngIf="!dataAgreement?.tenant?.picture" src="public/assets/images/No-Picture-Available.jpg" class="admin-landlord-profil size-150">
                        <!-- </a> -->
                    </div>
                    <div class="col-md-2">
                        <p>Full Name</p>
                        <p>Type</p>
                        <p>ID Number</p>
                        <p>Username</p>
                        <p>Email</p>
                        <p>Phone</p>
                        <!-- <p>Reported</p> -->
                        <button (click)="viewUserDetail(dataAgreement?.tenant?._id)" type="button" class="btn btn-info admin-btn-info">Details</button>
                    </div>
                    <div class="col-md-3">
                        <p><span class="admin-mg-min-plus">:</span><span>{{dataPayment?.tenant?.name}}</span></p>
                        <p><span class="admin-mg-min-plus">:</span><span>{{dataPayment?.tenant?.identification_type}}</span></p>
                        <p><span class="admin-mg-min-plus">:</span><span>{{dataPayment?.tenant?.identification_number}}</span></p>
                        <p><span class="admin-mg-min-plus">:</span><span>{{dataAgreement?.tenant?.username}}</span></p>
                        <p><span class="admin-mg-min-plus">:</span><span>{{dataAgreement?.tenant?.email}}</span></p>
                        <p><span class="admin-mg-min-plus">:</span><span>{{dataAgreement?.tenant?.phone}}</span></p>
                        <!-- <p><span class="admin-mg-min-plus">:</span><span *ngIf="users.tenant.report_user.reported == false">No</span> -->
                        <!-- <span *ngIf="users.tenant.report_user.reported == True">Yes</span></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>  

    The amount should be verified is:
    <ol class="mg-nobtm">
        <li>Good Faith Deposit: <span class="important-value-admin verified">{{dataPayment?.payment?.fee[1]?.amount | currency:undefined:'1.2-2'}}</span></li>
        <li>Stamp Duty Fee: <span class="important-value-admin verified">{{dataPayment?.payment?.fee[0]?.amount | currency:undefined:'1.2-2'}}</span></li>
    </ol>
    <br />

    <div class="image-text-top-left mg-bot-30">
        <img *ngIf="dataPayment?.payment?.attachment?.payment" src="{{dataPayment.payment.attachment.payment?.url}}" class="margin-bottom-img" alt="" height="400px" width="420px"/>
        <img *ngIf="!dataPayment?.payment?.attachment?.payment" src="public/assets/images/No-Picture-Available.jpg" class="margin-bottom-img" alt="" height="400px" width="420px"/>
        <div class="total-price">
            <div class="col-md-4 border-total">
                Total
            </div>
            <div class="col-md-8">
                <span class="important-total-admin">{{dataPayment?.payment?.fee[0]?.amount + dataPayment?.payment?.fee[1]?.amount | currency:undefined:'1.2-2'}}</span>
            </div>
        </div>
    </div>


    <!-- Reject -->
    <div *ngIf="isReject == true" class="payment">
        <h4>Reject Payment</h4>
        <div class="col-md-6 col-sm-12 col-xs-12 pd-l-0">
            <div class="form-group">
                <h5 class="font-bold mg-top-30">GFD + SDA Payment Transferred Value</h5>
                <input type="number" class="form-control bd-radius-0" placeholder="Input your pay" [(ngModel)]="model.receive_payment">
            </div>
            <div class="form-group">
                <h5 class="font-bold mg-top-30">Remarks</h5>
                <input type="text" class="form-control bd-radius-0" [(ngModel)]="model.remarks">
            </div>
            <div class="form-group">
                <button class="btn btn-danger m-r-5 m-b-5" (click)="openRejectModal()">Submit</button>
                <button type="button" class="btn btn-grey m-r-5 m-b-5" (click)="isReject = !isReject">Cancel</button>
            </div>
        </div>
    </div>  

    <!-- Accept -->
    <div *ngIf="isAccept == true" class="payment">
        <h4>Accept Payment</h4>
        <h5 class="font-bold">Payment Received Confirmation</h5>
        <dropzone
        [element]="'#dropzone'"
        [clickable]="'#dropzone'"
        [headers]="header"
        [acceptedFiles]="'image/*,application/pdf'"
        [uploadMultiple]="'false'"
        [autoProcessQueue]="'false'"
        [url]="url + 'attachments'"
        (sending)="handleFileSending($event, 'image')"
        (success)="handleFileSuccess($event, 'image')"
        (addedfile)="handleFileAdded($event)"
        (removedfile)="handleFileRemoved($event)"
        (error)="handleFileFailure($event, 'image')"
        >
    </dropzone>
    <div id="dropzone" class="dropzone"></div>

    <h5 class="font-bold mg-top-30">GFD + SDA Payment Transferred Value</h5>
    <div class="col-md-6 col-sm-12 col-xs-12 pd-l-0">
        <div class="form-group">
            <input type="number" class="form-control bd-radius-0" [(ngModel)]="model.receive_payment">
        </div>
        <div class="form-group">
            <button (click)="openAcceptModal()" class="btn btn-light-green m-r-5 m-b-5">Save</button>
            <button (click)="isAccept = !isAccept" type="button" class="btn btn-grey m-r-5 m-b-5">Cancel</button>
        </div>
    </div>
</div>

<div *ngIf="dataPayment?.payment?.status == 'accepted'" class="information-payment">
    <h5>Payment Received Confirmation</h5>
    <h5>Transferred : {{dataPayment?.payment?.fee[0]?.amount + dataPayment?.payment?.fee[1]?.amount | currency:undefined:'1.2-2'}}</h5>
    <h5>Remarks : {{dataPayment?.payment?.remarks}}</h5>
    <h5>Verified By : admin</h5>
    <h5>Confirm date : {{dataPayment?.payment?.attachment?.payment_confirm?.confirm_date}}</h5>

    <a data-lightbox="imagesIdentity">
        <img *ngIf="dataPayment?.payment?.attachment?.payment_confirm" width="250" height="150" src="{{dataPayment.payment?.attachment.payment_confirm.url}}">
        <img *ngIf="!dataPayment?.payment?.attachment?.payment_confirm" width="250" height="150" src="public/assets/images/No-Picture-Available.jpg">
    </a>

    <h6>Status : Approved</h6>
</div>

<div *ngIf="(dataPayment?.payment?.status == 'pending') && (isAccept == false) && (isReject == false)" class="row col-md-12">
    <button (click)="isAccept = !isAccept" type="button" class="btn btn-sm btn-primary"><i class="fa fa-check"></i>&nbsp; Accept</button>
    <button (click)="isReject = !isReject" type="button" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>&nbsp; Reject</button>
</div>
<button (click)="backToLOI()" type="button" class="btn btn-sm btn-primary"><i class="fa fa-arrow-left"></i>&nbsp; Back</button>
</div>

<!-- Accept Modal -->
<div bsModal #modalAccept="bs-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="hideAcceptModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×
                    </span>
                </button>
                <h4 class="modal-title">Are you sure?
                </h4>
            </div>
            <div class="modal-body">This Letter of Intent payment will be approved.
            </div>
            <div class="modal-footer">
                <button (click)="hideAcceptModal()" type="button" class="btn btn-default modal-btn-dismiss">Close
                </button>
                <button (click)="acceptPayment()" type="button" class="btn btn-primary modal-btn-confirm">OK
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Reject Modal -->
<div bsModal #modalReject="bs-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="hideRejectModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×
                    </span>
                </button>
                <h4 class="modal-title">Are you sure?
                </h4>
            </div>
            <div class="modal-body">This Letter of Intent payment will be rejected.
            </div>
            <div class="modal-footer">
                <button (click)="hideRejectModal()" type="button" class="btn btn-default modal-btn-dismiss">Close
                </button>
                <button (click)="rejectPayment()" type="button" class="btn btn-primary modal-btn-confirm">OK
                </button>
            </div>
        </div>
    </div>
</div>