<div id="content" [class]="contentClass">
    <div *ngIf="isReport == false" class="panel panel-inverse" data-sortable-id="table-basic-1">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Letter of Intent</h4>
        </div> 
        <div class="panel-body">
            <fieldset class="bd-gray loi-table table-responsive">
                <div class="ui-widget-header width-150">
                    <i class="fa fa-search global-filter"></i>
                    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                </div>
                <div class="width-150">
            	<p-dataTable [value]="letterOfIntents" [rows]="10" [paginator]="true" [globalFilter]="gb">
            		<p-column header="Property">
                        <template let-value="rowData" pTemplate="body">
                            #{{value?.property?.address?.floor}} - {{value?.property?.address?.unit}} {{value?.property?.address?.street_name}}
                        </template>      
                    </p-column>
                	<p-column field="landlord.username" header="Landlord"></p-column>
                	<p-column field="tenant.username" header="Tenant"></p-column>
                    <p-column header="Rental">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.letter_of_intent?.data?.monthly_rental | currency:undefined:'1.2-2'}}</span>
                        </template>
                    </p-column>
                    <p-column field="property.details.tenure" header="Tenure(mths)"></p-column>
                    <p-column header="Date LOI Initiated">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.letter_of_intent?.data?.created_at | date: 'dd/MM/yy'}}</span>
                        </template>
                    </p-column>
                    <p-column header="LOI Status">
                        <template let-value="rowData" pTemplate="body">
                            <span *ngIf="value?.letter_of_intent?.data?.status == 'pending' || value?.letter_of_intent?.data?.status == 'payment-confirmed'" (click)="getReport(value._id)" class="color-pending cursor-pointer">Pending</span>
                            <span *ngIf="value?.letter_of_intent?.data?.status == 'accepted'" (click)="getReport(value._id)" class="color-accept cursor-pointer">Accepted</span>
                            <span *ngIf="value?.letter_of_intent?.data?.status == 'expired'" (click)="getReport(value._id)" class="color-reject cursor-pointer">Expired</span>
                            <span *ngIf="value?.letter_of_intent?.data?.status == 'rejected'" (click)="getReport(value._id)" class="Rejected-status">Rejected</span>
                        </template> 
                    </p-column>
                    <p-column header="GFD/Stamp Duty Fee">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.letter_of_intent?.data?.payment?.fee[0]?.amount + value?.letter_of_intent?.data?.payment?.fee[1]?.amount | currency:undefined:'1.2-2'}}</span>
                        </template>
                    </p-column>
                    <p-column header="GFD/Stamp Duty Fee Received?">
                        <template let-value="rowData" pTemplate="body">
                            <span *ngIf="value?.letter_of_intent?.data?.payment?.status == 'rejected'" (click)="viewInformation(value._id)" class="noreceived-fee cursor-pointer">No</span>
                            <span *ngIf="value?.letter_of_intent?.data?.payment?.status == 'pending'" (click)="viewInformation(value._id)" class="Pending-status cursor-pointer">Pending</span>
                            <span *ngIf="value?.letter_of_intent?.data?.payment?.status == 'accepted'" (click)="viewInformation(value._id)" class="received-fee cursor-pointer">Yes</span>
                        </template>
                    </p-column>
                    <p-column header="Date GFD/Stamp Duty Fee Received">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.letter_of_intent?.data?.payment?.fee[0]?.created_at | date: 'dd/MM/yy'}}</span>
                        </template>
                    </p-column>
                    <p-column header="Refund of GFD/Stamp Duty Fee Needed? (After LOI)">
                        <template let-value="rowData" pTemplate="body">
                            <span class="color-accept" *ngIf="value?.letter_of_intent?.data?.payment?.fee[2]?.needed_refund == true">Yes</span>
                            <span class="color-reject" *ngIf="value?.letter_of_intent?.data?.payment?.fee[2]?.needed_refund == false">No</span>
                        </template>
                    </p-column>
                    <p-column header="Amount of Refund">
                        <template let-value="rowData" pTemplate="body">
                        <span>{{value?.letter_of_intent?.data?.payment?.fee[2]?.received_amount | currency:undefined:'1.2-2'}}</span>
                        </template>
                    </p-column>
                    <p-column header="Refunded? (After LOI)">
                        <template let-value="rowData" pTemplate="body">
                            <span *ngIf="value?.letter_of_intent?.data?.payment?.fee[2]?.refunded == false" (click)="openModalRefund(value._id)" class="noreceived-fee pointer">No</span>
                            <span *ngIf="value?.letter_of_intent?.data?.payment?.fee[2]?.refunded == true" (click)="openModalRefund(value._id)" class="received-fee pointer">Yes</span>
                        </template>
                    </p-column>
                    <p-column header="Date Refunded">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.letter_of_intent?.data?.payment?.attachment?.refund_confirm?.uploaded_at | date:'dd/MM/yy'}}</span>
                        </template>
                    </p-column>
                    <p-column header="Refund Reference (Attached File)">
                        <template let-value="rowData" pTemplate="body">
                            <span *ngIf="value?.letter_of_intent?.data?.payment?.attachment?.refund_confirm" (click)="openModalImage(value?.letter_of_intent?.data?.payment?.attachment?.refund_confirm?.url)" class="Accepted-status pointer">View</span>
                        </template>
                    </p-column>
            	</p-dataTable>
                </div>
            </fieldset>
        </div>
    </div>    

    <!-- Report -->
    <div *ngIf="isReport == true" class="container-fluid container-body">
        <div class="col-md-12">
            <div class="row tenant-information">
                <div class="admin-pro-title property-header tenant">
                    <h4>Details letter Of Intent</h4>
                </div>
                <div class="form-group">
                    <br>
                    <p>Status : <span class="Expired-status">{{loi?.status | capitalizeFirst}}</span></p>
                    <p *ngIf="loi?.payment?.remarks">
                        Reason : {{loi?.payment?.remarks}}
                    </p>
                    <p *ngIf="!loi?.payment?.remarks">
                        Reason : No Reason
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="admin-pro-title property-header">
                    <h4>Preview letter Of Intent</h4>
                </div>
                <loading *ngIf="!report"></loading>
                <div *ngIf="report" [innerHtml]="report | safeHtml"></div>
            </div>
        </div>
        <div class="form-group">
            <button (click)="isReport = false" type="button" clear="viewLoi" class="btn btn-sm btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Back</button>
        </div>
    </div>
</div>

<div bsModal #modalImage="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content mg-top-120">
            <div class="modal-body">
                <img src="{{imageURL}}">
            </div>
        </div>
    </div>
</div>

<div bsModal #modalRefund="bs-modal" class="modal fade" style="overflow-y: scroll !important" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog signIn_modal modal-detail-payment" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="hideModalRefund()" type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Refund Details</h4>
            </div>
            <div class="modal-body modal-body-login">
                <div class="row">
                    <loading *ngIf="!loi"></loading>
                    <div *ngIf="loi" class="col-md-12 col-sm-6 col-xs-6 view-payment-detail">
                        <div class="admin-pro-title property-header tenant">
                            <h4>Bank Details (for Refund)</h4>
                        </div>
                        <div class="form-group">
                            <p>Bank Name : {{loi?.tenant?.bank_account?.name}}</p>
                            <p>Bank Code : {{loi?.tenant?.bank_account?.no}}</p>
                            <p>Account Name : {{loi?.tenant?.name}}</p>
                            <p>Account NO. : {{loi?.tenant?.identification_number}}</p>
                        </div>
                        <div class="admin-pro-title property-header tenant">
                            <h4>Proof of Refund</h4>
                        </div>
                        <div *ngIf="loi?.payment?.fee[2]?.needed_refund == true && loi?.payment?.fee[2]?.refunded == false">
                            <div class="form-group">
                                <br>
                                <p>Status : <span class="text-danger">Need Refund</span></p>
                                <p *ngIf="loi?.payment?.fee[2]?.refunded == false">Payment Transferred : $0.00</p>
                                <p *ngIf="loi?.payment?.fee[2]?.refunded == true">Payment Transferred : {{loi?.payment?.fee[2]?.received_amount | currency:undefined:'1.2-2'}}</p>
                                <p *ngIf="loi?.payment?.fee[2]?.refunded == false">Refunded : $0.00</p>
                                <p *ngIf="loi?.payment?.fee[2]?.refunded == true">Refunded : {{loi?.payment?.fee[2]?.received_amount | currency:undefined:'1.2-2'}}</p>
                                <p *ngIf="loi?.payment?.fee[2]?.refunded == false">Currently need to refund : {{loi?.payment?.fee[2]?.received_amount | currency:undefined:'1.2-2'}}</p>
                                <p *ngIf="loi?.payment?.fee[2]?.refunded == true">Currently need to refund : $0.00</p>
                            </div>
                            <form novalidate="novalidate">
                                <div class="form-group">
                                    <label class="col-sm-12 control-label" for="confirm_refund">Screenshot of payment refund</label>
                                    <div class="col-sm-12">
                                        <dropzone
                                        [element]="'#dropzone'"
                                        [clickable]="'#dropzone'"
                                        [headers]="header"
                                        [acceptedFiles]="'image/*,application/pdf'"
                                        [uploadMultiple]="'false'"
                                        [autoProcessQueue]="'false'"
                                        [url]="link"
                                        (sending)="handleFileSending($event, 'image')"
                                        (success)="handleFileSuccess($event, 'image')"
                                        (addedfile)="handleFileAdded($event)"
                                        (removedfile)="handleFileRemoved($event)"
                                        (error)="handleFileFailure($event, 'image')"
                                        >
                                    </dropzone>
                                    <div id="dropzone" class="dropzone"></div>
                                </div>
                            </div>
                        </form>
                        <div class="form-group">
                            <button (click)="uploadRefundPayment()" type="submit" class="btn btn-primary admin-mg-btn-amenity admin-btn-submit-stamp m-t-10">Submit</button>
                        </div>
                    </div>
                    <div *ngIf="loi?.payment?.fee[2]?.needed_refund == true && loi?.payment?.fee[2]?.refunded == true">
                        <a href="" data-lightbox="imageStampCertificate">
                            <img width="100%" src="{{loi?.payment?.attachment?.refund_confirm?.url}}">
                        </a>
                        <div class="form-group">
                            <br>
                            <p>Status : <span class="text-info">Refunded</span></p>
                            <p>Payment Transferred : {{loi?.payment?.fee[2]?.received_amount | currency:undefined:'1.2-2'}}</p>
                            <p>Amount Of Refund(Paymore/Less) : {{loi?.payment?.fee[1]?.received_amount | currency:undefined:'1.2-2'}}</p>
                            <p>Amount Of Refund(Stamp Duty) : {{loi?.payment?.fee[0]?.received_amount | currency:undefined:'1.2-2'}}</p>
                            <p>Refunded : {{loi?.payment?.fee[2]?.received_amount | currency:undefined:'1.2-2'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
