<section id="commission" class="mg-top-62 res">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12 fc-center">
				<div>
					<span class="color-title2">
						<i class="fa fa-usd" aria-hidden="true"></i>
						<div id="savedComission" class="odometeor odometer odometer-theme-default">
							<div class="odometer-inside">
								<span class="odometer-digit">
									<span class="odometer-digit-spacer">8</span>
									<span class="odometer-digit-inner">
										<span class="odometer-ribbon">
											<span class="odometer-ribbon-inner">
												<span class="odometer-value">8</span>
											</span>
										</span>
									</span>
								</span>
								<span class="odometer-digit">
									<span class="odometer-digit-spacer">8</span>
									<span class="odometer-digit-inner">
										<span class="odometer-ribbon">
											<span class="odometer-ribbon-inner">
												<span class="odometer-value">7</span>
											</span>
										</span>
									</span>
								</span>
								<span class="odometer-formatting-mark">,</span>
								<span class="odometer-digit">
									<span class="odometer-digit-spacer">8</span>
									<span class="odometer-digit-inner">
										<span class="odometer-ribbon">
											<span class="odometer-ribbon-inner">
												<span class="odometer-value">2</span>
											</span>
										</span>
									</span>
								</span>
								<span class="odometer-digit">
									<span class="odometer-digit-spacer">8</span>
									<span class="odometer-digit-inner">
										<span class="odometer-ribbon">
											<span class="odometer-ribbon-inner">
												<span class="odometer-value">2</span>
											</span>
										</span>
									</span>
								</span>
								<span class="odometer-digit">
									<span class="odometer-digit-spacer">8</span>
									<span class="odometer-digit-inner">
										<span class="odometer-ribbon">
											<span class="odometer-ribbon-inner">
												<span class="odometer-value">9</span>
											</span>
										</span>
									</span>
								</span>
							</div>
						</div>
						<span id="odometeorParent"></span>
					</span>
				</div>
				<div class="title3">
					<span>IN COMMISSION SAVED</span>
				</div>
			</div>
		</div>
	</div>
</section>