<section id="fees-charges">
  <div class="container">
    <div class="row">
      <div class="about-desc col-lg-12 between-navbar about">
        <p class="current-list page-header-top">
          <a routerLink="/">Home</a>
          <a routerLink="/fees_charges">&gt; Our Fees &amp; Charges</a>
        </p>
      </div>        
      <h1 class="page-header page_header_about" id="top-our-fee-and-charges"><b>OUR FEES &amp; CHARGES</b></h1>
      <div class="col-md-12 col-sm-12 col-xs-12 whyus_padding visible-xs">
        <table class="table">
          <tbody>
            <tr>
              <th class="text-center bg-color-green color-white" colspan="2">For Landlords</th>
            </tr>
            <tr>
              <th class="width-50">Lease Period(new leases and renewals)</th>
              <td class="width-50">6 months</td>
            </tr>
            <tr>
              <th class="width-50">Market Pratice</th>
              <td class="width-50">½ month rental</td>
            </tr>
            <tr>
              <th class="width-50">Staysmart</th>
              <td class="width-50 fw-bold">10% of ¼ month rental</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th class="width-50">Lease Period(new leases and renewals)</th>
              <td class="width-50">1 year</td>
            </tr>
            <tr>
              <th class="width-50">Market Pratice</th>
              <td class="width-50">½ month rental</td>
            </tr>
            <tr>
              <th class="width-50">Staysmart</th>
              <td class="width-50 fw-bold">10% of ½ month rental</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th class="width-50">Lease Period(new leases and renewals)</th>
              <td class="width-50">2 years</td>
            </tr>
            <tr>
              <th class="width-50">Market Pratice</th>
              <td class="width-50">1 month rental</td>
            </tr>
            <tr>
              <th class="width-50">Staysmart</th>
              <td class="width-50 bd-bottom fw-bold">10% of 1 month rental</td>
            </tr>
          </tbody>
        </table>

        <table class="table">
          <tbody>
            <tr>
              <th class="text-center bg-color-green color-white" colspan="2">For Tenants</th>
            </tr>
            <tr>
              <th class="width-50">Lease Period(new leases and renewals)</th>
              <td class="width-50 bd-bottom">6 months</td>
            </tr>
            <tr>
              <th class="width-50 bd-0-bot text-center">Market Pratice</th>
              <td></td>
            </tr>
            <tr>
              <th class="bd-0-bot bg-color-ddd"><i class="fa fa-angle-left" aria-hidden="true"></i> Monthly rental $4,000</th>
              <td class="width-50">½ month rental</td>
            </tr>
            <tr>
              <th class="bd-0-bot bg-color-ddd"><i class="fa fa-angle-right" aria-hidden="true"></i> Monthly rental $4,000</th>
              <td class="width-50">½ month rental</td>
            </tr>
            <tr>
              <th class="width-50">Staysmart</th>
              <td class="width-50 fw-bold">No Fees</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th class="width-50">Lease Period(new leases and renewals)</th>
              <td class="width-50 bd-bottom">1 year</td>
            </tr>
            <tr>
              <th class="width-50 bd-0-bot text-center">Market Pratice</th>
              <td></td>
            </tr>
            <tr>
              <th class="bd-0-bot bg-color-ddd"><i class="fa fa-angle-left" aria-hidden="true"></i> Monthly rental $4,000</th>
              <td class="width-50">½ month rental</td>
            </tr>
            <tr>
              <th class="bd-0-bot bg-color-ddd"><i class="fa fa-angle-right" aria-hidden="true"></i> Monthly rental $4,000</th>
              <td class="width-50">½ month rental</td>
            </tr>
            <tr>
              <th class="width-50">Staysmart</th>
              <td class="width-50 fw-bold">No Fees</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th class="width-50">Lease Period(new leases and renewals)</th>
              <td class="width-50 bd-bottom">2 years</td>
            </tr>
            <tr>
              <th class="width-50 bd-0-bot text-center">Market Pratice</th>
              <td></td>
            </tr>
            <tr>
              <th class="bd-0-bot bg-color-ddd"><i class="fa fa-angle-left" aria-hidden="true"></i> Monthly rental $4,000</th>
              <td class="width-50">1 month rental</td>
            </tr>
            <tr>
              <th class="bd-0-bot bg-color-ddd"><i class="fa fa-angle-right" aria-hidden="true"></i> Monthly rental $4,000</th>
              <td class="width-50">No Fees</td>
            </tr>
            <tr>
              <th class="width-50">Staysmart</th>
              <td class="width-50 bd-bottom fw-bold">No Fees</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 whyus_padding mg-bot-0 hidden-xs">
        <div class="well landlord-hsw our-fee-lnd">
          <h4 class="hsw-landlord"><b>For Landlords</b></h4>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="our-fee-panel-heading center rp-768">
              <div class="our-fee-panel our-fee-panel-primary">
                <div class="our-fee-panel-heading align">
                  <div class="our-fee title responsive-first-lease">
                    <h5 class="f16 hws">Lease Period</h5>
                    <h5 class="responsive-lease">(new leases and renewals)</h5>
                  </div>
                  <div class="our-fee title all">
                    <h5 class="f16 hws">Market Practice*</h5><br>
                  </div>
                  <div class="our-fee title all">
                    <h5 class="f16 hws fw-bold">Staysmart*</h5><br>
                  </div>
                </div>
                <div class="our-fee-panel-body">
                  <div class="our-fee-list-group">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped">
                        <tbody>
                          <tr>
                            <td>6 months</td>
                            <td>½ month rental</td>
                            <td class="fw-bold">10% of ¼ month rental</td>
                          </tr>
                          <tr>
                            <td>1 year</td>
                            <td>½ month rental</td>
                            <td class="fw-bold">10% of ½ month rental</td>
                          </tr>
                          <tr>
                            <td>2 years</td>
                            <td>1 month rental</td>
                            <td class="fw-bold">10% of 1 month rental</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <h6 class="our-fee-information">*Not inclusive of 7% GST, where applicable.</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="well landlord-hsw our-fee-tnt">
          <h4 class="hsw-landlord"><b>For Tenants</b></h4>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="our-fee-panel-heading center rp-768">
              <div class="our-fee-panel our-fee-panel-primary our-fee-panel-height">
                <div class="our-fee-panel-heading align">
                  <div class="our-fee title responsive-first-lease astenant">
                    <h5 class="f16 hws">Lease Period</h5>
                    <h5 class="responsive-lease">(new leases and renewals)</h5>
                  </div>
                  <div class="our-fee title all">
                    <h5 class="f16 hws">Market Practice*</h5><br>
                  </div>
                  <div class="our-fee title all staysmart-astenant">
                    <h5 class="f16 hws fw-bold">Staysmart*</h5><br>
                  </div>
                </div>
                <div class="our-fee-panel-body">
                  <div class="our-fee-list-group">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped">
                        <tbody>
                          <tr>
                            <td class="our-fee-td-hide"></td>
                            <td class="monthly-style"><i class="fa fa-angle-left" aria-hidden="true"></i> Monthly rental $4,000</td>
                            <td class="monthly-style"><i class="fa fa-angle-right" aria-hidden="true"></i> Monthly rental $4,000</td>
                            <td class="our-fee-td-hide"></td>
                          </tr>
                          <tr>
                            <td>6 months</td>
                            <td>½ month rental</td>
                            <td>½ month rental</td>
                            <td class="fw-bold">No Fees</td>
                          </tr>
                          <tr>
                            <td>1 year</td>
                            <td>½ month rental</td>
                            <td>½ month rental</td>
                            <td class="fw-bold">No Fees</td>
                          </tr>
                          <tr>
                            <td>2 years</td>
                            <td>1 month rental</td>
                            <td>No Fees</td>
                            <td class="fw-bold">No Fees</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <h6 class="our-fee-information">*Not inclusive of 7% GST, where applicable.</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col_md_aboutus col_md_center">
          <p class="justify-text f12 content-hws-mg-btm">Fees will be deducted from the Good Faith Deposit (GFD) and Security Deposit (SD), if any, held with us with the balance transferred to the landlord upon the conclusion a deal. </p>
        </div>
      </div>
    </div>
  </div>
</section>  