<div class="container container-body">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p class="current-list page-header-top between-navbar why-us">
				<a routerLink="/">Home
				</a>
				<a [routerLink]="['/ta/'+ id +'/view']">&gt; Tenancy Agreement
				</a>
			</p>
			<loading *ngIf="!agreement || !ta" class="mg-l-47"></loading>
			<div *ngIf="agreement && ta" class="about-desc col-lg-12 col-sm-12 col-xs-12 padding_ta_side">
				<div [ngClass]="{ 'text-center': !report }" class="col-md-12 col-sm-12 col-xs-12 background_ta2 sentence_loi">
					<loading *ngIf="!report"></loading>
					<div *ngIf="report" [innerHtml]="report | safeHtml"></div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 background_ta2 sentence_ta">
					<div class="col-md-3 col-sm-3 col-xs-12 signature_ta">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 signature_ta">
						<div *ngIf="user_id == agreement?.landlord?._id">
							<div *ngIf="!ta?.confirmation?.landlord?.sign" class="signature_tenant">
								<p>
									<b class="ta_color">Signature of Landlord
									</b>
									<br>
									<signature></signature>
									<br>
									<b>{{agreement?.landlord?.username}}
									</b>
									<br>
									<b>{{agreement?.landlord?.landlord?.data?.identification_number}}
									</b>
									<br>
									<b>{{ date | date:'dd/MM/y' }}
									</b>
								</p>
							</div>
						</div>
						<div *ngIf="user_id == agreement?.tenant?._id">
							<div *ngIf="!ta?.confirmation?.tenant?.sign" class="signature_tenant">
								<p>
									<b class="ta_color">Signature of Tenant
									</b>
									<br>
									<signature></signature>
									<br>
									<b>{{agreement?.tenant?.username}}
									</b>
									<br>
									<b>{{agreement?.tenant?.tenant?.data?.identification_number}}
									</b>
									<br>
									<b>{{ date | date:'dd/MM/y' }}
									</b>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-12 background_ta2 button_background_ta initiated">
					<div *ngIf="user_id == agreement?.landlord?._id">
						<div *ngIf="ta?.status == 'accepted'">
							<button type="button" data-loading-text="<i class='fa fa-print'></i> <i class='fa fa-spinner fa-spin '></i> Printing.. " class="btn icon_list_right" aria-hidden="true">
								<i (click)="printDownload()" class="fa fa-print"> Print page</i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-10 col-sm-10 col-xs-12 background_ta2 button_background_ta initiated">
					<button (click)="back()" type="button" id="back" class="btn btn-default btn-search button_ta previous_loi back-to-list-loi mg-l-4">Back to List</button>
					<div *ngIf="user_id == agreement?.landlord?._id">
						<div *ngIf="!ta?.confirmation?.landlord?.sign">
							<button (click)="send()" type="button" class="btn btn-default btn-search button_ta initiated">Send
							</button>
						</div>
						<div *ngIf="ta?.status == 'accepted'">
							<button *ngIf="ta?.payment" (click)="modalPayment.show()" type="button" class="btn btn-info float-r ml-5 h-40">View Payment Details</button>
							<button *ngIf="ta?.stamp_certificate" (click)="modalCertificate.show()" type="button" class="btn btn-info float-r ml-5 h-40 bg-color-stamp">View  Certificate of Stampduty</button>
							<button *ngIf="agreement?.inventory_list?.data?.lists?.length > 0" type="button" class="btn btn-warning float-r ml-5 h-40">View Inventory List</button>
							<button *ngIf="agreement?.inventory_list?.data?.lists?.length == 0" (click)="gotoInventory()" type="button" class="btn btn-warning float-r ml-5 h-40">View Inventory List</button>
						</div>
					</div>
					<div *ngIf="user_id == agreement?.tenant?._id">
						<div *ngIf="!ta?.payment">
							<button *ngIf="!isReject" (click)="isReject = true" type="button" class="btn btn-danger previous_loi float-r h-40">Reject</button>
							<button (click)="accept()" type="button" class="btn btn-default btn-search button_ta initiated mg-right">
								<span *ngIf="loadingAccept" class="disabled"><i class='fa fa-spinner fa-spin '></i> Please Wait</span>
            					<span *ngIf="!loadingAccept">Accept &amp; Upload</span>
							</button>
						</div>
						<div *ngIf="ta?.status == 'accepted'">
							<button *ngIf="ta?.payment" (click)="modalPayment.show()" type="button" class="btn btn-info float-r ml-5 h-40">View Payment Details</button>
							<button *ngIf="ta?.stamp_certificate" (click)="modalCertificate.show()" type="button" class="btn btn-info float-r ml-5 h-40 bg-color-stamp">View  Certificate of Stampduty</button>
							<button *ngIf="agreement?.inventory_list?.data?.lists?.length > 0" type="button" class="btn btn-warning float-r ml-5 h-40">View Inventory List</button>
							<button *ngIf="agreement?.inventory_list?.data?.lists?.length == 0" type="button" class="btn btn-warning float-r ml-5 h-40" disabled>View Inventory List</button>
						</div>
					</div>
				</div>
				<div *ngIf="isReject" class="col-md-12 col-sm-12 col-xs-12 message">
					<textarea [(ngModel)]="model.reason" class="form-control" placeholder="Rejected Reason" rows="5"></textarea>
					<button (click)="reject()" class="btn btn-warning">
						<span *ngIf="loadingReject" class="disabled"><i class='fa fa-spinner fa-spin '></i> Please Wait</span>
            			<span *ngIf="!loadingReject">Submit</span>
					</button>
					<button (click)="isReject = false" class="btn btn-default">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- View Payment modal -->
<div bsModal #modalPayment="bs-modal" class="modal fade" style="padding-right: 17px;">
	<div class="modal-dialog signIn_modal modal-detail-payment" role="document">
		<div class="modal-content">
			<div class="modal-body modal-body-login">
				<div class="row">
					<div class="col-md-12 col-sm-6 col-xs-6 view-payment-detail">
						<div><h3><b>Payment Details</b></h3></div>
					</div>
				</div>
				<!-- payment details -->
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6 occupant-detail pd-left">
						<b>Security Deposit</b> <span>:</span>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 occupant-detail">
						{{ta?.payment?.fee[0]?.amount}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-6 col-xs-6">
						<a href="" data-lightbox="imageLoi1">
							<img src="{{ta?.payment?.attachment?.payment?.url}}" class="identity-proof size-occupants-detail img-view-payment-detail">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- View Certificate of Stamp duty modal -->
<div bsModal #modalCertificate="bs-modal" class="modal fade" style="padding-right: 17px;">
	<div class="modal-dialog signIn_modal modal-detail-payment" role="document">
		<div class="modal-content">
			<div class="modal-body modal-body-login">
				<div class="row">
					<div class="col-md-12 col-sm-6 col-xs-6 view-payment-detail">
						<a href="" data-lightbox="imageStampCertificate">
							<img width="100%" src="{{ta?.stamp_certificate?.url}}">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

