<div class="dashboard-appointments">
  <h3 class="align-member-section">Property</h3>
  <ul class="nav nav-tabs" role="tablist">
    <li [ngClass]="{'active': isRequest }" *ngIf="landlords" role="presentation"><a class="pointer" (click)="isRequest=true;isProposed=false" role="tab" data-toggle="tab"><b>Landlord ({{landlords.length}})</b></a></li>
    <li><a><b>|</b></a></li>
    <li [ngClass]="{'active': isProposed }" *ngIf="tenants"  role="presentation"><a class="pointer" (click)="isProposed=true;isRequest=false" role="tab" data-toggle="tab"><b>Tenant ({{tenants.length}})</b></a></li>
  </ul>
  <div class="tab-content">
    <div [ngClass]="{'active': isRequest}" role="tabpanel" class="tab-pane tab_pane_padding" id="request">
      <div *ngIf="landlords">
        <div *ngFor="let landlord of landlords">
          <div class="col-md-12 col-sm-12 col-xs-12 appointments">
            <div class="row">
              <div class="col-md-3 col-sm-12 col-xs-12 appointments-img">
                <img class="img-responsive" [src]="landlord.pictures?.living[0].url">
              </div>
              <div class="col-md-9 col-sm-12 col-xs-12 appointments-caption">
                <h5 *ngIf = "landlord?.status == 'pending'">Property (To be rented out)</h5>
                <h5 *ngIf = "landlord?.status == 'published'">Property (To be rented out)</h5>
                <h5 *ngIf = "landlord?.status == 'initiated'">Property (To be rented out)</h5>
                <h5 *ngIf = "landlord?.status == 'rented' && landlord.rented_until?.until && landlord.rented_until?.until != 'null' && landlord.rented_until?.until != '' && landlord.rented_by?.username && landlord.rented_by?.username != 'null' && landlord.rented_by?.username != ''">Property (Rented Until {{landlord.rented_until?.until | date:'dd/MM/y' }} by {{landlord.rented_by?.username}})</h5>
                <h4><b>#{{landlord?.address.floor}}-{{landlord?.address.unit}} {{landlord?.development.name}}</b></h4>
                <br>
                <div class="item-caption-desc">
                    <div class="col-md-1 detail-no-padding width-10">
                      <span><i class="fa fa-bed" aria-hidden="true"></i> {{landlord?.details.bedroom}}</span>
                    </div>
                    <div class="col-md-1 detail-no-padding width-property-furnishing width-10">
                      <span><i class="fa fa-female" aria-hidden="true"></i><i class="fa fa-male" aria-hidden="true"></i> {{landlord?.details.bathroom}}</span>
                    </div>
                    <div class="col-md-3 detail-property width-size-furnishing">
                      <span><i class="fa fa-expand" aria-hidden="true"></i></span>
                      <div class="sqft-size-listing property-listing">{{landlord?.details.size_sqf}} sqft</div>
                      <div class="sqm-result property sqm-size-listing-mg">{{landlord?.details.size_sqm}} sqm</div>
                    </div>
                    <div class="col-md-6 pd-left-0 fl-l-visible" *ngIf="landlord.details.furnishing != 'unfurnished'">
                      <img width="15px" height="15px" class="icon_list_right" src="/client/include/images/{{landlord.details.furnishing}}.png">
                      <div class="sqft-size-listing property-listing">{{landlord.details.furnishing | capitalizeFirst}} </div><div class="sqm-result property sqm-size-listing-mg">Furnished</div>
                    </div>
                    <div class="col-md-6 pd-left-0 fl-l-visible" *ngIf="landlord.details.furnishing == 'unfurnished'">
                      <img width="15px" height="15px" class="icon_list_right" src="/client/include/images/not.png">
                      <div class="sqft-size-listing property-listing">Not </div><div class="sqm-result property sqm-size-listing-mg">Furnished</div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 appointments-nav">
            <div class="pull-left pull_left_top">
                <span *ngIf="landlord.status == 'pending'">Status : <b class="cblue">Waiting for Admin Confirmation</b></span>
                <span *ngIf="landlord.status == 'published'">Status : <b class="cgreen">Confirmed</b></span>
                <span *ngIf="landlord.status == 'rejected'">Status : <b class="cpink">Rejected</b></span>
            </div>
            <div class="pull-right pull_right_top">
                <button type="button" name="button" (click)="edit(landlord._id)" class="btn btn-primary btn-lg btn-grey btn-responsive" id="editProperty"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Property</button>
                <!-- <button type="button" name="button" class="btn btn-primary btn-lg btn-blue btn-responsive" id="viewSchedule"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> View Schedule</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="{'active': isProposed }" role="tabpanel" class="tab-pane tab_pane_padding" id="proposed">
      <div *ngIf="tenants">
        <div *ngFor="let tenant of tenants">
          <div class="col-md-12 col-sm-12 col-xs-12 appointments">
            <div class="row">
              <div class="col-md-3 col-sm-12 col-xs-12 appointments-img">
                <img class="img-responsive" [src]="tenant?.pictures?.living[0].url">
              </div>
              <div class="col-md-9 col-sm-12 col-xs-12 appointments-caption">
                <h5>Property (To be rented out)</h5>
                <h4><b>#{{tenant?.address?.floor}}-{{tenant?.address?.unit}} {{tenant?.development?.name}}</b></h4>
                <br>
                <div class="item-caption-desc">
                    <div class="col-md-1 detail-no-padding width-10">
                      <span><i class="fa fa-bed" aria-hidden="true"></i> {{tenant?.details?.bedroom}}</span>
                    </div>
                    <div class="col-md-1 detail-no-padding width-property-furnishing width-10">
                      <span><i class="fa fa-female" aria-hidden="true"></i><i class="fa fa-male" aria-hidden="true"></i> {{tenant?.details?.bathroom}}</span>
                    </div>
                    <div class="col-md-3 detail-property width-size-furnishing">
                      <span><i class="fa fa-expand" aria-hidden="true"></i></span>
                      <div class="sqft-size-listing property-listing">{{tenant?.details?.size_sqf}} sqft</div>
                      <div class="sqm-result property sqm-size-listing-mg">{{tenant?.details?.size_sqm}} sqm</div>
                    </div>
                    <div class="col-md-6 pd-left-0 fl-l-visible">
                      <img width="15px" height="15px" class="icon_list_right" src="/client/include/images/{{tenant?.details?.furnishing}}.png">
                      <div class="sqft-size-listing property-listing">{{tenant?.details?.furnishing | capitalizeFirst}} </div><div class="sqm-result property sqm-size-listing-mg">Furnished</div>
                    </div>
                </div>
              </div>

          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 appointments-nav">
          <div class="pull-left pull_left_top">
              <span *ngIf="tenant.status == 'pending'">Status : <b class="cblue">Waiting for Admin Confirmation</b></span>
              <span *ngIf="tenant.status == 'published'">Status : <b class="cgreen">Confirmed</b></span>
              <span *ngIf="tenant.status == 'rejected'">Status : <b class="cpink">Rejected</b></span>
          </div>
          <!-- <div class="pull-right pull_right_top">
              <button type="button" name="button" (click)="edit(tenant?._id)" class="btn btn-primary btn-lg btn-grey btn-responsive" id="editProperty"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Property</button>
          </div> -->
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
