<section id="profile">
  <div class="container">
    <div class="member-property">
      <div class="row">
        <div class="col-md-3">
          <p class="current-list padding_left_shrtlist">
            <a routerLink="/">Home</a>
            <a routerLink="/dashboard/{{id}}//listing">&gt; Property</a>
          </p>
          <div class="panel panel-default sidebar-menu">
            <div class="panel-heading">
              <h3 class="panel-title">Member Section</h3>
            </div>
            <div class="">
              <button class="btn-info btn-md visible-xs visible-sm" id="hide_show" (click)="toogle()">Show and Hide the menu</button>
              <div class="panel-body" *ngIf="show" [@enterAnimation]="show">
                <ul class="nav nav-pills nav-stacked">
                  <li id="u-listing" routerLinkActive="active"><a routerLink="/dashboard/{{id}}/listing" id="userListing"><i class="fa fa-home"></i> Property</a></li>
                  <!-- <li id="u-setting"><a routerLink="#" id="userSetting"><i class="fa fa-cog"></i> Settings</a></li> -->
                  <li id="u-favourite" routerLinkActive="active"><a routerLink="/dashboard/{{id}}/favourite" id="userFavourite"><i class="fa fa-file-text-o"></i> Shortlisted Properties</a></li>
                  <hr>
                  <li id="u-proposed" routerLinkActive="active">
                    <a routerLink="/dashboard/{{id}}/proposed" id="userProposed">
                      <i class="fa fa-calendar"></i> Pending Appointments

                    </a>
                  </li>
                  <li id="u-upcoming" routerLinkActive="active">
                    <a routerLink="/dashboard/{{id}}/upcoming" id="userUpcoming">
                      <i class="fa fa-calendar"></i> Upcoming Appointments

                    </a>
                  </li>
                  <li id="u-archived" routerLinkActive="active">
                    <a routerLink="/dashboard/{{id}}/archived" id="userArchived">
                      <i class="fa fa-archive"></i> Archived Appointments

                    </a>
                  </li>
                  <!-- <li id="u-chat"><a routerLink="#" id="userChat"><i class="fa fa-envelope"></i> Chats</a></li> -->
                  <hr>
                  <li id="u-letter_of_intent" routerLinkActive="active">
                    <a routerLink="/dashboard/{{id}}/letter-of-intent" id="userLetterOfIntent">
                      <i class="fa fa-envelope-o"></i> Letter of Intent
                    </a>
                  </li>
                  <li id="u-tenancy_agreement" routerLinkActive="active">
                    <a routerLink="/dashboard/{{id}}/tenancy-agreement" id="userTenancyAgreement">
                      <i class="fa fa-handshake-o"></i> Tenancy Agreement
                    </a>
                  </li>
                  <li id="u-inventory" routerLinkActive="active">
                    <a routerLink="/dashboard/{{id}}/inventory" id="userInventory">
                      <i class="fa fa-file-text-o"></i> Inventory List
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 margin-top-property">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>