<router-outlet name="navbar" *ngIf="showHeader"></router-outlet>
<simple-notifications style="position: absolute;z-index: 99999;" [options]="options"></simple-notifications>
<router-outlet></router-outlet>
<router-outlet name="footer" [hidden]="showFooter && !router.url.includes('chat')"></router-outlet>
<router-outlet name="copyright" [hidden]="showFooter && !router.url.includes('chat')"></router-outlet>
