<div id="initiate-loi" class="container container-body">
	<div class="row">
		<p class="current-list page-header-top between-navbar why-us">
			<a routerLink="/">Home</a>
			<a [routerLink]="['/loi/'+ id +'/initiate']">&gt; Letter Of Intent</a>
		</p>
		<h3 class="page-header page_header_intent">LETTER OF INTENT</h3>
		<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
			<div id="loiRootWizard">
				<div class="stepwizard">
					<div class="stepwizard-row setup-panel">
						<ul class="nav nav-pills">
							<li class="stepwizard-step responsive" [ngClass]="{'active': isFirst, 'done': isSecond}">
								<a data-toggle="tab" type="button" class="btn btn-circle" aria-expanded="true"><i class="fa fa-check" aria-hidden="true"></i></a>
								<p><b>Step 1</b><br>Key terms &amp; requirements</p>
							</li>
							<li class="stepwizard-step responsive" [ngClass]="{'active': isSecond }">
								<a (click)="isFirst=false;isSecond=true" data-toggle="tab" type="button" class="btn btn-circle"><i class="fa fa-check" aria-hidden="true"></i></a>
								<p><b>Step 2</b><br>Tenant/occupiers Details</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-content">
					<form [formGroup]="myForm" name="form" #f="ngForm" novalidate>
						<div class="tab-pane" [hidden]="!isFirst"  [ngClass]="{'active': isFirst}">
							<div class="row btn-prmy">
								<div class="col-md-12 col-sm-12 col-xs-12 background_loi color_homepage">
									<b>Key Terms</b>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 background_loi_special">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<b>General Information</b>
									</div>
								</div>
								<div class="col-md-6 col-xs-12">
									<div class="form-group" [ngClass]="{ 'has-error': isValid && !myForm.controls.monthly_rental.valid }">
										<label class="label_loi control-label">Proposed Monthly Rental</label>
										<input type="text" (keypress)="number($event)" name="monthly_rental" class="input_web_kit form-control" formControlName="monthly_rental" placeholder="Input a value" required>
										<small *ngIf="isValid && !myForm.controls.monthly_rental.valid" class="text-danger">
				                            Monthly rental is required
				                        </small> 
									</div>
								</div>
								<div class="col-md-6 col-xs-12">
									<div class="form-group" [ngClass]="{ 'has-error': isValid && !myForm.controls.term_lease.valid }">
										<label class="label_loi control-label" for="kmDeYvDEnvYgd3soT">Term Of Lease</label>
										<select name="term_lease" class="input_web_kit form-control" required firstoption="Select One" required formControlName="term_lease" autocomplete="off">
											<option selected disabled>Select One</option>
											<option value="6">6 Months</option>
											<option value="12">12 Months</option>
											<option value="24">24 Months</option>
										</select>
										<small *ngIf="isValid && !myForm.controls.term_lease.valid" class="text-danger">
				                            Term of lease is required
				                        </small> 
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-xs-12 commencement">
									<div class="form-group" [ngClass]="{ 'has-error': isValid && !myForm.controls.date_commencement.valid }">
										<label class="control-label label_loi">Date of Commencement</label>
										<div class="input-group">
											<input type="date" name="date_commencement" formControlName="date_commencement" placeholder="dd/mm/yyy" class="input_web_kit form-control" required>
											<span class="input-group-addon icon-calendar-available"><i class="fa fa-calendar icon-small-calendar"></i></span>
										</div>
										<small *ngIf="isValid && !myForm.controls.date_commencement.valid" class="text-danger">
				                            Date of commencement is required
				                        </small> 
									</div>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 background_loi_special requirements h-28 pd-t0">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<b class="font-requirements">Other Requirements</b>
									</div>
								</div>
							</div>
							<div formArrayName="requirements">
								<div *ngFor="let requirement of myForm.controls.requirements.controls; let i=index ">
									<div [formGroupName]="i">
										<div class="row btn-prmy">
											<div class="col-md-10 col-sm-10 col-xs-12 btn pd-t0">
												<div class="input-group loi_input_any">
													<input type="text" pattern=".{0}|.{3,255}" name="requirements" placeholder="If any" formControlName="require" class="form-control">
												</div>
											</div>
											<div class="col-md-2 col-sm-2 col-xs-12 margin-top-loi-add">
												<button type="button" class="btn btn-block btn-danger remove autoform-remove-item btn-remove-ifany" (click)="removeOtherRequirement(i)" *ngIf="i>0">
													<i class="fa fa-times" aria-hidden="true"></i>
												</button>
												<button type="button" class="btn btn-block btn-primary autoform-add-item loi_input_any3 btn-add-ifany" (click)="addOtherRequirement()">
													<i class="fa fa-plus" aria-hidden="true"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div formGroupName="tenant">
								<div class="row btn-prmy" formGroupName="bank_account">
									<div class="col-md-12 col-sm-12 col-xs-12 background_loi_special">
										<div class="col-md-4 col-sm-4 col-xs-12">
											<b>Bank Details (for Refund)</b>
										</div>
									</div>
									<div class="col-md-6 col-xs-12 bank">
										<div class="form-group" [ngClass]="{ 'has-error': isValid && !myForm.controls.tenant.controls.bank_account.controls.bank.valid }">
											<label class="label_loi control-label">Bank</label>
											<div *ngIf="banks.length > 0">
												<ng-select [allowClear]="true"
										        	[items]="banks"
										          	(data)="refreshValue($event)"
										          	(selected)="selected($event)"
										          	(removed)="removed($event)"
										          	(typed)="typed($event)"
										          	placeholder="-"
										          	formControlName="bank"
										          	name="bank">
	  											</ng-select>
											</div>
											<!-- <p-dropdown pattern=".{3,255}" required name="bank" formControlName="bank" [options]="banks" placeholder="-" [editable]="true" [style]="{'width':'100%','padding':'6px 12px'}"></p-dropdown> -->
											<small *ngIf="isValid && !myForm.controls.tenant.controls.bank_account.controls.bank.valid" class="text-danger">
			                                    Bank is required (Must at least 3 character and less than 255 character)
			                                </small>
										</div>
									</div>
									<div class="col-md-6 col-xs-12 responsive">
										<div class="form-group" [ngClass]="{ 'has-error': isValid && !myForm.controls.tenant.controls.bank_account.controls.name.valid }">
											<label class="label_loi control-label">Account Name</label>
											<input type="text" (keypress)="text($event)" pattern=".{3,255}" name="name" class="input_web_kit form-control" placeholder="-" formControlName="name" required>
											<small *ngIf="isValid && !myForm.controls.tenant.controls.bank_account.controls.name.valid" class="text-danger">
			                                    Account name is required (Must at least 3 character and less than 255 character)
			                                </small>
										</div>
									</div>
									<div class="col-md-6 col-xs-12 responsive">
										<div class="form-group" [ngClass]="{ 'has-error': isValid && !myForm.controls.tenant.controls.bank_account.controls.no.valid }">
											<label class="label_loi control-label">Account No.</label>
											<input type="text" (keypress)="number($event)" name="no" class="input_web_kit form-control" placeholder="-" formControlName="no" required>
											<small *ngIf="isValid && !myForm.controls.tenant.controls.bank_account.controls.no.valid" class="text-danger">
			                                    Account no is required
			                                </small>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" [hidden]="!isSecond" [ngClass]="{'active': isSecond}">
							<div class="row">
								<div formGroupName="tenant">
									<div class="col-md-12 col-sm-12 col-xs-12 background_loi color_homepage">
										<b>Tenant / Occupiers Details</b>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 background_loi_special">
										<div class="col-md-4 col-sm-4 col-xs-4">
											<b>Tenant</b>
										</div>
									</div>
									<div class="form-group col-md-12" [ngClass]="{ 'has-error': isValid2 && !myForm.controls.tenant.controls.name.valid }">
										<label class="col-md-3 col-sm-3 col-xs-3 loi_padding_left control-label">Full Name</label>
										<div class="col-sm-9 col-xs-9 loi_padding_right box-name loi">
											<input [attr.readonly]="user?.tenant?.data?.name" type="text" (keypress)="text($event)" pattern=".{3,255}" name="name" formControlName="name" class="form-control" required>
											<small *ngIf="isValid2 && !myForm.controls.tenant.controls.name.valid" class="text-danger">
		                                        Full name is required (Must at least 3 character and less than 255 character)
		                                    </small>
										</div>
									</div>
									<div class="form-group col-md-12" [ngClass]="{ 'has-error': isValid2 && !myForm.controls.tenant.controls.identification_type.valid }">
										<label class="col-md-3 col-sm-3 col-xs-3 loi_padding_left control-label">Type</label>
										<div class="col-sm-9 col-xs-9 loi_padding_right box-name loi mini-input">
											<div *ngIf="data.length == 0">
												<ng-select [allowClear]="true"
										        	[items]="types"
										          	(data)="refreshValue($event)"
										          	(selected)="selected($event)"
										          	(removed)="removed($event)"
										          	(typed)="typed($event)"
										          	placeholder="NRIC / FIN / PASSPORT / UEN"
										          	formControlName="identification_type"
										          	name="identification_type">
	  											</ng-select>
											</div>
											<div *ngIf="data.length > 0">
												<ng-select
										        	[items]="types"
										          	(data)="refreshValue($event)"
										          	(selected)="selected($event)"
										          	(removed)="removed($event)"
										          	(typed)="typed($event)"
										          	formControlName="identification_type"
										          	name="identification_type"
										          	[disabled]="true">
	  											</ng-select>
											</div>
											<!-- <input *ngIf="user?.tenant?.data?.identification_type" [attr.readonly]="user?.tenant?.data?.identification_type" type="text" name="type" formControlName="identification_type" class="form-control"> -->
											<!-- <p-dropdown *ngIf="!user?.tenant?.data?.identification_type" placeholder="-" formControlName="identification_type" name="type" required [options]="types" [editable]="true" [style]="{'width':'213px'}"></p-dropdown> -->
											<small *ngIf="isValid2 && !myForm.controls.tenant.controls.identification_type.valid" class="text-danger">
		                                        Type is required
		                                    </small>
										</div>
									</div>
									<div class="form-group col-md-12" [ngClass]="{ 'has-error': isValid2 && !myForm.controls.tenant.controls.identification_number.valid }">
										<label class="col-md-3 col-sm-3 col-xs-3 loi_padding_left control-label">Identification Number</label>
										<div class="col-sm-9 col-xs-9 loi_padding_right box-name loi">
											<input [attr.readonly]="user?.tenant?.data?.identification_number" class="form-control" formControlName="identification_number" name="identification_number" (keypress)="number($event)" required pattern=".{3,255}">
                    						<small *ngIf="isValid2 && !myForm.controls.tenant.controls.identification_number.valid" class="text-danger">
		                                        Identification number is required (Must at least 3 character and less than 255 character)
		                                    </small>
										</div>
									</div>
									<div formGroupName="identification_proof" class="col-md-12">
										<div class="col-md-6">
											<div class="form-group" [ngClass]="{ 'has-error': isValid2 && !myForm.value.tenant.identification_proof.front }">
												<label class="col-md-3 col-sm-3 col-xs-3 loi_padding_left control-label" for="zBAS2mPmRAPfTwF5y">Front</label>
												<div class="col-sm-9 col-xs-9 loi_padding_right box-type">
													<div *ngIf="user?.tenant?.data?.identification_proof?.front">
														<img src="{{user?.tenant?.data?.identification_proof?.front?.url}}" class="centered" style="width: 100%;">
													</div>
													<div *ngIf="!user?.tenant?.data?.identification_proof?.front">
														<dropzone
															[element]="'#dropzone'"
														 	[clickable]="'#dropzone'"
															[acceptedFiles]="'image/*'"
															[uploadMultiple]="'false'"
															[autoProcessQueue]="'false'"
															[url]="link"
															[headers]="header"
															(sending)="handleFileSending($event, 'front')"
															(success)="handleFileSuccess($event, 'front')"
															(addedfile)="handleFileAdded($event)"
															(removedfile)="handleFileRemoved($event, 'front')"
															(error)="handleFileFailure($event, 'front')"
														></dropzone>
														<div id="dropzone" class="dropzone">

														</div>
													</div>
													<small *ngIf="isValid2 && !myForm.value.tenant.identification_proof.front" class="text-danger">
		                                        		Front picture is required
		                                    		</small>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="col-md-3 col-sm-3 col-xs-3 loi_padding_left control-label" for="GhHLyjvQvrj4NQ2G5">Back - if applicable</label>
												<div class="col-sm-9 col-xs-9 loi_padding_right box-type">
													<div *ngIf="user?.tenant?.data?.identification_proof?.back">
														<img src="{{user?.tenant?.data?.identification_proof?.back?.url}}" class="centered" style="width: 100%;">
													</div>
													<div *ngIf="!user?.tenant?.data?.identification_proof?.back">
														<dropzone
															[element]="'#dropzone1'"
														 	[clickable]="'#dropzone1'"
															[acceptedFiles]="'image/*'"
															[uploadMultiple]="'false'"
															[autoProcessQueue]="'false'"
															[url]="link"
															[headers]="header"
															(sending)="handleFileSending($event, 'back')"
															(success)="handleFileSuccess($event, 'back')"
															(addedfile)="handleFileAdded($event)"
															(removedfile)="handleFileRemoved($event, 'back')"
															(error)="handleFileFailure($event, 'back')"
														></dropzone>
														<div id="dropzone1" class="dropzone">

														</div>
													</div>
													<span class="help-block"></span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="checkbox-inline chk-box-leftbot-20 checkbox-40-percent">
									<label class="">
										<input class="" id="populateTenant" type="checkbox">
										<span class="populate-ocp">Not Occupier</span>
									</label>
								</div>								
								<div formArrayName="occupiers">
									<div *ngFor="let occupier of myForm.controls.occupiers.controls; let i=index ">
										<div class="form-group padding_remove_btn">
											<button type="button" class="btn btn-block btn-danger autoform-remove-item" (click)="removeOccupier(i)"><span class="glyphicon glyphicon-minus"></span> Remove Occupier</button>
										</div>
										<div [formGroupName]="i">
											<div class="form-group col-md-12">
												<label class="col-md-3 col-sm-3 col-xs-3 loi_padding_left control-label">Full Name</label>
												<div class="col-sm-9 col-xs-9 loi_padding_right box-type">
													<input pattern=".{3,255}" type="text" name="name" placeholder="full name" formControlName="name" class="form-control">
													<small *ngIf="isValid2 && !myForm.value.occupiers[i].name" class="text-danger">
		                                        		Full name is required
		                                    		</small>
												</div>
											</div>
											<div class="form-group col-md-12">
												<label class="col-md-3 col-sm-3 col-xs-3 loi_padding_left control-label" for="selectizeTenantType">Type</label>
												<div class="col-sm-9 col-xs-9 loi_padding_right box-type">
													<ng-select [allowClear]="true"
											        	[items]="types"
											          	(data)="refreshValue($event)"
											          	(selected)="selected($event)"
											          	(removed)="removed($event, i)"
											          	(typed)="typed($event)"
											          	placeholder="NRIC / FIN / PASSPORT / UEN"
											          	formControlName="identification_type"
											          	name="identification_type">
		  											</ng-select>
													<!-- <p-dropdown placeholder="-" formControlName="identification_type" name="type" required [options]="types" [style]="{'width':'213px'}"></p-dropdown> -->
													<small *ngIf="isValid2 && !myForm.value.occupiers[i].identification_type.length > 0" class="text-danger">
		                                        		Type is required
		                                    		</small>
												</div>
											</div>
											<div class="form-group col-md-12">
												<label class="col-md-3 col-sm-3 col-xs-3 loi_padding_left control-label" for="Kvw5udacNM8JE6bcL">Identification Number</label>
												<div class="col-sm-9 col-xs-9 loi_padding_right box-type">
													<input type="number" pattern=".{3,255}" name="tenant.id_no" placeholder="identification number" formControlName="identification_number" class="form-control">
													<small *ngIf="isValid2 && !myForm.value.occupiers[i].identification_number" class="text-danger">
		                                        		Identification number is required
		                                    		</small>
												</div>
											</div>
											<div formGroupName="identification_proof" class="col-md-12">
												<div class="col-md-6">
													<div class="form-group">
														<label class="col-md-3 col-sm-3 col-xs-3 loi_padding_left control-label" for="zBAS2mPmRAPfTwF5y">Front</label>
														<div class="col-sm-9 col-xs-9 loi_padding_right box-type">
															<div attr.id="{{idFront[i]}}" class="dropzone"></div>
					                                        <dropzone *ngIf="elementFront[i]"
						                                        [element]="elementFront[i]"
						                                        [clickable]="elementFront[i]"
						                                        [acceptedFiles]="'image/*'"
						                                        [uploadMultiple]="'false'"
						                                        [autoProcessQueue]="'false'"
						                                        [url]="link"
						                                        [headers]="header"
						                                        (sending)="handleFileSendingOwners($event, 'front', i)"
						                                        (success)="handleFileSuccessOwners($event, 'front', i)"
						                                        (addedfile)="handleFileAddedOwners($event)"
						                                        (removedfile)="handleFileRemovedOwners($event.uploadedId, 'front', i)"
						                                        (error)="handleFileFailureOwners($event, 'front', i)"
					                                        ></dropzone>
															<small *ngIf="isValid2 && !myForm.value.occupiers[i].identification_proof.front" class="text-danger">
				                                        		Front picture is required
				                                    		</small>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="col-md-3 col-sm-3 col-xs-3 loi_padding_left control-label" for="GhHLyjvQvrj4NQ2G5">Back - if applicable</label>
														<div class="col-sm-9 col-xs-9 loi_padding_right box-type">
															<div attr.id="{{idBack[i]}}" class="dropzone"></div>
					                                        <dropzone *ngIf="elementBack[i]"
						                                        [element]="elementBack[i]"
						                                        [clickable]="elementBack[i]"
						                                        [acceptedFiles]="'image/*'"
						                                        [uploadMultiple]="'false'"
						                                        [autoProcessQueue]="'false'"
						                                        [url]="link"
						                                        [headers]="header"
						                                        (sending)="handleFileSendingOwners($event, 'back', i)"
						                                        (success)="handleFileSuccessOwners($event, 'back', i)"
						                                        (addedfile)="handleFileAddedOwners($event)"
						                                        (removedfile)="handleFileRemovedOwners($event.uploadedId, 'back', i)"
						                                        (error)="handleFileFailureOwners($event, 'back', i)"
					                                        ></dropzone>
															<span class="help-block"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<button type="button" class="btn btn-block btn-primary autoform-add-item loi_input_any3 loi add-accoupier-step2" data-autoform-field="occupants" (click)="addOccupier()">
									<span><i class="fa fa-plus-square color_homepage loi_plus_square" aria-hidden="true"></i></span> Add Occupiers
								</button>
							</div>
						</div>
						<!-- <div class="tab-pane" [hidden]="!isThird">
							<div class="row btn-prmy">
								<div class="col-md-12 col-sm-12 col-xs-12 background_loi color_homepage">
									<b>Payment Details</b>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12">
									<p>
										Please transfer to Staysmart's bank account
										<span class="important-value">[ 123-456576-323 ]</span> with <span class="important-value">POSB</span> Bank being payment of the good faith deposit of
										<span class="important-value">$NaN</span>.
									</p>
									<br>
									<p>
										In the event that the landlord does not accept the LOI upon its expiration date, the amount will be refund back to you.
									</p>
								</div>
								<br>
									<div class="form-group">
										<label class="col-md-3 col-sm-3 col-xs-3 loi_padding_left control-label" for="gfdAmount">Good Faith Deposit Amount</label>
										<div class="col-sm-9 col-xs-9 loi_padding_right">
											<input type="text" name="gfd_amount" readonly="" id="gfdAmount" data-schema-key="gfd_amount" class="form-control">
											<span class="help-block"></span>
										</div>
									</div>
									<div class="form-group" data-required="true">
										<label class="col-md-3 col-sm-3 col-xs-3 loi_padding_left control-label" for="D6SE3PBezGMoy5YkX">Upload proof of transfer of Good Faith Deposit &amp; Stamp Duty Fee</label>
										<div class="col-sm-9 col-xs-9 loi_padding_right">
											<div>
												<div class="dropzone af-select-file js-af-select-file">
													<div class="dz-default dz-message"><span>Drop files here to upload</span></div> 
													<input type="file" class="js-file">
												</div>
												<input type="hidden" class="js-value" data-schema-key="payment_proof">
											</div>
											<span class="help-block"></span>
										</div>
									</div>
							</div>
						</div>
						<div class="tab-pane" [hidden]="!isFourth">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12 background_loi color_homepage">
									<b>Document Details</b>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12">
									<textarea name="editorLetterOfIntent" id="editorLetterOfIntent"></textarea><br><br>
								</div>
							</div>
						</div> -->
						<ul class="pager wizard loi_pager_wizard">
							<li class="previous disabled" *ngIf="isFirst"><a>Previous</a></li>
							<li class="previous pointer" *ngIf="isSecond" (click)="isFirst=true;isSecond=false"><a>Previous</a></li>
							<li class="next pointer" *ngIf="isFirst" (click)="next(myForm.controls.monthly_rental.valid,
							myForm.controls.term_lease.valid,
							myForm.controls.date_commencement.valid,
							myForm.controls.tenant.controls.bank_account.controls.bank.valid,
							myForm.controls.tenant.controls.bank_account.controls.name.valid,
							myForm.controls.tenant.controls.bank_account.controls.no.valid)"><a>Next</a></li>
							<li class="next pull-right pointer finish" *ngIf="isSecond" (click)="createLOI(myForm.value, 
							myForm.valid)">
								<span *ngIf="loading"><i class='fa fa-spinner fa-spin disabled'></i> Please Wait</span>
            					<span *ngIf="!loading" class="confirm-loi">Confirm</span>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>