<section id="copyright">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12 col-sm-12">
          <p>
            <a routerLink="https://www.facebook.com/staysmartsg">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a routerLink="https://www.instagram.com/staysmartsg">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <!-- <i class="fa fa-twitter" aria-hidden="true"></i> -->
          </p>
          
          <h3>STAYSMART.SG © 2016. ALL RIGHTS RESERVED.</h3>
  			</div>
  		</div>
  	</div>
  </section>