<div id="sidebar" *ngIf="user" [class]="flexWidth" (window:resize)="onResize($event)">
	<div data-scrollbar="true" data-height="100%">
		<ul class="nav" *ngIf="isCollapsed">
			<li class="nav-profile">
                <div class="image admin-img">
      				<img *ngIf="user.picture" src="{{user.picture.url}}" alt="" /> 
      				<img *ngIf="!user.picture" src="client/include/images/img/cs.png" alt="" /> 
                </div>
                <div class="info">
                    {{user.username}}
                </div>
			</li>
		</ul>
		<ul class="nav">
			<li class="nav-header" *ngIf="isCollapsed">Applications</li>
			<li class="has-sub" [routerLinkActive]="['active']">
				<a [routerLink]="['dashboard']">
				    <i class="material-icons">home</i>
				    <span *ngIf="isCollapsed">Dashboard</span>
			    </a>
			</li>
			<li class="has-sub" [routerLinkActive]="['active']">
				<a [routerLink]="['user']">
				    <i class="material-icons">inbox</i>
					<span *ngIf="isCollapsed">User</span>
				</a>
			</li>
			<li class="has-sub">
				<a [routerLink]="['property']">
				    <i class="material-icons">toys</i>
				    <span *ngIf="isCollapsed">Listing</span> 
				</a>
			</li>
			<li class="has-sub" [routerLinkActive]="['active']">
				<a [routerLink]="['letter_of_intent']">
				    <i class="material-icons">insert_drive_file</i>
				    <span *ngIf="isCollapsed">List LOI </span> 
				</a>
			</li>
			<li class="has-sub" [routerLinkActive]="['active']">
				<a [routerLink]="['tenancy_agreement']">
				    <i class="material-icons">grid_on</i>
				    <span *ngIf="isCollapsed">List TA</span>
				</a>
			</li>
			<li class="has-sub" [routerLinkActive]="['active']">
				<a [routerLink]="['certificate-of-stampduty']">
					<i class="material-icons">polymer</i>
					<span *ngIf="isCollapsed">List Certificate <span class="label label-theme m-l-5">NEW</span></span>
				</a>
			</li>
			<li class="has-sub" [routerLinkActive]="['active']">
			    <a [routerLink]="['blog']">
			        <i class="material-icons">email</i>
			        <span *ngIf="isCollapsed">Blog</span>
			    </a>
			</li>
			<li class="has-sub" [routerLinkActive]="['active']">
			    <a [routerLink]="['category']">
			        <i class="material-icons">insert_chart</i>
				    <span *ngIf="isCollapsed">Category</span>
				</a>
			</li>
			<li class="has-sub" [routerLinkActive]="['active']">
			    <a [routerLink]="['development']">
			        <i class="material-icons">place</i>
			        <span *ngIf="isCollapsed">Development</span>
			    </a>
			</li>
			<li class="has-sub" [routerLinkActive]="['active']">
			    <a [routerLink]="['amenity']">
				    <i class="material-icons">camera</i>
				    <span *ngIf="isCollapsed">Amenity</span>
				</a>
			</li>
			<li class="has-sub" [routerLinkActive]="['active']">
				<a [routerLink]="['appointment']">
				    <i class="material-icons">settings</i>
				    <span *ngIf="isCollapsed">Appointment</span>
				</a>
			</li>
			<li class="has-sub" [routerLinkActive]="['active']">
				<a [routerLink]="['history']">
				    <i class="material-icons">card_giftcard</i>
				    <span *ngIf="isCollapsed">History</span>
				</a>
			</li>
			<li class="has-sub" [routerLinkActive]="['active']">
			    <a [routerLink]="['bank']">
			        <i class="material-icons">lock</i>
			        <span *ngIf="isCollapsed">Bank</span>
			    </a>
			</li>
			<li class="has-sub" [routerLinkActive]="['active']">
			    <a [routerLink]="['faq']">
			        <i class="material-icons">apps</i>
			        <span *ngIf="isCollapsed">FAQ <span class="label label-theme m-l-5">NEW</span></span>
			    </a>
			</li>
			<li class="has-sub" [routerLinkActive]="['active']">
			    <a [routerLink]="['report_user']">
			        <i class="material-icons">help</i>
			        <span *ngIf="isCollapsed">Reported User</span>
			    </a>
			</li>
			<li *ngIf="notMobile">
				<a (click)="toggle(isCollapsed)" class="sidebar-minify-btn cursor" data-click="sidebar-minify">
					<i *ngIf="isCollapsed" class="fa fa-angle-double-left"></i>
					<i *ngIf="!isCollapsed" class="fa fa-angle-double-right"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
<div [class]="flexBg"></div>