<div class="row" style="position:relative;margin-left:0px;margin-right:0px;">
<section class="navbar navbar-default bd-section-btm nav-top" role="navigation">
    <div class="container">
      <div class="navbar-header pd-left-30">
        <a routerLink="/" class="navbar-brand"><img src="/client/include/images/logo2.png" height="45"></a>
        <a routerLink="/" class="navbar-brand link-name"><span class="lg-green">STAY</span>SMART</a>
      </div>
      <div *ngIf="checkRoute(this.router.url)">
        <form id="formNavSearch" class="navbar-form navbar-left search-header sb_wrapper hidden-xs">
          <div class="input-group">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input id="navbarSearch" type="text" class="form-control sb_input" placeholder="Search" autocomplete="off" #searchNavbar [formControl]="searchNavbarControl" (click)="showDropdown()">
          </div>

          <ul class="sb_dropdown" *ngIf='navbarFilter'>
            <div class="col-md-12 col-sm-12 col-xs-12 pd-top-15 mg-bot-5">
              <span class="f-weight-bold">Available Date</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <p-calendar [(ngModel)]="availableDate" name="available" (click)="handleClickAvailable()" dateFormat="dd/mm/yy" [inputStyle]="{'height':'30px','border': '1px solid #ddd','padding-left':'0px'}"></p-calendar>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="visibility: hidden;">
              <input type="text" name="" placeholder="mm/dd/yyyy" class="picker-filter" id="datepicker5">
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6 pd-top-15 mg-bot-5">
              <span class="f-weight-bold">Min Price</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 pd-top-15 mg-bot-5">
              <span class="f-weight-bold fl-right">Max Price</span>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <nouislider [connect]="true" [config]="someKeyboardConfig2" [(ngModel)]="priceRange" name="price"></nouislider>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 all-pd-0">
              <div class="upload-title-3 search">
                Room Type
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 filter-search-header">
              <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox first-checkbox-all-browse margin-bot-0">
                <input id="bedroomAll" class="styled filter filter-search-header" type="checkbox" name="bedroomRadio" value="all" [checked]="(numberBedroom.indexOf('all') > -1)" (change)="handleClick($event,'bedroom','all')" name="bedroomRadio" value="all">
                <label for="bedroomAll">
                    All
                </label>
              </div>
              <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox1 margin-bot-0">
                <input id="1bedroom" class="styled filter" type="checkbox" name="bedroomRadio" value="1" [checked]="(numberBedroom.indexOf(1) > -1)" (change)="handleClick($event,'bedroom','1')">
                <label for="1bedroom">
                    1 Bedroom
                </label>
              </div>
              <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox2 margin-bot-0">
                <input id="2bedroom" class="styled filter" type="checkbox" name="bedroomRadio" value="2" [checked]="(numberBedroom.indexOf(2) > -1)" (change)="handleClick($event,'bedroom','2')">
                <label for="2bedroom">
                    2 Bedrooms
                </label>
              </div>
              <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox2 margin-bot-0">
                <input id="3bedroom" class="styled filter" type="checkbox" name="bedroomRadio" value="3" [checked]="(numberBedroom.indexOf(3) > -1)" (change)="handleClick($event,'bedroom','3')">
                <label for="3bedroom">
                    3 Bedrooms
                </label>
              </div>
              <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox2 margin-bot-0">
                <input id="4bedroom" class="styled filter" type="checkbox" name="bedroomRadio" value="4" [checked]="(numberBedroom.indexOf(4) > -1)" (change)="handleClick($event,'bedroom','4')">
                <label for="4bedroom">
                    4 Bedrooms
                </label>
              </div>
              <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox3 margin-bot-0">
                <input id="5bedroom" class="styled filter" type="checkbox" name="bedroomRadio" value="5" [checked]="(numberBedroom.indexOf(5) > -1)" (change)="handleClick($event,'bedroom','5')">
                <label for="5bedroom">
                    5 Bedrooms
                </label>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 filter-search-header mg-bot-10">
              <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox first-checkbox-all-browse margin-bot-0">
                <input id="bathroomAll" class="styled filter" type="checkbox" name="bathroomRadio" value="all" [checked]="(numberBathroom.indexOf('all') > -1)" (change)="handleClick($event,'bathroom','all')">
                <label for="bathroomAll">
                    All
                </label>
              </div>
              <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox7 margin-bot-0">
                <input id="1bathroom" class="styled filter" type="checkbox" name="bathroomRadio" value="1" [checked]="(numberBathroom.indexOf(1) > -1)" (change)="handleClick($event,'bathroom','1')">
                <label for="1bathroom">
                    1 Bathroom
                </label>
              </div>
              <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5 margin-bot-0">
                <input id="2bathroom" class="styled filter" type="checkbox" name="bathroomRadio" value="2" [checked]="(numberBathroom.indexOf(2) > -1)" (change)="handleClick($event,'bathroom','2')">
                <label for="2bathroom">
                    2 Bathrooms
                </label>
              </div>
              <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5 margin-bot-0">
                <input id="3bathroom" class="styled filter" type="checkbox" name="bathroomRadio" value="3" [checked]="(numberBathroom.indexOf(3) > -1)" (change)="handleClick($event,'bathroom','3')">
                <label for="3bathroom">
                    3 Bathrooms
                </label>
              </div>
              <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5 margin-bot-0">
                <input id="4bathroom" class="styled filter" type="checkbox" name="bathroomRadio" value="4" [checked]="(numberBathroom.indexOf(4) > -1)" (change)="handleClick($event,'bathroom','4')">
                <label for="4bathroom">
                    4 Bathrooms
                </label>
              </div>
              <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5 margin-bot-0">
                <input id="5bathroom" class="styled filter" type="checkbox" name="bathroomRadio" value="5" [checked]="(numberBathroom.indexOf(5) > -1)" (change)="handleClick($event,'bathroom','5')">
                <label for="5bathroom">
                    5 Bathrooms
                </label>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 pd-top-15 mg-bot-5 btn-search-filter-nav">
              <button (click)="changeRequest()" id="submitSearch" class="btn btn-default btn-search-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Find a place</button>
            </div>
          </ul>
        </form>
      </div>
      <!--menu for mobile version-->
      <button type="button" class="navbar-toggle collapsed mg-top-15" data-toggle="collapse" data-target="#menu-collapsee" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu-collapsee">
        <ul class="nav navbar-nav visible-xs">
          <form id="formNavSearch" class="navbar-form navbar-left search-header sb_wrapper visible-xs">
            <div class="input-group">
              <i class="fa fa-search" aria-hidden="true"></i>
              <input id="navbarSearch" type="text" class="form-control sb_input" placeholder="Search" autocomplete="off" #searchNavbar [formControl]="searchNavbarControl">
            </div>

            <ul class="sb_dropdown" *ngIf='navbarFilter'>
              <div class="col-md-12 col-sm-12 col-xs-12 pd-top-15 mg-bot-5">
                <span class="f-weight-bold">Available Date</span>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{'height':'30px','border': '1px solid #ddd','padding-left':'0px'}"></p-calendar>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6" style="visibility: hidden;">
                <input type="text" name="" placeholder="mm/dd/yyyy" class="picker-filter" id="datepicker5">
              </div>

              <div class="col-md-6 col-sm-6 col-xs-6 pd-top-15 mg-bot-5">
                <span class="f-weight-bold">Min Price</span>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 pd-top-15 mg-bot-5">
                <span class="f-weight-bold fl-right">Max Price</span>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <nouislider [connect]="true" [config]="someKeyboardConfig2"></nouislider>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 all-pd-0">
                <div class="upload-title-3 search">
                  Room Type
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 filter-search-header">
                <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox first-checkbox-all-browse margin-bot-0">
                  <input id="bedroomAll" class="styled filter filter-search-header" type="checkbox" name="bedroomRadio" value="all" [checked]="(numberBedroom.indexOf('all') > -1)" (change)="handleClick($event,'bedroom','all')" name="bedroomRadio" value="all">
                  <label for="bedroomAll">
                      All
                  </label>
                </div>
                <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox1 margin-bot-0">
                  <input id="1bedroom" class="styled filter" type="checkbox" name="bedroomRadio" value="1" [checked]="(numberBedroom.indexOf(1) > -1)" (change)="handleClick($event,'bedroom','1')">
                  <label for="1bedroom">
                      1 Bedroom
                  </label>
                </div>
                <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox2 margin-bot-0">
                  <input id="2bedroom" class="styled filter" type="checkbox" name="bedroomRadio" value="2" [checked]="(numberBedroom.indexOf(2) > -1)" (change)="handleClick($event,'bedroom','2')">
                  <label for="2bedroom">
                      2 Bedrooms
                  </label>
                </div>
                <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox2 margin-bot-0">
                  <input id="3bedroom" class="styled filter" type="checkbox" name="bedroomRadio" value="3" [checked]="(numberBedroom.indexOf(3) > -1)" (change)="handleClick($event,'bedroom','3')">
                  <label for="3bedroom">
                      3 Bedrooms
                  </label>
                </div>
                <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox2 margin-bot-0">
                  <input id="4bedroom" class="styled filter" type="checkbox" name="bedroomRadio" value="4" [checked]="(numberBedroom.indexOf(4) > -1)" (change)="handleClick($event,'bedroom','4')">
                  <label for="4bedroom">
                      4 Bedrooms
                  </label>
                </div>
                <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox3 margin-bot-0">
                  <input id="5bedroom" class="styled filter" type="checkbox" name="bedroomRadio" value="5" [checked]="(numberBedroom.indexOf(5) > -1)" (change)="handleClick($event,'bedroom','5')">
                  <label for="5bedroom">
                      5 Bedrooms
                  </label>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 filter-search-header mg-bot-10">
                <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox first-checkbox-all-browse margin-bot-0">
                  <input id="bathroomAll" class="styled filter" type="checkbox" name="bathroomRadio" value="all" [checked]="(numberBathroom.indexOf('all') > -1)" (change)="handleClick($event,'bathroom','all')">
                  <label for="bathroomAll">
                      All
                  </label>
                </div>
                <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox7 margin-bot-0">
                  <input id="1bathroom" class="styled filter" type="checkbox" name="bathroomRadio" value="1" [checked]="(numberBathroom.indexOf(1) > -1)" (change)="handleClick($event,'bathroom','1')">
                  <label for="1bathroom">
                      1 Bathroom
                  </label>
                </div>
                <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5 margin-bot-0">
                  <input id="2bathroom" class="styled filter" type="checkbox" name="bathroomRadio" value="2" [checked]="(numberBathroom.indexOf(2) > -1)" (change)="handleClick($event,'bathroom','2')">
                  <label for="2bathroom">
                      2 Bathrooms
                  </label>
                </div>
                <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5 margin-bot-0">
                  <input id="3bathroom" class="styled filter" type="checkbox" name="bathroomRadio" value="3" [checked]="(numberBathroom.indexOf(3) > -1)" (change)="handleClick($event,'bathroom','3')">
                  <label for="3bathroom">
                      3 Bathrooms
                  </label>
                </div>
                <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5 margin-bot-0">
                  <input id="4bathroom" class="styled filter" type="checkbox" name="bathroomRadio" value="4" [checked]="(numberBathroom.indexOf(4) > -1)" (change)="handleClick($event,'bathroom','4')">
                  <label for="4bathroom">
                      4 Bathrooms
                  </label>
                </div>
                <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5 margin-bot-0">
                  <input id="5bathroom" class="styled filter" type="checkbox" name="bathroomRadio" value="5" [checked]="(numberBathroom.indexOf(5) > -1)" (change)="handleClick($event,'bathroom','5')">
                  <label for="5bathroom">
                      5 Bathrooms
                  </label>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 pd-top-15 mg-bot-5 btn-search-filter-nav">
                <button id="submitSearch" class="btn btn-default btn-search-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Find a place</button>
              </div>
            </ul>
          </form>
          <li class="visible-xs"><a href="/property/browse?latlng=all&amp;pricemin=all&amp;pricemax=all&amp;bedroom=all&amp;bathroom=all&amp;available=all&amp;sizemin=all&amp;sizemax=all&amp;location=all" class="pd-left-20"> LISTINGS</a></li>
          <li class="visible-xs"><a href="/property/new" class="pd-left-20">LIST PROPERTY</a></li>
          <li class="dropdown visible-xs"><a href="#" class="dropdown-toggle pd-left-20" data-toggle="dropdown">ABOUT <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/information/about-us" target="_blank"> Staysmart</a></li>
              <li><a href="/faq" target="_blank">FAQ</a></li>
              <li><a href="/privacy" target="_blank">Privacy Policy</a></li>
              <li><a href="/terms-condition" target="_blank">Terms &amp; Conditions</a></li>
              <li><a href="/fees-charges" target="_blank">Fees &amp; Charges</a></li>
            </ul>
          </li>
          <li class="dropdown visible-xs"><a href="#" class="dropdown-toggle pd-left-20" data-toggle="dropdown">DISCOVER <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/blog" id="blogNavbar" target="_blank"> Articles</a></li>
            </ul>
          </li>
          <li class="dropdown visible-xs"><a href="#" class="dropdown-toggle pd-left-20" data-toggle="dropdown">CONTACT US <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="mailto:support@staysmart.sg"><i class="fa fa-envelope-o" aria-hidden="true"></i> support@staysmart.sg</a></li>
            </ul>
          </li>
          <li class="divider bottom"></li>
          <li class="visible-xs"><a href="#" data-toggle="modal" data-target="#signUpModal" class="pd-left-20">SIGN UP</a></li>
          <li class="visible-xs"><a href="#" data-toggle="modal" data-target="#signInModal" class="pd-left-20">LOGIN</a></li>
        </ul>
      </div>
      <!--end of mobile menu-->
      <div class="collapse navbar-collapse" id="menu-collapse">
        <ul class="nav navbar-nav navbar-right new-design">
            <li class="nav-float-right profil" *ngIf='user'>
              <a class="dropdown-toggle no-padding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <img src="{{user.picture.url}}" popover="Hi, {{user.username}}" [popoverOnHover]="true" id="popoverProfil" class="img-profil-header" rel="popover" data-placement="bottom" data-original-title="" width="30" height="30" *ngIf='user.picture'>
                <img src="client/include/images/img/cs.png" popover="Hi, {{user.username}}" [popoverOnHover]="true" id="popoverProfil" class="img-profil-header" rel="popover" data-placement="bottom" data-original-title="" width="30" height="30" *ngIf='!user.picture'>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu user-menu dropdown_menu_navbar" aria-labelledby="sort">
                <li id="userListing"><a routerLink="/dashboard/listing">Property</a></li>
                <li id="userFavourite"><a routerLink="/dashboard/favourite">Shortlisted Properties</a></li>
                <li id="userProposed"><a routerLink="/dashboard/proposed">Pending Appointment</a></li>
                <li id="userUpcoming"><a routerLink="/dashboard/upcoming">Upcoming Appointment</a></li>
                <li id="userArchived"><a routerLink="/dashboard/archived">Archived Appointment</a></li>
                <li id="userLetterOfIntent"><a routerLink="/dashboard/letter-of-intent">Letter of Intent</a></li>
                <li id="userTenancyAgreement"><a routerLink="/dashboard/tenancy-agreement">Tenancy Agreement</a></li>
                <li id="userInventory"><a routerLink="/dashboard/inventory">Inventory List</a></li>
                <li><a routerLink="/setting">Settings</a></li>
                <li class="divider"></li>
                <li><a href="#" data-toggle="modal" id="logout" (click)="logout()">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
              </ul>
            </li>
            <li class="nav-float-right res-center">
              <button *ngIf="user" class="dropdown-toggle nav-float-right res-center before-res login" data-toggle="dropdown" href="#" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <button *ngIf="!user" class="dropdown-toggle nav-float-right res-center before-res" data-toggle="dropdown" href="#" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <ul *ngIf="user" class="dropdown-menu auto-set-margin minus-margin profil">
                <li class="dropdown-header menu-dropdown">About</li>
                <li><a href="/information/about-us" target="_blank"> Staysmart</a></li>
                <li><a href="/faq" target="_blank">FAQ</a></li>
                <li><a href="/privacy" target="_blank">Privacy Policy</a></li>
                <li><a href="/terms-condition" target="_blank">Terms &amp; Conditions</a></li>
                <li><a href="/fees-charges" target="_blank">Fees &amp; Charges</a></li>
                <li class="divider"></li>
                <li class="dropdown-header menu-dropdown">Discover</li>
                <li><a href="/blog" id="blogNavbar" target="_blank"> Blog</a></li>
                <li class="divider"></li>
                <li class="dropdown-header menu-dropdown">Contact Us</li>
                <li><a href="mailto:support@staysmart.sg"><i class="fa fa-envelope-o" aria-hidden="true"></i> support@staysmart.sg</a></li>
              </ul>
              <ul *ngIf="!user" class="dropdown-menu auto-set-margin minus-margin">
                <li class="dropdown-header menu-dropdown">About</li>
                <li><a href="/information/about-us" target="_blank"> Staysmart</a></li>
                <li><a href="/faq" target="_blank">FAQ</a></li>
                <li><a href="/privacy" target="_blank">Privacy Policy</a></li>
                <li><a href="/terms-condition" target="_blank">Terms &amp; Conditions</a></li>
                <li><a href="/fees-charges" target="_blank">Fees &amp; Charges</a></li>
                <li class="divider"></li>
                <li class="dropdown-header menu-dropdown">Discover</li>
                <li><a href="/blog" id="blogNavbar" target="_blank"> Blog</a></li>
                <li class="divider"></li>
                <li class="dropdown-header menu-dropdown">Contact Us</li>
                <li><a href="mailto:support@staysmart.sg"><i class="fa fa-envelope-o" aria-hidden="true"></i> support@staysmart.sg</a></li>
              </ul>
            </li>
            <li class="nav-float-right res-center" *ngIf="user">
              <div class="btn-group nav-float-right new">
                <div *ngIf="ready">
                  <a class="btn btn-default dropdown-toggle navigation-message" id="messageButton" routerLink="/chat">
                    <i class="fa fa-envelope-o icon-envelope-nav" aria-hidden="true"></i>
                  </a>
                </div>
                <div *ngIf="!ready && connecting">
                  <a class="btn btn-default dropdown-toggle navigation-message" id="messageButton" disabled>
                    <i class='fa fa-spinner fa-spin icon-envelope-nav' aria-hidden="true"></i>
                  </a>
                </div>
                <div *ngIf="!ready && !connecting">
                  <a class="btn btn-default dropdown-toggle navigation-message" disabled>
                    <i id="popoverNoNutchat" class="fa fa-exclamation-circle icon-envelope-nav" aria-hidden="true" data-content="You are not logged in on our chat module, please refresh or contact admin if still occuring." rel="popover" data-placement="bottom" data-original-title=""></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="nav-float-right res-center" *ngIf="user">
              <div id="notificationDiv" class="btn-group nav-float-right new-notification except-notif">
                <button class="btn btn-default dropdown-toggle" (click)="readAllNotification()" id="notificationButton" data-toggle="dropdown">
                  <i class="fa fa-bell icon-bell"></i><span *ngIf="unclickedNotificationTotal>0" class="badge notif-count">{{unclickedNotificationTotal}}</span>
                </button>
                <ul class="dropdown-menu" id="notificationDropdown" role="menu">
                  <li *ngIf="notifications.length == 0"><a class="cursor">You have no notifications.</a></li>
                  <li *ngFor="let notification of notifications">
                    <a style="cursor: pointer;" id="notifyLink" (click)="gotopage(notification)" class="">
                        <i [ngClass]="{'fa-envelope':!notification.clicked, 'fa-envelope-open':notification.clicked}" class="fa">
                        <span class="family-serif">{{notification.message}}</span>
                      </i>
                    </a>
                    <span class="small">{{notification.created_at | date:'medium'}}</span>
                  </li>
                  <li *ngIf="notifications.length != 0 && notifications.length == lastNotificationIndex"><a style="cursor: pointer; text-align: center;" (click)="$event.stopPropagation();loadNotificationLazy()">Show more</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-float-right res-center pointer" *ngIf="!user"><a class="res-768-signup" (click)="clearModal();modalSignup.show()">SIGN UP</a></li>
            <li class="nav-float-right res-center pointer" *ngIf="!user"><a class="res-768-login" (click)="clearModal();modalLogin.show()">LOGIN</a></li>
            <li class="nav-float-right res-center color-listing pointer"><a (click)="goToList()" class="res-768-login">LISTINGS</a></li> 
            <li class="nav-float-right res-center mg-r-20 pointer"><a class="lp" (click)="goCreateListing()">LIST PROPERTY</a></li>
        </ul>
      </div>
    </div>
  </section>
</div>
 <div class="modal fade" bsModal #modalSignup="bs-modal" [config]="{closeOnOutsideClick: 'true',closeOnEscape: 'true'}" (onShown)="setFocus(idUsername)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center"><h3>Register</h3></div>
            </div>
          </div>
          <form id="FormRegistration" [formGroup]="myFormRegister" (ngSubmit)="myFormRegister?.valid && registerThis()" #form="ngForm" novalidate>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group" data-required="true" [ngClass]="{'has-error':!myFormRegister?.controls['username'].valid && myFormRegister?.submitted }">
                <label for="L4GLuwCYSf8PgyE6A" class="control-label">Username</label>
                <input #idUsername type="text" name="username" placeholder="Username" class="form-control" required="" [(ngModel)]="register.username" (change)="changeValue($event, 'username')" required formControlName="username">
                <control-messages [control]="myFormRegister?.controls.username" [field]="'Username'"></control-messages>
                <span *ngIf="usernameError" class="text-danger">{{usernameErrorMessage}}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group" data-required="true" [ngClass]="{'has-error':!myFormRegister?.controls['email'].valid && myFormRegister?.submitted }">
                <label for="N7Hsm7JwmuaPErprJ" class="control-label">Email Address</label>
                <input type="text" name="email" placeholder="Your Email" class="form-control" id="N7Hsm7JwmuaPErprJ" required="" data-schema-key="email" [(ngModel)]="register.email" (change)="changeValue($event, 'email')" required formControlName="email">
                <control-messages [control]="myFormRegister?.controls.email" [field]="'Email Address'"></control-messages>
                <span *ngIf="emailError" class="text-danger">{{emailErrorMessage}}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group" data-required="true" [ngClass]="{'has-error':!myFormRegister?.controls['phone'].valid && myFormRegister?.submitted }">
                  <label for="phone" class="control-label">Mobile Number</label>
                  <input type="tel" name="phone" class="form-control" id="phone" required="" data-schema-key="phone" [(ngModel)]="oldPhone" (change)="changeValue($event, 'phone')" required formControlName="phone" pattern="^(\+[0-9]{1,5})?([1-9][0-9]{9})?[0-9]*$" value="">
                  <!-- <control-messages [control]="myFormRegister?.controls.phone" [field]="'Phone'"></control-messages> -->
                  <span *ngIf="phoneError" class="text-danger">{{phoneErrorMessage}}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group" data-required="true" [ngClass]="{'has-error':!myFormRegister?.controls['password'].valid && myFormRegister?.submitted }">
                <label for="LpyCi9RmpFR8Mr4i8" class="control-label">Password</label>
                <input type="password" name="password" placeholder="Password" class="form-control" id="LpyCi9RmpFR8Mr4i8" required="" data-schema-key="password" [(ngModel)]="register.password" required formControlName="password">
                <control-messages [control]="myFormRegister?.controls.password" [field]="'Password'"></control-messages>
                <span *ngIf="passwordError" class="text-danger">{{passwordErrorMessage}}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group" data-required="true" [ngClass]="{'has-error':!myFormRegister?.controls['passwordConfirmation'].valid && myFormRegister?.submitted }">
                <label for="LPB59n9FoD84vpQf5" class="control-label">Password Confirmation</label>
                <input type="password" name="passwordConfirmation" placeholder="Password Confirmation" class="form-control" id="LPB59n9FoD84vpQf5" required="" data-schema-key="passwordConfirmation" [(ngModel)]="register.passwordConfirmation" (change)="validatePassword($event)" required formControlName="passwordConfirmation">
                <span *ngIf="passwordConfirmationError" class="text-danger">{{passwordConfirmationErrorMessage}}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 dis">
                <button type="submit" class="btn btn-block btn-primary" [disabled]="!myFormRegister?.valid" data-loading-text="Regitering">
                  <h5><i class='fa fa-spinner fa-spin' *ngIf="registerSpinner"></i><b style="margin-left:5px;">Register</b></h5>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" bsModal #modalLogin="bs-modal" [config]="{closeOnOutsideClick: 'true',closeOnEscape: 'true'}"  (onShown)="setFocus(idName)" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">  
<div class="modal-dialog signIn_modal">
    <div class="modal-content">
      <div class="modal-body modal-body-login">
          <!-- {{> atForm}} -->
          <div class="row">
            <div class="col-md-12">
              <div class="text-center"><h3><b>Login</b></h3></div>
            </div>
          </div>
          <button class="btn at-social-btn login-facebook" id="loginWithFacebook" name="facebook" (click)="someFunction()">
            <i class="fa fa-facebook facebookIcon"></i> <span class="label_facebook"><b>Log in with Facebook</b></span>
          </button>
          <div class="horizontal_row">
            <span class="horizontal-line">
              <b>Or</b> <!--Padding is optional-->
            </span>
          </div>
          <div class="alert alert-danger" *ngIf="loginErrorMessage && showValid">
            <strong>{{loginErrorMessage}}</strong>
          </div>
          <form id="signIn" (ngSubmit)="f.form?.valid && login()" #f="ngForm" novalidate>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group" data-required="true" [ngClass]="{'has-error': showValid && f?.submitted && !username.valid }">
                  <input #idName type="text" id="username" name="username" #username="ngModel" placeholder="Email or Username" class="form-control label_field_signin"  [(ngModel)]="model.username"  required focus="true">
                  <div *ngIf="showValid && f?.submitted && !username.valid" class="help-block">User is required</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group" data-required="true" [ngClass]="{'has-error': showValid && f?.submitted && !password.valid }">
                  <input type="password" name="password" placeholder="Password" class="form-control label_field_signin_password" [(ngModel)]="model.password" #password="ngModel" required>
                  <div *ngIf="showValid && f?.submitted && !password.valid" class="help-block">Password is required</div>
                </div>
               </div>
            </div>
            <div class="row">
              <div class="col-md-12 dis">
                <button class="btn btn-block btn-success login-button">
                  <h5><i class='fa fa-spinner fa-spin' *ngIf="loginSpinner"></i><b style="margin-left:5px;">Login</b></h5>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="singup_label dis2">
                <span><b>No account?</b></span><span id="signUp" class="green_label"><a (click)="modalLogin.hide();modalSignup.show();clearModal"><b>Sign up now</b></a></span>
              </div>
            </div>
          </form>
        </div>
        <div class="forgotpassword_div">
          <a (click)="goToForget()"><span id="forgotPassword"><b>Forgot password</b></span></a>
        </div>
    </div>
  </div>
</div>
<div class="modal fade" bsModal #modalConfirmation="bs-modal" (onShown)="setFocus(idUser)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form id="confirm" [formGroup]="myFormConfirmation" (ngSubmit)="myFormConfirmation?.valid && confirmThis()" #form="ngForm" novalidate>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" data-required="true" [ngClass]="{'has-error':!myFormConfirmation?.controls['username'].valid && myFormConfirmation?.controls['username'].touched }">
                <label for="Username" class="control-label">Username</label>
                <input #idUser type="text" name="username" placeholder="Username" class="form-control" data-schema-key="username" [(ngModel)]="confirmation.username" required formControlName="username">
                <div *ngIf="myFormConfirmation?.controls['username'].hasError('required') && myFormConfirmation?.controls['username'].touched" class="help-block">Username is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" data-required="true" [ngClass]="{'has-error':!myFormConfirmation?.controls['email'].valid && myFormConfirmation?.controls['email'].touched }">
                <label for="useremail" class="control-label">Email</label>
                <input type="text" name="email" placeholder="Email" class="form-control" id="userEmail" data-schema-key="username" [(ngModel)]="confirmation.email" required formControlName="email">
                <div *ngIf="myFormConfirmation?.controls['email'].hasError('required') && myFormConfirmation?.controls['email'].touched" class="help-block">Email is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" data-required="true" [ngClass]="{'has-error':!myFormConfirmation?.controls['phone'].valid && myFormConfirmation?.controls['phone'].touched }">
                <label for="AX58tzEFw2GDKR6zf" class="control-label">Mobile Number</label>
                <input type="text" id="phoneMobile" name="phone" class="form-control ng2intltelinput" data-schema-key="phone" [(ngModel)]="confirmation.phone" required formControlName="phone">
                <div *ngIf="myFormConfirmation?.controls['phone'].hasError('required') && myFormConfirmation?.controls['phone'].touched" class="help-block">Phone is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <button type="submit" class="btn btn-block btn-primary" [disabled]="!myFormConfirmation?.valid"><h5>Register</h5></button>
              </div>
              <div class="col-md-6">
                <button id="cancel" type="submit" class="btn btn-block btn-danger" (click)="logout();modalConfirmation.hide()"><h5>Cancel</h5></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
