<div class="row" style="position:relative;margin-left:0px;margin-right:0px;">
  <section id="home" class="change-display">
    <carousel class="carousel-homepage">
      <slide>
        <img src="assets/carousel/background1.jpg" alt="First slide" class="image-carousel">
      </slide>
      <slide>
        <img src="assets/carousel/background2.jpg" alt="Second slide" class="image-carousel">
      </slide>
      <slide>
        <img src="assets/carousel/background3.jpg" alt="Third slide" class="image-carousel">
      </slide>
      <slide>
        <img src="assets/carousel/background4.jpg" alt="Third slide" class="image-carousel">
      </slide>
      <slide>
        <img src="assets/carousel/background5.jpg" alt="Third slide" class="image-carousel">
      </slide>
    </carousel>
  </section>
</div>
<section id="home" class="change-display">
  <div class="container home-z-100 change-position">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <!-- for test send sms  -->
        <!-- <button type="button" id="testSend" class="btn btn-success">Send</button> -->
        <h1 class="text-center color_homepage title-staysmart-homepage color-white"><span>STAY</span>SMART</h1>
        <h3 class="text-center buy-rent color_homepage color-white">rent directly from owner</h3>
        <div class="search-field">
          <form class="searchForm" (ngSubmit)="listing()">
            <div class="row">
              <div class="col-md-12 col-xs-12 search">
                <div class="input-group">
                <input placeholder="Search for condo, neighbourhood or address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
                  <span class="input-group-btn search-property">
                    <button type="submit" id="search" class="btn btn-default btn-search-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-15 col-sm-12 col-xs-12 parent-dropdown five-btn">
                <label class="ck-label color_homepage"> No. of Bedrooms</label>
                <div dropdown>
                  <a class="dropdown-toggle dropdown homea" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="hida" style="display: none;">All</span>
                    <i class="fa fa-caret-down icon_float_right dropdown-result" aria-hidden="true"></i>
                    <p class="multiSel dropdown-result"><span title="1, 2, 3, 4, 5">{{numberBedroom.sort() | capitalizeFirstIfAll}}</span></p>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="sort">
                    <li>
                      <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox first-checkbox-all-browse">
                        <input id="All1" class="styled filter" type="checkbox" name="bedroomRadio" value="all" [checked]="(numberBedroom.indexOf('all') > -1)" (change)="handleClick($event,'bedroom','all')" name="bedroomRadio" value="All">
                        <label for="All1">
                            All
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox7">
                        <input id="1bedroomRadio" class="styled filter" type="checkbox" name="bedroomRadio" value="1" [checked]="(numberBedroom.indexOf(1) > -1)" (change)="handleClick($event,'bedroom','1')">
                        <label for="1bedroomRadio">
                            1 Bedroom
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5">
                        <input id="2bedroomRadio" class="styled filter" type="checkbox" name="bedroomRadio" value="2" [checked]="(numberBedroom.indexOf(2) > -1)" (change)="handleClick($event,'bedroom','2')">
                        <label for="2bedroomRadio">
                            2 Bedrooms
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5">
                        <input id="3bedroomRadio" class="styled filter" type="checkbox" name="bedroomRadio" value="3" [checked]="(numberBedroom.indexOf(3) > -1)" (change)="handleClick($event,'bedroom','3')">
                        <label for="3bedroomRadio">
                            3 Bedrooms
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5">
                        <input id="4bedroomRadio" class="styled filter" type="checkbox" name="bedroomRadio" value="4" [checked]="(numberBedroom.indexOf(4) > -1)" (change)="handleClick($event,'bedroom','4')">
                        <label for="4bedroomRadio">
                            4 Bedrooms
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5 last">
                        <input id="5bedroomRadio" class="styled filter" type="checkbox" name="bedroomRadio" value="5" [checked]="(numberBedroom.indexOf(5) > -1)" (change)="handleClick($event,'bedroom','5')">
                        <label for="5bedroomRadio">
                            5+ Bedrooms
                        </label>
                      </div>
                      </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-15 col-sm-12 col-xs-12 parent-dropdown five-btn">
                <label class="ck-label color_homepage"> No. of Bathrooms</label>
                <div dropdown>
                  <a class="dropdown-toggle dropdown homea" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="hida" style="display: none;">All</span>
                    <i class="fa fa-caret-down icon_float_right dropdown-result" aria-hidden="true"></i>
                    <p class="multiSel dropdown-result"><span title="1, 2, 3, 4, 5">{{numberBathroom.sort() | capitalizeFirstIfAll}}</span></p>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="sort">
                    <li>
                      <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox first-checkbox-all-browse">
                        <input id="All1" class="styled filter" type="checkbox" name="bathroomRadio" value="all" [checked]="(numberBathroom.indexOf('all') > -1)" (change)="handleClick($event,'bathroom','all')">
                        <label for="All1">
                            All
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox7">
                        <input id="1bathroomRadio" class="styled filter" type="checkbox" name="bathroomRadio" value="1" [checked]="(numberBathroom.indexOf(1) > -1)" (change)="handleClick($event,'bathroom','1')">
                        <label for="1bathroomRadio">
                            1 Bathroom
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5">
                        <input id="2bathroomRadio" class="styled filter" type="checkbox" name="bathroomRadio" value="2" [checked]="(numberBathroom.indexOf(2) > -1)" (change)="handleClick($event,'bathroom','2')">
                        <label for="2bathroomRadio">
                            2 Bathrooms
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5">
                        <input id="3bathroomRadio" class="styled filter" type="checkbox" name="bathroomRadio" value="3" [checked]="(numberBathroom.indexOf(3) > -1)" (change)="handleClick($event,'bathroom','3')">
                        <label for="3bathroomRadio">
                            3 Bathrooms
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5">
                        <input id="4bathroomRadio" class="styled filter" type="checkbox" name="bathroomRadio" value="4" [checked]="(numberBathroom.indexOf(4) > -1)" (change)="handleClick($event,'bathroom','4')">
                        <label for="4bathroomRadio">
                            4 Bathrooms
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary hmpg_checkbox browse_checkbox5 last">
                        <input id="5bathroomRadio" class="styled filter" type="checkbox" name="bathroomRadio" value="5" [checked]="(numberBathroom.indexOf(5) > -1)" (change)="handleClick($event,'bathroom','5')">
                        <label for="5bathroomRadio">
                            5+ Bathrooms
                        </label>
                      </div>
                      </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-15 col-sm-12 col-xs-12 parent-dropdown five-btn">
                <label class="ck-label color_homepage">Min Rent/Price</label>
                <div dropdown>
                  <a class="dropdown-toggle dropdown homea" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="hida  dropdown-result">{{pricemin | capitalizeFirstIfAll}}</span>
                    <i class="fa fa-caret-down icon_float_right dropdown-result" aria-hidden="true"></i>
                    <p class="multiSel dropdown-result"><span title="1, 2, 3, 4, 5" style="display: none;"></span></p>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="sort" style="max-height:220px;overflow-y:auto;">
                    <li (click)="handleClickPrice($event,'pricemin','All')">
                      <div class="checkbox checkbox-primary hmpg_checkbox hmp_checkbox_bottom">
                        <input id="minpriceall" class="styled" type="checkbox" name="minpriceRadio" value="All" [checked]="(pricemin == 'all')">
                        <label for="minpriceall">
                          All
                        </label>
                      </div>
                    </li>
                    <li *ngFor = "let price of rangePriceMin" (click)="handleClickPrice($event,'pricemin',price.price)">
                      <div class="checkbox checkbox-primary hmpg_checkbox hmp_checkbox_bottom">
                        <input id="minPrice1" class="styled" type="checkbox" name="minPrice" value="" [checked]="(pricemin == price.price)">
                        <label for="minPrice1">
                          ${{ price.price }},00
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-15 col-sm-12 col-xs-12 parent-dropdown five-btn">
                <label class="ck-label color_homepage">Max Rent/Price</label>
                <div dropdown>
                  <a class="dropdown-toggle dropdown homea" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="hida dropdown-result">{{pricemax | capitalizeFirstIfAll}}</span>
                    <i class="fa fa-caret-down icon_float_right dropdown-result" aria-hidden="true"></i>
                    <p class="multiSel dropdown-result"><span title="1, 2, 3, 4, 5" style="display: none;"></span></p>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="sort" style="max-height:220px;overflow-y:auto;">
                    <li (click)="handleClickPrice($event,'pricemax','All')">
                      <div class="checkbox checkbox-primary hmpg_checkbox hmp_checkbox_bottom">
                        <input id="minpriceall" class="styled" type="checkbox" name="minpriceRadio" value="All" [checked]="(pricemax == 'all')">
                        <label for="minpriceall">
                          All
                        </label>
                      </div>
                    </li>
                      <li *ngFor = "let price of rangePriceMax" (click)="handleClickPrice($event,'pricemax',price.price)">
                        <div class="checkbox checkbox-primary hmpg_checkbox hmp_checkbox_bottom">
                          <input id="minPrice1" class="styled" type="checkbox" name="minPrice" value="" [checked]="(pricemax == price.price)">
                          <label for="minPrice1">
                            ${{ price.price }},00
                          </label>
                        </div>
                      </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-15 col-sm-12 col-xs-12 parent-dropdown five-btn available-date-repsonsive">
                  <label class="ck-label color_homepage available">Available Date</label>
                  <p-calendar [readonlyInput]="true" [(ngModel)]="availableDate" name="available" dateFormat="dd/mm/yy" [showIcon]="true" [placeholder]="'All'" [inputStyle]="{'padding': '5px 10px 0px 10px','height': 'auto','line-height': '22px','background-color': '#fff', 'width': '120px', 'color': '#7c7c7c', 'font-weight': 'bold'}" (click)="handleClickDate($event)"></p-calendar>
                </div>
              <style>
                .full button span {
                  background-color: limegreen;
                  border-radius: 32px;
                  color: black;
                }
                .partially button span {
                  background-color: orange;
                  border-radius: 32px;
                  color: black;
                }
              </style>
              <!-- <div class="col-md-15 col-sm-12 col-xs-12 parent-dropdown five-btn available-date-repsonsive">
                <label class="ck-label color_homepage">Available Date</label>
                <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed">Toggle collapse
                </button>
                <div (collapsed)="collapsed($event)"
                   (expanded)="expanded($event)"
                   [collapse]="isCollapsed"
                   class="card card-block card-header">
                  <pre class="card card-block card-header">Selected date is: <em *ngIf="dt">{{ getDate() | date:'fullDate'}}</em></pre>
                  <h4>Inline</h4>
                  <div style="display:inline-block; min-height:290px;">
                    <datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true" [dateDisabled]="dateDisabled"></datepicker>
                  </div>
                </div>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="commission" class="mg-top-62 res">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 fc-center">
        <div>
          <span class="color-title2">
            <!-- <i class="fa fa-usd" aria-hidden="true"></i> -->
            <span>{{odometer | currency:undefined:true:'1.0-0'}}</span>
             <!-- <ng2-odometer [number]="1000" [observable]="observable"></ng2-odometer> -->
          </span>
        </div>
        <div class="title3">
          <span>IN COMMISSION SAVED</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="recentHome" class="homepage">
  <div class="container normal-flex hidden-xs">
    <div class="col-md-6 flex-auto all-pd-0 important">
      <div class="col-md-12 flex-auto">
        <div class="homepage-listing-st">
          <p><b class="f40">Be the master of your own transactions.</b></p>
          <p><b class="f16">Listing with us helps you unlock more opportunities, and helps your earn more money without the need of agency fees.</b></p>
          <a routerLink="/savings"><button class="btn btn-default btn-search-primary btn-can-save">See how much you can save</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container hidden-xs">
    <div class="row about_us_margin">
      <a (click)="toTop()" id="scrollTop" class="margin_up_about cursor">Back to top</a>
    </div>
    <p class="whyus_transparent underline_aboutus why_us line-about-us"></p>
  </div>
  <div class="container hidden-xs">
    <div class="page-header-top"></div>
    <h1 class="page-header page_header_about"><b>Recent Listings</b></h1>
    <div class="col-md-12 flex-auto">
      
      <div *ngFor="let property of properties" class="col-md-4 flex-auto mg-bot-30 aln-itm-ctr no-flex max-h-286">
        <a routerLink="/property/{{property?._id}}/view">
          <img class="just-test-image recent" alt="" src="{{property.pictures?.living[0].url}}">
          <p class="mg-top-5">
            <span class="f15 f-weight-bold">{{property.development?.name}}</span>
            <span class="color-recent-listing">{{property.address?.street_name}}</span>
            <span class="color-monthly-rental">${{property.details?.price}}</span>
          </p>
        </a>
      </div>
      
    </div>
    <div class="">
      <div class="row about_us_margin">
        <a routerLink="/property/browse?latlng=all&amp;pricemin=all&amp;pricemax=all&amp;bedroom=all&amp;bathroom=all&amp;available=all&amp;sizemin=all&amp;sizemax=all&amp;location=all" class="margin_up_about"> View More Listings </a>
      </div>
      <p class="whyus_transparent underline_aboutus why_us line-about-us"></p>
    </div>
  </div>
  <div class="container hidden-xs">
    <div class="page-header-top"></div>
    <h1 class="page-header page_header_about"><b>Recent Blogs</b></h1>
    <div class="col-md-12 flex-auto">
      <div *ngFor="let blog of blogs" class="col-md-4 flex-auto mg-bot-30 aln-itm-ctr no-flex max-h-286">
        <a (click)="add(blog?.slug)">
          <img class="just-test-image recent" alt="" src={{blog?.cover.url}}>
          <p class="mg-top-5 text-center">
            <span class="f15 f-weight-bold">{{blog?.title}}</span>
          </p>
        </a>
      </div>
    </div>

    <div class="">
      <div class="row about_us_margin">
        <a routerLink="/blog" class="margin_up_about"> View More Articles </a>
      </div>
      <p class="whyus_transparent underline_aboutus why_us line-about-us"></p>
    </div>
  </div>

  <div class="container visible-xs">
    <div class="col-md-12 col-xs-12 mg-top-20">
      <div class="col-md-12 col-xs-12 flex-auto">
        <div class="homepage-listing-st resdicover">
          <p><b class="f40">Be the master of your own rental transactions.</b></p>
          <p><b class="f16">Listing with us helps you unlock more opportunities, and helps your earn more money without the need of agency fees.</b></p>
          <a routerLink="/savings"><button class="btn btn-default btn-search-primary btn-can-save">See how much you can save</button></a>
        </div>
      </div>
    </div>
    <div class="">
      <div class="row about_us_margin">
        <a (click)="toTop()" id="scrollTop" class="margin_up_about cursor">Back to top</a>
      </div>
      <p class="whyus_transparent underline_aboutus why_us line-about-us"></p>
    </div>
  </div>

  <div class="container visible-xs">
    <!-- MOBILE CAROUSEL RECEN LISTING -->
    <h1 class="page-header page_header_about recent"><b>Recent Listings</b></h1>
    <div>
      <section class="regular slider">
        <div *ngIf="propertyOne">
          <a routerLink="/property/{{propertyOne?._id}}/view">
            <img class="just-test-image recent" alt="" src="{{propertyOne.pictures?.living[0].url}}">
            <p class="mg-top-5">
              <span class="f15 f-weight-bold">{{propertyOne.development?.name}}</span>
              <span class="color-recent-listing">{{propertyOne.address?.street_name}}</span>
              <span class="color-monthly-rental">${{propertyOne.details?.price}}</span>
            </p>
          </a>
        </div>
        <div *ngIf="propertyTwo">
          <a routerLink="/property/{{propertyTwo?._id}}/view">
            <img class="just-test-image recent" alt="" src="{{propertyTwo.pictures?.living[0].url}}">
            <p class="mg-top-5">
              <span class="f15 f-weight-bold">{{propertyTwo.development?.name}}</span>
              <span class="color-recent-listing">{{propertyTwo.address?.street_name}}</span>
              <span class="color-monthly-rental">${{propertyTwo.details?.price}}</span>
            </p>
          </a>
        </div>
        <div *ngIf="propertyThree">
          <a routerLink="/property/{{propertyThree?._id}}/view">
            <img class="just-test-image recent" alt="" src="{{propertyThree.pictures?.living[0].url}}">
            <p class="mg-top-5">
              <span class="f15 f-weight-bold">{{propertyThree.development?.name}}</span>
              <span class="color-recent-listing">{{propertyThree.address?.street_name}}</span>
              <span class="color-monthly-rental">${{propertyThree.details?.price}}</span>
            </p>
          </a>
        </div>
      </section>
    </div>
      

<div class="">
  <div class="row about_us_margin">
    <a routerLink="/property/browse?latlng=all&amp;pricemin=all&amp;pricemax=all&amp;bedroom=all&amp;bathroom=all&amp;available=all&amp;sizemin=all&amp;sizemax=all&amp;location=all" class="margin_up_about"> View More Listings </a>
  </div>
  <p class="whyus_transparent underline_aboutus why_us line-about-us"></p>
</div>
</div>
<div class="container visible-xs">
  <h1 class="page-header page_header_about recent"><b>Recent Blogs</b></h1>
  <section class="regular slider">
    <div *ngFor="let blog of blogs">
      <a routerLink="/blog-view/{{blog?.slug}}">
        <img class="just-test-image recent" alt="" src={{blog?.cover.url}}>
        <p class="mg-top-5 text-center">
          <span class="f15 f-weight-bold">{{blog?.title}}</span>
        </p>
      </a>
    </div>
  </section>

<div class="">
  <div class="row about_us_margin">
    <a routerLink="/blog" class="margin_up_about"> View More Blogs </a>
  </div>
  <p class="whyus_transparent underline_aboutus why_us line-about-us"></p>
</div>
</div>

</section>
<section id="about" class="homepage">
  <div class="container">
   <div class="page-header-top"></div>
   <h1 class="page-header page_header_about" id="top-why-us"><b>Why Us</b></h1>
   <div class="hidden-xs">
    <div class="col-md-12 whyus_padding">
      <div class="col-md-4 mg-bot-50">
        <img class="margin_top_img_whyus icon-why-us" width="60%" src="client/include/images/img/why1.png"><br>
        <b class="whyus_p">PAY ONLY WHEN YOU GET RESULTS (AND SAVINGS)</b>
        <p class="whyus_p f13">It cost nothing to list your property. All we ask is for a small fee* from each successful transaction so we can keep this ship running for you.</p>
        <p class="whyus_p f13">
          For tenants, the use of the service is free.</p>
          <p class="smail-font-why_us">10% of market practice. For more information, on our fees and charges, <a routerLink="/fees_charges" class="under-line">please click here.</a></p>
        </div>
        <div class="col-md-4 mg-bot-50">
          <img class="margin_top_img_whyus icon-why-us" width="65%" src="client/include/images/img/why2.png"><br>
          <b class="whyus_p">DIRECT, REAL-TIME COMMUNICATION BETWEEN LANDLORD &amp; TENANT</b>
          <p class="whyus_p f13">Connect with several potential landlords/tenants simultaneously so you can find the best deal. A direct communication channel also prevents miscommunications and speed up the negotiation process.</p>
        </div>
        <div class="col-md-4">
          <img class="margin_top_img_whyus icon-why-us" width="47%" src="client/include/images/img/why3.png"><br>
          <b class="whyus_p">E-SIGN YOUR CONTRACTS REMOTELY, WHEREVER, WHENEVER</b>
          <p class="whyus_p f13">It doesn’t matter whether you’re in Tokyo on holiday or based in Hong Kong for work. With our e-signing and e-documentation capability, you can now sign your leasing contracts anytime, anywhere in the world without ever needing to fly back to Singapore to handle the paperwork.</p>
        </div>
      </div>
      <div class="col-md-12 whyus_padding display-all-flex">
        <div class="col-md-4 col-xs-12 col-sm-12 mg-l-r-auto mg-bot-50-res">
          <img class="margin_top_img_whyus icon-why-us" width="46%" src="client/include/images/img/why4.png"><br>
          <b class="whyus_p">MAKING YOUR PROPERTY WORK HARDER FOR YOU</b>
          <p class="whyus_p f13">Reduce your property’s downtime and missed opportunities by scheduling viewings based on its availability and not your agents’ - who may have other clients and viewings to service or simply be out of town.</p>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-12 mg-l-r-auto">
          <img class="margin_top_img_whyus icon-why-us" width="52.5%" src="client/include/images/img/why5.png"><br>
          <b class="whyus_p">UPCOMING &amp; EXCITING FEATURES</b>
          <p class="whyus_p f13">New &amp; upcoming features to make your transition into a DIY landlord and tenant as seamless and easy as possible!</p>
        </div>
      </div>
      <div class="row about_us_margin">
        <a (click)="toTop()" id="scrollTop" class="margin_up_about cursor">Back to top</a>
      </div>
      <p class="whyus_transparent underline_aboutus why_us line-about-us"></p>
    </div>

    <div class="col-md-12 col-sm-12 whyus_padding visible-xs margin-bot-0">
      <section class="regular slider">
        <div>
          <img class="margin_top_img_whyus icon-why-us display-all-flex margin-auto" width="60%" src="client/include/images/img/why1.png"><br>
          <b class="whyus_p">PAY ONLY WHEN YOU GET RESULTS (AND SAVINGS)</b>
          <p class="whyus_p f13">It cost nothing to list your property. All we ask is for a small fee* from each successful transaction so we can keep this ship running for you.</p>
          <p class="whyus_p f13">For tenants, the use of the service is free.</p>
          <p class="smail-font-why_us mg-bot-30">10% of market practice. For more information, on our fees and charges, <a routerLink="/fees_charges" class="under-line">please click here.</a></p>
        </div>
        <div>
          <img class="margin_top_img_whyus icon-why-us display-all-flex margin-auto" width="65%" src="client/include/images/img/why2.png"><br>
          <b class="whyus_p">DIRECT, REAL-TIME COMMUNICATION BETWEEN LANDLORD &amp; TENANT</b>
          <p class="whyus_p f13 mg-bot-30">Connect with several potential landlords/tenants simultaneously so you can find the best deal. A direct communication channel also prevents miscommunications and speed up the negotiation process.</p>
        </div>
        <div>
          <img class="margin_top_img_whyus icon-why-us display-all-flex margin-auto" width="47%" src="client/include/images/img/why3.png"><br>
          <b class="whyus_p">E-SIGN YOUR CONTRACTS REMOTELY, WHEREVER, WHENEVER</b>
          <p class="whyus_p f13 mg-bot-30">It doesn’t matter whether you’re in Tokyo on holiday or based in Hong Kong for work. With our e-signing and e-documentation capability, you can now sign your leasing contracts anytime, anywhere in the world without ever needing to fly back to Singapore to handle the paperwork.</p>
        </div>
        <div>
          <img class="margin_top_img_whyus icon-why-us display-all-flex margin-auto" width="46%" src="client/include/images/img/why4.png"><br>
          <b class="whyus_p">MAKING YOUR PROPERTY WORK HARDER FOR YOU</b>
          <p class="whyus_p f13 mg-bot-30">Reduce your property’s downtime and missed opportunities by scheduling viewings based on its availability and not your agents’ - who may have other clients and viewings to service or simply be out of town.</p>
        </div>
        <div>
          <img class="margin_top_img_whyus icon-why-us display-all-flex margin-auto" width="52.5%" src="client/include/images/img/why5.png"><br>
          <b class="whyus_p">UPCOMING &amp; EXCITING FEATURES</b>
          <p class="whyus_p f13 mg-bot-30">New &amp; upcoming features to make your transition into a DIY landlord and tenant as seamless and easy as possible!</p>
        </div>
      </section>

      <div class="row about_us_margin">
        <a (click)="toTop()" id="scrollTop" class="margin_up_about cursor">Back to top</a>
      </div>
      <p class="whyus_transparent underline_aboutus why_us line-about-us"></p>
    </div>
    <h1 class="page-header page_header_about" id="top-how-staysmart-works"><b>How Staysmart Works</b></h1>
    <div class="col-md-12 col-sm-12 col-xs-12 mg-l-15 hidden-xs">
      <div class="col-md-6 col-sm-6 col-xs-6 div-box-hws-pd0 pd-r-30">
        <div class="col-md-6 col-sm-12 col-xs-12 div-box-hws-pd0 bd-gray-light bd-r-0">
          <div class="col-md-12 col-sm-6 col-xs-6 display-all-flex pd-left-5">
            <div class="col-md-12 col-sm-6 col-xs-6 div-box-hws-pd0"><img src="client/include/images/img/hws_landlord.png" class="max-width-230"></div>
          </div>
          <div class="col-md-12 col-sm-6 col-xs-6 div-box-hws-pd0 height-129">
            <h5 class="full-width-100 font-weight-bold mg-bot-0">LIST</h5>
            <h5 class="full-width-100 mg-top-5 pd-left-right-30 lh-1half">Landlords can list theirs properties in 5 easy steps via Staysmart verification system.</h5>
          </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12 div-box-hws-pd0 bd-gray-light bd-l-0">
          <div class="col-md-12 col-sm-12 col-xs-12 div-box-hws-pd0 display-all-flex">
            <div class="col-md-12 col-sm-6 col-xs-6 div-box-hws-pd0"><img src="client/include/images/img/hws_tenant.png" class="pd-top-2"></div>
          </div>
          <div class="col-md-12 col-sm-6 col-xs-6 div-box-hws-pd0 height-129">
            <h5 class="full-width-100 font-weight-bold mg-bot-0">SEARCH</h5>
            <h5 class="full-width-100 mg-top-5 lh-1half pd-left-right-5">Tenants search for dream property in no time via Staysmart filter function.</h5>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-xs-12 div-box-hws-pd0 pd-r-30 mg-left-m20">
        <div class="col-md-12 col-sm-12 col-xs-12 div-box-hws-pd0 bd-gray-light">
          <div class="col-md-12 col-sm-12 col-xs-12 display-all-flex div-box-hws-pd0">
            <div class="col-md-12 col-sm-12 col-xs-12 div-box-hws-pd0"><img src="client/include/images/img/hws_negotiate.png" class="pd-top-2"></div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 div-box-hws-pd0 height-129">
            <h5 class="full-width-100 font-weight-bold mg-bot-0 pd-left-right-5">LANDLORD-TENANT NEGOTIATION</h5>
            <h5 class="full-width-100 mg-top-5 pd-left-right-30 lh-1half">Speed up the negotiation process via Staysmart real-time chat system.</h5>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-xs-12 div-box-hws-pd0 pd-r-30 mg-left-20">
        <div class="col-md-12 col-sm-12 col-xs-12 div-box-hws-pd0 bd-gray-light">
          <div class="col-md-12 col-sm-12 col-xs-12 display-all-flex div-box-hws-pd0">
            <div class="col-md-12 col-sm-6 col-xs-6 div-box-hws-pd0"><img src="client/include/images/img/hws_sign.png" class="pd-left-5"></div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 div-box-hws-pd0">
            <h5 class="full-width-100 font-weight-bold mg-bot-0 pd-left-right-5">E-SIGN</h5>
            <h5 class="full-width-100 mg-top-5 pd-left-right-30 lh-1half">Seal the deal whenever and whenever through Staysmart e-signing and e-documentation capabilities.</h5>
          </div>
        </div>
      </div>
    </div>

<div class="col-md-12 col-sm-12 whyus_padding visible-xs margin-bot-0">
  <section class="regular slider">
    <div>
      <div class="col-md-12 col-sm-12 col-xs-12 display-all-flex pd-left-5">
        <div class="col-md-12 col-sm-12 col-xs-12 div-box-hws-pd0 width-100"><img src="client/include/images/img/hws_landlord.png" class="max-width-230 margin-auto"></div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 div-box-hws-pd0 height-129">
        <h5 class="full-width-100 font-weight-bold mg-bot-0">LIST</h5>
        <h5 class="full-width-100 mg-top-5 pd-left-right-30 lh-1half">Landlords can list theirs properties in 5 easy steps via Staysmart verification system.</h5>
      </div>
    </div>
    <div>
      <div class="col-md-12 col-sm-12 col-xs-12 display-all-flex pd-left-5">
        <div class="col-md-12 col-sm-12 col-xs-12 div-box-hws-pd0 width-100"><img src="client/include/images/img/hws_tenant.png" class="max-width-230 margin-auto"></div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 div-box-hws-pd0 height-129">
        <h5 class="full-width-100 font-weight-bold mg-bot-0">SEARCH</h5>
        <h5 class="full-width-100 mg-top-5 pd-left-right-30 lh-1half">Tenants search for dream property in no time via Staysmart filter function.</h5>
      </div>
    </div>
    <div>
      <div class="col-md-12 col-sm-12 col-xs-12 display-all-flex pd-left-5">
        <div class="col-md-12 col-sm-12 col-xs-12 div-box-hws-pd0 width-100"><img src="client/include/images/img/hws_negotiate.png" class="max-width-230 margin-auto"></div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 div-box-hws-pd0 height-129">
        <h5 class="full-width-100 font-weight-bold mg-bot-0">LANDLORD-TENANT NEGOTIATION</h5>
        <h5 class="full-width-100 mg-top-5 pd-left-right-30 lh-1half">Speed up the negotiation process via Staysmart real-time chat system.</h5>
      </div>
    </div>
    <div>
      <div class="col-md-12 col-sm-12 col-xs-12 display-all-flex pd-left-5">
        <div class="col-md-12 col-sm-12 col-xs-12 div-box-hws-pd0 width-100"><img src="client/include/images/img/hws_sign.png" class="max-width-230 margin-auto"></div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 div-box-hws-pd0 height-129">
        <h5 class="full-width-100 font-weight-bold mg-bot-0">E-SIGN</h5>
        <h5 class="full-width-100 mg-top-5 pd-left-right-30 lh-1half">Seal the deal whenever and whenever through Staysmart e-signing and e-documentation capabilities.</h5>
      </div>
    </div>
  </section>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 col_md_aboutus col_md_center mg-top-20">
  <p class="justify-text f12 content-hws-mg-btm">*To safeguard the interest of our users, collections of Good Faith Deposit (GFD) and Security Deposit (SD), if any, will be held with Staysmart, until final conclusion of the Letter of Intent (LOI) or Tenancy Agreement (TA) respectively. In the event the final terms of the contracts are non-observed or unable to be concluded, we reserve the right to penalise or refund the amounts collected to the respective users based on market practice. For more information on the market practice, <a routerLink="/fees_charges" class="under-line">please click here.</a></p>
</div>
<div class="row about_us_margin">
  <div class="col-md-12 col-sm-12 col-xs-12"><a (click)="toTop()" id="scrollTop" class="margin_up_about cursor">Back to top</a></div>
</div>
</div>
</section>