<div id="content" [class]="contentClass">
    <div class="payment mg-bot-10">
        <h4>Upload Stamp Certificate</h4>
        <h5 class="font-bold">Stamp Certificate</h5>
        <dropzone
             [element]="'#dropzone'"
             [clickable]="'#dropzone'"
             [acceptedFiles]="'image/*'"
             [uploadMultiple]="'false'"
             [autoProcessQueue]="'false'"
             [url]="'http://localhost:5000/api/v1/attachments'"
             (sending)="handleFileSending($event, 'image')"
             (success)="handleFileSuccess($event, 'image')"
             (addedfile)="handleFileAdded($event)"
             (removedfile)="handleFileRemoved($event)"
             (error)="handleFileFailure($event, 'image')"
            >
        </dropzone>
        <div id="dropzone" class="dropzone"></div>
        <button class="btn btn-light-green m-r-5 m-b-5 mg-top-10">Save</button>
        <button class="btn btn-primary m-r-5 m-b-5 mg-top-10">Back</button>
    </div>
</div>