<div class="container">
  	<p class="current-list between-navbar why-us">
	    <a routerLink="/">Home</a>
	    <a routerLink="/inventory/Rwqk6EqFkRWMtXEL4">&gt; Inventory List</a>
  	</p>
</div>
<!-- IF STATUS NOT COMPLETED -->
<div *ngIf="!status">
  	<div class="container create-listing inventory-list">
    	<div class="row">
      		<div class="title text-center">
        		<h2> INVENTORY LIST </h2>
      		</div>
      		<div class="subtitle text-center"></div>
    	</div>
    	<div id="rootwizard">
      		<!-- TENANT VIEW -->
      		<div *ngIf="tenant">
        		<div class="stepwizard">
          			<div class="stepwizard-row setup-panel">
            			<ul class="nav nav-pills">
              				<li class="stepwizard-step inventory-list-second preview-inven active" id="t2">
                				<a href="#tab2" data-toggle="tab" type="button" class="btn btn-circle" aria-expanded="true"><i class="fa fa-check" aria-hidden="true"></i></a>
                				<p><b>Step 1</b>
                  				<br>Preview &amp; Sign-off
                				</p>
              				</li>
            			</ul>
          			</div>
        		</div>
      		</div>
      		<!-- LANDLORD VIEW -->
      		<div *ngIf="landlord">
        		<div class="stepwizard">
          			<div class="stepwizard-row setup-panel">
            			<ul class="nav nav-pills">
              				<li class="stepwizard-step inventory-list-first" [ngClass]="{'active': isStep == 1, 'done': isStep > 1}">
                				<a type="button" class="btn btn-circle"><i class="fa fa-check"></i></a>
                				<p><b>Step 1</b>
                  				<br>Inventory Information
                				</p>
              				</li>
              				<li class="stepwizard-step inventory-list-second" [ngClass]="{'active': isStep == 2}">
                				<a type="button" class="btn btn-circle"><i class="fa fa-check"></i></a>
                				<p><b>Step 2</b>
                  				<br>Preview &amp; Sign-off
                				</p>
              				</li>
            			</ul>
          			</div>
        		</div>
      		</div>
      		<div class="tab-content">
		        <div *ngIf="landlord" class="tab-pane" [ngClass]="{'active': isStep == 1}">
		        	<form [formGroup]="myForm" name="form" #f="ngForm" novalidate>
			          	<div class="col-md-12 col-sm-12 col-xs-12 vcenter">
			            	<div class="upload-title inventory">Inventory List</div>
			          	</div>
	          			<div id="appendColumn">
	              			<div formArrayName="lists">
	                			<div *ngFor="let lists of myForm.controls.lists.controls; let a=index ">
	                  				<div [formGroupName]="a">
	                    				<div class="col-md-12 col-sm-12 col-xs-12 vcenter">
	                      					<div class="table-responsive">
	                          					<div formArrayName="items">
	                            					<table class="table table-hover table-bordered table-inventory">
	                              						<thead class="head-inventory">
	                                						<tr>
	                                  							<td colspan="8" class="title-color">
	                                    							<span class="float-left after-add-section"> {{name[a]}} </span>
	                                    							<button type="button" name="removeArea" class="pull-right btn btn-danger add remove-section" (click)="removeLists(a,name[a])">
	                                      								<span class="fa fa-times"></span>
	                                    							</button>
	                                  							</td>
	                                						</tr>
	                              						</thead>
	                              						<thead class="title-head-bg">
	                                						<tr class="tr-class-title">
									                            <td class="align-center first-td responsive">S/NO</td>
									                            <td class="align-center second-td responsive">ITEM</td>
									                            <td class="align-center third-td title responsive">QUANTITY</td>
									                            <td class="align-center four-td title responsive" colspan="3">REMARKS</td>
									                            <td class="align-center five-td title responsive">CONFIRMATION</td>
									                            <td class="six-td"></td>
	                                						</tr>
	                              						</thead>
	                              						<tbody>
	                                						<tr class="tr-class-title" *ngFor="let item of myForm.controls.lists.controls[a].controls.items.controls; let b=index ">
	                                  							<td class="align-center first-td middle">
	                                    							<div class="sno-pd-top">{{b+1}}</div>
	                                  							</td>
	                                  							<td class="align-center second-td" [formGroupName]="b">
	                                  								<div *ngIf="attachmentUrl[a][b]">
	                                  									<div *ngFor="let attachment of attachmentUrl[a][b]" class="col-md-10 step3-no-padding-company upload-file-box-2 shareholder inventory-step1">
		                                    								<img [src]="attachment" width="50" height="50" class="item-img-step1">
		                                    								<button (click)="removeAttachment(a,b)" idx="0" value="00" class="item-inventory">Remove File</button>
		                                    							</div>
	                                  								</div>
	                                    							<div class="row input-group">
	                                      								<span class="input-group-btn">
	                                        								<button class="btn btn-info btn-upload-item" (click)="showModal(a,b)"><i class="fa fa-camera"></i></button>
	                                      								</span>
	                                      								<input formControlName="name" name="name" class="form-control input-sm form-small-ivn-step1" type="text" placeholder="Description">
	                                    							</div>
	                                  							</td>
									                            <td class="align-center third-td result" [formGroupName]="b">
									                                <input formControlName="quantity" name="quantity" class="form-control input-sm quantity-form-small" min="0" max="100" type="number">
									                           	</td>
									                           	<td class="align-center four-td" colspan="3" [formGroupName]="b">
									                             	<textarea formControlName="remark" id="remark" name="remark" rows="6" class="form-control txt-area-ivn-step1"></textarea>
									                           	</td>
									                           	<td class="align-center five-td" [formGroupName]="b">
									                             	<div class="checkbox checkbox-primary ivn-step1">
									                             		<p-checkbox formControlName="landlord_check" binary="true" class="styled chk-bk-confirm"></p-checkbox>
									                             		<!-- <input name="confirm_by_tenant" class="styled chk-bk-confirm" type="checkbox"> -->
									                             	</div>
									                           	</td>
									                           	<td class="six-td"><i (click)="removeItem(a, b)" class="fa fa-trash-o icon-trash" aria-hidden="true"></i></td>
									                        </tr>
									                        <tr>
									                          	<td class="align-center first-td"><i (click)="addItem(a)" class="fa fa-plus-square icon-plus-square gray"></i></td>
									                          	<td class="align-center second-td"></td>
									                          	<td class="align-center third-td"></td>
									                          	<td class="align-center four-td" colspan="3"></td>
									                          	<td class="align-center five-td"></td>
									                          	<td class="six-td"></td>
									                        </tr>
	                              						</tbody>
	                            					</table>
	                          					</div>
	                      					</div>
	                    				</div>
	                  				</div>
	                			</div>
	              			</div>
	          			</div>
	          			<div class="modal fade upload-inventory" bsModal #modalAttachment="bs-modal" (onHide)="removeDropzone(customDropzone)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-body">
										<div *ngIf="list != null && item != null">
											<h3>Upload Item Photo</h3>
											<div id="dropzone" class="dropzone"></div>
											<dropzone #customDropzone *ngIf="list != null && item != null"
											[element]="'#dropzone'"
										 	[clickable]="'#dropzone'"
											[acceptedFiles]="'image/*'"
											[uploadMultiple]="'false'"
											[autoProcessQueue]="'false'"
											[url]="link"
											[headers]="header"
											(sending)="handleFileSending($event)"
											(success)="handleFileSuccess($event)"
											(addedfile)="handleFileAdded($event)"
											(removedfile)="handleFileRemoved($event)"
											(error)="handleFileFailure($event)"
											></dropzone>
											<button *ngIf="add" id="addPhoto" class="btn btn-success add-img-inven" (click)="addAttachment(list,item);modalAttachment.hide()">Add</button>
											<button *ngIf="!add" disabled="true" id="addPhoto" class="btn btn-success add-img-inven" (click)="addAttachment(list,item);modalAttachment.hide()">Add</button>
										</div>
									</div>
								</div>
							</div>
						</div>
	          			<div class="col-md-12 col-sm-12 col-xs-12 vcenter">
	          				<div class="upload-title-2 btn btm ivn-step1" (click)="isCollapsed = !isCollapsed">
				              	<i class="fa fa-plus-square icon-plus-square white" aria-hidden="true"></i> <span>Add Section</span>
				            </div>
				            <div [collapse]="isCollapsed">
								<div class="table-responsive table-overflow">
                      				<table class="table table-hover table-bordered table-inventory">
                        				<thead class="head-inventory">
						             	    <tr>
							         	        <td colspan="8" class="title-color">
							         	          	<span class="float-left">Select Section/area to add</span>
							         	          	<span class="btn-sm close-add-or-select" (click)="isCollapsed = !isCollapsed"><i class="fa fa-times" aria-hidden="true"></i></span>
							         	        </td>
						             	    </tr>
                        				</thead>
						             	<tbody id="inputAreaName">
						             	  	<tr>
							         	        <td colspan="6" class="option-slct-inv-step1 no-border">
							         	          	<select name="name" [(ngModel)]="model.name" [ngModelOptions]="{standalone: true}" class="browser-default form-control slct-border">
								     	                <option value="">Select a section/area from list</option>
								     	                <option value="Living Room">Living Room</option>
								     	                <option value="Dining Room">Dining Room</option>
								     	                <option value="Kitchen (Wet)">Kitchen (Wet)</option>
								     	                <option value="Kitchen (Dry)">Kitchen (Dry)</option>
								     	                <option value="Bedroom">Bedroom</option>
								     	                <option value="Toilet">Toilet</option>
								     	                <option value="Accessories">Accessories</option>
								     	                <option value="Others">Others</option>
							         	          	</select>
							         	        </td>
						             	    	<td colspan="2" class="no-border">
						             	      		<button class="btn color-blue" (click)="getName(model.name);">
						             	        		Add
						             	      		</button>
						             	    	</td>
						             	  	</tr>
						             	</tbody>
                      				</table>
                    			</div>
							</div>
	          			</div>
	          			<ul class="pager wizard inv">
					        <li class="previous disabled"><a>Previous</a></li>
					        <li class="next pull-right pointer" (click)="next(myForm.value)"><a>Next</a></li>
		        		</ul>
        			</form>
        		</div>
        		<div *ngIf="landlord" class="tab-pane" [ngClass]="{'active': isStep == 2}">
          			<div class="col-md-12 col-sm-12 col-xs-12 vcenter">
            			<div class="upload-title inventory">
              				Preview
            			</div>
            			<div class="col-md-12 col-sm-12 col-xs-12 no-padding-inv">
              				<div class="table-responsive">
	              				<div>
	              					<table class="table table-hover table-bordered table-inventory" *ngFor="let list of model.lists let z = index ">
					                  	<thead class="head-inventory">
						                    <tr>
						                      	<td colspan="8" class="title-color">
						                        	<span class="float-left">{{list.name}}</span>
						                      	</td>
						                    </tr>
					                  	</thead>
					                  	<thead class="title-head-bg">
					                    	<tr class="tr-class-title">
						                      	<td class="align-center first-td il">S/NO</td>
						                     	<td class="align-center second-td">ITEM</td>
						                      	<td class="align-center third-td">QUANTITY</td>
						                      	<td class="align-center four-td" colspan="3">REMARKS</td>
						                      	<!-- {{#unless checkSign}} -->
						                      	<td class="align-center five-td">CONFIRMATION LANDLORD</td>
						                      	<td class="align-center five-td">CONFIRMATION TENANT</td>
						                      	<!-- {{/unless}} -->
					                    	</tr>
					                  	</thead>
	                  					<tbody>
						                    <tr class="tr-class-title" *ngFor="let item of list.items; let i = index ">
						                      	<td class="align-center first-td middle">
						                        	<div class="sno-pd-top step2">{{i+1}}</div>
						                      	</td>
						                      	<td class="align-center second-td result-image">
						                        	<div class="row">
						                        		<div class="form-group" *ngFor="let attachment of attachmentUrl[z][i]">
						                        			<img src="{{attachment}}" width="50" height="50" class="item-img-step2">
						                        		</div>
						                        	</div>
						                        	<div class="titel-item-width">
						                          		<div class="title-item-step2">{{item?.name}}</div>
						                        	</div>
						                      	</td>
						                      	<td class="align-center third-td result-quantity">
						                        	<div class="quantity-inv-step2">{{item?.quantity}}</div>
						                      	</td>
						                      	<td class="align-center four-td inv-step2 width-25" colspan="3">
							                        <div class="div-for-span">
							                          	<div class="remarks-inv-step2">{{item?.remark}}</div>
							                        </div>
						                      	</td>
						                      	<td class="align-center five-td inv-step2">
						                        	<div class="step2 checkbox checkbox-primary ivn-step1">
						                          		<p-checkbox binary="true" [(ngModel)]="model.lists[z].items[i].landlord_check" disabled="true" class="styled chk-bk-confirm"></p-checkbox>
						                        	</div>
						                      	</td>
						                      	<td class="align-center five-td inv-step2">
						                        	<div class="step2 checkbox checkbox-primary ivn-step1">
						                          		<!-- for landlord -->
						                          		<p-checkbox *ngIf="landlord" binary="true" disabled="true" class="styled chk-bk-confirm"></p-checkbox>
						                          		<!-- for tenant -->
						                        	</div>
						                      	</td>
						                    </tr>
	                  					</tbody>
	                				</table>
	              				</div>
              				</div>
            			</div>
            			<div class="row sign-inventory text-center">
              				<div class="col-md-12 col-sm-6 col-xs-12"></div>
              				<div class="col-md-12 col-sm-6 col-xs-12">
                			<!-- if landlord view -->
                				<div *ngIf="landlord">
                  					<div class="text-sign">LANDLORD SIGN</div>
                  					<div class="landlord-sign">
                    				<!-- if landlord !confirmation -->
                    					<div *ngIf="!model.confirmation">
                      						<div class="col-sm-12">
                        						<label for="landlordSignCanvas" class="control-label">Sign Here</label>
                      						</div>
                      						<signature></signature>
                    					</div>
                    				<!-- if landlord confirmation -->
                    					<img *ngIf="model.confirmation" [src]="model.confirmation.landlord.sign" class="after-img-sign">
                  					</div>
                				</div>
                				<!-- if tenant view -->
                				<div *ngIf="tenant">
                  					<div class="text-sign">TENANT SIGN</div>
                  					<div class="tenant-sign">
                    					<div class="col-sm-12">
                      						<label for="tenantSignCanvas" class="control-label">Sign Here</label>
                    					</div>
                    					<signature></signature>
                  					</div>
                				</div>
              				</div>
            			</div>
            			<!-- SIGANTURE IDENTITY -->
            			<div class="row sign-inventory text-center">
              				<div class="col-md-6 col-sm-6 col-xs-12 centering">
                				<!-- if landlord view -->
                				<table class="table table-hover" *ngIf="landlord">
				                  	<tr>
					                    <td class="font-bold-tenant">LANDLORD NAME </td>
					                    <td>Jack</td>
				                  	</tr>
				                  	<tr>
					                    <td class="font-bold-tenant">ID NO </td>
					                    <td>h1vg321h2j3b2</td>
				                  	</tr>
				                  	<tr>
					                    <td class="font-bold-tenant">DATE </td>
					                    <td>13/03/2017</td>
				                  	</tr>
				                </table>
                				<!-- if tenant view -->
                				<table class="table table-hover" *ngIf="tenant">
				                  	<tr>
				                    	<td class="font-bold-tenant">TENANT NAME </td>
				                    	<td>DENNIS</td>
				                  	</tr>
				                  	<tr>
				                    	<td class="font-bold-tenant">ID NO </td>
				                    	<td>h1vg321h2j3b2</td>
				                  	</tr>
				                  	<tr>
				                    	<td class="font-bold-tenant">DATE </td>
				                    	<td>13/03/2017</td>
				                  	</tr>
				                </table>
              				</div>
            			</div>
          			</div>
          			<ul class="pager wizard inv">
					    <li class="previous pointer" (click)="prev()"><a>Previous</a></li>
          				<li class="next pull-right finish pointer">
          					<a (click)="create()">
          						<span *ngIf="loading"><i class='fa fa-spinner fa-spin '></i> Please Wait</span>
            					<span *ngIf="!loading">Save</span>
            				</a>
            			</li>
	        		</ul>
        		</div>
        		<div *ngIf="tenant" class="tab-pane" [ngClass]="{'active': isStep == 1}">
          			<div class="col-md-12 col-sm-12 col-xs-12 vcenter">
            			<div class="upload-title inventory">
              				Preview
            			</div>
            			<div class="col-md-12 col-sm-12 col-xs-12 no-padding-inv">
              				<div class="table-responsive">
	              				<div>
	              					<table class="table table-hover table-bordered table-inventory" *ngFor="let list of model.lists let z = index ">
					                  	<thead class="head-inventory">
						                    <tr>
						                      	<td colspan="8" class="title-color">
						                        	<span class="float-left">{{list.name}}</span>
						                      	</td>
						                    </tr>
					                  	</thead>
					                  	<thead class="title-head-bg">
					                    	<tr class="tr-class-title">
						                      	<td class="align-center first-td il">S/NO</td>
						                     	<td class="align-center second-td">ITEM</td>
						                      	<td class="align-center third-td">QUANTITY</td>
						                      	<td class="align-center four-td" colspan="3">REMARKS</td>
						                      	<!-- {{#unless checkSign}} -->
						                      	<td class="align-center five-td">CONFIRMATION LANDLORD</td>
						                      	<td class="align-center five-td">CONFIRMATION TENANT</td>
						                      	<!-- {{/unless}} -->
					                    	</tr>
					                  	</thead>
	                  					<tbody>
						                    <tr class="tr-class-title" *ngFor="let item of list.items; let i = index ">
						                      	<td class="align-center first-td middle">
						                        	<div class="sno-pd-top step2">{{i+1}}</div>
						                      	</td>
						                      	<td class="align-center second-td result-image">
						                        	<div class="row">
						                        		<div class="form-group" *ngFor="let attachment of item.attachments">
						                        			<img src="{{attachment.url}}" width="50" height="50" class="item-img-step2">
						                        		</div>
						                        	</div>
						                        	<div class="titel-item-width">
						                          		<div class="title-item-step2">{{item?.name}}</div>
						                        	</div>
						                      	</td>
						                      	<td class="align-center third-td result-quantity">
						                        	<div class="quantity-inv-step2">{{item?.quantity}}</div>
						                      	</td>
						                      	<td class="align-center four-td inv-step2 width-25" colspan="3">
							                        <div class="div-for-span">
							                          	<div class="remarks-inv-step2">{{item?.remark}}</div>
							                        </div>
						                      	</td>
						                      	<td class="align-center five-td inv-step2">
						                        	<div class="step2 checkbox checkbox-primary ivn-step1">
						                          		<p-checkbox binary="true" [(ngModel)]="model.lists[z].items[i].landlord_check" disabled="true" class="styled chk-bk-confirm"></p-checkbox>
						                        	</div>
						                      	</td>
						                      	<td class="align-center five-td inv-step2">
						                        	<div class="step2 checkbox checkbox-primary ivn-step1">
						                          		<p-checkbox value="{{z}}" [(ngModel)]="selectedValue" (click)="getSelected(list?._id,item?._id)" class="styled chk-bk-confirm"></p-checkbox>
						                        	</div>
						                      	</td>
						                    </tr>
	                  					</tbody>
	                				</table>
	              				</div>
              				</div>
            			</div>
            			<div class="row sign-inventory text-center">
              				<div class="col-md-12 col-sm-6 col-xs-12"></div>
              				<div class="col-md-12 col-sm-6 col-xs-12">
                			<!-- if landlord view -->
                				<div *ngIf="landlord">
                  					<div class="text-sign">LANDLORD SIGN</div>
                  					<div class="landlord-sign">
                    				<!-- if landlord !confirmation -->
                    					<div>
                      						<div class="col-sm-12">
                        						<label for="landlordSignCanvas" class="control-label">Sign Here</label>
                      						</div>
                      						<signature></signature>
                    					</div>
                    				<!-- if landlord confirmation -->
                    					<img src="" class="after-img-sign">
                  					</div>
                				</div>
                				<!-- if tenant view -->
                				<div *ngIf="tenant">
                  					<div class="text-sign">TENANT SIGN</div>
                  					<div class="tenant-sign">
                    					<div class="col-sm-12">
                      						<label for="tenantSignCanvas" class="control-label">Sign Here</label>
                    					</div>
                    					<signature></signature>
                  					</div>
                				</div>
              				</div>
            			</div>
            			<!-- SIGANTURE IDENTITY -->
            			<div class="row sign-inventory text-center">
              				<div class="col-md-6 col-sm-6 col-xs-12 centering">
                				<!-- if landlord view -->
                				<table class="table table-hover" *ngIf="landlord">
				                  	<tr>
					                    <td class="font-bold-tenant">LANDLORD NAME </td>
					                    <td>Jack</td>
				                  	</tr>
				                  	<tr>
					                    <td class="font-bold-tenant">ID NO </td>
					                    <td>h1vg321h2j3b2</td>
				                  	</tr>
				                  	<tr>
					                    <td class="font-bold-tenant">DATE </td>
					                    <td>13/03/2017</td>
				                  	</tr>
				                </table>
                				<!-- if tenant view -->
                				<table class="table table-hover" *ngIf="tenant">
				                  	<tr>
				                    	<td class="font-bold-tenant">TENANT NAME </td>
				                    	<td>DENNIS</td>
				                  	</tr>
				                  	<tr>
				                    	<td class="font-bold-tenant">ID NO </td>
				                    	<td>h1vg321h2j3b2</td>
				                  	</tr>
				                  	<tr>
				                    	<td class="font-bold-tenant">DATE </td>
				                    	<td>13/03/2017</td>
				                  	</tr>
				                </table>
              				</div>
            			</div>
          			</div>
          			<ul class="pager wizard inv">
			            <li class="next pull-right finish pointer">
			            	<a (click)="createTenant()">
			            		<span *ngIf="loading"><i class='fa fa-spinner fa-spin '></i> Please Wait</span>
            					<span *ngIf="!loading">Save</span>
			            	</a>
			            </li>
	        		</ul>
        		</div>
      		</div>
    	</div>
  	</div>
</div>
<!-- IF STATUS COMPLETED -->
<div *ngIf="status">
  	<div class="container create-listing">
    	<div class="row">
      		<div class="header-letter">
      			<a routerLink="/" class=""><img src="/client/include/images/logo2.png"></a>
        		<a class="font-style-staysmart"><span class="lg-green">STAY</span>SMART</a>
     		 </div>
      		<div class="title text-center">
        		<h2> INVENTORY LIST </h2>
      		</div>
    	</div>
    	<div id="rootwizard">
      		<div class="stepwizard mg-top-70">
        		<div class="stepwizard-row setup-panel vsb-hdn">
          			<ul class="nav nav-pills">
            			<li class="stepwizard-step inventory-list-second preview-inven active" id="t2">
              				<a href="#tab2" data-toggle="tab" type="button" class="btn btn-circle" aria-expanded="true"><i class="fa fa-check" aria-hidden="true"></i></a>
              				<p><b>Step 1</b><br>Preview &amp; Sign-off</p>
            			</li>
          			</ul>
        		</div>
      		</div>
      		<div class="tab-content">
        		<div class="col-md-12 col-sm-12 col-xs-12 vcenter">
          			<div class="upload-title inventory">Preview</div>
          			<div class="col-md-12 col-sm-12 col-xs-12 no-padding-inv">
	            		<div class="table-responsive">
	              			<table class="table table-hover table-bordered table-inventory" *ngFor="let list of status.lists let z = index ">
	                			<thead class="head-inventory">
				                  	<tr>
					                    <td colspan="8" class="title-color">
					                      	<span class="float-left">Toilet</span>
					                    </td>
				                  	</tr>
				                </thead>
	                			<thead class="title-head-bg">
				                  	<tr class="tr-class-title">
					                    <td class="align-center first-td il">S/NO</td>
					                    <td class="align-center second-td">ITEM</td>
					                    <td class="align-center third-td">QUANTITY</td>
					                    <td class="align-center four-td" colspan="3">REMARKS</td>
					                    <td class="align-center five-td">CONFIRMATION LANDLORD</td>
					                    <td class="align-center five-td">CONFIRMATION TENANT</td>
				                  	</tr>
				                </thead>
	                			<tbody>
				                  	<tr class="tr-class-title" *ngFor="let item of list.items; let i = index ">
					                    <td class="align-center first-td middle">
					                      	<div class="sno-pd-top step2">{{i+1}}</div>
					                    </td>
					                    <td class="align-center second-td result-image">
					                      	<div class="row">
					                      		<div class="form-group" *ngFor="let attachment of item.attachments">
				                        			<img src="{{attachment.url}}" width="50" height="50" class="item-img-step2">
				                        		</div>
					                      	</div>
					                      	<div class="titel-item-width">
					                        	<div class="title-item-step2">{{item?.name}}</div>
					                      	</div>
					                    </td>
					                    <td class="align-center third-td result-quantity">
					                      	<div class="quantity-inv-step2">{{item?.quantity}}</div>
					                    </td>
					                    <td class="align-center four-td inv-step2 width-25" colspan="3">
					                      	<div class="div-for-span">
					                        	<div *ngIf="item?.remark != null" class="remarks-inv-step2">{{item?.remark}}</div>
					                        	<div *ngIf="item?.remark == null" class="remarks-inv-step2">-</div>
					                      	</div>
					                    </td>
					                    <td class="align-center five-td inv-step2">
					                      	<div class="step2 checkbox checkbox-primary ivn-step1">
					                        	<img [src]="status.confirmation.landlord.sign" height="50px">
					                      	</div>
					                    </td>
					                    <td class="align-center five-td inv-step2">
					                      	<div class="step2 checkbox checkbox-primary ivn-step1">
					                        	<img [src]="status.confirmation.tenant.sign" height="50px">
					                      	</div>
					                    </td>
				                  	</tr>
				                </tbody>
	              			</table>
	            		</div>
	          		</div>
	          		<div class="row sign-inventory text-center">
	            		<div class="col-md-6 col-sm-6 col-xs-12">
	              			<div class="text-sign">TENANT SIGN</div>
	              			<div class="tenant-sign"><img [src]="status.confirmation.tenant.sign" class="after-img-sign"></div>
	            		</div>
	            		<div class="col-md-6 col-sm-6 col-xs-12">
			              	<div class="text-sign">LANDLORD SIGN</div>
			              	<div class="landlord-sign"><img [src]="status.confirmation.landlord.sign" class="after-img-sign"></div>
			            </div>
	          		</div>
	          		<!-- SIGANTURE IDENTITY -->
	          		<div class="row sign-inventory text-center">
	            		<div class="col-md-6 col-sm-6 col-xs-12">
	              			<table class="table table-hover info-tenant-landlord">
				                <tr>
				                  	<td class="font-bold-tenant">TENANT NAME </td>
				                  	<td>Dennis J</td>
				                </tr>
				                <tr>
				                  	<td class="font-bold-tenant">ID NO </td>
				                  	<td>2309572095820</td>
				                </tr>
				                <tr>
				                  	<td class="font-bold-tenant">DATE </td>
				                  	<td>24/03/2017</td>
				                </tr>
				            </table>
				        </div>
	            		<div class="col-md-6 col-sm-6 col-xs-12">
				            <table class="table table-hover">
				                <tr>
				                  	<td class="font-bold-tenant">LANDLORD NAME </td>
				                  	<td>Jack</td>
				                </tr>
				                <tr>
				                  	<td class="font-bold-tenant">ID NO </td>
				                  	<td>h1vg321h2j3b2</td>
				                </tr>
				                <tr>
				                  	<td class="font-bold-tenant">DATE </td>
				                  	<td>24/03/2017</td>
				                </tr>
				            </table>
	            		</div>
          			</div>
        		</div>
      		</div>
    	</div>
  	</div>
</div>