<section id="blog-view">
	<div class="container sp_sidebar">
		<div id="blog-main" class="between-navbar">

			<div class="post-header row" *ngIf="blog">
				<h1>{{ blog.title }}</h1>
				<div class="image-blog-header">
					<figure><img [src]="blog.cover?.url" style="height: 100%;"></figure>
				</div>
				<p class="pull-right font-source" style="margin-bottom: 0px;"> <i>Source : {{ blog.source }}</i> </p>
				<p class="pull-right date-width-100"><span class="date">{{ blog.created_at | date:"dd/MM/yy" }}</span></p>
			</div>
			<div class="post-entry"  *ngIf="blog">
				<div class="first-mg-paragraf">
					<div [innerHTML]="blog.content"></div>
				</div>
				<div>
					Share :
					<share-buttons [whatsApp]="false" [tumblr]="false" [pinterest]="false" [reddit]="false" [stumbleUpOn]="false"></share-buttons>
				</div>
			</div>
			<div class="post-author">
				<div class="author-img">
					<img src="/client/include/images/logo2.png">
				</div>
				<div class="author-info">

					<h5><a routerLink="#" style="cursor: default;">Staysmart</a></h5>
					<p>We are a property search engine with the overarching goal of building a more transparent and efficient property market. We are working towards that future by empowering people with the tools and information needed to find a place to live in the best way possible.</p>
				</div>
			</div>
			<div class="post-related">
				<div class="post-box" >
					<h3 class="post-box-title">You Might Also Like</h3>
				</div>
				<div class="item-related blog" *ngFor="let blogs of data">
					<a [routerLink]="'/blog-view/'+blogs.link"><img [src]="blogs.cover">
						<h3>{{ blogs.title }}</h3>
					</a>
					<span class="date">{{ blogs.created_at | date:"dd/MM/yy" }}</span>
				</div>
			</div>
			<div class="post-comments">
				<hr>
				<div class="post-box">
					<h4 class="post-box-title">Comments</h4>
				</div>
				
				<div class="form-group" *ngFor="let comment of blog.comments">
					<div class="commenter">
						<div class="author-img">
							<img *ngIf="comment.user?.picture" [src]="comment.user?.picture.url">
							<img *ngIf="!comment.user?.picture" src="client/include/images/img/cs.png">
						</div>
						<div class="comment-content">
							<span class="reply">
								<button *ngIf="user?.role == 'admin'" (click)="deleteComment(comment._id)" class="btn btn-info" name="deleteComment">Delete</button>
								<button (click)="checkCommentId(comment._id); replyButton()" class="btn btn-info" name="replyComment">Reply</button>
							</span>
							<span class="author-name">{{ comment.name }}</span>
							<span class="help-block" style="color:#8C8585; font-size:10px;">{{ comment.created_at | date:"HH:mm dd/MM/yy" }}</span>
							<p>{{ comment.content }}</p>
						</div>
					</div>
					<div class="form-group" *ngIf="comment.replies?.length > 0">
						<div class="commenter reply" *ngFor="let reply of comment.replies">
							<div class="author-img">
								<img *ngIf="reply.user?.picture" [src]="reply.user?.picture.url">
								<img *ngIf="!reply.user?.picture" src="client/include/images/img/cs.png">
							</div>
							<div class="comment-content">
								<span class="reply">
									<button *ngIf="user?.role == 'admin'" (click)="deleteComment(reply._id)" class="btn btn-info" name="deleteComment">Delete</button>
								</span>
								<span class="author-name">{{ reply.name }}</span>
								<span class="help-block" style="color:#8C8585; font-size:10px;">{{ reply.created_at | date:"HH:mm dd/MM/yy" }}</span>
								<p>{{ reply.content }}</p>
							</div>
						</div>
					</div>
				</div>
					

				<div [hidden]="commentForm" id="respond" class="comment-respond">
					<h3 id="reply-title" class="comment-reply-title">
						Leave Comment
					</h3>
					<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
						<form id="commentForm" class="comment-form" name="form" (ngSubmit)="f.form.valid && createComment()" #f="ngForm" novalidate>
							<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
								<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !model.content }">
									<label class="control-label"></label>
									<textarea [focus]="f.submitted && !model.content || inputFocused" [(ngModel)]="model.content" #content="ngModel" required name="comment" maxlength="100" class="form-control"></textarea>
									<span *ngIf="f.submitted && !model.content" class="help-block">Content Is Required</span>
								</div>
							</div>
							<div class="col-md-5 col-sm-12 col-xs-12 no-padding">
								<label>Name <span class="required">*</span></label>
							</div>
							<div class="col-md-7 col-sm-12 col-xs-12 no-padding-list label-display-none">
								<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !model.name }">
									<label class="control-label"> </label>
									<input [focus]="f.submitted && !model.name" [(ngModel)]="model.name" #name="ngModel" required type="text" name="name" maxlength="100" class="form-control">
									<span *ngIf="f.submitted && !model.name" class="help-block">Name Is Required</span>
								</div>
							</div>
							<div class="col-md-5 col-sm-12 col-xs-12 no-padding">
								<label>Email <span class="required">*</span></label>
							</div>
							<div class="col-md-7 col-sm-12 col-xs-12 no-padding-list label-display-none">
								<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !model.email || confirmation == true || validateEmail == true}">
									<label class="control-label"> </label>
									<input [focus]="f.submitted && !model.email" [(ngModel)]="model.email" #email="ngModel" required type="email" name="email" maxlength="100" class="form-control">
									<span class="help-block" *ngIf="f.submitted && !model.email && confirmation == true">Invalid Email Address</span>
									<span *ngIf="f.submitted && !model.email" class="help-block">Email Is Required</span>
									<span *ngIf="validateEmail == true && !model.email" class="help-block">Email Is Required</span>
									<span *ngIf="confirmation == true" class="help-block">Invalid Email Address</span>
								</div>
							</div>

							<div class="col-md-6 col-sm-12 col-xs-12 no-padding-list blog">
								<div class="checkbox">
									<input id="checkbox1" type="checkbox" name="subscribe" [(ngModel)]="model.subscribes" #subscribes="ngModel">
									<label for="checkbox1"></label>
								</div>
								<span class="font-checkbox-blog">
									Notify me of followup comments via e-mail. You can also <a (click)="subscribe(model.email)" class="view-all">subscribe</a> without commenting. 
								</span>
								<span></span>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
								<button name="submit" class="submit btn-comment" type="submit">
								<i *ngIf="submitted == true" class='fa fa-spinner fa-spin icon-envelope-nav' aria-hidden="true"></i>  Post Comment</button>
							</div>
						</form>
					</div>
				</div>
				<div [hidden]="replyForm" id="respond" class="comment-respond">
					<h3 id="reply-title" class="comment-reply-title">
						Leave A Reply
					</h3>
					<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
						<form id="commentForm" class="comment-form" (ngSubmit)="r.form.valid && createReply()" #r="ngForm" novalidate>
							<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
								<div class="form-group" [ngClass]="{ 'has-error': r.submitted && !model.content }">
									<label class="control-label"> </label>
									<textarea [focus]="r.submitted && !model.content" [(ngModel)]="model.content" #content="ngModel" name="comment" required maxlength="100" data-schema-key="comment" class="form-control"></textarea>
									<span *ngIf="r.submitted && !model.content" class="help-block">Content Is Required</span>
								</div>
							</div>
							<div class="col-md-5 col-sm-12 col-xs-12 no-padding">
								<label>Name <span class="required">*</span></label>
							</div>
							<div class="col-md-7 col-sm-12 col-xs-12 no-padding-list label-display-none">
								<div class="form-group" [ngClass]="{ 'has-error': r.submitted && !model.name }">
									<label class="control-label"> </label>
									<input [focus]="r.submitted && !model.content" [(ngModel)]="model.name" #name="ngModel" type="text" name="name" required data-schema-key="name" maxlength="100" class="form-control">
									<span *ngIf="r.submitted && !model.name" class="help-block">Name Is Required</span>
								</div>
							</div>
							<div class="col-md-5 col-sm-12 col-xs-12 no-padding">
								<label>Email <span class="required">*</span></label>
							</div>
							<div class="col-md-7 col-sm-12 col-xs-12 no-padding-list label-display-none">
								<div class="form-group" [ngClass]="{ 'has-error': r.submitted && !model.email }">
									<label class="control-label"> </label>
									<input [focus]="r.submitted && !model.content" [(ngModel)]="model.email" #email="ngModel" type="email" name="email" required data-schema-key="email" maxlength="100" class="form-control">
									<span class="help-block" *ngIf="f.submitted && !model.email && confirmation == true">Invalid Email Address</span>
									<span *ngIf="r.submitted && !model.email" class="help-block">Email Is Required</span>
								</div>
							</div>

							<div class="col-md-6 col-sm-12 col-xs-12 no-padding-list blog">
								<div class="checkbox">
									<input id="checkbox1" type="checkbox" name="subscribe" [(ngModel)]="model.subscribes" #subscribes="ngModel">
									<label for="checkbox1"></label>
								</div>
								<span class="font-checkbox-blog">
									Notify me of followup comments via e-mail. You can also <a (click)="subscribe(model.email)" class="view-all">subscribe</a> without commenting. 
								</span>
								<span></span>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
								<button name="submit" class="submit btn-comment" type="submit">
								<i *ngIf="submitted == true" class='fa fa-spinner fa-spin icon-envelope-nav' aria-hidden="true"></i>  Post Reply</button>
								<button name="cancelReply" class="btn btn-warning btn-md"
								(click)="cancelButton()">Cancel Reply</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>