<section id="about">
  <div class="container">
    <!-- Introduction Row -->
    <div class="row">
        <!-- Send email (test button)
        <button type="button" id="sendEmail" class="btn btn-danger">Send ></button> -->
        <div class="about-desc col-lg-12 between-navbar about">
          <p class="current-list page-header-top">
            <a routerLink="/">Home</a>
            <a routerLink="/information/about-us">&gt; About Us</a>
          </p>
          <!-- <h1 class="page-header page_header_about">About Us <small>It's Nice to Meet You!</small></h1> -->
          <h1 class="page-header page_header_about mg-bot-15"><b>About Us</b></h1>
          <div class="col-md-12 col_md_aboutus col_md_center mg-bot-25">
            <p class="justify-text"><b>Staysmart The Future of Real Estate Renting</b></p>
            <p class="justify-text">
              The rental real estate market is a competitive and complex industry. To fully understand the industry, years of comprehensive knowledge and effort are required to create a successful transaction. However, at Staysmart we view things rather differently.
            </p>
            <p class="justify-text">
              Founded in 2016, Staysmart is driven by the need to create a sense of clarity through a platform – a platform which could bridge the gap between landlords and tenants. We believe that everyone should get the most out of their rental real estate.
            </p>
            <p class="justify-text">
              With a platform that not only provides real-time communication, our users also benefit from services which they are unable to get from a real estate agency or agents.
            </p>
            <p class="justify-text">
              At Staysmart, we pride ourselves with the unique services and platform we offer to provide transparent communication between landlords and tenants. To us, the real reward comes when we uncover hidden real estate profits and agency fees for our users.
            </p>
          </div>

          <h1 class="page-header page_header_about mg-bot-15"><b>Our Beliefs</b></h1>
          <div class="col-md-12 col_md_aboutus col_md_center mg-bot-25">
           <p class="justify-text"><b>Unlocking Hidden Real Estate Returns and Real Estate Agency Fees</b></p>
           <p class="justify-text">
            We stand firm in our belief that everyone should get the most out of their rental real estate, be it landlord or tenant. We wish to lead you through a stress-free and successful rental transaction with minimal agency fees while unlocking your property to its full potential.
          </p>
          <p class="justify-text">
            We also aim to provide you with a seamless transaction through our secure platform, with powerful function such as capability to e-sign your tenancy agreement and contract anytime and anywhere.
          </p>

          <p class="justify-text"><b>Creating Transparency Between Users</b></p>
          <p class="justify-text">
           Striving as an honest and transparent platform, Staysmart uses advanced security measures to verify each listing. We also ensure that tenants are able to communicate directly with the landlord, minimising miscommunications and speeding up the transaction process all through our platform.
         </p>
         <p class="justify-text">
           We believe in being with you throughout the whole transaction process, from the initial communication to the final step of the transaction. Even after your transaction, we will be here to support you as long as you are part of our big Staymart family. You can email us at support@staysmart.sg for further enquiries.
         </p>

         <p class="justify-text"><b>Building A Community</b></p>
         <p class="justify-text">
           Staysmart also operates on the mission that real estate information should be easily and readily accessible on the internet, so that tech-savvy landlords and tenants who want to transact directly should have a platform to do so.
         </p>
         <p class="justify-text">
          Staysmart inspires to enrich the lives of others through our platform. We do not only view ourselves as a rental listing service provider but we also engage and communicate with our users in hopes to build a community of self-starter who wishes to kick start their own rental transaction online. We hope, in the near future, we will have a dedicated space where users can share their opinions, ideas and passions within the rental real estate. We are a community driven company. We strongly hold on to ‘the more we give, the more we get’ belief. That’s why with Staysmart, we do not only provide our own users with articles and guides, but to everyone who wishes to be their own masters of rental transaction. Click here to read all our <a routerLink="/blog" class="under-line">articles.</a>
        </p>
      </div>

      <h1 class="page-header page_header_about mg-bot-15"><b>Our Stories</b></h1>
      <div class="col-md-12 col_md_aboutus col_md_center mg-bot-25">
       <p class="justify-text">
         <b>Learn More About How Staysmart Has Helped Our Users to Bridge the Gap</b>
       </p>
       <p class="justify-text">
         From discovering the hidden rental real estate values to saving high real estate agency fees and bridge the gap between landlords and tenants. Read our users’ successful transactions, and our strategies to help you bring returns into your real estate investment.
       </p>
       <div class="row about_us_margin">
        <a routerLink="#top" id="scrollTop" class="margin_up_about">Back to top</a>
      </div>
      <p class="whyus_transparent underline_aboutus why_us line-about-us between-content-back line-about"></p>
    </div>
  </div>
</div>
</div>
</section>