<section id="detail-slider">
  <div class="col-sm-6 size-carousel">
    <div id="carousel-details-slider1" class="carousel slide details-slider between-navbar view-dev" data-ride="carousel">
      <div class="carousel-inner" *ngIf="property?.pictures.dining.length > 0">
        <div class="item" *ngFor="let dining of property.pictures.dining; let index = index" [class.active]="index == 0">
          <img class="img-responsive" src="{{dining.url}}">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 size-carousel">
    <div class="col-sm-12 col-xs-6 size-carousel">
      <div class="col-sm-6 size-carousel">
        <div id="carousel-details-slider2" class="carousel slide details-slider between-navbar view-dev" data-ride="carousel">
          <div class="carousel-inner gr" *ngIf="property?.pictures.living.length > 0">
            <div class="item" *ngFor="let living of property.pictures.living; let index = index" [class.active]="index == 0">
              <img class="img-responsive" src="{{living.url}}">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 size-carousel">
        <div id="carousel-details-slider3" class="carousel slide details-slider between-navbar view-dev" data-ride="carousel">
          <div class="carousel-inner gr" *ngIf="property?.pictures.bed.length > 0">
            <div class="item" *ngFor="let bed of property.pictures.bed; let index = index" [class.active]="index == 0">
              <img class="img-responsive" src="{{bed.url}}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xs-6 size-carousel">
      <div class="col-sm-6 size-carousel">
        <div id="carousel-details-slider4" class="carousel slide details-slider" data-ride="carousel">
          <div class="carousel-inner gr" *ngIf="property?.pictures.kitchen.length > 0">
            <div class="item" *ngFor="let kitchen of property.pictures.kitchen; let index = index" [class.active]="index == 0">
              <img class="img-responsive" src="{{kitchen.url}}">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 size-carousel">
        <div id="carousel-details-slider5" class="carousel slide details-slider" data-ride="carousel">
          <div class="carousel-inner gr" *ngIf="property?.pictures.toilet.length > 0">
            <div class="item" *ngFor="let toilet of property.pictures.toilet; let index = index" [class.active]="index == 0">
              <img class="img-responsive" src="{{toilet.url}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-8 details-property block-pro">
      <div class="row">
        <div class="col-md-12 upside-box">
          <p class="current-list property-detail">
            <a routerLink="/property/ZWz7SkmDveHu7WWkS/view">StaySmart &gt; Property Details</a>
          </p>
          <br>
          <h3 class="property-address"> {{property?.development.name}} </h3>
          <h5 class="bc f16 detail-property title"><i class="fa fa-map-marker" aria-hidden="true"></i> {{property?.address.block_number}} {{property?.address.street_name}}</h5>
          <h6 class="bc f11 country-no-behind view-property">{{property?.address.country}} {{property?.address.postal_code}}</h6>
        </div>
      </div>
      <div class="row f18 faci box-faci">
        <div class="faci-item detail-page">
          <div class="col-md-2 view-bed">
            <span><i class="fa fa-bed" aria-hidden="true"></i> {{property?.details.bedroom}} Bedroom</span>
          </div>
          <div class="col-md-2 view-bath">
            <span><i class="fa fa-female" aria-hidden="true"></i><i class="fa fa-male" aria-hidden="true"></i> {{property?.details.bathroom}} Toilet </span>
          </div>
          <div class="col-md-4 view-size">
            <span><i class="fa fa-expand icon-size-property" aria-hidden="true"></i></span><div class="sqft-size-edit pd-left-size">{{property?.details.size_sqf}} sqft</div>
            <div class="sqm-result new-edit pd-left-size">{{property?.details.size_sqm}} sqm</div>
          </div>
          <div class="col-md-4 pd-left-0 fl-l-visible width-30 view" *ngIf="property?.details.furnishing != 'unfurnished'">
            <img width="25px" height="25px" class="icon_list_right" src="/client/include/images/{{property?.details.furnishing}}.png"><div class="sqft-size-listing property-listing edit-property edit-property-furnish">{{property?.details.furnishing | capitalizeFirst}}</div><div class="sqm-result property edit-property sqm-size-listing-mg edit-property-furnish furnished">Furnished</div>
          </div>
          <div class="col-md-4 pd-left-0 fl-l-visible width-30 view" *ngIf="property?.details.furnishing == 'unfurnished'">
            <img width="25px" height="25px" class="icon_list_right" src="/client/include/images/not.png"><div class="sqft-size-listing property-listing edit-property edit-property-furnish">Not</div><div class="sqm-result property edit-property sqm-size-listing-mg edit-property-furnish furnished">Furnished</div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="pro-title detail-page">
          <h4>AMENITIES</h4>
        </div>
        <ul class="amenities step5 detail-page position_amenities">
          <li *ngFor="let amenity of property?.amenities"> <div class="div-for-amenties"><img src="{{amenity.icon?.url}}" style="height:30px;" class="img-icon"></div> <div class="amenities-space">{{amenity?.name | capitalizeFirst}}</div></li>
        </ul>
      </div>
      <div class="row">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="pro-title detail-page">
              <h4>DESCRIPTION</h4>
            </div>
            <div class="accordion-heading detail-page">
              <p [innerHTML]="property?.details.description"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="pro-title detail-page mg-top-25 view">
              <h4>LOCATION</h4>
            </div>
              <section>
                <style>
                  .sebm-google-map-container {
                    height: 350px;
                    width: 76.5%;
                  }
                </style>
                <sebm-google-map *ngIf="direct == true" mapTypeId="roadmap"
                  [latitude]="lat"
                  [longitude]="lng"
                  [disableDefaultUI]="true"
                  [zoomControl]="false"
                  [styles]="customStyle"
                  > 
                    <sebm-google-map-directions 
                    [origin]="origin" 
                    [destination]="destination">
                    </sebm-google-map-directions> 
                </sebm-google-map>
                <sebm-google-map *ngIf="marker == true" mapTypeId="roadmap"
                  [latitude]="lat"
                  [longitude]="lng"
                  [zoom]="zoom"
                  [minZoom]="minZoom"
                  [maxZoom]="maxZoom"
                  [disableDefaultUI]="true"
                  [zoomControl]="false"
                  [styles]="customStyle"
                  >
                  <sebm-google-map-marker
                      *ngFor="let m of markers; let i = index "
                      [latitude]="m.lat"
                      [longitude]="m.lng"
                      [markerDraggable]="m.draggable"
                  >
                  </sebm-google-map-marker>
                </sebm-google-map>
              </section>
            <div class="accordion-heading detail-page">
            </div>
            <p>
              <button *ngIf="this.marker == true" class="btn btn-primary pull-left button-size2" id="button-direction" (click)="getLocation()">
              <i *ngIf="submitted == true" class='fa fa-spinner fa-spin icon-envelope-nav' aria-hidden="true"></i>  Get Directions</button>
              <button *ngIf="this.direct == true" class="btn btn-primary pull-left button-size2" id="button-direction" (click)="cancel()">
              <i *ngIf="submitted == true" class='fa fa-spinner fa-spin icon-envelope-nav' aria-hidden="true"></i>  Cancel</button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 details-data">
      <div class="col-md-12">
        <div class="data-top">From <span>{{property?.details.price | currency:'USD':true:'4.0-0'}}</span> Per Month</div>
        <div class="one">
          <div class="data-content">
            <button (click)="viewSchedule(property?._id)" class="btn btn-primary">Schedule Viewing</button>
          </div>
        </div>
        <h4 class="txt">
          <div class="pro-title-landord">
            <b>Contact Landlord</b>
          </div>
        </h4><br>
        <div class="one-two">
          <div class="data-content">
            <p>Send a message to</p>
            <div *ngIf="property?.owner.user.picture" >
              <img src="{{property?.owner.user.picture?.url}}" class="img-circle dtc" alt="User Image"><a class="bc"> {{property?.owner.user.username}}</a><br><br>
            </div>
            <div *ngIf="!property?.owner.user.picture">
              <img src="client/include/images/img/cs.png" class="img-circle dtc" alt="User Image"><a class="bc"> {{property?.owner.user.username}}</a><br><br>
            </div>
            <textarea [(ngModel)]="message" rows="7" class="textarea-message"></textarea>
          </div>
          <button (click)="messageLandlord(property?._id)" class="btn btn-success position-button">
            <span *ngIf="loading"><i class='fa fa-spinner fa-spin '></i> Please Wait</span>
            <span *ngIf="!loading">Send Message</span>
          </button><br>
        </div>
      </div>
      <div class="col-md-12 button-size">
        <div class="pro-title"><h4>Contact Us</h4></div>
        <p><i class="fa fa-envelope-o icon-letter-spacing" aria-hidden="true"></i> support@staysmart.sg</p>
      </div>
    </div>
  </div>
</section>