<div id="content" [class]="contentClass">
    <div class="panel panel-inverse" data-sortable-id="table-basic-1">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">List of Property</h4>
        </div>   
        <div class="panel-body">
            <fieldset class="bd-gray">
                <button class="btn btn-primary all-mg-2px" [routerLink] = "['new']"><i class="fa fa-file"></i> Add</button>
                <div class="ui-widget-header">
                    <i class="fa fa-search global-filter"></i>
                    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                </div>
            	<p-dataTable [value]="properties" [rows]="10" [paginator]="true" [globalFilter]="gb">
            		<p-column field="address.floor" header="Unit No">
                        <template let-data=rowData pTemplate="body">
                            #{{data.address.floor}} - {{data.address.unit}}
                        </template>      
                    </p-column>
                	<p-column field="development.name" header="Development"></p-column>
                	<p-column field="owner.user.username" header="Landlord"></p-column>
                    <p-column field="confirmation.status" header="Listing Approved/Rejected"></p-column>
                    <p-column field="confirmation.remarks" header="Remarks"></p-column>
                    <p-column field="confirmation.date" header="Date Approved/Rejected">
                        <template let-data=rowData pTemplate="body">
                            {{data.confirmation.date | date:'dd/MM/y'}}
                        </template>
                    </p-column>
                    <p-column field="confirmation.by.username" header="Approved/Rejected By"></p-column>
                    <p-column field="ta_signed_date" header="Date Tenancy (TA) Signed">
                        <template *ngIf="ta_signed_date" let-data=rowData pTemplate="body">
                            {{data.ta_signed_date | date:'dd/MM/y'}}
                        </template>
                    </p-column>
                	<p-column header="Action">
                        <template let-data="rowData" pTemplate="body">
                            <button class="btn btn-success width-100" (click)="viewProperty(data)">View</button>
                    		<button class="btn btn-warning mg-bot-top" (click)="editProperty(data)">Edit</button>
                    		<button class="btn btn-danger" (click)="deleteProperty(data)">Delete</button>
                            <span *ngIf="data.confirmation.status == 'pending'" class="label label-warning">need confirmation</span>
                        </template>
                	</p-column>
            	</p-dataTable>
            </fieldset>
        </div>
    </div>        
</div>	