<section id="chat" >
	<div class="chat-content">
		<div class="col-md-3 col-sm-12 col-xs-12 chat-left-side min-height-670">
			<div class="chat-tab">
				<form id="searchChatForm">
					<div class="input-group input-group-chat">
						<input type="text" name="search" class="form-control chat-search" placeholder="Search username">
						<span class="input-group-btn background-white">
							<button class="btn btn-secondary btn-chat-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
						</span>
					</div>
				</form>
				<ul class="nav nav-tabs chat-tabs" *ngIf="(landlords || tenants) && dreamtalkReady">
					<li [ngClass]="{'active' : !isTenant}" (click)="isTenant=false" class="pointer">
						<a><b>As Landlord <span *ngIf="totalUnseenLandlord > -1"> {{totalUnseenLandlord}} </span><span *ngIf="totalUnseenLandlord < 0"> 0 </span></b></a>
					</li>
					<li [ngClass]="{'active' : isTenant}" (click)="isTenant=true" class="pointer">
						<a><b>As Tenant <span *ngIf="totalUnseenTenant > -1"> {{totalUnseenTenant}} </span><span *ngIf="totalUnseenTenant < 0"> 0 </span></b></a>
					</li>
				</ul>
				<ul class="nav nav-tabs chat-tabs" *ngIf="!landlords && !tenants">
					<li [ngClass]="{'active' : !isTenant}" class="pointer">
						<a><b>As Landlord <span> 0 </span></b></a>
					</li>
					<li [ngClass]="{'active' : isTenant}" class="pointer">
						<a><b>As Tenant <span> 0 </span></b></a>
					</li>
				</ul>
				<div class="tab-content" *ngIf="(landlords && tenants) && dreamtalkReady">
					<div id="landlord" class="tab-pane fade in" [ngClass]="{'active' : !isTenant}">
						<div class="chat-contact background-white">
							<div class="contact-list">
								<!-- Landlord enquiries (tenant) -->
								<div *ngIf="landlordEnquiries.length > 0">
									<div class="col-md-12 col-sm-12 col-xs-12 chat-enquiries">
										<b>ENQUIRIES <span class="badge">{{totalUnseenLandlordEnquiries}}</span></b>
										<span [class]="landlordEnquiriesClass" (click)="openCollapse('landlord','enquiries')" aria-expanded="false"></span>
									</div>
									<div [collapse]="landlordEnquiriesCollapse">
										<div *ngFor="let landlord of landlordEnquiries">
											<div class="col-md-12 col-sm-12 col-xs-12 chat-title">
												<b>{{landlord?.property.development.name}}</b>
											</div>
											<a (click)="getChat(landlord?.room_id, 'landlord')">
												<div [class]="landlord?.cls">
													<div class="col-md-3">
													   <div *ngIf="landlord?.tenant.picture">
															<img [src]="landlord?.tenant.picture.url" alt="" class="chat-img">
														</div>
														<div *ngIf="!landlord?.tenant.picture">
															<img src="client/include/images/img/cs.png" alt="" class="chat-img">
														</div>
													</div>
													<div class="col-md-6 contact_padding">
														<div class="contact-name">
															{{landlord?.tenant.username}}
														</div>
													</div>
													<div class="col-md-3 margin_top_datechat">
														<div class="chat-bing" *ngIf="landlord.unseenChats > 0">
															NEW MESSAGE {{landlord?.unseenChats}}
														</div>
															
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
								<!-- Landlord pending -->
								<div *ngIf="landlordPending.length > 0">
									<div class="col-md-12 col-sm-12 col-xs-12 chat-enquiries">
										<b>PENDING <span class="badge">{{totalUnseenLandlordPending}}</span></b>
										<span [class]="landlordPendingClass" (click)="openCollapse('landlord','pending')" aria-expanded="false"></span>
									</div>
									<div [collapse]="landlordPendingCollapse">
										<div *ngFor="let landlord of landlordPending">
											<div class="col-md-12 col-sm-12 col-xs-12 chat-title">
												<b>{{landlord?.property.development.name}}</b>
											</div>
											<a (click)="getChat(landlord?.room_id, 'landlord')">
												<div [class]="landlord?.cls">
													<div class="col-md-3">
													   <div *ngIf="landlord?.tenant.picture">
															<img [src]="landlord?.tenant.picture.url" alt="" class="chat-img">
														</div>
														<div *ngIf="!landlord?.tenant.picture">
															<img src="client/include/images/img/cs.png" alt="" class="chat-img">
														</div>
													</div>
													<div class="col-md-6 contact_padding">
														<div class="contact-name">
															{{landlord?.tenant.username}}
														</div>
													</div>
													<div class="col-md-3 margin_top_datechat">
														<div class="chat-bing" *ngIf="landlord.unseenChats > 0">
															NEW MESSAGE {{landlord?.unseenChats}}
														</div>
															
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
								<!-- Landlord rented -->
								<div *ngIf="landlordRented.length > 0">
									<div class="col-md-12 col-sm-12 col-xs-12 chat-enquiries">
										<b>TENANTED / RENTED <span class="badge">{{totalUnseenLandlordRented}}</span></b>
										<span [class]="landlordRentedClass" (click)="openCollapse('landlord','rented')" aria-expanded="false"></span>
									</div>
									<div [collapse]="landlordRentedCollapse">
										<div *ngFor="let landlord of landlordRented">
											<div class="col-md-12 col-sm-12 col-xs-12 chat-title">
												<b>{{landlord?.property.development.name}}</b>
											</div>
											<a (click)="getChat(landlord?.room_id, 'landlord')">
												<div [class]="landlord?.cls">
													<div class="col-md-3">
													   <div *ngIf="landlord?.tenant.picture">
															<img [src]="landlord?.tenant.picture.url" alt="" class="chat-img">
														</div>
														<div *ngIf="!landlord?.tenant.picture">
															<img src="client/include/images/img/cs.png" alt="" class="chat-img">
														</div>
													</div>
													<div class="col-md-6 contact_padding">
														<div class="contact-name">
															{{landlord?.tenant.username}}
														</div>
													</div>
													<div class="col-md-3 margin_top_datechat">
														<div class="chat-bing" *ngIf="landlord.unseenChats > 0">
															NEW MESSAGE {{landlord?.unseenChats}}
														</div>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="tenant" class="tab-pane fade in" [ngClass]="{'active' : isTenant}">
						<div class="chat-contact background-white">
							<div class="contact-list">
								<!-- Tenant enquiries (landlord) -->
								<div *ngIf="tenantEnquiries.length > 0">
									<div class="col-md-12 col-sm-12 col-xs-12 chat-enquiries">
										<b>ENQUIRIES <span class="badge">{{totalUnseenTenantEnquiries}}</span></b>
										<span [class]="tenantEnquiriesClass" (click)="openCollapse('tenant','enquiries')" aria-expanded="false"></span>
									</div>
									<div [collapse]="tenantEnquiriesCollapse">
										<div *ngFor="let tenant of tenantEnquiries">
											<div class="col-md-12 col-sm-12 col-xs-12 chat-title">
												<b>{{tenant?.property.development.name}}</b>
											</div>
											<a (click)="getChat(tenant?.room_id , 'tenant')">
												<div [class]="tenant?.cls">
													<div class="col-md-3">
														<div *ngIf="tenant?.landlord.picture">
															<img [src]="tenant?.landlord.picture.url" alt="" class="chat-img">
														</div>
														<div *ngIf="!tenant?.landlord.picture">
															<img src="client/include/images/img/cs.png" alt="" class="chat-img">
														</div>
													</div>
													<div class="col-md-6 contact_padding">
														<div class="contact-name">
															{{tenant?.landlord.username}}
														</div>
													</div>
													<div class="col-md-3 margin_top_datechat">
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
								<!-- Tenant pending -->
								<div *ngIf="tenantPending.length > 0">
									<div class="col-md-12 col-sm-12 col-xs-12 chat-enquiries">
										<b>PENDING <span class="badge">{{totalUnseenTenantPending}}</span></b>
										<span [class]="tenantPendingClass" (click)="openCollapse('tenant','pending')" aria-expanded="false"></span>
									</div>
									<div [collapse]="tenantPendingCollapse">
										<div *ngFor="let tenant of tenantPending">
											<div class="col-md-12 col-sm-12 col-xs-12 chat-title">
												<b>{{tenant?.property.development.name}}</b>
											</div>
											<a (click)="getChat(tenant?.room_id , 'tenant')">
												<div [class]="tenant?.cls">
													<div class="col-md-3">
														<div *ngIf="tenant?.landlord.picture">
															<img [src]="tenant?.landlord.picture.url" alt="" class="chat-img">
														</div>
														<div *ngIf="!tenant?.landlord.picture">
															<img src="client/include/images/img/cs.png" alt="" class="chat-img">
														</div>
													</div>
													<div class="col-md-6 contact_padding">
														<div class="contact-name">
															{{tenant?.landlord.username}}
														</div>
													</div>
													<div class="col-md-3 margin_top_datechat">
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
								<!-- Tenant rented (landlord) -->
								<div *ngIf="tenantRented.length > 0">
									<div class="col-md-12 col-sm-12 col-xs-12 chat-enquiries">
										<b>RENTED (LANDLORD)<span class="badge">{{totalUnseenTenantRented}}</span></b>
										<span [class]="tenantRentedClass" (click)="openCollapse('tenant','rented')" aria-expanded="false"></span>
									</div>
									<div [collapse]="tenantRentedCollapse">
										<div *ngFor="let tenant of tenants">
											<div class="col-md-12 col-sm-12 col-xs-12 chat-title">
												<b>{{tenant?.property.development.name}}</b>
											</div>
											<a (click)="getChat(tenant?.room_id , 'tenant')">
												<div [class]="tenant?.cls">
													<div class="col-md-3">
														<div *ngIf="tenant?.landlord.picture">
															<img [src]="tenant?.landlord.picture.url" alt="" class="chat-img">
														</div>
														<div *ngIf="!tenant?.landlord.picture">
															<img src="client/include/images/img/cs.png" alt="" class="chat-img">
														</div>
													</div>
													<div class="col-md-6 contact_padding">
														<div class="contact-name">
															{{tenant?.landlord.username}}
														</div>
													</div>
													<div class="col-md-3 margin_top_datechat">
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-content" *ngIf="(!landlords && !tenants) && !dreamtalkReady">
					<div id="landlord" class="tab-pane fade in" [ngClass]="{'active' : !isTenant}">
						<div class="chat-contact background-white">
							<div class="contact-list"></div>
						</div>
					</div>
					<div id="tenant" class="tab-pane fade in" [ngClass]="{'active' : isTenant}">
						<div class="chat-contact background-white">
							<div class="contact-list"></div>
						</div>
					</div>
				</div>
				<div class="tab-content" *ngIf="(!landlords && !tenants) && dreamtalkReady">
					<div id="landlord" class="tab-pane fade in" [ngClass]="{'active' : !isTenant}">
						<div class="chat-contact background-white">
							<div class="contact-list"></div>
						</div>
					</div>
					<div id="tenant" class="tab-pane fade in" [ngClass]="{'active' : isTenant}">
						<div class="chat-contact background-white">
							<div class="contact-list"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="ready">
			<div class="col-md-9 col-sm-12 col-xs-12 chat-right-side min-height-670" *ngIf="!roomId">
				<div class="blank-room">
					<h1 class="font-choose-room"><i class="fa fa-comments-o font-icon-comment-size font-size-210" aria-hidden="true"></i></h1>
					<h1 class="font-choose-room icon font-size-15">CHOOSE ROOM TO VIEW YOUR CHAT</h1>
				</div>
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12 chat-right-side" *ngIf="roomId">
				<div class="chat-blue-box">
					<div class="row">
						<div>
							<div class="col-sm-4 col-xs-4">
								<div class="box-contact-details">
									<div class="info-name">
										<i class="fa fa-home" aria-hidden="true"></i>
										{{roomData?.property?.address.floor}}-{{roomData?.property?.address.unit}} {{roomData?.property?.development.name}}
									</div>
									<div class="conversation">
										Conversation started on {{roomData?.createdAt}}
									</div>
									<div class="contact-right-details" *ngIf="roomData?.tenant._id === userId">
										<div class="col-md-1 col-sm-1 col-xs-1">
											<img *ngIf="roomData?.landlord.picture" class="chat-right-img" alt=""  src="{{roomData?.landlord.picture.url}}">
											<img *ngIf="!roomData?.landlord.picture" class="chat-right-img" alt="" src="client/include/images/img/cs.png">
										</div>
										<div class="col-md-6 col-sm-6 col-xs-6">
											<div class="contact-right-name">
												{{roomData?.landlord.username}}
											</div>
										</div>
									</div>
									<div class="contact-right-details" *ngIf="roomData?.landlord._id === userId">
										<div class="col-md-1 col-sm-1 col-xs-1">
											<img *ngIf="roomData?.tenant.picture" class="chat-right-img" alt=""  src="{{roomData?.tenant.picture.url}}">
											<img *ngIf="!roomData?.tenant.picture" class="chat-right-img" alt="" src="client/include/images/img/cs.png">
										</div>
										<div class="col-md-6 col-sm-6 col-xs-6">
											<div class="contact-right-name">
												{{roomData?.tenant.username}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-8 col-xs-8 chat-dropdown">
								<ul class="menu">
									<li id="scheduleViewing"><a (click)="viewSchedule(roomData?.property._id)"><i class="fa fa-calendar" aria-hidden="true"></i><br>Schedule <br>Viewing</a></li>
									<li id="initiateLoi"><a (click)="initiateLOI(roomData?.agreement._id)"><i class="fa fa-envelope-o" aria-hidden="true"></i><br>Initiate <br>Letter of Intent</a></li>
									<li id="initiateTa"><a (click)="initiateTA(roomData?.agreement._id)"><img width="30px" height="30px" src="/assets/images/whiteshake.png" alt=""><br>Initiate <br>Tenancy Agreement</a></li>
									<li class="dropdown margin_dropdown bd-right-more"><a href="#" class="dropdown-toggle color_homepage" data-toggle="dropdown"><div class="box-dropdown"></div><i class="fa fa-ellipsis-v color_homepage" aria-hidden="true"></i><br><br>More</a>
										<ul class="dropdown-menu dropdown_more_margin center_nounit">
											<li class="border_bottom_dropdown"><a (click)="viewInventory(roomData?.agreement._id)"><i class="fa fa-file-text icon_dropdown_size" aria-hidden="true"></i> View Inventory List</a></li>
											<li class="border_bottom_dropdown"><a (click)="deleteChat(roomData._id)" id="removeRoom"><i class="fa fa-trash icon_dropdown_size" aria-hidden="true"></i> Delete Conversation</a></li>
											<li class="border_bottom_dropdown" *ngIf="roomData?.landlord._id === userId">
												<a *ngIf="roomData?.blocked === false" (click)="block(roomData?.tenant._id)" id="blockUser"><i class="fa fa-ban icon_dropdown_size" aria-hidden="true"></i> Block User</a>
												<a *ngIf="roomData?.blocked === true" (click)="unblock(roomData?.tenant._id)" id="unblockUser"><i class="fa fa-circle-o icon_dropdown_size" aria-hidden="true"></i> Unblock User</a>
											</li>
											<li class="border_bottom_dropdown" *ngIf="roomData?.landlord._id !== userId">
												<a *ngIf="roomData?.blocked === false" (click)="block(roomData?.landlord._id)" id="blockUser"><i class="fa fa-ban icon_dropdown_size" aria-hidden="true"></i> Block User</a>
												<a *ngIf="roomData?.blocked === true" (click)="unblock(roomData?.landlord._id)" id="unblockUser"><i class="fa fa-circle-o icon_dropdown_size" aria-hidden="true"></i> Unblock User</a>
											</li>
											<li class="border_bottom_dropdown bd-right">
												<a *ngIf="roomData?.landlord._id === userId" (click)="showModal(roomData?.tenant._id)">
												<i class="fa fa-exclamation-triangle icon_dropdown_green" aria-hidden="true"></i> Report User</a>
												<a *ngIf="roomData?.landlord._id !== userId" (click)="showModal(roomData?.landlord._id)">
												<i class="fa fa-exclamation-triangle icon_dropdown_green" aria-hidden="true"></i> Report User</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div id="chatBox" class="chat-box no-pd-right">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div *ngFor="let chat of chats">
							<div class="to content-message col-md-12" *ngIf="chat?.uid === userId">
								<div class="col-md-1 col-sm-1 col-xs-1 content-chat to float-right-chat-box">
									<img *ngIf="me?.picture" class="img-dialouge img-profil-chat-content" alt="" [src]="me?.picture.url">
									<img *ngIf="!me?.picture" class="img-dialouge img-profil-chat-content" alt="" src="client/include/images/img/cs.png">
								</div>
								<div class="col-md-8 col-sm-8 col-xs-8 content-chat to">
									<div class="chat-name-profil content-chat to">
										<span class="dialouge-name-from to"> You </span>
									</div>
									<div class="talk-bubble-right tri-right right-in float-right-chat-box content submited-schedule-box">
										<div *ngIf="!chat?.template" class="col-md-10 col-sm-10 col-xs-10 chat-box-pd">{{chat?.message}}</div>
										<div *ngIf="chat?.template" class="col-md-10 col-sm-10 col-xs-10 chat-box-pd">
											<div [innerHTML]="chat.template | safeHtml"></div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-2 chat-box-test">{{chat?.createdAt | date:'shortDate'}}</div>
									</div>
								</div>
							</div>
							<div class="from content-message col-md-12" *ngIf="chat?.uid !== userId">
								<div class="col-md-1 col-sm-1 col-xs-2 content-chat">
									<div *ngIf="roomData?.tenant._id === userId">
										<img *ngIf="roomData?.landlord.picture" class="img-dialouge img-profil-chat-content" alt=""  src="{{roomData?.landlord.picture.url}}">
										<img *ngIf="!roomData?.landlord.picture" class="img-dialouge img-profil-chat-content"alt="" src="client/include/images/img/cs.png">
									</div>
									<div *ngIf="roomData?.tenant._id !== userId">
										<img *ngIf="roomData?.tenant.picture" class="img-dialouge img-profil-chat-content" alt=""  src="{{roomData?.tenant.picture.url}}">
										<img *ngIf="!roomData?.tenant.picture" class="img-dialouge img-profil-chat-content" alt="" src="client/include/images/img/cs.png">
									</div>
								</div>
								<div class="col-md-8 col-sm-8 col-xs-8 content-chat from">
									<div class="chat-name-profil content-chat">
										<div *ngIf="roomData?.tenant._id === userId">
											<span class="dialouge-name-from"> {{roomData?.landlord.username}} </span>
										</div>
										<div *ngIf="roomData?.tenant._id !== userId"> 
											<span class="dialouge-name-from"> {{roomData?.tenant.username}} </span>
										</div>
									</div>
									<div class="talk-bubble tri-right left-in submited-schedule-box">
										<div *ngIf="!chat?.template" class="col-md-10 col-sm-10 col-xs-10 chat-box-pd">{{chat?.message}}</div>
										<div *ngIf="chat?.template" class="col-md-10 col-sm-10 col-xs-10 chat-box-pd">
											<div [innerHTML]="chat?.template | safeHtml"></div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-2 chat-box-test">{{chat?.createdAt | date:'shortDate'}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="input-group">
					<input type="text" name="message" [(ngModel)]="message" class="form-control chat-search" placeholder="Type your message here..." autocomplete="off">
					<span class="input-group-btn">
						<button (click)="sendChat()" class="btn btn-success btn-chat-send">
							<span *ngIf="loading"><i class='fa fa-spinner fa-spin '></i> Please Wait</span>
							<span *ngIf="!loading"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send</span>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div *ngIf="!ready">
			<div class="col-md-9 col-sm-12 col-xs-12 chat-right-side min-height-670">
				<div class="blank-room">
					<h1 class="font-choose-room"><i class="fa fa-comments-o font-icon-comment-size font-size-210" aria-hidden="true"></i></h1>
					<h1 class="font-choose-room"><i class='fa fa-spinner fa-spin '></i> Please Wait</h1>
				</div>
			</div>
		</div>	
	</div>
	<!-- report modal -->
	<div class="modal fade" [config]="{backdrop: 'static'}" role="dialog" bsModal #modal="bs-modal" tabindex="-1" aria-labelledby="myModalLabel">
		<div class="modal-dialog signIn_modal modal-detail-payment" role="document">
			<div class="modal-content">
				<div class="modal-body modal-body-login">
					<div class="row">
						<div class="col-md-12 col-sm-6 col-xs-6 view-payment-detail">
							<h3><b>Report Messages</b></h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
				      <textarea name="report message" [(ngModel)]="model.reason" #reason="ngModel" class="form-control" placeholder="Report Reason" rows="5"></textarea>
				      <button (click)="reportUser()" class="btn btn-primary">Submit</button>
				      <button (click)="modal.hide" class="btn btn-default">Cancel</button>
				    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  -->
</section>
