.chat-left { float: left; }
.chat-right { float: right; }

.chat-button-container {
  z-index: 77777777;
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
}
.chat-button {
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #1d85ff;
  background-image: url('../img/chat.png');
  background-position: 50%;
  background-size: 26px 26px;
  background-repeat: no-repeat;
}

.chat-button:hover {
  background-color: #367cce;
}

.chat-box-container {
  z-index: 88888888;
  position: fixed;
  height: 100%;
  width: 368px;
  bottom: 0;
  right: 0;
  visibility: hidden;
}

@media (max-width: 320px) {
  .chat-box-container {
    width: 100%;
  }
}

.chat-box-header {
  z-index: 2147483002;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
  background: #46454b;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 58px;
}

.chat-box-body {
  z-index: 2147483000;
  background: #fafafb;
  background: rgba(250,250,251,.98);
  border-left: 1px solid #dadee2;
  box-shadow: 0 0 4px 1px rgba(0,0,0,.08);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.chat-box-input-form {
  z-index: 2147483001;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 0;
  width: 100%;
  padding: 16px;
}

.chat-box-input-form textarea {
  display: block;
  box-sizing: padding-box;
  overflow: hidden;
  padding: 10px;
  width: 100%;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #cfd8dc;
  resize: none;
}

.chat-box-header .top-container {
  z-index: 234567;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  text-align-last: left;
  pointer-events: none;
}

.chat-box-header .top-container .title {
  line-height: 20px;
  padding-top: 10px;
  padding-left: 14px;
}

.chat-box-header .top-container .title-presence {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: -.5px;
  display: inline-block;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}

.chat-box-header .top-container .name {
  position: absolute;
  text-align: left;
  letter-spacing: 1px;
  font-size: 18px;
  left: 0;
  padding-left: 13px;
  bottom: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #ffffff;
}

.chat-box-header .button-container {
  z-index: 234567;
  margin: 0 20px;
  position: relative;
  height: 58px;
}

.chat-box-header .button-container .fa {
  font-size: 20px;
  line-height: 58px;
  opacity: .5;
  color: #ffffff
}

.chat-box-header a:hover .fa, .chat-box-header a:active .fa, .chat-box-header a:focus .fa {
  opacity: 1;
  cursor: pointer;
}

.chat-box-header .button-close {
  float: right;
}
.chat-box-content {
  overflow-y: auto;
  z-index: 2147483001;
  position: absolute;
  top: 58px;
  right: 0;
  width: 100%;
  padding: 16px;
  bottom: 74px;
}

.chat-box-content .chat-box-converstation-container {
  padding: 16px 0;
}

.chat-box-content .chat-box-converstation {
  line-height: 20px;
  position: relative;
  clear: both;
  max-width: 250px;
}

.chat-box-content .chat-box-converstation .converstation-box {
  box-shadow: 0 1px 2px 0 rgba(234,236,238,.8);
  background-color: #ffffff;
  border: 1px solid #dadee2;
  border-radius: 7px;
  position: relative;
  width: 100%;
  padding: 12px 17px;
  font-size: 14px;
  margin-bottom: 10px;
}

.chat-box-content .chat-box-converstation .converstation-box p {
  margin: 0;
}

.chat-box-converstation-container .chat-right .converstation-box {
  background: #1d85ff;
  color: #ffffff;
}

.chat-box-room-container {
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
}

.chat-box-room-container .chat-box-room-item-container:hover {
  border-bottom: 1px solid rgba(96,104,110,.2);
}

.chat-box-room-container .chat-box-avatar {
  border-radius: 5px;
  float: left;
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-top: 5px;
}

.chat-box-room-item-container {
  margin-left: 55px;
  padding-right: 17px;
  border-bottom: 1px solid #e7e7e7;
  height: 80px;
}

.chat-box-room-item-header {
  margin-bottom: 5px;

}

.chat-box-room-item-header .room-timestamp {
  float: right;
  font-size: 12px;
  line-height: 20px;
  color: #aaa;
  text-align: right;
}

.chat-box-room-item-header .room-name {
  font-size: 15px;
  color: rgba(96,104,110,.8);
  line-height: 22px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.chat-box-room-item-content {
  color: rgba(96,104,110,.8);
  font: 14px;
  font-weight: 400;
  line-height: 19px;
  height: 40px;
  overflow: hidden;
  position: relative;
  padding-right: 15px;
  word-break: break-word;
}