div.dataTables_wrapper div.dataTables_processing {
    visibility: hidden;
}

.float-r {
  float: right;
}

.ml-5 {
  margin-left: 5px;
}

.h-40 {
  height: 40px;
}

OL.sub { counter-reset: item }
OL.sub > LI { display: block }
OL.sub > LI:before { content: counters(item, ".") " "; counter-increment: item }

.w-135 {
  width: 135px;
}

.pad-2310 {
  padding: 23px 10px;
}