/*empty*/
.adminmap {
	width: 90%;
	height: 270px;
	margin-bottom: 20px;
}

.admin-location-map {
    width: 100%;
    height: 300px
}

#adminconfirm {
	width:60%;
	margin-top:10px;
}

.admin-cgreen {
  color: #3ACF1F;
}
.admin-cgreen1 {
  color: #00A65A;
}
.admin-cred {
  color: #DD4B39;
}
.admin-cblack {
  color: #000000;
}
.admin-bglgray {
	background-color: #E9E9E9;
}
.admin-bggray {
	background-color: #999999 !important;
}
.admin-bgwhite {
	background-color: #FFFFFF;
}

.intl-tel-input { width: 100%; }

table td {
  width: 10%;
  word-wrap: break-word;
  word-break:break-word;
  word-wrap: keep-all;
}

.short-column{
	width:10%;
}

.short-column2{
	width:15%;
}

.short-column3{
	width:5%;
}

.select2 {
	width: 100% !important;
}
.selectize-control .selectize-input.disabled {
    opacity: 4.5;
    background-color: #eee;
}
.selectize-control .selectize-input.readonly {
    opacity: 4.5;
    background-color: #eee;
}

/* Base for label styling */
.amenities-select {
    display: inherit;
    width: 100%;
    margin-bottom: 10px;
}

.amenities-select [type="checkbox"]:not(:checked), .amenities-select [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
.amenities-select [type="checkbox"]:not(:checked)+ label, .amenities-select [type="checkbox"]:checked+ label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    vertical-align: top;
}

/* checkbox aspect */

.amenities-select [type="checkbox"]:not(:checked)+ label:before, .amenities-select [type="checkbox"]:checked+ label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 17px;
    height: 17px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 50%;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3)
}

/* checked mark aspect */

.amenities-select [type="checkbox"]:not(:checked)+ label:after, .amenities-select [type="checkbox"]:checked+ label:after {
    content: '✔';
    position: absolute;
    top: 3px;
    left: 4px;
    font-size: 18px;
    line-height: 0.8;
    color: #3DC571;
    transition: all .2s;
}

/* checked mark aspect changes */

.amenities-select [type="checkbox"]:not(:checked)+ label:after {
    opacity: 0;
    transform: scale(0);
}
.amenities-select [type="checkbox"]:checked+ label:after {
    opacity: 1;
    transform: scale(1);
}

/* disabled checkbox */

.amenities-select [type="checkbox"]:disabled:not(:checked)+ label:before, .amenities-select [type="checkbox"]:disabled:checked+ label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
.amenities-select [type="checkbox"]:disabled:checked+ label:after {
    color: #999;
}
.amenities-select [type="checkbox"]:disabled+ label {
    color: #aaa;
}

/* accessibility */

.amenities-select [type="checkbox"]:checked:focus+ label:before, .amenities-select [type="checkbox"]:not(:checked):focus+ label:before {
    border: 1px dotted blue;
}

/* hover style just for information */

.amenities-select label:hover:before {
    border: 1px solid #4778d9!important;
}

#ck-button {
    margin: 0;
    background-color: #FFF;
    border: 1px solid #ddd;
    overflow: auto;
    float: left;
    border-right: 0;
}
#ck-button:first-child {
    border-radius: 5px 0px 0px 5px;
}
#ck-button:last-child {
    border-radius: 0px 5px 5px 0px;
    border-right: 1px solid #ddd;
}
#ck-button:hover {
    background: #2289ff;
}
#ck-button:hover label span {
    cursor: pointer;
    color: #fff;
}
#ck-button label {
    float: left;
    width: 40px;
    color: black;
    margin-bottom: 0;
}
#ck-button label span {
    text-align: center;
    padding: 10px 0px;
    display: block;
}
#ck-button label input {
    position: absolute;
    top: 8px;
    display: none;
}
#ck-button input:checked+ span {
    background-color: #2289ff;
    color: #fff;
}
.admin-position.padding {
    padding: 0px 15px 10px 15px;
}
.admin-position {
    margin-top: 20px;
}
.row.admin-listing {
    padding: 0px !important;
}
.admin-size-carousel {
    padding-right: 0px;
    padding-left: 0px;
}
.admin-details-slider {
    padding: 0;
}
.carousel-inner.br .admin-listing-img {
    height: 28vw !important;
    width: 100%;
}
.carousel-inner.da .admin-listing-img {
    height: 14vw !important;
    width: 100%;
}
.admin-price-per-month {
    background-color: #406EF7;
    width: 120%;
    height: 80px;
    position: absolute;
    margin-top: -80px;
    margin-left: 60px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
}
.admin-step5-asking {
    color: white;
    font-size: 20px;
    text-align: center;
}
.admin-step5-price {
    color: white;
    font-weight: bold;
    font-size: 33px;
}
.admin-upside-box {
    padding-left: 10px;
    padding-bottom: 10px;
}
.admin-bc {
    color: #1d85ff;
}
.admin-f16 {
    font-size: 16px;
}
.admin-box-faci {
    margin-left: -20px;
}
.admin-f18 {
    font-size: 18px;
}
.row.admin-f18.admin-faci.admin-box-faci .admin-faci-item {
    border-bottom: 2px solid #A3ADBB;
    border-top: 1px solid #A3ADBB;
    padding: 15px 0px 15px 10px;
}
.admin-faci-item {
    margin-left: 5px;
}
.col-md-2.admin-view-bed {
    width: 26%;
    padding-left: 0px;
}
.admin-faci span {
    margin-right: 50px;
    font-weight: lighter;
}
.col-md-2.admin-view-bath {
    padding-left: 0px;
    margin-left: -20px;
}
.col-md-4.admin-view-size {
    width: 29%;
}
.admin-icon_list_right {
    margin-right: 3px!important;
}
.admin-furnishing-full {
    position: relative;
    top: -5px;
}
.admin-furnishing-furnished.edit {
    margin-top: -13px;
    width: 27.2%;
}
.admin-furnishing-furnished {
    float: right;
    margin-top: -9px;
    width: 30.1%;
}
.admin-pro-title {
    background-color: #f9f9f9;
    padding: 1px 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 10px;
}
.admin-pro-title h4 {
    font-weight: bold;
    font-size: 17px;
}
.admin-amenities.step5 {
    margin: 25px 0px 25px -30px;
    -moz-column-count: 4;
}
.admin-amenities {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
}
.admin-amenities.step5 li {
    list-style: none;
    padding-bottom: 15px;
}
.admin-div-for-amenties {
    width: 15%;
}
.admin-div-for-amenties img {
    width: 35px;
}
.admin-amenities-space {
    margin-top: -25px;
    margin-left: 50px;
}
.col-md-12.admin-no-padding {
    padding: 0px;
}
.admin-position_preview_page {
    padding-left: 25px;
    padding-right: 70px;
}
.carousel-inner.br.admin img {
    height: 14vw !important;
    width: 100%;
}
.carousel-inner.da.admin img {
    height: 7vw !important;
    width: 100%;
}
.admin-pro-title.step-5-location {
    margin-top: 25px;
}
.row.less.admin-step4 {
    padding-bottom: 30px !important;
    margin-top: 0px;
}
.btn-sm {
    margin-bottom: 5px;
}
.col-sm-9.furnishing #ck-button {
    width: 25%;
    text-align: center;
}
.col-sm-9.furnishing label {
    width: 100% !important;
}
.admin-amenities .amenites-icon {
    width: 24px;
    margin-right: 10px;
    margin-left: 10px;
}
.admin-amenities .amenites-label {
    font-weight: normal;
    letter-spacing: -1px;
}
.row.admin-step2 {
    margin-top: 20px;
}
.col-sm-9.admin-pictures .col-sm-2 {
    width: 100%;
}
.detail-content {
    width: 20%;
    padding-left: 15px;
    color: #2C8CFE;
    font-weight: bold;
    font-size: 14px;
}
.detail-content p {
    text-align: left;
}
.col-md-2.admin-mg-btm {
    margin-bottom: 15px;
}
.admin-landlord-profil {
    width: 100%;
    border-radius: 100%;
}
.admin-btn-info {
    padding: 1px 12px;
}
.admin-blue_road_sg {
    font-size: 12px;
    color: #1D85FF;
}
ol.alpha.reset {
     counter-reset: none;
}
ol.alpha.reset-a {
     counter-reset: alpha 0;
}
ol.alpha.reset-b {
     counter-reset: alpha 1;
}
ol.alpha.reset-c {
     counter-reset: alpha 2;
}
ol.alpha.reset-d {
     counter-reset: alpha 3;
}
ol.alpha.reset-e {
     counter-reset: alpha 4;
}
.admin-row-mg-no-left {
    margin-left: 0px;
}
.col-sm-2.admin-no-pd {
    padding: 0px;
}
.admin-sqm-result {
    font-size: 12px;
    padding-left: 16px;
    margin-top: -7px;
}
.admin-sqm-result.new-edit {
    font-size: 18px;
    padding-left: 16px;
    font-weight: lighter;
    margin-top: -7px;
}
.sqft-size-edit {
    padding-left: 16px;
    margin-top: -30px;
    font-weight: lighter;
}
.image-text-top-left {
	position: relative;
}
.total-price {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #3ea762;
    color: #fff;
    z-index: 100;
    width: 20%;
}
.border-total {
    font-size: 20px;
    border-right: 1px solid #a3adbb;
}
.important-value.admin {
    font-size: 20px;
}
.important-value.admin.verified {
    font-size: 15px;
    font-weight: bold;
}
ol.mg-nobtm {
    margin-bottom: 0px;
}
.wrapper .s-alert-box {
    top: auto !important;
}
.mg-bot-btn-5 {
    margin-bottom: 5px;
}
.mg-top-btn-5 {
    margin-top: 5px;
}
.identification.pd-left-25px {
    padding-left: 23px;
}
.identification.pd-left-30px {
    padding-left: 30px;
}
.mg-top-10-landlord {
    margin-top: 10px;
}
.admin-project-details.mg-top-25px {
    margin-top: 25px;
}
.h-100-admin {
    height: 100px;
}
.admin-btn-property {
    width: 55px;
}
.admin-pd-5-5 {
    padding: 5px 5px;
}
#admin_users tr {
    width: 100%;
}
#admin_users tr th.action.sortable {
    width: 24%;
}
#admin_users tr th.user.sortable {
    width: 11%;
}
.admin-btn-user-58 {
    width: 58px;
}
.admin-btn-dev-48 {
    width: 48px;
}
.admin-btn-full-width {
    width: 100%;
}
.admin-mg-rg-3 {
    margin-right: 3px;
}
.admin.portofolio {
    margin-bottom: 5px;
}
.panel-body.search,.admin-find-property {
    width: 50%;
    float: right;
    padding: 15px 0px 10px 0px;
}
.admin-find-property.mg-top-20 {
    margin-top: 25px;
}
.reactive-table-filter.form-group.col-sm-8.pull-right {
    width: 77.4%;
    padding-right: 6px;
    margin-top: 10px;
}
.admin-margin-0 {
    margin: 0px;
}
.admin-mg-70 {
    width: 70%;
    float: right;
}
.admin-mg-10-10 {
    margin: 15px 0px 10px 0px;
}
.admin-find-property.mg-top-15 {
    margin-top: 15px;
}
.admin-width-103 {
    width: 103px;
}
.admin-mg-bot-5 {
    margin-bottom: 5px;
}
.admin-mg-btn-amenity {
    margin: 15px 0px 0px 15px;
}
.admin-mg-min-plus {
    margin-left: -85px;
    margin-right: 30px;
}
.admin-img-profil-60 {
    margin-top: 60px;
}
.admin-visibility-hidden {
    visibility: hidden;
}
.admin-pro-title.step-5-location.property-color {
    background-color: #ececec;
}
.admin-pro-title.property-color {
    background-color: #f8f8f8;
}
.col-md-12.identification.pd-left-0px {
    padding-left: 0px;
}
.admin-mg-btm-15 {
    margin-bottom: 15px;
}
.admin-mg-left-30 {
    margin-left: 30px;
}
.admin-pd-left-25 {
    padding-left: 25px;
}
.identification.pd-left-15px {
    padding-left: 15px;
    width: 65% !important;
}
.admin-pro-title.property-header {
    background-color: #c6c6ce;
    color: white;
}
.admin-upload .dz-remove.font-remove-file.delete-file-af {
    cursor: pointer;
}
.admin-photo-development {
    width: 100%;
    height: 400px;
    padding: 0px;
}
.admin-photo-development.second {
    height: 200px !important;
}
.admin-pro-title.mg-bot-15 {
    margin-bottom: 15px;
}
.admin-no-margin-0 {
    margin: 0px;
}
.admin-set-table .status_approved {
    width: 18%;
}
.admin-set-table .date_approved,.admin-set-table .created_at {
    width: 13%;
}
.admin-set-table-dev .planing_region {
    width: 11%;
}
.admin-set-table-app .schedule {
    width: 12%;
}
.admin-bc.country-no-behind {
    margin-top: -8px;
    font-size: 12px;
    padding-left: 12px;
}
.admin-f18 {
    font-size: 18px;
}
.row.less.admin-step4.mg-top-15 {
    margin-top: 15px;
}
.admin-create-property .col-sm-3.control-label,.admin-create-property .col-sm-6.control-label {
    text-align: left;
    font-weight: normal;
}
.admin-create-property .col-sm-6.control-label {
    padding-left: 0px;
}
.admin-create-property .admin-pd-left-8 {
    padding-left: 8px;
}
.admin-vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.admin-upload-title, .admin-upload-title-2, .admin-upload-title-3 {
    background-color: #c6c6ce;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    font-size: 15px;
}
.container.admin-full-size {
    width: 100%;
}
.image_road_sg.admin-identification {
    height: 10vw;
}
.admin-photo-of-initiate {
    text-align: center;
    padding-right: 60px;
}
.admin-photo-of-initiate img,.identification.pd-left-15pxx img {
    height: 12vw;
    width: 180px;
}
.identification.pd-left-15pxx {
    padding-left: 15px;
}
.admin-amenities-icon .amenities-select {
    display: inherit;
}
.admin-create-property .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 33px;
}
.admin-create-property .select2-selection.select2-selection--single {
    height: 35px;
    border: 1px solid #d0caca;
    border-radius: 0px;
}
.col-sm-9.admin-amenities {
    margin-top: 10px;
}
.admin-preview-unit .col-sm-6.control-label {
    padding-left: 15px;
}
.admin-btn-75-percent {
    width: 88%;
}
@media screen and (max-width: 1280px) {
    .admin-set-table-dev .planing_region {
        width: 12%;
    }
    .admin-set-table-dev .action {
        width: 11%;
    }
    .admin-btn-75-percent {
        width: 80%;
    }
    .admin-set-loi .action {
        width: 13%;
    }
}
#previewImage.admin-pictures img {
    height: 8vw;
    width: 165px;
}
.admin-pd-pictures-left {
    padding-left: 30px;
}
.admin-set-table-dev .reactive-table-filter.form-group.col-sm-8.pull-right,
.admin-set-amenity .reactive-table-filter.form-group.col-sm-8.pull-right {
    padding-left: 0px;
    margin-top: 15px;
}
.admin-set-amenity .fa-filter:before,.admin-set-table-dev .fa-filter:before {
    content: "\f002";
}
.admin-set-table .development {
    width: 15%;
}
.disabledListing {
    pointer-events: none;
    cursor: default;
}
.amenity-action .action {
    padding-top: 12px;
}
.amenity-action button,.admin-all-action button,.admin-set-table-app button{
    width: 58px;
    height: 30px;
    padding-top: 3px;
}
.loi-ta-action button {
    height: 30px;
    padding-top: 3px;
}
.amenity-action button#deleteAmenity {
    padding-left: 10px;
}
.admin-set-table-app button#deposit {
    margin-right: 3px;
    padding-left: 5px;
}
.admin-set-table-app #payment {
    padding-left: 2px;
}
.admin-set-table-app button#deleteAppointment.paid {
    margin-top: 3px;
    padding-left: 10px;
}
.admin-set-table-app button#deleteAppointment {
    padding-left: 10px;
}
#rejectedReason {
    margin-bottom: 10px;
}
.tab-pane.admin-four-row {
    width: 100% !important;
}
.admin-four-row .col-md-10.admin-mg-btm-15 .form-group {
    display: inline-block;
}
.admin-four-row .dropzone.af-select-file.js-af-select-file {
    min-height: 155px;
    min-width: 204px;
    text-align: center;
}
.admin-four-row a.delete-file-af {
    display: table;
    width: 100%;
    cursor: pointer;
}
.admin-four-row img.img-fileUpload-thumbnail {
    width: 100px;
    height: 90px;
}
.admin-all-action .btn-danger {
    padding-left: 10px;
}
.admin-pro-title.property-header.tenant {
    margin-top: 20px;
}
.admin-pd-left-0 {
    padding-left: 0px;
}
.row.tenant-information {
    margin-bottom: 20px;
}
.identification.pd-left-0px {
    padding-left: 0px;
    margin-bottom: 10px;
}
.admin-set-loi.loi-ta-action.ta-action .action {
    width: 12%;
}
.admin-upload-stamp {
    margin-bottom: 3px;
}
.admin-btn-submit-stamp {
    height: 30px;
    margin-top: -5px;
    padding: 5px 10px;
}
.col-sm-12.admin-upload .img-fileUpload-thumbnail {
    height: 80px;
}
.admin-detail-ta .action {
    width: 12%;
}
.image-vrf-confirm img {
    width: 300px;
}
.admin-mg-bot-step-all {
    margin-top: 20px;
}
.admin-row-pd-l-15 {
    padding-left: 15px;
}
.admin-row-pd-l-15 .form-group {
    float: left;
}
.admin-row-pd-l-15 .col-sm-12.col-xs-12.four-row {
    padding-right: 20px;
}
.admin-row-pd-l-15 .dropzone.af-select-file.js-af-select-file {
    max-width: 190px;
    text-align: center;
    min-height: 160px;
}
.admin-row-pd-l-15 .img-fileUpload-thumbnail {
    max-width: 150px;
    height: 96px;
}
.admin-row-pd-l-15 .dropzone a {
    cursor: pointer;
}
.admin-description-edit p {
    padding-left: 10px;
}
.admin-edit-map {
    height: 350px;
}
.admin.type.owner.wide {
    width: 58% !important;
    margin-left: 2px;
}
#admin-ck-button.active {
    background-color: #2289ff;
}
#admin-ck-button:first-child {
    border-radius: 5px 0px 0px 5px;
}
#admin-ck-button {
    margin: 0;
    background-color: #FFF;
    border: 1px solid #ddd;
    overflow: auto;
    float: left;
    border-right: 0;
}
.admin.col-xs-4.rd-individual {
    width: 35% !important;
    border-radius: 1px solid !important;
    font-size: 15px;
    font-weight: 600;
    color: #636D7B;
    padding-top: 10px;
    text-align: center;
    height: 45px;
}
#admin-ck-button:last-child {
    border-radius: 0px 5px 5px 0px;
    border-right: 1px solid #ddd;
}
.admin-upload-title.light-color {
    background-color: #e3e3e3;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.admin-form-3 input,.admin-form-3 .selectize-input {
    width: 30%;
}
.admin-type-3 {
    margin: 20px 0px 10px 0px;
}
.admin-dif-group .form-group {
    margin-bottom: 0px;
}
.admin-mg-min-50 {
    margin-left: -50px;
}
.admin-time-slot-20 {
    margin-bottom: 20px;
}
.admin-time-slot-top20 {
    margin-top: 20px;
}
.admin-individual {
    border-bottom: 1px solid #ddd;
    height: 44px;
}
.admin-no-bd-tab3 {
    border-bottom: 0px !important;
}
.Rejected-status {
		pointer-events: auto;
		cursor:pointer;
		color: #dd4b39;
}
.Expired-status {
		pointer-events: auto;
		cursor:pointer;
		color: red;
}
.Pending-status {
		pointer-events: auto;
		cursor:pointer;
		color: #ddbc39;
}
.Accepted-status {
		pointer-events: auto;
		cursor:pointer;
		color: #00a65a;
}
span.received-fee {
		pointer-events: auto;
		cursor:pointer;
		color: #00a65a;
}
span.noreceived-fee {
		pointer-events: auto;
		cursor:pointer;
		color: #dd4b39;
}
div.scroll-table {
	width: 100%;
	overflow-y:hidden;
}
.tableScrollTA{
	width: 300%;
	max-width : 300%;
}
.tableScroll {
	width: 200%;
	max-width : 200%;
}
th.marginTable{
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.admin-w-h-45 {
    width: 45px !important;
    height: 45px !important;
}
.col-xs-4.admin-rd-individual {
    width: 35% !important;
    border-radius: 1px solid !important;
    font-size: 15px;
    font-weight: 600;
    color: #636D7B;
    padding-top: 10px;
    text-align: center;
    height: 45px;
    overflow: hidden !important;
    padding: 0px;
}
.col-xs-4.admin-rd-individual a {
    font-size: 14px;
    color: black;
}
#admin-ck-button:last-child {
    border-radius: 0px 5px 5px 0px;
    border-right: 1px solid #ddd;
}
.col-xs-8.admin-rd-company {
    width: 60% !important;
    height: 45px;
    font-size: 15px;
    font-weight: 600;
    color: #636D7B;
    padding-top: 0px;
    overflow: hidden !important;
}
.col-xs-8.admin-rd-company a {
    text-align: center;
    color: black;
    font-size: 14px;
    height: 45px;
    overflow: hidden;
}
.admin-type.owner.wide {
    width: 58% !important;
    margin-left: 2px;
}
.admin-rd-individual.active .admin-individual {
    background-color: transparent !important;
    border: transparent !important;
    font-size: 14px;
    color: white !important;
    padding: 10px 0px 0px 0px;
}
.admin-individual:hover {
    background-color: transparent;
}
.admin-rd-company.active a{
    padding: 10px 0px 0px 0px;
    background-color: transparent !important;
    border-color: transparent !important;
    color: white !important;
    text-align: center;
    font-size: 14px;
    height: 45px;
    overflow: hidden !important;
}
.step3-pd-right.photo.admin-width-100 {
    width: 100%;
}
.admin-pack-applicable.owner-3 {
    width: 52%;
    float: left;
}
.col-sm-9.col-xs-9.loi_padding_right.box-type.box-applicable.mg-left-157.mg-top-45.admin-owner {
    width: 50%;
    margin-left: 48px;
}
.col-sm-9.col-xs-9.loi_padding_right.box-type.box-applicable.mg-left-157.mg-top-45.admin-owner label,
.col-sm-9.col-xs-9.loi_padding_right.box-typebox-apllicable-second-box.width-29.mg-top-14.admin-owner label {
    width: 76%;
    text-align: center;
}
.pack-applicable-second.width-242.mg-left-80.admin-owner {
    width: 40%;
    float: left;
}
.col-sm-9.col-xs-9.loi_padding_right.box-typebox-apllicable-second-box.width-29.mg-top-14.admin-owner {
    width: 68%;
    margin-bottom: 30px;
}
.col-md-3.col-sm-3.col-xs-3.loi_padding_left.width-applicable.admin-pd-left-30 {
    padding-left: 30px;
}
.admin-mg-left-15 {
    margin-left: 15px;
}
.admin-mg-bot-20 {
    margin-bottom: 20px;
}
.admin-pd-0 {
    padding: 0px;
}
.admin-amenities-icon.admin-step1 .col-sm-3 {
    width: 15%;
}
.disable-owner-admin {
    margin-left: -35px;
}
.tableScroll.scrollLoi,.tableScrollTA.scrollLoi {
    display: block;
}
.tableScroll.scrollLoi tbody,.tableScrollTA.scrollLoi tbody {
    overflow-y: scroll;
    max-height: 500px;
    display: block;
}
.tableScroll.scrollLoi thead tr th {
    width: 6%;
}
.tableScroll.scrollLoi tbody tr td {
    width: 6%;
}
.tableScrollTA.scrollLoi thead tr th,.tableScrollTA.scrollLoi tbody tr td {
    width: 3%;
}