<div id="header" class="header navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed navbar-toggle-left" data-click="sidebar-minify" (click)="switchSidebar()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			<button type="button" class="navbar-toggle" data-click="sidebar-toggled" (click)="toggleSidebar()">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a [routerLink]="['dashboard']" class="navbar-brand navbar-admin">
                Admin Page
            </a>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown navbar-user">
				<a *ngIf="user" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
					<img *ngIf="user.picture" src="{{user.picture.url}}" alt="" /> 
					<img *ngIf="!user.picture" src="client/include/images/img/cs.png" alt="" /> 
					<span class="hidden-xs">Hi, {{user.username}}</span>
				</a>
				<ul class="dropdown-menu animated fadeInLeft">
					<li class="arrow"></li>
					<li class="pointer"><a (click)="logout()">Log Out</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>