<div id="content" [class]="contentClass">
    <div class="panel panel-inverse" data-sortable-id="table-basic-1">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">History</h4>
        </div> 
        <div class="panel-body">
            <fieldset class="bd-gray loi-table table-responsive">
                <div class="ui-widget-header width-150">
                    <i class="fa fa-search global-filter"></i>
                    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                </div>
                <div class="width-150">
            	<p-dataTable [value]="history" [rows]="10" [paginator]="true" [globalFilter]="gb">
                    <p-column field="" header="Start Date">
                        <template let-value="rowData" pTemplate="body">
                            {{value?.letter_of_intent?.data?.date_commencement | date:'dd/MM/yyyy'}}
                        </template> 
                    </p-column>
                    <p-column field="" header="End Date">
                        <template let-value="rowData" pTemplate="body">
                            {{value?.letter_of_intent?.data?.end_date | date:'dd/MM/yyyy'}}
                        </template> 
                    </p-column>
                    <p-column field="landlord.username" header="Landlord"></p-column>
                    <p-column field="tenant.username" header="Tenant"></p-column>
            		<p-column header="Unit No.">
                        <template let-value="rowData" pTemplate="body">
                            #{{value?.property?.address?.floor}} - {{value?.property?.address?.unit}} {{value?.property?.address?.street_name}}
                        </template>
                    </p-column>
                    <p-column field="property.development.name" header="Development"></p-column>
                    <p-column field="property.details.bedroom" header="No. of Bedroom"></p-column>
                    <p-column field="property.details.size_sqf" header="Size(sqft)"></p-column>
                    <p-column header="Monthly Rent">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.letter_of_intent?.data?.monthly_rental}}</span>
                        </template>
                    </p-column>
                    <p-column field="property.details.psqft" header="Rental(psf)"></p-column>
                    <p-column field="property.address.floor" header="Unit Level"></p-column>
                    <p-column field="property.address.unit" header="Unit Stack"></p-column>
            	</p-dataTable>
                </div>
            </fieldset>
        </div>
    </div>    
</div>	