<div class="dashboard-appointments">
	<h3 class="align-member-section">Letter of Intent</h3>
	<div class="header-breadcrumb">
		<span id="filAll" [ngClass]="{'color-in-status-blue': isAll }">
			<a class="pointer" (click)="isAll=true;isAction=false;isPending=false;isArchived=false">All ({{agreements.length}})</a>
		</span>|
		<span id="filAction" [ngClass]="{'color-in-status-blue': isAction }" class="span-pd-left-8">
			<a class="pointer" (click)="isAll=false;isAction=true;isPending=false;isArchived=false">Action Required ({{action.length}})</a>
		</span>|
		<span id="filPending" [ngClass]="{'color-in-status-blue': isPending }" class="span-pd-left-8">
			<a class="pointer" (click)="isAll=false;isAction=false;isPending=true;isArchived=false">Pending ({{pending.length}})</a>
		</span>|
		<span id="filArchived" [ngClass]="{'color-in-status-blue': isArchived }" class="span-pd-left-8">
			<a class="pointer" (click)="isAll=false;isAction=false;isPending=false;isArchived=true">Archived ({{archived.length}})</a>
		</span>
	</div>
	<div class="tab-content">
		<div role="tabpanel" [ngClass]="{'active': isAll }" class="tab-pane active tab-pd-top" id="isAll">
			<p-dataTable [value]="agreements" [rows]="10" [paginator]="true">
			    <p-column header="Property">
			    	<template let-agreements="rowData" pTemplate="body">
			    		#{{agreements?.property?.address?.floor}}-{{agreements?.property?.address?.block_number}} {{agreements?.property?.address?.street_name}}
			    	</template>
			    </p-column>
			    <p-column field="landlord.username" header="Landlord"></p-column>
			    <p-column field="tenant.username" header="Tenant"></p-column>
			    <p-column header="Status">
			    	<template let-agreements="rowData" pTemplate="body">
			    		<span *ngIf="agreements?.letter_of_intent?.data?.status == 'payment-confirmed' && userID == agreements.tenant._id">Pending Landlord Acceptance</span>
			    		<span *ngIf="agreements?.letter_of_intent?.data?.status == 'payment-confirmed' && userID == agreements.landlord._id" class="status-red-property">Your Signature Required</span>
			    		<span *ngIf="agreements?.letter_of_intent?.data?.status == 'pending'" class="status-blue-property">Pending Staysmart verification</span>
			    		<span *ngIf="agreements?.letter_of_intent?.data?.status == 'accepted'" class="status-accepted-property">Archived</span>
			    		<span *ngIf="agreements?.letter_of_intent?.data?.status == 'expired'" class="status-rejected-property">Expired</span>
			    		<span *ngIf="agreements?.letter_of_intent?.data?.status == 'rejected'" class="status-rejected-property">Rejected</span>
			    	</template>
			    </p-column>
			    <p-column field="letter_of_intent.data.created_at" header="Since"></p-column>
			    <p-column header="Action" styleClass="col-button">
			    	<template let-agreements="rowData" pTemplate="body">
			    		<span *ngIf="agreements?.letter_of_intent?.data?.status == 'rejected' && agreements.tenant?._id == userID">
			    			<a (click)="initiateLOI(agreements)" class="initiate under_line pointer">Initiate LOI</a>
			    		</span>
			    		<span *ngIf="agreements?.letter_of_intent?.data?.status != 'rejected'">
			    			<a (click)="view(agreements)" class="under_line cursor">View</a>
			    		</span>
			    		<span *ngIf="agreements?.letter_of_intent?.data?.status == 'accepted' && (!agreements?.tenancy_agreement?.data?.status || agreements?.tenancy_agreement?.data?.status =='rejected' ||  agreements?.tenancy_agreement?.data?.status =='expired') && agreements.landlord?._id == userID">
			    			<a (click)="initiateTA(agreements)" class="initiateTenancyAgreement under_line pointer">Initiate TA</a>
			    		</span>
			    	</template>
			    </p-column>
			</p-dataTable>
		</div>
		<div role="tabpanel" [ngClass]="{'active': isAction }" class="tab-pane active tab-pd-top" id="isAll">
			<p-dataTable [value]="action" [rows]="10" [paginator]="true">
				<p-column header="Property">
				<template let-action="rowData" pTemplate="body">
				#{{action?.property?.address?.floor}}-{{action?.property?.address?.block_number}} {{action?.property?.address?.street_name}}
					</template>
				</p-column>
				<p-column field="landlord.username" header="Landlord"></p-column>
				<p-column field="tenant.username" header="Tenant"></p-column>
				<p-column header="Status">
					<template let-action="rowData" pTemplate="body">
						<span *ngIf="action?.letter_of_intent?.data?.status == 'pending'" class="status-blue-property">Pending Staysmart verification</span>
						<span *ngIf="action?.letter_of_intent?.data?.status == 'accepted'" class="status-accepted-property">Archived</span>
						<span *ngIf="action?.letter_of_intent?.data?.status == 'expired'" class="status-rejected-property">Expired</span>
						<span *ngIf="action?.letter_of_intent?.data?.status == 'rejected'" class="status-rejected-property">Rejected</span>
					</template>
				</p-column>
				<p-column field="letter_of_intent.data.created_at" header="Since"></p-column>
				<p-column header="Action" styleClass="col-button">
			    	<template let-action="rowData" pTemplate="body">
			    		<span *ngIf="action?.letter_of_intent?.data?.status == 'rejected' && action.tenant?._id == userID">
			    			<a (click)="initiateLOI(action)" class="initiate under_line cursor">Initiate LOI</a>
			    		</span>
			    		<span *ngIf="action?.letter_of_intent?.data?.status != 'rejected'">
			    			<a (click)="view(action)" class="under_line cursor">View</a>
			    		</span>
			    		<span *ngIf="action?.letter_of_intent?.data?.status == 'accepted' && action.landlord?._id == userID && !action.tenancy_agreement?.data">
			    			<a (click)="initiateTA(action)" class="initiateTenancyAgreement under_line cursor">Initiate TA</a>
			    		</span>
			    	</template>
			    </p-column>
			</p-dataTable>
		</div>
		<div role="tabpanel" [ngClass]="{'active': isPending }" class="tab-pane active tab-pd-top" id="isAll">
			<p-dataTable [value]="pending" [rows]="10" [paginator]="true">
				<p-column header="Property">
			    	<template let-pending="rowData" pTemplate="body">
			    		#{{pending?.property?.address?.floor}}-{{pending?.property?.address?.block_number}} {{pending?.property?.address?.street_name}}
			    	</template>
			    </p-column>
			    <p-column field="landlord.username" header="Landlord"></p-column>
			    <p-column field="tenant.username" header="Tenant"></p-column>
			    <p-column header="Status">
			    	<template let-pending="rowData" pTemplate="body">
			    		<span *ngIf="pending?.letter_of_intent?.data?.status == 'pending'" class="status-blue-property">Pending Staysmart verification</span>
			    		<span *ngIf="pending?.letter_of_intent?.data?.status == 'accepted'" class="status-accepted-property">Archived</span>
			    		<span *ngIf="pending?.letter_of_intent?.data?.status == 'expired'" class="status-rejected-property">Expired</span>
			    		<span *ngIf="pending?.letter_of_intent?.data?.status == 'rejected'" class="status-rejected-property">Rejected</span>
			    	</template>
			    </p-column>
			    <p-column field="letter_of_intent.data.created_at" header="Since"></p-column>
			    <p-column header="Action" styleClass="col-button">
			    	<template let-pending="rowData" pTemplate="body">
			    		<span *ngIf="pending?.letter_of_intent?.data?.status == 'rejected' && pending?.tenant?._id == userID">
			    			<a (click)="initiateLOI(pending)" class="initiate under_line cursor">Initiate LOI</a>
			    		</span>
			    		<span *ngIf="pending?.letter_of_intent?.data?.status != 'rejected'">
			    			<a (click)="view(pending)" class="under_line cursor">View</a>
			    		</span>
			    		<span *ngIf="pending?.letter_of_intent?.data?.status == 'accepted' && pending?.landlord?._id == userID && !pending?.tenancy_agreement?.data">
			    			<a (click)="initiateTA(pending)" class="initiateTenancyAgreement under_line cursor">Initiate TA</a>
			    		</span>
			    	</template>
			    </p-column>
			</p-dataTable>
		</div>
		<div role="tabpanel" [ngClass]="{'active': isArchived }" class="tab-pane active tab-pd-top" id="isAll">
			<p-dataTable [value]="archived" [rows]="10" [paginator]="true">
				<p-column header="Property">
			    	<template let-archived="rowData" pTemplate="body">
			    		#{{archived?.property?.address?.floor}}-{{archived?.property?.address?.block_number}} {{archived?.property?.address?.street_name}}
			    	</template>
			    </p-column>
			    <p-column field="landlord.username" header="Landlord"></p-column>
			    <p-column field="tenant.username" header="Tenant"></p-column>
			    <p-column header="Status">
			    	<template let-archived="rowData" pTemplate="body">
			    		<span *ngIf="archived?.letter_of_intent?.data?.status == 'pending'" class="status-blue-property">Pending Staysmart verification</span>
			    		<span *ngIf="archived?.letter_of_intent?.data?.status == 'accepted'" class="status-accepted-property">Archived</span>
			    		<span *ngIf="archived?.letter_of_intent?.data?.status == 'expired'" class="status-rejected-property">Expired</span>
			    		<span *ngIf="archived?.letter_of_intent?.data?.status == 'rejected'" class="status-rejected-property">Rejected</span>
			    	</template>
			    </p-column>
			    <p-column field="letter_of_intent.data.created_at" header="Since"></p-column>
			    <p-column header="Action" styleClass="col-button">
			    	<template let-archived="rowData" pTemplate="body">
			    		<span *ngIf="archived?.letter_of_intent?.data?.status != 'rejected'">
			    			<a (click)="view(archived)" class="under_line cursor">View</a>
			    		</span>
			    		<span *ngIf="archived?.letter_of_intent?.data?.status == 'accepted' && archived?.landlord?._id == userID && !archived?.tenancy_agreement?.data">
			    			<a (click)="initiateTA(archived)" class="initiateTenancyAgreement under_line">Initiate TA</a>
			    		</span>
			    	</template>
			    </p-column>
			</p-dataTable>
		</div>
	</div>
</div>


