<div class="modal fade" bsModal #modalLogin="bs-modal" [config]="{closeOnOutsideClick: 'true',closeOnEscape: 'true'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog signIn_modal">
    <div class="modal-content">
      <div class="modal-body modal-body-login">
          <!-- {{> atForm}} -->
          <div class="row">
            <div class="col-md-12">
              <div><h3><b>Login</b></h3></div>
            </div>
          </div>
          <button class="btn at-social-btn login-facebook" id="loginWithFacebook" name="facebook">
            <i class="fa fa-facebook facebookIcon"></i> <span class="label_facebook"><b>Log in with Facebook</b></span>
          </button>
          <div class="horizontal_row">
            <span class="horizontal-line">
              <b>Or</b> <!--Padding is optional-->
            </span>
          </div>
          <form id="signIn"  (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group" data-required="true">
                  <input type="text" name="user" placeholder="Email or Username" class="form-control label_field_signin" id="wGeDvpHzHcoRvYTJ4" required="" data-schema-key="user" [(ngModel)]="model.user" #user="ngModel" required>
                  <div *ngIf="f.submitted && !user.valid" class="help-block">User is required</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group" data-required="true">
                  <input type="password" name="password" placeholder="Password" class="form-control label_field_signin_password" id="Nuoxfto35CcHq3YE2" required="" data-schema-key="password" [(ngModel)]="model.password" #password="ngModel" required>
                  <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                </div>
               </div>
            </div>
            <div class="row">
              <div class="col-md-12 dis">
                <button id="submitLogin" type="submit" class="btn btn-block btn-success login-button" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Logging In">
                  <h5><b>Login</b></h5>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="singup_label dis2">
                <span><b>No account?</b></span><span id="signUp" class="green_label"><b>Sign up now</b></span>
              </div>
            </div>
          </form>
        </div>
        <div class="forgotpassword_div">
          <span id="forgotPassword"><b>Forgot password</b></span>
        </div>
    </div>
  </div>
</div>