<div class="container container-body">
    <div class="row">
        <p class="current-list page-header-top between-navbar why-us reupload">
            <a routerLink="/ta/Rwqk6EqFkRWMtXEL4/payment">Tenancy Agreement &gt; Upload Payment</a>
        </p>
        <loading *ngIf="!loi" class="mg-l-47"></loading>
        <div *ngIf="loi" class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2">
            <p class="text-upload-payment no-margin">
                Please transfer <span class="important-value">${{loi?.security_deposit}}</span> to Staysmart’s bank account being payment for The Security Deposit.<br>
                <br>
                <u> Staysmart Bank Account Details </u><br>
                Account Name: <span class="important-value">Staysmart Pte. Ltd.</span><br>
                Bank: <span class="important-value">DBS</span><br>
                Account No.:<span class="important-value"> 100-904130-7 </span><br>
            </p>
            <form id="formTenancyAgreementPayment" novalidate="novalidate">
                <div class="form-group" data-required="true">
                    <label class="col-sm-3 col-xs-12 loi_padding_left control-label" for="TmBzW5LFYRkZevRRC">Upload proof of transfer of Security Deposit</label>
                    <div class="col-sm-9 col-xs-12 loi_padding_right">
                        <dropzone
                        [element]="'#dropzone'"
                        [clickable]="'#dropzone'"
                        [acceptedFiles]="'image/*'"
                        [uploadMultiple]="'false'"
                        [autoProcessQueue]="'false'"
                        [url]="link"
                        [headers]="header"
                        (sending)="handleFileSending($event)"
                        (success)="handleFileSuccess($event)"
                        (addedfile)="handleFileAdded($event)"
                        (removedfile)="handleFileRemoved($event)"
                        (error)="handleFileFailure($event)"
                        ></dropzone>
                        <div id="dropzone" class="dropzone"></div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 loi_padding_right"></div>
                <div class="col-sm-4 col-xs-12 loi_padding_right">
                    <button type="button" (click)="back()" class="btn btn-block btn-default back-to-list-loi">Back</button>
                </div>
                <div class="col-sm-4 col-xs-12 loi_padding_right fl-right">
                    <button type="button" (click)="savePayment()" class="btn btn-block btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>