<div class="container container-body">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p class="current-list page-header-top between-navbar why-us">
				<a routerLink="/">Home</a>
				<a [routerLink]="['/loi/'+ id +'/view']">&gt; Letter Of Intent</a>
			</p>
			<loading *ngIf="!agreement || !loi" class="mg-l-47"></loading>
			<div *ngIf="agreement && loi" class="about-desc col-lg-12 col-sm-12 col-xs-12 padding_ta_side">
				<div [ngClass]="{ 'text-center': !report }" class="col-md-12 col-sm-12 col-xs-12 background_ta2 sentence_loi">
					<loading *ngIf="!report"></loading>
					<div *ngIf="report" [innerHtml]="report | safeHtml"></div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 background_ta2 sentence_ta">
					<div class="col-md-3 col-sm-3 signature_ta">
					</div>
					<div *ngIf="loi" class="col-md-6 col-sm-6 col-xs-12 signature_ta pull-right pull-left">
						<div class="signature_tenant" *ngIf="userId == agreement?.tenant._id">
							<p *ngIf="!loi?.confirmation?.tenant?.sign">
								<b class="ta_color">Signature of Tenant</b>
								<br>
								<signature name="tenantLoiSign"></signature>
								<br>
								<b>{{agreement?.tenant?.username}}</b>
								<br>
								<b>{{loi?.tenant?.identification_number}}</b>
								<br>
								<b>{{ date | date:'dd/MM/y' }}</b>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2 background_ta2 button_background_ta">
					<button type="button" id="printPage" data-loading-text="<i class='fa fa-print'></i> <i class='fa fa-spinner fa-spin '></i> Printing.. " class="btn btn-print icon_list_right" aria-hidden="true" *ngIf="loi?.status == 'accepted'">
						<i (click)="printDownload()" class="fa fa-print">Print page</i>
					</button>
				</div>
				<div *ngIf="agreement && loi" class="col-md-10 col-sm-10 col-xs-10 background_ta2 button_background_ta loi_preview_btn">
					<button (click)="back()" type="button" id="back" class="btn btn-default btn-search button_ta previous_loi back-to-list-loi mg-l-4">Back to List</button>
					<div *ngIf="agreement?.tenant?._id == userId">
						<button type="button" id="reInitiate" class="btn btn-info document-btn previous_loi" *ngIf="loi?.status == 'expired' || loi?.status == 'rejected'">Re-Initiate</button>
						<button *ngIf="!loi?.payment" (click)="uploadPayment()" type="button" id="reupload" class="btn btn-default btn-search button_ta previous_loi space-btn-5">Upload Payment</button>
						<div *ngIf="loi?.confirmation?.tenant?.sign">
							<div *ngIf="loi?.payment">
								<button *ngIf="loi?.status == 'draft'" (click)="send()" type="button" class="btn btn-default btn-search button_ta previous_loi float-r ml-5 h-40">Send</button>
							</div>
							<button *ngIf="loi?.payment" (click)="modalPayment.show()" type="button" class="btn btn-info float-r ml-5 h-40 margin-right">View Payment Details</button>
						</div>
					</div>
					<div *ngIf="agreement?.landlord?._id == userId">
						<button *ngIf="!isReject" (click)="modalTenant.show()" type="button" class="btn btn-info float-r ml-5 h-40">View Tenant Details</button>
						<button *ngIf="loi?.payment && !isReject" (click)="modalPayment.show()" type="button" class="btn btn-info float-r ml-5 h-40">View Payment Details</button>
						<div *ngIf="loi?.status != 'accepted'">
							<button *ngIf="!isReject" (click)="isReject = true" type="button" class="btn btn-danger float-r ml-5 h-40 previous_loi">Reject</button>
							<button *ngIf="loi?.status == 'pending' && !isReject" type="button" class="btn btn-success float-r ml-5 h-40 previous_loi disb" disabled title="Pending Staysmart Verification">Accept</button>
							<button *ngIf="loi?.status == 'payment-confirmed' && !isReject" (click)="gotoConfirm()" type="button" class="btn btn-success float-r ml-5 h-40 previous_loi" title="Pending Staysmart Verification">Accept</button>
						</div>
					</div>
				</div>
				<div *ngIf="isReject" class="col-md-6 col-sm-12 col-xs-12 message">
					<textarea [(ngModel)]="model.reason" class="form-control" placeholder="Rejected Reason" rows="5"></textarea>
					<button (click)="reject()" class="btn btn-warning">
						<span *ngIf="loading"><i class='fa fa-spinner fa-spin '></i> Please Wait</span>
            			<span *ngIf="!loading">Submit</span>
					</button>
					<button *ngIf="!loading" (click)="isReject = false" class="btn btn-default">Cancel</button>
					<button *ngIf="loading" (click)="isReject = false" disabled="true" class="btn btn-default">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- View Payment modal -->
<div bsModal #modalPayment="bs-modal" class="modal fade" style="padding-right: 17px;">
	<div class="modal-dialog signIn_modal modal-detail-payment" role="document">
		<div class="modal-content">
			<div class="modal-body modal-body-login">
				<div class="row">
					<div class="col-md-12 col-sm-6 col-xs-6 view-payment-detail">
						<div><h3><b>Payment Details</b></h3></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6 occupant-detail">
						<b>Good Faith Deposit</b> <span>:</span>
					</div>
					<div *ngIf="loi?.payment?.fee[1]?.amount" class="col-md-6 col-sm-6 col-xs-6 occupant-detail">
						{{loi?.payment?.fee[1]?.amount | currency:'USD':true:'4.0-0'}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6 occupant-detail">
						<b>Stamp Duty Amount</b> <span>:</span>
					</div>
					<div *ngIf="loi?.payment?.fee[0]?.amount" class="col-md-6 col-sm-6 col-xs-6 occupant-detail">
						{{loi?.payment?.fee[0]?.amount | currency:'USD':true:'4.0-0'}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6 occupant-detail">
						<b>Total</b> <span>:</span>
					</div>
					<div *ngIf="loi?.payment?.fee[0]?.amount && loi?.payment?.fee[1]?.amount" class="col-md-6 col-sm-6 col-xs-6 occupant-detail">
						{{loi?.payment?.fee[0]?.amount + loi?.payment?.fee[1]?.amount | currency:'USD':true:'4.0-0'}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6 occupant-detail">
						<b>Proof of Transfer</b> <span>:</span>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 mg-top-7">
						<a *ngIf="loi?.payment?.attachment?.payment" data-lightbox="imageLoi1">
							<img src="{{loi?.payment?.attachment?.payment?.url}}" class="identity-proof size-occupants-detail img-view-payment-detail">
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6 occupant-detail">
						<b>Status</b> <span>:</span>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 occupant-detail">
						<span *ngIf="loi?.payment?.status == 'pending'" class="color-not-approved fl-l">Payment not approved yet</span>
						<span *ngIf="loi?.payment?.status == 'accepted'" class="color-not-approved fl-l">Payment approved</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- View Tenant modal -->
<div bsModal #modalTenant="bs-modal" class="modal fade" style="padding-right: 17px;">
	<div class="modal-dialog signIn_modal modal-detail-payment" role="document">
		<div class="modal-content">
			<div class="modal-body modal-body-login">
				<div class="row">
					<div class="col-md-12 col-sm-6 col-xs-6">
						<div><h3><b>Tenant Details</b></h3></div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6 occupant-detail pd-left">
						<b>Name</b> <span>:</span>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 occupant-detail">
						{{agreement?.tenant?.username}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6 occupant-detail pd-left">
						<b>Identification Type</b> <span>:</span>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 occupant-detail">
						{{agreement?.letter_of_intent?.data?.tenant?.identification_type}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6 occupant-detail pd-left">
						<b>Identification No</b> <span>:</span>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 occupant-detail">
						{{agreement?.letter_of_intent?.data?.tenant?.identification_number}}
					</div>
				</div>
				<div *ngIf="agreement?.letter_of_intent?.data?.tenant?.identification_proof?.front" class="row">
					<div class="col-md-6 col-sm-6 col-xs-6 occupant-detail pd-left">
						<b>Identification Proof (front)</b> <span>:</span>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 occupant-detail">
						<a data-lightbox="imageLoi1">
							<img class="identity-proof size-occupants-detail" src="{{agreement?.letter_of_intent?.data?.tenant?.identification_proof?.front?.url}}">
						</a>
					</div>
				</div>
				<div *ngIf="agreement?.letter_of_intent?.data?.tenant?.identification_proof?.back" class="row">
					<div class="col-md-6 col-sm-6 col-xs-6 occupant-detail pd-left">
						<b>Identification Proof (back)</b> <span>:</span>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 occupant-detail">
						<a data-lightbox="imageLoi1">
							<img class="identity-proof size-occupants-detail" src="{{agreement?.letter_of_intent?.data?.tenant?.identification_proof?.back?.url}}">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
