<h3 class="align-member-section">Shortlisted Properties</h3>
<div class="member-shortlist">
  <div class="product" *ngFor="let property of favProperties">
    <div class="fav-icon">
      <i class="fa fa-heart" aria-hidden="true"></i>
    </div>
    <a (click)="view(property?._id)" id="viewProperty">
      <div class="col-md-12 relative">
        <a (click)="unshortlistProperty(property?._id)"><span class="remove-favourite delete-button-top-right cwhite" title="Remove shortlisted"><i class="fa fa-trash"></i></span></a>
        <img alt="Chania" class="img-favorite-listing" [src]="property?.pictures.living[0].url">
      </div>
      <div class="caption">
        <div class="col-md-12">
          <span class="font-favorite-title">{{property?.development.name}}</span><br>
        </div>
        <div class="col-md-2 no-padding font-favourite-listing font-size-listing-favourite widht-14-percent">
          <span><i class="fa fa-bed" aria-hidden="true"></i> {{property?.details.bedroom}}</span>
        </div>
        <div class="col-md-2 no-padding font-favourite-listing font-size-listing-favourite widht-14-percent">
          <span><i class="fa fa-female" aria-hidden="true"></i><i class="fa fa-male" aria-hidden="true"></i> {{property?.details.bathroom}}</span>
        </div>
        <div class="col-md-3 detail-property width-size-furnishing favourite">
          <div class="f11 favourite-size-768"><i class="fa fa-expand" aria-hidden="true"></i> {{property?.details.size_sqf}} sqft</div>
          <div class="sqm-result favourite favourite-sqm-768">{{property?.details.size_sqm}} sqm</div>
        </div>
        <div class="col-md-4 pd-left-0 fl-l-visible">
          <img width="15px" height="15px" class="icon_list_right" src="/client/include/images/{{property?.details.furnishing}}.png">
          <div class="sqft-size-listing property-listing">{{property?.details.furnishing | capitalizeFirst}} </div><div class="sqm-result property sqm-size-listing-mg f11">Furnished</div>
        </div>
      </div>
    </a>
  </div>
</div>