
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" [ngClass]="{'active': isCalenderView }"><a (click)="isCalenderView=true;isListView=false" id="calendar-view" class="pointer" role="tab" data-toggle="tab"><b>Calendar View</b></a></li>
		<li><a><b>|</b></a></li>
		<li role="presentation" [ngClass]="{'active': isListView }"><a (click)="isListView=true;isCalenderView=false" id="list-view" class="pointer" role="tab" data-toggle="tab"><b>List View</b></a></li>
	</ul>
	<div class="tab-content">
		<div [ngClass]="{'active': isCalenderView }" role="tabpanel" class="tab-pane" id="appointments-calendar-view">
			<span [tooltip]="popTemplate" triggers="focus" #pop="bs-tooltip">
			        <p-schedule [eventLimit]="true" [events]="events" [header]="header" [defaultDate]="today" [eventLimit]="4" [editable]="true"
			(onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)"></p-schedule>
			  </span>
			
			<p-dialog header="You have a scheduled viewing for" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false">
				<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
					<div class="popover-content">
						<span class="upc-appointment-title"> #{{event.data?.property?.address.floor}}-{{event.data?.property?.address.unit}} &nbsp;{{event.data?.property?.development.name}}</span>
						<br><br>When : <br>
						<i class="fa fa-calendar cblue tp"></i>
						{{event.data?.chosen_time?.date}}<br>
						<i class="fa fa-clock-o cblue tp"></i>
						{{event.data?.chosen_time?.from}}-{{event.data?.chosen_time?.to}}<br>
						<div class="profil-uppointment" *ngIf="event.data?.landlord?._id == user._id"> 
							With:  <br>
							<img *ngIf="event.data?.tenant?.picture" width="35" height="35" style="border-radius: 50%"  src="{{event.data.tenant?.picture.url}}">
							<img *ngIf="!event.data?.tenant?.picture" style="border-radius: 50%" width="35" height="35" src="client/include/images/img/cs.png">
							<span class="cblue new-style">{{event.data?.tenant?.username}}</span>
						</div>
						<div class="profil-uppointment" *ngIf="event.data?.tenant?._id == user._id"> 
							With:  <br>
							<img *ngIf="event.data?.landlord?.picture" width="35" height="35" style="border-radius: 50%"  src="{{event.data.landlord?.picture.url}}">
							<img *ngIf="!event.data?.landlord?.picture" style="border-radius: 50%" width="35" height="35" src="client/include/images/img/cs.png">
							<span class="cblue new-style">{{event.data?.landlord?.username}}</span>
						</div>
						<br><a class="cn-blue underline cursor" (click)="view(event.data?._id)">More details</a>
					</div>
				</div>
			</p-dialog>
			<template #popTemplate>
				<div class="popover fade top in" role="tooltip" id="popover289390" style="top: 152px; left: 693px; display: block;">
					<div class="arrow" style="left: 50%;"></div>
					<h3 class="popover-title">
						You have a scheduled viewing for <i id="closePopOver" (click)="pop.hide()" class="pull-right fa fa-remove icon-upc-times"></i>
					</h3>
					<div class="popover-content">
						<span class="upc-appointment-title">#{{event.data?.property?.address.floor}}-{{event.data?.property?.address.unit}} &nbsp;{{event.data?.property?.development.name}}</span>
						<br><br>When : <br>
						<i class="fa fa-calendar cblue tp"></i>{{event.data?.chosen_time?.date}}<br>
						<i class="fa fa-clock-o cblue tp"></i>{{event.data?.chosen_time?.from}}-{{event.data?.chosen_time?.to}}<br>
						<div class="profil-uppointment" *ngIf="event.data?.landlord?._id == user._id"> 
							With:  <br>
							<img *ngIf="event.data?.tenant?.picture" width="35" height="35" style="border-radius: 50%"  src="{{event.data.tenant?.picture.url}}">
							<img *ngIf="!event.data?.tenant?.picture" style="border-radius: 50%" width="35" height="35" src="client/include/images/img/cs.png">
							<span class="cblue new-style">{{event.data?.tenant?.username}}</span>
						</div>
						<div class="profil-uppointment" *ngIf="event.data?.tenant?._id == user._id"> 
							With:  <br>
							<img *ngIf="event.data?.landlord?.picture" width="35" height="35" style="border-radius: 50%"  src="{{event.data.landlord?.picture.url}}">
							<img *ngIf="!event.data?.landlord?.picture" style="border-radius: 50%" width="35" height="35" src="client/include/images/img/cs.png">
							<span class="cblue new-style">{{event.data?.landlord?.username}}</span>
						</div>
						<br><a class="cn-blue underline cursor" (click)="view(event.data?._id)">More details</a>
					</div>
				</div>
			</template>
		</div>	
		<div [ngClass]="{'active': isListView }" role="tabpanel" class="tab-pane" id="appointments-list-view">
			<div class="pull-right appointments-shortby">
				<form class="form-inline">
					<div class="form-group">
						<label>Sort by : </label>
						<div id="sort">
							<div class="asc-for-icon">
								<i class="fa fa-sort-alpha-asc ascending-icon color-asc" aria-hidden="true" id="asc"></i>
							</div>
							<div class="desc-for-icon">
								<i class="fa fa-sort-alpha-desc ascending-icon color-desc" aria-hidden="true" id="desc"></i>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div *ngIf="appointments">
				<div *ngFor="let appointment of appointments">
					<div class="col-md-12 col-sm-12 col-xs-12 appointments">
						<div class="row">
							<div class="col-md-3 col-sm-12 col-xs-12 appointments-img"><img class="img-responsive" src="{{appointment?.property.pictures.bed[0].url}}"></div>
							<div class="col-md-9 col-sm-12 col-xs-12 appointments-caption">
								<h5>You have an appointment</h5>
								<h4><b>#{{appointment?.property.address.floor}}-{{appointment?.property.address.unit}} {{appointment?.property.development.name}} </b></h4>
								<div class="item-caption-desc">
									<div class="col-md-1 detail-no-padding">
										<span class="item_pending_appointment"><i class="fa fa-bed icon_list_right item_pending_appointment" aria-hidden="true"></i>{{appointment?.property.details.bedroom}}</span>
									</div>
									<div class="col-md-1 detail-no-padding">
										<span class="item_pending_appointment">
											<i class="fa fa-female" aria-hidden="true"></i>
											<i class="fa fa-male icon_list_right item_pending_appointment" aria-hidden="true"></i>{{appointment?.property.details.bathroom}}
										</span>
									</div>
									<div class="col-md-3 col-sm-2 detail-property">
										<span class="item_pending_appointment"><i class="fa fa-expand icon_list_right item_pending_appointment" aria-hidden="true"></i></span>
										<div class="sqft-size-listing pending upcoming">{{appointment?.property.details.size_sqf}} sqft</div>
										<div class="sqm-result upcoming pending sqm-size-listing-mg">{{appointment?.property.details.size_sqm}} sqm<</div>
									</div>
									<div class="col-md-6 pd-left-0 fl-l-visible" *ngIf="appointment.property.details.furnishing != 'unfurnished'">
                      					<img width="15px" height="15px" class="icon_list_right" src="/client/include/images/{{appointment.property.details.furnishing}}.png">
                      					<div class="sqft-size-listing property-listing">{{appointment?.property.details.furnishing | capitalizeFirst}} </div><div class="sqm-result property sqm-size-listing-mg">Furnished</div>
                    				</div>
                    				<div class="col-md-6 pd-left-0 fl-l-visible" *ngIf="appointment.property.details.furnishing == 'unfurnished'">
                      					<img width="15px" height="15px" class="icon_list_right" src="/client/include/images/not.png">
                      					<div class="sqft-size-listing property-listing">Not </div><div class="sqm-result property sqm-size-listing-mg">Furnished</div>
                    				</div>
								</div>				
								<div class="col-md-6 col-sm-6 col-xs-12 pl0 pd-top">
									<span>When :</span><br>
									<span><i class="fa fa-calendar cblue tp" aria-hidden="true"></i>
										{{appointment?.chosen_time.date}}
									</span><br>
									<span><i class="fa fa-clock-o cblue tp" aria-hidden="true"></i>
										{{appointment?.chosen_time.from}}-{{appointment?.chosen_time.to}}
									</span>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 pl0 pd-top" *ngIf="appointment.landlord._id == user._id">
									<span>With :</span><br>
									<img *ngIf="appointment?.tenant.picture" class="avatar tp" src="{{appointment?.tenant.picture.url}}">
									<img *ngIf="!appointment?.tenant.picture" class="avatar tp" src="client/include/images/img/cs.png">
									<span class="cblue">{{appointment?.tenant.username}}</span>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 pl0 pd-top" *ngIf="appointment.tenant._id == user._id">
									<span>With :</span><br>
									<img *ngIf="appointment?.landlord.picture" class="avatar tp" src="{{appointment?.landlord.picture.url}}">
									<img *ngIf="!appointment?.landlord.picture" class="avatar tp" src="client/include/images/img/cs.png">
									<span class="cblue">{{appointment?.landlord.username}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 appointments-nav">
						<div class="pull-left pull_left_top">
							<span>Select an option</span>
						</div>
						<div class="pull-right pull_right_top">
							<button id="messageUser" type="button" name="button" class="btn btn-primary btn-lg btn-blue btn-responsive" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Message User">
								<i class="fa fa-comment-o" aria-hidden="true"></i> Message User
							</button>
							<button *ngIf="appointment?.landlord._id == user._id" (click)="archive(appointment?._id)" type="button" name="button" class="btn btn-primary btn-lg btn-grey btn-responsive">
								<i class="fa fa-archive" aria-hidden="true"></i> Archived
							</button>
							<button *ngIf="appointment?.landlord._id == user._id" (click)="delete(appointment?._id)" type="button" name="button" class="btn btn-primary btn-lg btn-pink btn-responsive">
								<i class="fa fa-archive" aria-hidden="true"></i> Delete
							</button>
						</div>
					</div>
				</div>
			</div>					
		</div>
	</div>