<div class="col-md-12 col-sm-12 col-xs-12 appointments">
	<div class="row" *ngIf="appointment">
		<div class="col-md-3 col-sm-12 col-xs-12 appointments-img"><img class="img-responsive" src="{{appointment?.property.pictures.bed[0].url}}"></div>
		<div class="col-md-9 col-sm-12 col-xs-12 appointments-caption">
			<h5>You have an appointment</h5>
			<h4><b>#{{appointment?.property.address.floor}}-{{appointment?.property.address.unit}} {{appointment?.property.development.name}}</b></h4>
			<div class="item-caption-desc">
				<div class="col-md-1 detail-no-padding">
					<span class="item_pending_appointment"><i class="fa fa-bed icon_list_right item_pending_appointment" aria-hidden="true"></i> {{appointment?.property.details.bedroom}}</span>
				</div>
				<div class="col-md-1 detail-no-padding">
					<span class="item_pending_appointment"><i class="fa fa-female" aria-hidden="true"></i><i class="fa fa-male icon_list_right item_pending_appointment" aria-hidden="true"></i> {{appointment?.property.details.bathroom}}</span>
				</div>
				<div class="col-md-3 col-sm-2 detail-property">
					<span class="item_pending_appointment"><i class="fa fa-expand icon_list_right item_pending_appointment" aria-hidden="true"></i></span>
					<div class="sqft-size-listing pending upcoming">{{appointment?.property.details.size_sqf}} sqft</div>
					<div class="sqm-result upcoming pending sqm-size-listing-mg">{{appointment?.property.details.size_sqm}} sqm</div>
				</div>
				<div class="col-md-6 pd-left-0 fl-l-visible">
					<img width="15px" height="15px" class="icon_list_right" src="/client/include/images/img/partially_listing.png">
					<div class="sqft-size-listing property-listing">Partially</div><div class="sqm-result property sqm-size-listing-mg">Furnished</div>
				</div>
			</div>        
			<div class="col-md-6 col-sm-6 col-xs-12 pl0 pd-top">
				<span>When :</span><br>
				<span><i class="fa fa-calendar cblue tp" aria-hidden="true"></i>
					{{appointment?.chosen_time.date}}
				</span><br>
				<span><i class="fa fa-clock-o cblue tp" aria-hidden="true"></i>
					{{appointment?.chosen_time.from}}-{{appointment?.chosen_time.to}}
				</span>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 pl0 pd-top" *ngIf="appointment?.landlord?._id == user._id">
				<span>Request by :</span><br>
				<img *ngIf="appointment?.tenant.picture" class="avatar tp" src="{{appointment?.tenant.picture.url}}">
				<img *ngIf="!appointment?.tenant.picture" class="avatar tp" src="client/include/images/img/cs.png"><span class="cblue">{{appointment?.tenant.username}}</span>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 pl0 pd-top" *ngIf="appointment?.tenant._id == user._id">
				<span>Request by :</span><br>
				<img *ngIf="appointment?.landlord.picture" class="avatar tp" src="{{appointment?.landlord.picture.url}}">
				<img *ngIf="!appointment?.landlord.picture" class="avatar tp" src="client/include/images/img/cs.png"><span class="cblue">{{appointment?.landlord.username}}</span>
			</div>
		</div>
	</div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 appointments-nav padding-btn-back-achieved" *ngIf="appointment">
	<div class="pull-right">
		<a (click)="back()" class="btn btn-primary btn-lg" id="back">Back</a>
		<button *ngIf="appointment?.landlord._id == user._id" (click)="archive(appointment?._id)" type="button" name="button" class="btn btn-primary btn-lg btn-grey btn-responsive">
			<i class="fa fa-archive" aria-hidden="true"></i> Archived
		</button>
		<button *ngIf="appointment?.landlord._id == user._id" (click)="delete(appointment?._id)" type="button" name="button" class="btn btn-primary btn-lg btn-pink btn-responsive">
			<i class="fa fa-archive" aria-hidden="true"></i> Delete
		</button>
	</div>
</div>