<div id="content" [class]="contentClass">
	<div class="panel panel-inverse" data-sortable-id="table-basic-1">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">View Blog Detail</h4>
    </div>   
    <div class="panel-body" *ngIf="dataBlog">
		<div class="row admin-listing">
	      <div class="col-sm-12 col-xs-12 admin-position padding">
	        <div class="col-sm-12 col-xs-12 admin-size-carousel">
	          <div id="carousel-details-slider11" class="carousel slide admin-details-slider" data-ride="carousel">
	            <div class="carousel-inner" *ngIf="dataBlog.cover">
	              <img src="{{dataBlog.cover.url}}" class="img-responsive col-sm-12 col-xs-12">
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="col-sm-12 col-xs-12 admin-position padding">
	        <div class="col-sm-12 col-xs-12 admin-size-carousel">
	          <div class="admin-pro-title admin-blog">
	            <h4>Category</h4>
	          </div>
	          <div class="col-md-12">
	            <div class="accordion-heading" *ngIf="dataBlog.category != null">
	              <p>{{dataBlog.category.name}}</p>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="col-sm-12 col-xs-12 admin-position padding">
	        <div class="col-sm-12 col-xs-12 admin-size-carousel">
	          <div class="admin-pro-title admin-blog">
	            <h4>Title</h4>
	          </div>
	          <div class="col-md-12">
	            <div class="accordion-heading">
	              <p>{{dataBlog.title}}</p>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="col-sm-12 col-xs-12 admin-position padding">
	        <div class="col-sm-12 col-xs-12 admin-size-carousel">
	          <div class="admin-pro-title admin-blog">
	            <h4>Content</h4>
	          </div>
	          <div class="col-md-12">
	            <div class="accordion-heading">
	              <p [innerHTML]="dataBlog.content"></p>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>    
</div>