<div id="content" [class]="contentClass">
  <div class="panel panel-inverse" data-sortable-id="table-basic-1">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">View Blog</h4>
    </div>   
    <div class="panel-body">
      <fieldset class="bd-gray">
          <button class="btn btn-primary all-mg-2px" [routerLink] = "['new']"><i class="fa fa-file"></i> Add</button>
          <div class="ui-widget-header">
              <i class="fa fa-search global-filter"></i>
              <input #gb type="text" pInputText size="50" placeholder="Global Filter">
          </div>
      	<p-dataTable [value]="blogs" [rows]="10" [paginator]="true" [globalFilter]="gb">
      		<p-column field="title" header="Title"></p-column>
          	<p-column field="category.name" header="Category"></p-column>
              <p-column field="created_by.username" header="Created By"></p-column>
              <p-column field="created_at" header="Created At"></p-column>
          	<p-column header="Action">
                  <template let-data="rowData" pTemplate="body">
                      <button class="btn btn-success" (click)="viewBlog(data)">View</button>
              		<button class="btn btn-warning" (click)="editBlog(data)">Edit</button>
              		<button class="btn btn-danger mg-bot-top" (click)="deleteBlog(data)">Delete</button>
                  </template>
          	</p-column>
      	</p-dataTable>
      </fieldset>
    </div>
  </div>    
</div>	