<div id="content" [class]="contentClass">
	<form #form="ngForm" [formGroup]="myForm" (ngSubmit)="myForm.valid && blogId ? updateBlog() : createBlog()">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="form-group">
				<dropzone
				 [element]="'#dropzone'"
				 [clickable]="'#dropzone'"
				 [acceptedFiles]="'image/*'"
				 [uploadMultiple]="'false'"
				 [autoProcessQueue]="'false'"
				 [url]="'https://localhost:5000/api/v2/attachments'"
				 (sending)="handleFileSending($event, 'image')"
				 (success)="handleFileSuccess($event, 'image')"
				 (addedfile)="handleFileAdded($event)"
				 (removedfile)="handleFileRemoved($event)"
				 (error)="handleFileFailure($event, 'image')"
				></dropzone>
				<div id="dropzone" class="dropzone"></div>
			</div>
			<div class="form-group">
				<label for="category">Category</label>
				<select class="form-control" name="category" formControlName="category" [(ngModel)]="dataBlog.category">
		            <option *ngFor="let value of categories" [ngValue]="value._id">{{value.name}}</option>
	          	</select>
			</div>
			<div class="form-group">
				<label for="title">Title</label>
				<input type="title" class="form-control" formControlName="title" placeholder="Input blog title" name="title" [(ngModel)]="dataBlog.title">
				<span *ngIf="myForm.controls['title'].hasError('required') && myForm.controls['title'].touched" class="text-danger">Title is required</span>
			</div>
			<div class="form-group">
				<label for="source">Source</label>
				<input type="source" class="form-control" formControlName="source" placeholder="Input blog source" name="source" [(ngModel)]="dataBlog.source">
				<span *ngIf="myForm.controls['source'].hasError('required') && myForm.controls['source'].touched" class="text-danger">Source is required</span>
			</div>
			<div class="form-group">
				<label for="content">Content</label>
				<ckeditor [(ngModel)]="dataBlog.content" formControlName="content" name="content">
			  	</ckeditor>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" [disabled]="!myForm.valid">Save</button>
			</div>
		</div>
	</form>
</div>
