<section id="faq">
    <div class="container">
        <h2 class="text-center">FREQUENTLY ASKED QUESTIONS</h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <h3> For Landlords </h3>

            <div class="panel panel-default" *ngFor="let faq of landlordFaqs; let faqLandlord=index">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="collapsed pointer" *ngIf="isFaqLandlord == faqLandlord" (click)="isFaqLandlord = 999" [innerHtml]="faq.question | safeHtml">
                        </a>
                        <a class="collapsed pointer" *ngIf="isFaqLandlord != faqLandlord" (click)="isFaqLandlord = faqLandlord" [innerHtml]="faq.question | safeHtml">
                        </a>
                        <a class="float-r collapsed pointer" *ngIf="isFaqLandlord == faqLandlord" (click)="isFaqLandlord = 999">
                            <div class="opt"><i class="fa fa-minus"></i></div>
                        </a>
                        <a class="float-r collapsed pointer" *ngIf="isFaqLandlord != faqLandlord" (click)="isFaqLandlord = faqLandlord">
                            <div class="opt"><i class="fa fa-plus"></i></div>
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" [ngClass]="{'in': isFaqLandlord == faqLandlord}">
                    <div class="panel-body" [innerHtml]="faq.answer | safeHtml">
                    </div>
                </div>
            </div>

            <h3> For Tenants </h3>

            <div class="panel panel-default" *ngFor="let faq of tenantFaqs; let faqTenant=index">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="collapsed pointer" *ngIf="isFaqTenant == faqTenant" (click)="isFaqTenant = 999" [innerHtml]="faq.question | safeHtml">
                        </a>
                        <a class="collapsed pointer" *ngIf="isFaqTenant != faqTenant" (click)="isFaqTenant = faqTenant" [innerHtml]="faq.question | safeHtml">
                        </a>
                        <a class="float-r collapsed pointer" *ngIf="isFaqTenant == faqTenant" (click)="isFaqTenant = 999">
                            <div class="opt"><i class="fa fa-minus"></i></div>    
                        </a>
                        <a class="float-r collapsed pointer" *ngIf="isFaqTenant != faqTenant" (click)="isFaqTenant = faqTenant">
                            <div class="opt"><i class="fa fa-plus"></i></div>
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" [ngClass]="{'in': isFaqTenant == faqTenant}">
                    <div class="panel-body" [innerHtml]="faq.answer | safeHtml">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>