<router-outlet name="header"></router-outlet>
<router-outlet name="sidebar"></router-outlet>
<simple-notifications style="position: absolute;z-index: 99999;" [options]="options"></simple-notifications>
<router-outlet></router-outlet>
