<div class="dashboard-appointments">
	<h3 class="align-member-section">Archived Appointments</h3>
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" [ngClass]="{'active': isLandlord }">
			<a class="pointer" (click)="isLandlord=true;isTenant=false" role="tab" data-toggle="tab">
				<b>Landlord ({{landlords?.length}})</b>
			</a>
		</li>
		<li><a><b>|</b></a></li>
		<li role="presentation" [ngClass]="{'active': isTenant }">
			<a class="pointer" (click)="isTenant=true;isLandlord=false" role="tab" data-toggle="tab">
				<b>Tenant ({{tenants?.length}})</b>
			</a>
		</li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane" [ngClass]="{'active': isLandlord }" id="landlord">
			<div *ngIf="landlords">
				<div *ngFor="let landlord of landlords">
					<div class="col-md-12 col-sm-12 col-xs-12 appointments">
						<div class="row">
							<div class="col-md-3 col-sm-12 col-xs-12 appointments-img">
								<img class="img-responsive" src="{{landlord?.property?.pictures?.living[0]?.url}}">
							</div>
							<div class="col-md-9 col-sm-12 col-xs-12 appointments-caption">
								<h5>You have an archived appointment for</h5>
								<h4><b>#{{landlord?.property?.address?.floor}}-{{landlord?.property?.address?.unit}} {{landlord?.property?.development?.name}} </b></h4>
								<div *ngIf="!landlord?.chosen_time" class="col-md-6 col-sm-6 col-xs-12 pl0 pd-top">
									This Appointment doesn't have Schedule.
								</div>
								<div *ngIf="landlord?.chosen_time" class="col-md-6 col-sm-6 col-xs-12 pl0 pd-top">
									<span>When :</span><br>
									<span><i class="fa fa-calendar cblue tp" aria-hidden="true"></i>
										{{landlord.chosen_time?.date}}
									</span><br>
									<span><i class="fa fa-clock-o cblue tp" aria-hidden="true"></i>
										{{landlord?.chosen_time?.from}}-{{landlord?.chosen_time?.to}}
									</span>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 pl0 pd-top">
									<span>Tenant :</span><br>
									<img *ngIf="landlord?.tenant?.picture" class="avatar tp" src="{{landlord.tenant.picture?.url}}">
									<img *ngIf="!landlord?.tenant?.picture" class="avatar tp" src="client/include/images/img/cs.png">
									<span class="cblue">{{landlord?.tenant?.username}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 appointments-nav">
						<div class="pull-left pull_left_top">
						<ng-container></ng-container>
							<span *ngIf="landlord?.status == 'rejected'">Status : <b class="cpink">Rejected</b></span>
							<span *ngIf="!landlord?.agreement?.letter_of_intent?.status">Status : <b class="cblue">Under Consideration</b></span>
							<span *ngIf="landlord?.agreement?.letter_of_intent?.status && !landlord?.agreement?.tenancy_agreement?.status">Status : <b class="cblue">Initiate Letter of Intent</b></span>
							<span *ngIf="landlord?.agreement?.tenancy_agreement?.status">Status : <b class="cblue">Initiate Tenancy Agreement</b></span>
						</div>
						<div class="pull-right pull_right_top">
							<button (click)="messageUser(landlord?._id)" type="button" name="button" class="btn btn-primary btn-lg btn-blue btn-responsive" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Message User"><i class="fa fa-comment-o" aria-hidden="true"></i> Message User</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" [ngClass]="{'active': isTenant }" id="tenant">
			<div *ngIf="tenants">
				<div *ngFor="let tenant of tenants">
					<div class="col-md-12 col-sm-12 col-xs-12 appointments">
						<div class="row">
							<div class="col-md-3 col-sm-12 col-xs-12 appointments-img">
								<img class="img-responsive" src="{{tenant?.property?.pictures?.living[0]?.url}}">
							</div>
							<div class="col-md-9 col-sm-12 col-xs-12 appointments-caption">
								<h5>You have an archived appointment for</h5>
								<h4><b>#{{tenant?.property?.address?.floor}}-{{tenant?.property?.address?.unit}} {{tenant?.property?.development?.name}} </b></h4>
								<div *ngIf="!tenant?.chosen_time" class="col-md-6 col-sm-6 col-xs-12 pl0 pd-top">
									This Appointment doesn't have Schedule.
								</div>
								<div *ngIf="tenant?.chosen_time" class="col-md-6 col-sm-6 col-xs-12 pl0 pd-top">
									<span>When :</span><br>
									<span><i class="fa fa-calendar cblue tp" aria-hidden="true"></i>
										{{tenant.chosen_time?.date}}
									</span><br>
									<span><i class="fa fa-clock-o cblue tp" aria-hidden="true"></i>
										{{tenant?.chosen_time?.from}}-{{tenant?.chosen_time?.to}}
									</span>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 pl0 pd-top">
									<span>Landlord :</span><br>
									<img *ngIf="tenant?.landlord?.picture" class="avatar tp" src="{{tenant.landlord.picture?.url}}">
									<img *ngIf="!tenant?.landlord?.picture" class="avatar tp" src="client/include/images/img/cs.png">
									<span class="cblue">{{tenant?.landlord?.username}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 appointments-nav">
						<div class="pull-left pull_left_top">
							<span *ngIf="tenant?.status == 'rejected'">Status : <b class="cpink">Rejected</b></span>
							<span *ngIf="!tenant?.agreement?.letter_of_intent?.data?.status">Status : <b class="cblue">Under Consideration</b></span>
							<span *ngIf="tenant?.agreement?.letter_of_intent?.data?.status && !tenant?.agreement?.tenancy_agreement?.data?.status">Status : <b class="cblue">Initiate Letter of Intent</b></span>
							<span *ngIf="tenant?.agreement?.tenancy_agreement?.data?.status">Status : <b class="cblue">Initiate Tenancy Agreement</b></span>
						</div>
						<div class="pull-right pull_right_top">
							<button (click)="messageUser(tenant?._id)" type="button" name="button" class="btn btn-primary btn-lg btn-blue btn-responsive" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Message User"><i class="fa fa-comment-o" aria-hidden="true"></i> Message User</button>
							<button *ngIf="tenant?.status == 'rejected'" (click)="proposeNew(tenant?.property?._id)" type="button" name="button" class="btn btn-primary btn-lg btn-green btn-responsive"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Propose new date</button>
							<button *ngIf="tenant?.status == 'rejected'" (click)="delete(tenant._id)" type="button" name="button" class="btn btn-primary btn-lg btn-pink btn-responsive"><i class="fa fa-times" aria-hidden="true"></i> Delete</button>
							<button *ngIf="!tenant?.agreement?.letter_of_intent?.data?.status" (click)="initiateLOI(tenant?.agreement?._id,tenant?._id)" class="btn btn-primary btn-lg">Initiate Letter of Intent</button>
							<button *ngIf="tenant?.agreement?.letter_of_intent?.data?.status == 'rejected' || tenant?.agreement?.letter_of_intent?.data?.status == 'expired'" (click)="initiateLOI(tenant?.agreement?._id,tenant?._id)" class="btn btn-primary btn-lg">Re-Initiate Letter of Intent</button>
							<!-- <button *ngIf="!tenant.letter_of_intent.data?.status" (click)="reject()" id="reject" class="btn btn-danger btn-lg">Reject</button> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>