<div id="content" [class]="contentClass">
    <div class="panel panel-inverse" data-sortable-id="table-basic-1">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Default Table</h4>
        </div>   
        <div class="panel-body">
            <fieldset class="bd-gray">
                <div class="ui-widget-header">
                    <i class="fa fa-search global-filter"></i>
                    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                </div>
            	<p-dataTable [value]="reportUsersToShow" [rows]="10" [paginator]="true" [globalFilter]="gb" *ngIf="!reportUserDetail">
            		<p-column field="username" header="Username"></p-column>
                    <p-column field="data.length" header="Count"></p-column>
                	<p-column header="Action">
                        <template let-data="rowData" pTemplate="body">
                            <button class="btn btn-success" (click)="viewReport(data)">Details</button>
                    		<button *ngIf="!data.data[0].reported.reported" class="btn btn-success" data-toggle="modal" data-target="#report">Report</button>
                    		<button class="btn btn-danger mg-bot-top" data-toggle="modal" data-target="#delete">Delete</button>

                            <!-- Modal Report -->
                            <div class="modal fade" id="report" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Are your sure?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>This user will not be able to login anymore and all of the listing created   will not be shown.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button class="btn btn-success" (click)="reportsUser(data)" data-dismiss="modal">Ok</button>
                                        </div>
                                     </div>
                                </div>
                            </div>
                            <!-- End Modal Report -->

                            <!-- Modal Delete Report -->
                            <div class="modal fade" id="delete" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Are your sure?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>All of the report for this user will be deleted.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button class="btn btn-success" (click)="deleteReport(data)" data-dismiss="modal">Ok</button>
                                        </div>
                                     </div>
                                </div>
                            </div>
                            <!-- End Modal  Delete Report -->
                        </template>
                	</p-column>
            	</p-dataTable>

                <div *ngIf="reportUserDetail">
                    <p-dataTable [value]="reportUserDetail" [rows]="10" [paginator]="true" [globalFilter]="gb">
                        <p-column field="reported.username" header="Username"></p-column>
                        <p-column field="reason" header="Description"></p-column>
                        <p-column field="reporter.username" header="Reported By"></p-column>
                        <p-column field="created_at" header="Created At">
                            <template let-data="rowData" pTemplate="body">
                            {{data.created_at | date: 'd/M/y'}}
                            </template>
                        </p-column>
                    </p-dataTable>
                    <button class="btn btn-primary" (click)="backToReport()">Back</button>
                </div>
            </fieldset>
        </div>
    </div>        
</div>	