<div class="container container-body">
    <div class="row">
        <p class="current-list page-header-top why-us reupload">
            <a [routerLink]="['/loi/'+ id +'/reupload']">Letter Of Intent &gt; Upload Payment</a>
        </p>
        <loading *ngIf="!loi" class="mg-l-47"></loading>
        <div *ngIf="loi" class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2">
            <div class="col-md-12 col-sm-12 col-xs-12 pd-right-content-reupload">
                <p>
                    Please transfer <span class="important-value">${{total}}</span> to Staysmart’s bank account being payment of Good Faith Deposit of <span class="important-value">${{loi?.gfd_amount}}</span> and Stamp Duty of <span class="important-value">${{loi?.sd_amount}}</span><br>
                    <br>
                    <u> Staysmart Bank Account Details </u><br>
                    Account Name: <span class="important-value">Staysmart Pte. Ltd.</span><br>
                    Bank: <span class="important-value">DBS</span><br>
                    Account No.: <span class="important-value"> 100-904130-7 </span><br>
                </p>
                <p>
                    The amount will be refunded back to you :
                </p>
                <ol type="a">
                    <li>if the landlord does not accept the Letter of Intent.</li>
                    <li>upon the expiration date of the Letter of Intent, where there is no response from the landlord.</li>
                    <li>when the terms of the tenancy agreement cannot be agreed on by the stipulated date stated in the Letter of Intent.</li>
                </ol>
                <p></p>
            </div>
            <br>
            <form id="formReuploadLoi" novalidate="novalidate">
                <div class="form-group" data-required="true">
                    <label class="col-md-3 col-sm-3 col-xs-3 loi_padding_left control-label" for="GtrA6RykgRgseEKeR">Upload proof of transfer of Good Faith Deposit &amp; Stamp Duty Fee</label>
                    <div class="col-sm-9 col-xs-9 loi_padding_right">
                        <dropzone
                        [element]="'#dropzone'"
                        [clickable]="'#dropzone'"
                        [acceptedFiles]="'image/*'"
                        [uploadMultiple]="'false'"
                        [autoProcessQueue]="'false'"
                        [url]="link"
                        [headers]="header"
                        (sending)="handleFileSending($event)"
                        (success)="handleFileSuccess($event)"
                        (addedfile)="handleFileAdded($event)"
                        (removedfile)="handleFileRemoved($event)"
                        (error)="handleFileFailure($event)"
                        ></dropzone>
                        <div id="dropzone" class="dropzone"></div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 loi_padding_right"></div>
                <div class="col-sm-4 col-xs-12 loi_padding_right">
                    <button type="button" (click)="back()" class="btn btn-block btn-default back-to-list-loi">Back</button>
                </div>
                <div class="col-sm-4 col-xs-12 loi_padding_right fl-right">
                    <button type="button" (click)="savePayment()" class="btn btn-block btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>