<div id="content" [class]="contentClass">
    <div *ngIf="isReport == false" class="panel panel-inverse" data-sortable-id="table-basic-1">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Default Table</h4>
        </div>   
        <div class="panel-body">
            <fieldset class="bd-gray loi-table table-responsive">
                <div class="ui-widget-header width-200-percent">
                    <i class="fa fa-search global-filter"></i>
                    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                </div>
                <div class="width-200-percent">
            	<p-dataTable [value]="tenancyAgreements" [rows]="10" [paginator]="true" [globalFilter]="gb">
            		<p-column header="Property">
                        <template let-value="rowData" pTemplate="body">
                            {{value?.property?.address?.floor}} - {{value?.property?.address?.unit}} {{value?.property?.address?.street_name}}
                        </template>      
                    </p-column>
                    <p-column header="Date Listed">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.property?.confirmation?.date | date:'dd/MM/yy'}}</span>
                        </template>
                    </p-column>
                    <p-column field="landlord.username" header="Landlord"></p-column>
                    <p-column field="tenant.username" header="Tenant"></p-column>
                    <p-column header="Rental">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.property?.details?.price | currency:undefined:'1.2-2'}}</span>
                        </template>
                    </p-column>
                    <p-column field="property.details.tenure" header="Tenure(mths)"></p-column>
                    <p-column header="Date LOI Initiated">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.letter_of_intent?.data?.created_at | date:'dd/MM/yy'}}</span>
                        </template>
                    </p-column>
                    <p-column header="GFD/Stamp Duty Fee">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.tenancy_agreement?.data?.payment?.fee[0]?.amount + value?.tenancy_agreement?.data?.payment?.fee[1]?.amount | currency:undefined:'1.2-2'}}</span>
                        </template>
                    </p-column>
                    <p-column header="Date Initiated TA">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.tenancy_agreement?.data?.created_at | date: 'yMd'}}</span>
                        </template> 
                    </p-column>
                    <p-column header="TA Status">
                        <template let-value="rowData" pTemplate="body">
                            <a (click)="getReport(value?._id)" class="pointer">
                                <span *ngIf="value?.tenancy_agreement?.data?.status == 'pending'" class="color-pending">Pending</span>
                                <span *ngIf="value?.tenancy_agreement?.data?.status == 'accepted'" class="color-accept">Accepted</span>
                                <span *ngIf="value?.tenancy_agreement?.data?.status == 'expired'" class="color-reject">Expired</span>
                                <span *ngIf="value?.tenancy_agreement?.data?.status == 'rejected'" class="Rejected-status">Rejected</span>
                            </a>
                        </template> 
                    </p-column>
                    <p-column header="Date TA Concluded">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.tenancy_agreement?.data?.payment?.attachment?.payment_confirm?.uploaded_at | date:'dd/MM/yy'}}</span>
                        </template>
                    </p-column>
                    <p-column header="Security Deposit">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.letter_of_intent?.data?.security_deposit | currency:undefined:'1.2-2'}}</span>
                        </template>
                    </p-column>
                    <p-column header="Security Deposit Received?">
                        <template let-value="rowData" pTemplate="body">
                            <span class="color-accept cursor-pointer" *ngIf="value?.tenancy_agreement?.data?.status != 'admin-confirmation'" (click)="viewInformation(value)">Yes</span>
                            <span class="color-reject cursor-pointer" *ngIf="value?.tenancy_agreement?.data?.status == 'admin-confirmation'" (click)="viewInformation(value)">No</span>
                        </template>
                    </p-column>
                    <p-column header="Date Security Deposit Received">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.tenancy_agreement?.data?.payment?.attachment?.payment_confirm?.uploaded_at | date:'dd/MM/yy'}}</span>
                        </template>
                    </p-column>
                    <p-column header="Valid TA?">
                        <template let-value="rowData" pTemplate="body">
                            <span *ngIf="value?.tenancy_agreement?.data?.status == 'accepted'" class="color-accept">Yes</span>
                            <span *ngIf="value?.tenancy_agreement?.data?.status != 'accepted'" class="color-reject">No</span>
                        </template>
                    </p-column>
                    <p-column header="Security Deposit Refund to tenant?">
                        <template let-value="rowData" pTemplate="body">
                            <span *ngIf="value?.tenancy_agreement?.data?.payment?.fee[2]?.refunded" class="color-accept">Yes</span>
                            <span *ngIf="!value?.tenancy_agreement?.data?.payment?.fee[2]?.refunded" class="color-reject">No</span>
                        </template>
                    </p-column>
                    <p-column field="tenancy_agreement.data.payment.fee[2].received_amount" header="Amount of Refund (Tenant)"></p-column>
                    <p-column header="Refunded to Tenant?">
                        <template let-value="rowData" pTemplate="body">
                            <span *ngIf="value?.tenancy_agreement?.data?.payment?.fee[2]?.refunded == true" (click)="openModalRefund(value._id)" class="color-accept">Yes</span>
                            <span *ngIf="value?.tenancy_agreement?.data?.payment?.fee[2]?.refunded == false" (click)="openModalRefund(value._id)" class="color-reject">No</span>
                        </template>
                    </p-column>
                    <p-column field="tenancy_agreement.data.payment?.attachment.refund_confirm.date" header="Date Refunded"></p-column>
                    <p-column header="Refund Reference (Attached File)">
                        <template let-value="rowData" pTemplate="body">
                            <span *ngIf="value?.tenancy_agreement?.data?.payment?.attachment?.refund_confirm" (click)="openModalReference(value?.tenancy_agreement?.data?.payment?.attachment?.refund_confirm?.url)" class="color-accept">View</span>
                        </template>
                    </p-column>
                    <p-column header="Penalty to landlord?">
                        <template let-value="rowData" pTemplate="body">
                            <span *ngIf="value?.tenancy_agreement?.data?.status == 'expired' || value?.tenancy_agreement?.data?.status == 'rejected'" class="admin-cgreen1">Yes</span>
                            <span *ngIf="value?.tenancy_agreement?.data?.status != 'expired' && value?.tenancy_agreement?.data?.status != 'rejected'" class="admin-cred">No</span>
                        </template>
                    </p-column>
                    <p-column header="Amount of Penalty (Landlord)">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.letter_of_intent?.data?.security_deposit | currency:undefined:'1.2-2'}}</span>
                        </template>
                    </p-column>
                    <p-column header="Transferred to landlord?"></p-column>
                    <p-column header="Date Transferred"></p-column>
                    <p-column header="Transfer Reference (Attached File)">
                        <template let-value="rowData" pTemplate="body">
                            <span *ngIf="value?.letter_of_intent?.data?.payment?.attachment?.payment" (click)="value?.letter_of_intent?.data?.payment?.attachment?.payment?.url" class="Accepted-status">LOI</span>
                            <span *ngIf="value?.tenancy_agreement?.data?.payment?.attachment?.payment" (click)="value?.tenancy_agreement?.data?.payment?.attachment?.payment?.url" class="Accepted-status">TA</span>
                        </template>
                    </p-column>
            	</p-dataTable>
                </div>
            </fieldset>
        </div>
    </div>
    <!-- Tenancy Agreement Report -->
    <div *ngIf="isReport == true" class="container-fluid container-body">
        <div class="col-md-12">
            <div class="row tenant-information">
                <div class="admin-pro-title property-header tenant">
                    <h4>Details Tenancy Agreement</h4>
                </div>
                <div class="form-group">
                    <br>
                    <p>Status : <span class="Expired-status">{{ta?.status | capitalizeFirst}}</span></p>
                    <p *ngIf="ta?.payment?.remarks">
                        Reason : {{ta?.payment?.remarks}}
                    </p>
                    <p *ngIf="!ta?.payment?.remarks">
                        Reason : No Reason
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="admin-pro-title property-header">
                    <h4>Preview Tenancy Agreement</h4>
                </div>
                <loading *ngIf="!report"></loading>
                <div *ngIf="report" [innerHtml]="report | safeHtml"></div>
            </div>
        </div>
        <div class="form-group">
            <button (click)="isReport = false" type="button" clear="viewLoi" class="btn btn-sm btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Back</button>
        </div>
    </div>
</div>

<!-- Refunded to Tenant? Modal -->
<div bsModal #modalRefund="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog signIn_modal modal-detail-payment" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Refund Details</h4>
            </div>
            <div class="modal-body modal-body-login">
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-6 view-payment-detail">
                        <div class="admin-pro-title property-header tenant">
                            <h4>Proof of Refund</h4>
                        </div>
                        <div class="form-group">
                            <img src="{{ta?.payment?.attachment?.refund_confirm?.url}}">
                            <br>
                            <p>Status : <span *ngIf="ta?.payment?.fee[2]?.needed_refund == true && ta?.payment?.fee[2]?.refunded == false" class="text-danger">Need Refund</span><span *ngIf="ta?.payment?.fee[2]?.needed_refund == true && ta?.payment?.fee[2]?.refunded == true" class="text-info">Refunded</span></p>
                            <p *ngIf="ta?.payment?.fee[2]">Payment Transferred : {{ta?.payment?.fee[0]?.amount + ta?.payment?.fee[1]?.amount + ta?.payment?.fee[2]?.received_amount | currency:undefined:'1.2-2'}}</p>
                            <p *ngIf="!ta?.payment?.fee[2]">Payment Transferred : {{ta?.payment?.fee[0]?.amount + ta?.payment?.fee[1]?.amount | currency:undefined:'1.2-2'}}</p>
                            <p>Amount Of Refund(Paymore/Less) : {{ta?.payment?.fee[2]?.received_amount | currency:undefined:'1.2-2'}}</p>
                            <p *ngIf="ta?.payment?.fee[2]?.refunded == true">Refunded : {{ta?.payment?.fee[2]?.received_amount | currency:undefined:'1.2-2'}}</p>
                            <p *ngIf="ta?.payment?.fee[2]?.refunded == false">Refunded : $0.00</p>
                            <p *ngIf="ta?.payment?.fee[2]?.refunded == false">Currently need to refund: {{ta?.payment?.fee[2]?.received_amount | currency:undefined:'1.2-2'}}</p>
                            <p *ngIf="ta?.payment?.fee[2]?.refunded == true">Currently need to refund: {{ta?.payment?.fee[2]?.received_amount | currency:undefined:'1.2-2'}}</p>
                        </div>
                        <form *ngIf="ta?.payment?.fee[2]?.needed_refund == true && ta?.payment?.fee[2]?.refunded == false" novalidate="novalidate">
                            <div class="form-group">
                                <label class="col-sm-12 control-label" for="confirm_refund">Screenshot of payment refund</label>
                                <div class="col-sm-12">
                                    <dropzone
                                    [element]="'#dropzone1'"
                                    [clickable]="'#dropzone1'"
                                    [acceptedFiles]="'image/*,application/pdf'"
                                    [uploadMultiple]="'false'"
                                    [autoProcessQueue]="'false'"
                                    [url]="link"
                                    (sending)="handleFileSending($event, 'image')"
                                    (success)="handleFileSuccessRefund($event, 'image')"
                                    (addedfile)="handleFileAdded($event)"
                                    (removedfile)="handleFileRemoved($event)"
                                    (error)="handleFileFailure($event, 'image')"
                                    >
                                    </dropzone>
                                    <div id="dropzone1" class="dropzone"></div>
                                </div>
                            </div>
                        </form>
                        <br><br>
                        <div *ngIf="ta?.payment?.fee[2]?.needed_refund == true && ta?.payment?.fee[2]?.refunded == false" class="form-group">
                            <button (click)="uploadReferencePayment()" type="submit" class="btn btn-primary admin-mg-btn-amenity admin-btn-submit-stamp m-t-10">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Refund Reference -->
<div bsModal #modalReference="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content mg-top-120">
            <div class="modal-body">
                <img src="{{imageURL}}">
            </div>
        </div>
    </div>
</div>

<!-- Transferred to Landlord Modal -->
<div bsModal #modalTransfer="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog signIn_modal modal-detail-payment" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="hideModalTransfer()" type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Transfer Landlord Details</h4>
            </div>
            <div class="modal-body modal-body-login">
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-6 view-payment-detail">
                        <div class="admin-pro-title property-header tenant">
                            <h4>Transfer Details</h4>
                        </div>
                        <div class="form-group">
                            <br>
                            <p>Status : Not Transfer</p>
                            <p>Status : Transferred</p>
                            <p>Amount Of Penalty : {{agreement?.letter_of_intent?.data?.security_deposit}}</p>
                        </div>
                        <form id="insertTransfer" novalidate="novalidate">
                            <div class="form-group">
                                <label class="col-sm-12 control-label" for="confirm_transfer_landlord">Screenshot of transfer landlord</label>
                                <div class="col-sm-12">
                                    <dropzone
                                    [element]="'#dropzone2'"
                                    [clickable]="'#dropzone2'"
                                    [headers]="header"
                                    [acceptedFiles]="'image/*,application/pdf'"
                                    [uploadMultiple]="'false'"
                                    [autoProcessQueue]="'false'"
                                    [url]="link"
                                    (sending)="handleFileSending($event, 'image')"
                                    (success)="handleFileSuccess($event, 'image')"
                                    (addedfile)="handleFileAdded($event)"
                                    (removedfile)="handleFileRemoved($event)"
                                    (error)="handleFileFailure($event, 'image')"
                                    >
                                    </dropzone>
                                    <div id="dropzone2" class="dropzone"></div>
                                </div>
                            </div>
                        </form>
                        <div class="form-group">
                            <button (click)="uploadTransfertoLandlord()" type="submit" class="btn btn-primary admin-mg-btn-amenity admin-btn-submit-stamp">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>