<div id="content" [class]="contentClass">
    <div class="panel panel-inverse" data-sortable-id="table-basic-1">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Certificate</h4>
        </div> 
        <div class="panel-body">
            <fieldset class="bd-gray loi-table table-responsive">
                <div class="ui-widget-header width-150">
                    <i class="fa fa-search global-filter"></i>
                    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                </div>
                <div class="width-150">
            	<p-dataTable [value]="agreements" [rows]="10" [paginator]="true" [globalFilter]="gb">
            		<p-column field="property" header="Property"></p-column>
                    <p-column header="Date Listed">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.date_listed | date:'dd/MM/yy'}}</span>
                        </template>
                    </p-column>
                    <p-column field="landlord" header="Landlord"></p-column>
                    <p-column field="tenant" header="Tenant"></p-column>
                    <p-column header="Rental">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.rental | currency:undefined:'1.2-2'}}</span>
                        </template>  
                    </p-column>
                    <p-column field="tenure" header="Tenure(mths)"></p-column>
                    <p-column header="Date TA Concluded">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.dateTaConcluded | date:'dd/MM/yy'}}</span>
                        </template>
                    </p-column>
                    <p-column field="total_collected" header="Total Collected"></p-column>
                    <p-column field="stamp_fee" header="Less Stamp Fee"></p-column>
                    <p-column field="fee_earned" header="Less Fee Earned"></p-column>
                    <p-column field="amount_transferred_landlord" header="Amount to Transfer Landlord"></p-column>
                    <p-column header="Transferred to Landlord">
                        <template let-value="rowData" pTemplate="body">
                            <span *ngIf="value?.transferred_landlord == true" (click)="openModalPayment(value?.idagreement)" class="received-fee pointer">Yes</span>
                            <span *ngIf="value?.transferred_landlord == false" (click)="openModalPayment(value?.idagreement)" class="noreceived-fee pointer">No</span>
                        </template>
                    </p-column>
                    <p-column header="Date Transferred">
                        <template let-value="rowData" pTemplate="body">
                            <span>{{value?.date_transffered | date:'dd/MM/yy'}}</span>
                        </template>
                    </p-column>
                    <p-column header="Transfer Reference (Attached File)">
                        <template let-value="rowData" pTemplate="body">
                            <span *ngIf="value?.transfer_reference_loi" (click)="openModalImage(value?.transfer_reference_loi?.url)" class="Accepted-status pointer">LOI</span>
                            <span *ngIf="value?.transfer_reference_ta" (click)="openModalImage(value?.transfer_reference_ta?.url)" class="Accepted-status pointer">TA</span>
                        </template>
                    </p-column>
                    <p-column header="Certificate of Stamp Duty (Attached File)">
                        <template let-value="rowData" pTemplate="body">
                            <span *ngIf="!value?.stamp_certificate" (click)="openModalCertificate(value?.idagreement)" class="Rejected-status pointer">Upload</span>
                            <span *ngIf="value?.stamp_certificate" (click)="openModalImage(value?.stamp_certificate?.url)" class="Accepted-status pointer">View</span>
                        </template>
                    </p-column>
            	</p-dataTable>
                </div>
            </fieldset>
        </div>
    </div>    
</div>

<!-- Transferred to Landlord -->
<div bsModal #modalPayment="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog signIn_modal modal-detail-payment" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="hideModalPayment()" type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Payment Proof Details</h4>
            </div>
            <div class="modal-body modal-body-login">
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-6 view-payment-detail">
                        <div class="admin-pro-title property-header tenant">
                            <h4>Transferred Details</h4>
                        </div>
                        <loading *ngIf="!agreement"></loading>
                        <div *ngIf="agreement" class="form-group">
                            <img *ngIf="agreement?.attachment_transfer_landlord" src="{{agreement?.attachment_transfer_landlord?.url}}">
                            <br>
                            <p *ngIf="agreement?.transferred_landlord == false">Status : Not Transfer</p>
                            <p *ngIf="agreement?.transferred_landlord == true">Status : Transferred</p>
                            <p>Amount to be Transferred : {{agreement?.amount_transferred_landlord | currency:undefined:'1.2-2'}}</p>
                        </div>
                        <form *ngIf="agreement?.transferred_landlord == false" id="insertTransferred" novalidate="novalidate">
                            <div class="form-group">
                                <label class="col-sm-12 control-label" for="confirm_transfer_payment_proof">Screenshot of transfer payment proof landlord</label>
                                <div class="col-sm-12">
                                    <dropzone
                                    [element]="'#dropzone1'"
                                    [clickable]="'#dropzone1'"
                                    [headers]="header"
                                    [acceptedFiles]="'image/*,application/pdf'"
                                    [uploadMultiple]="'false'"
                                    [autoProcessQueue]="'false'"
                                    [url]="link"
                                    (sending)="handleFileSending($event, 'image')"
                                    (success)="handleFileSuccessPayment($event, 'image')"
                                    (addedfile)="handleFileAdded($event)"
                                    (removedfile)="handleFileRemoved($event)"
                                    (error)="handleFileFailure($event, 'image')"
                                    >
                                    </dropzone>
                                    <div id="dropzone1" class="dropzone"></div>
                                </div>
                            </div>
                        </form>
                        <div *ngIf="agreement?.transferred_landlord == false" class="form-group">
                            <button (click)="uploadPaymentProof()" type="submit" class="btn btn-primary admin-mg-btn-amenity admin-btn-submit-stamp m-t-10" id="submitTransferred">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Certificate of Stamp Duty (Attached File) -->
<div bsModal #modalCertificate="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog signIn_modal modal-detail-payment" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="hideModalCertificate()" type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Stamp Certificate</h4>
            </div>
            <div class="modal-body modal-body-login">
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-6 view-payment-detail">
                        <div class="admin-pro-title property-header tenant">
                            <h4>Stamp Certificate</h4>
                        </div>
                        <form novalidate="novalidate">
                            <div class="form-group">
                                <label class="col-sm-12 control-label" for="Fsf3N74r7hEFEDTwR">Stamp Certificate</label>
                                <div class="col-sm-12">
                                    <dropzone
                                    [element]="'#dropzone2'"
                                    [clickable]="'#dropzone2'"
                                    [headers]="header"
                                    [acceptedFiles]="'image/*,application/pdf'"
                                    [uploadMultiple]="'false'"
                                    [autoProcessQueue]="'false'"
                                    [url]="link"
                                    (sending)="handleFileSending($event, 'image')"
                                    (success)="handleFileSuccessCertificate($event, 'image')"
                                    (addedfile)="handleFileAdded($event)"
                                    (removedfile)="handleFileRemoved($event)"
                                    (error)="handleFileFailure($event, 'image')"
                                    >
                                    </dropzone>
                                    <div id="dropzone2" class="dropzone"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button (click)="uploadCertificate()" type="submit" class="btn btn-primary admin-mg-btn-amenity admin-btn-submit-stamp m-t-10">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #modalImage="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content mg-top-120">
            <div class="modal-body">
                <img src="{{imageURL}}">
            </div>
        </div>
    </div>
</div>