<div [class]="contentClass" style="margin-left: 250px">
  <div class="container create admin-property" style="margin-left: 50px">
    <div class="upload-title listing-preview">
      Listing Preview
    </div>
    <div class="row">
      <div class="col-sm-12 col-xs-12 position padding">
        <div class="col-sm-6 col-xs-6 size-carousel">
          <div id="carousel-details-slider11" class="carousel slide details-slider" data-ride="carousel">
            <div class="carousel-inner br">
              <div class="item active">
                <img [src]="dataProperty?.pictures.living[0].url" class="img-responsive listing-img">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-6 size-carousel">
          <div class="col-sm-12 col-xs-12 size-carousel">
            <div class="col-sm-6 col-xs-6 size-carousel">
              <div class="carousel-inner da">
                <div class="item active">
                  <img [src]="dataProperty?.pictures.dining[0].url" class="img-responsive listing-img">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xs-6 size-carousel">
              <div class="carousel-inner da">
                <div class="item active">
                  <img [src]="dataProperty?.pictures.bed[0].url" class="img-responsive listing-img">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 size-carousel">
            <div class="col-sm-6 col-xs-6 size-carousel">
              <div class="carousel-inner da">
                <div class="item active">
                  <img [src]="dataProperty?.pictures.toilet[0].url" class="img-responsive listing-img">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xs-6 size-carousel">
              <div class="carousel-inner da">
                <div class="item active">
                  <img [src]="dataProperty?.pictures.kitchen[0].url" class="img-responsive listing-img">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 size-carousel">
            <div class="col-md-8 col-sm-8 col-xs-8 size-carousel">
              <div class="price-per-month">
                <span class="step5-asking">Asking
                  <b class="step5-price">${{dataProperty?.details.price}}</b>
                  per month
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-sm-10 col-xs-10 upside-box">
        <h3>#{{dataProperty?.address.floor}}-{{dataProperty?.address.unit}}&nbsp;<span>{{dataProperty?.development.name}}</span><a href="#" data-toggle="tooltip2" title="" data-original-title="Unit number will be hidden!"><i class="fa fa-info-circle icon-tooltip" aria-hidden="true"></i>
        </a></h3>
        <h5 class="bc f16"><i class="fa fa-map-marker" aria-hidden="true"></i> {{dataProperty?.address.block_number}}&nbsp;{{dataProperty?.address.street_name}}</h5>
        <h6 class="bc f11 country-no-behind">{{dataProperty?.address.country}}&nbsp;{{dataProperty?.address.postal_code}}</h6>
      </div> 
    </div>
    <div class="row f18 faci box-faci">
      <div class="faci-item h-65">
        <div class="col-md-2 view-bed">
          <span><i class="fa fa-bed" aria-hidden="true"></i> {{dataProperty?.details.bedroom}}&nbsp;Bedroom</span>
        </div>
        <div class="col-md-2 view-bath">
          <span><i class="fa fa-female" aria-hidden="true"></i><i class="fa fa-male" aria-hidden="true"></i> {{dataProperty?.details.bedroom}}&nbsp;Toilet </span>
        </div>
        <div class="col-md-4 view-size">
          <span><i class="fa fa-expand icon-size-property" aria-hidden="true"></i></span>
          <div class="sqft-size-edit pd-left-size">{{dataProperty?.details.size_sqf}} sqft </div>
          <div class="sqm-result new-edit pd-left-size">{{dataProperty?.details.size_sqm}} sqm</div>
        </div>
        <div *ngIf="dataProperty?.details.furnishing == 'unfurnished'" class="col-md-4 pd-left-0 fl-l-visible width-30">
          <img width="25px" height="25px" class="icon_list_right" src="/client/include/images/not.png">
          <div class="sqft-size-listing property-listing edit-property edit-property-furnish">Not</div>
          <div class="sqm-result property edit-property sqm-size-listing-mg edit-property-furnish furnished">Furnished</div>
        </div>
        <div *ngIf="dataProperty?.details.furnishing == 'fully'" class="col-md-4 pd-left-0 fl-l-visible width-30">
          <img width="25px" height="25px" class="icon_list_right" src="/client/include/images/fully.png">
          <div class="sqft-size-listing property-listing edit-property edit-property-furnish">Fully</div>
          <div class="sqm-result property edit-property sqm-size-listing-mg edit-property-furnish furnished">Furnished</div>
        </div>
        <div *ngIf="dataProperty?.details.furnishing == 'partially'" class="col-md-4 pd-left-0 fl-l-visible width-30">
          <img width="25px" height="25px" class="icon_list_right" src="/client/include/images/partially.png">
          <div class="sqft-size-listing property-listing edit-property edit-property-furnish">Partially</div>
          <div class="sqm-result property edit-property sqm-size-listing-mg edit-property-furnish furnished">Furnished</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="pro-title">
        <h4>AMENITIES</h4>
      </div>
      <ul class="amenities step5" *ngIf="dataProperty?.amenities.length != 0">
        <li *ngFor="let a of dataProperty?.amenities"> 
          <div class="div-for-amenties">
            <img [src]="a.icon?.url" height="30" class="img-icon">
          </div> 
          <div class="amenities-space">{{a.name}}</div>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="pro-title">
            <h4>DESCRIPTION</h4>
          </div>
          <div class="accordion-heading admin-description">
            <p>{{dataProperty?.details.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row less step4 admin">
      <div class="pro-title">
        <h4>LOCATION</h4>
      </div>
    </div>
    <div class="row">
      <div style="width:100%;height:325px;" class="col-md-12 col-sm-12 col-xs-12 vcenter">
        <style>
              .sebm-google-map-container {
                height: 300px;width:100%;
              }
              sebm-google-map div:first-child {
                width: 70%;
              }
        </style>
        <sebm-google-map #myMap mapTypeId="roadmap"
                [latitude]="lat"
                [longitude]="lng"
                [zoom]="zoom"
                [minZoom]="maxZoom"
                [disableDefaultUI]="true"
                [zoomControl]="true"
                [styles]="customStyle"
                [scrollwheel]="false">
          <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
          </sebm-google-map>
      </div>
    </div>
    <div class="row less step4 admin">
      <div class="pro-title">
        <h4>OWNER INFORMATION</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 admin-mg-btm">
        <img *ngIf="!dataProperty?.owner.user?.picture?.url" src="public/assets/images/No-Picture-Available.jpg" class="admin-landlord-profil">
        <p-lightbox *ngIf="dataProperty?.owner.user?.picture?.url" [images]="imageUser">
        </p-lightbox>
<!-- 
        <p-lightbox type="content" *ngIf="dataProperty?.owner.user?.picture?.url">
          <a class="group" href="#">
            <img [src]="dataProperty.owner.user.picture.url" class="admin-landlord-profil">
          </a>
          <iframe width="560" height="315" [src]="dataProperty.owner.user.picture.url" frameborder="0" allowfullscreen></iframe>
        </p-lightbox> -->
      </div>
      <div class="col-md-2">
          <div>
            <p>Username</p>
            <p>Email</p>
            <p>Phone</p>
            <p>Reported</p>
          </div>
      </div>
      <div class="col-md-3">
        <div>
          <p><span class="admin-mg-min-plus">:</span> <span>{{dataProperty?.owner.user.username}}</span></p>
          <p><span class="admin-mg-min-plus">:</span> <span>{{dataProperty?.owner.user.email}}</span></p>
          <p><span class="admin-mg-min-plus">:</span> <span>{{dataProperty?.owner.user.phone}}</span></p>
          <p>
            <span class="admin-mg-min-plus">:</span> 
            <span *ngIf="!dataProperty?.owner.user?.reported">No</span>
            <span *ngIf="dataProperty?.owner.user?.reported">Yes</span>
          </p>
        </div>  
      </div>
    </div>
    <!-- <div class="row less step4 admin">
      <div class="pro-title">
        <h4>FOR OFFICAL USE</h4>
      </div>
      <div class="col-md-12 identification pd-left-0px">
        <div class="col-md-2 col-sm-3 col-xs-3 position step4">
          <p>Full Name</p>
          <p class="project-title-dscrpt">Type</p>
          <p class="project-title-dscrpt">ID Number</p>
        </div>
        <div class="col-md-3">
          <p><span class="admin-mg-min-plus">:</span><span>{{dataProperty?.owner.user.landlord.data.name}}</span></p>
          <p class="project-title-dscrpt"><span class="admin-mg-min-plus">:</span><span>{{dataProperty?.owner.user.landlord.data.identification_type}}</span></p>
          <p class="project-title-dscrpt"><span class="admin-mg-min-plus">:</span><span>{{dataProperty?.owner.user.landlord.data.identification_number}}</span></p>
        </div>
      </div>
      <div class="col-md-3 identification pd-left-30px admin-mg-btm-15 admin-photo-of-initiate">
        <p class="text-center"><b>Identity Front</b></p>
        {{#if dataProperty?.owner.user.landlord.data.identification_proof.front}}
          <a href="{{dataProperty?.owner.user.landlord.data.identification_proof.front.key}}" data-lightbox="imagesIdentity">
            <img width="100%" height="150" src="{{dataProperty?.owner.user.landlord.data.identification_proof.front.key}}" />
          </a>
        {{else}}
          <img class="img-responsive  admin-listing-img" src="public/assets/images/No-Picture-Available.jpg" />
        {{/if}}
      </div>
      <div class="col-md-3 identification pd-left-25px admin-mg-btm-15 admin-photo-of-initiate">
        <p class="text-center"><b>Identity Back</b></p>
        {{#if dataProperty?.owner.user.landlord.data.identification_proof.back.key}}
          <a href="{{dataProperty?.owner.user.landlord.data.identification_proof.back.key}}" data-lightbox="imagesIdentity">
            <img width="100%" height="150" src="{{dataProperty?.owner.user.landlord.data.identification_proof.back.key}}" />
          </a>
        {{else}}
          <img class="img-responsive  admin-listing-img" src="public/assets/images/No-Picture-Available.jpg" />
        {{/if}}
      </div>
    </div> -->
    <div class="row less step4 admin">
      <div class="pro-title">
        <h4>FOR OFFICAL USE</h4>
      </div>
      <div class="col-md-12 identification pd-left-0px">
        <div class="col-md-2 col-sm-3 col-xs-3">
          <p>Full Name</p>
          <p class="project-title-dscrpt">Type</p>
          <p class="project-title-dscrpt">ID Number</p>
        </div>
        <div class="col-md-3">
          <p><span class="admin-mg-min-plus">:</span><span>{{dataProperty?.owner.user.landlord.data.name}}</span></p>
          <p class="project-title-dscrpt"><span class="admin-mg-min-plus">:</span><span>{{dataProperty?.owner.user.landlord.data.identification_type}}</span></p>
          <p class="project-title-dscrpt"><span class="admin-mg-min-plus">:</span><span>{{dataProperty?.owner.user.landlord.data.identification_number}}</span></p>
        </div>
      </div>
      <div class="col-md-3 identification admin-mg-btm-15 admin-photo-of-initiate">
        <p class="text-center"><b>Identity Front</b></p>
          <img *ngIf="!dataProperty?.owner.user?.landlord.data.identification_proof?.front?.url" class="img-responsive  admin-listing-img" src="public/assets/images/No-Picture-Available.jpg" />
          <!-- <img *ngIf="dataProperty?.owner.user?.landlord.data.identification_proof?.front?.url" class="img-responsive  admin-listing-img" [src]="dataProperty.owner.user.landlord.data.identification_proof.front.url" /> -->
          <p-lightbox *ngIf="dataProperty?.owner.user?.landlord.data.identification_proof?.front?.url" [images]="imageLandlordFront">
          </p-lightbox>
      </div>
      <div class="col-md-3 identification admin-mg-btm-15 admin-photo-of-initiate">
        <p class="text-center"><b>Identity Back</b></p>
          <img *ngIf="!dataProperty?.owner.user?.landlord.data.identification_proof?.back?.url" class="img-responsive  admin-listing-img" src="public/assets/images/No-Picture-Available.jpg" />
          <!-- <img *ngIf="dataProperty?.owner.user?.landlord.data.identification_proof?.back?.url" class="img-responsive  admin-listing-img" [src]="dataProperty.owner.user.landlord.data.identification_proof.back.url" /> -->
          <p-lightbox *ngIf="dataProperty?.owner.user?.landlord.data.identification_proof?.back?.url" [images]="imageLandlordBack">
          </p-lightbox>
      </div>

      <div *ngIf="dataProperty?.confirmation?.status == 'pending'" class="">
        <label class="col-sm-12 control-label">Upload Certificate Ownership</label>
        <div class="col-sm-4 admin-upload confirm">
          <dropzone
           [element]="'#dropzone'"
           [clickable]="'#dropzone'"
           [acceptedFiles]="'image/*,application/pdf'"
           [uploadMultiple]="'false'"
           [autoProcessQueue]="'false'"
           [url]="link"
           [headers]="header"
           (sending)="handleFileSending($event, 'image')"
           (success)="handleFileSuccess($event, 'image')"
           (addedfile)="handleFileAdded($event)"
           (removedfile)="handleFileRemoved($event)"
           (error)="handleFileFailure($event, 'image')"
          >
          </dropzone>
          <div id="dropzone" class="dropzone"></div>
          
          <button type="button" class="btn btn-success" (click)="openModal('approve')">Accept Listing</button>
          <button type="button" class="btn btn-danger" (click)="openModal('reject')">Reject Listing</button>
        
        <!-- <div class="col-md-12">
          <label class="col-sm-12 control-label pd-0">Certificate Ownership</label>
          <label class="col-sm-12 control-label pd-0">Verified By : Admin</label>
          <div class="thumbnail" style="width: 155px;height: 200px;" (click)="pdfShow=!pdfShow" class="cursor-pointer bd-normal mg-top-55">
            <pdf-viewer [src]="pdfSrc" 
                      [page]="page" 
                      [original-size]="false" 
                      style="display: block; cursor: pointer;"
            ></pdf-viewer>
          </div>

          <div *ngIf="pdfShow">
            <iframe width="500" height="600" [src]="pageurl" type="application/pdf"></iframe>
          </div>
        </div> -->

        <div class="modal fade" id="modal-reject" bsModal #modalReject="bs-modal" [config]="{closeOnOutsideClick: 'false',closeOnEscape: 'true'}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Reject Reason</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <textarea cols="3" rows="10" class="form-control" placeholder="Rejected Reason" name="remark" [(ngModel)]="model.remarks"></textarea>
                  <span *ngIf="!model.remarks && rejectSubmitted" class="text-danger">Reason is required</span>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-default" (click)="modalReject.hide()" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" [disabled]="loading" (click)="rejectSubmitted=true;reject(dataProperty?._id)"><i class='fa fa-spinner fa-spin' *ngIf="loading"></i>Submit</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="modal-approve" bsModal #modalApprove="bs-modal" [config]="{closeOnOutsideClick: 'false',closeOnEscape: 'true'}" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Are you sure want to approve this listing ?</h4>
              </div>
              <div class="modal-body">
                The property will be verified & published.
              </div>
              <div class="modal-footer">
                <button class="btn btn-default" (click)="modalApprove.hide()" data-dismiss="modal">No</button>
                <button class="btn btn-primary" [disabled]="loading" (click)="approve(dataProperty?._id)"><i class='fa fa-spinner fa-spin' *ngIf="loading"></i>Yes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row col-md-12 col-sm-12 col-xs-12" *ngIf="dataProperty?.confirmation?.status != 'pending'">
      <b class="col-sm-12">Certificate Ownership</b>
      <b class="col-sm-12">Verified By : {{dataProperty?.confirmation?.by?.username}} </b>
      <!-- <object *ngIf="dataProperty.confirmation.proof.type == 'application/pdf'" [data]="dataProperty.confirmation.proof.url" type="application/pdf">
        <embed [src]="dataProperty.confirmation.proof.url" type="application/pdf" />
      </object> -->
     <!--  <img style="width:500px; height:600px" *ngIf="dataProperty?.confirmation?.proof?.type == 'image/jpeg' || dataProperty?.confirmation?.proof?.type == 'image/png'" class="img-responsive admin-listing-img" [src]="dataProperty.confirmation.proof.url" />  --> 
      
      <p-lightbox class="col-sm-12" *ngIf="dataProperty?.confirmation?.proof?.type == 'image/jpeg' || dataProperty?.confirmation?.proof?.type == 'image/png'" [images]="imageCertificate">
      </p-lightbox>
      <div class="col-sm-12" *ngIf="dataProperty?.confirmation?.proof?.type == 'application/pdf'">
            <iframe width="500" height="600" [src]="pageurl" type="application/pdf"></iframe>
      </div>
    </div>
  </div> 
  <button type="button" class="btn btn-sm btn-primary mg-l-min10 mg-t-5" (click)="backToProperty()"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Back</button>
</div> 