<section id="privacy">
  <div class="container col_md_aboutus mg-bot-30">
    <p class="current-list page-header-top pd-left-0">
      <a routerLink="/">Home</a>
      <a routerLink="/privacy">&gt; Privacy Policy</a>
    </p>
    <h2 class="text-center page-header page_header_about mg-top-30 mg-bot-30">PRIVACY POLICY</h2>
    <p class="justify-text">
      Thank you for visiting Staysmart’s website at www.staysmart.sg (the “Site”).
      For the purpose of this Privacy Policy, “Staysmart”, “we”, “our” or “us” shall refer to Staysmart Pte. Ltd.
    </p>
    <p class="justify-text">
      Staysmart aims to help home owners, potential tenants and potential buyers connect with one another without having to go through a middleman and pay any brokerage or commission fee (the “Service”).
      The Service is provided through the Site www.staysmart.sg.
    </p>
    <p class="justify-text">
      The Service provided through the Site is specifically targeted at home owners, potential tenants and potential buyers only, and is not intended for real estate agents or salespersons.
      For avoidance of doubt, real estate agents, salespersons or any other person are not allowed to use the Site, or the Service for commercial or business purposes.
    </p>
    <p class="justify-text">
      By accessing and using any part of the Site, you shall be deemed to have accepted and be legally bound by the terms of this Privacy Policy without limitation or qualification.
      If you do not agree to the terms of this Privacy Policy, please do not access or use the Site.
      Any continued access or use of the Site (whether this time or in future) will imply that you have accepted the terms of this Privacy Policy.
    </p>
    <p class="justify-text">
      We take your privacy very seriously.
      We ask that you read this privacy policy (the “Policy”) carefully as it contains important information about what to expect when Staysmart&nbsp;collects personal information about you and how&nbsp;Staysmart&nbsp;will use your personal data.
    </p>

    <ol class="sub">
      <li class="first-bold justify-text"><p class="wb-kit kit-1 fw-bold fw-bold">COLLECTION, USE AND DISCLOSURE OF PERSONAL INFORMATION</p>
        <ol class="sub">
          <li><p class="wb-kit">If you are only browsing the Site or using the search function,
            we do not capture data that allows us to identify you individually.
            The Site automatically receives and records information on our server logs from your browser,
            including your IP address, cookie information, and the page(s) requested.</p>
          </li>
          <li><p class="wb-kit">By providing your personal information to us through the Site,
            you consent to our collection, use and disclosure of your personal information in accordance with this Privacy Policy.</p>
          </li>
          <li><p class="wb-kit">We may collect, use and/or disclose your personal information for the following purposes:</p>
            <ol class="sub">
              <li><p class="wb-kit kit-3">setting up your registered user account and profile on the Site;</p></li>
              <li><p class="wb-kit kit-3">to provide and improve the Service;</p></li>
              <li><p class="wb-kit kit-3">to verify that you are an actual home owner, potential tenant or potential buyer, and not a real estate agent or salesperson;</p></li>
              <li><p class="wb-kit kit-3">to send to you emails which are specific to your account and which are necessary for the normal functioning of the Service, including one or more welcome emails which help inform new users about various features of the Service;</p></li>
              <li><p class="wb-kit kit-3">for targeted online marketing;</p></li>
              <li><p class="wb-kit kit-3">to contact you regarding any complaints, feedback, queries or requests;</p></li>
              <li><p class="wb-kit kit-3">handling any issues which have come to our attention;</p></li>
              <li><p class="wb-kit kit-3">to facilitate investigations into any suspicious or illegal activity on the Site;</p></li>
              <li><p class="wb-kit kit-3">for internal administrative and management purposes;</p></li>
              <li><p class="wb-kit kit-3">where required by any act, statute, law, or regulation, or by the order of a government authority or a court or tribunal of competent jurisdiction;</p></li>
              <li><p class="wb-kit kit-3">such other purposes consented by you for which your personal information is collected;</p></li>
              <li><p class="wb-kit kit-3">any other purpose reasonably related to the aforesaid.</p></li>
            </ol>
            <p class="wb-kit kit-0">We may disclose your personal information to our partners, agents, or affiliates whom we have engaged to provide the Service, to maintain the Site or to protect the security or integrity of the Site and our databases.
              We will use commercially reasonable efforts to ensure that such partners, agents or affiliates do not use your personal information for a purpose other than the purposes for which the personal information were originally given.</p>
            </li>
          </ol>
        </li>
        <li class="first-bold justify-text"><p class="wb-kit kit-1 fw-bold">CONFIDENTIALITY</p>
          <ol class="sub">
            <li><p class="wb-kit">Save where expressly provided herein, we will not reveal to any person, firm or company any personal information which may come to our knowledge hereunder and shall keep with complete secrecy the personal information provided by you and shall not use or attempt to use any such personal information in any manner without your permission. These restrictions shall cease to apply to information or knowledge which may come into the public domain other than as a result of any act or breach of this Privacy Policy by us.</p></li>
          </ol>
        </li>
        <li class="first-bold justify-text"><p class="wb-kit kit-1 fw-bold">CHANGING OR DELETING YOUR INFORMATION</p>
          <ol class="sub">
            <li><p class="wb-kit">You may review and change your personal information in your account settings, except for your National Registration Identity Card (NRIC) number and full name. We will not be responsible for any modification of your personal information specified in your account.</p></li>
          </ol>
        </li>
        <li class="first-bold justify-text"><p class="wb-kit kit-1 fw-bold">ACCESS TO YOUR INFORMATION AND UPDATING AND CORRECTING YOUR INFORMATION</p>
          <ol class="sub">
            <li><p class="wb-kit">Subject to the exceptions referred to in section 21(2) of the Personal Data Protection Act 2012 (No. 26 of 2012) of Singapore (“PDPA”), you have the right to request a copy of the information that we hold about you.
              If you would like a copy of some or all of your personal information, please send an email to support@staysmart.com.
              We may make a small charge for this service.</p>
            </li>
            <li><p class="wb-kit">We want to ensure that your personal information is accurate and up to date.
              If any of the information that you have provided to Staysmart changes, for example if you change your email address, name or payment details, or if you wish to cancel your registration,
              please let us know the correct details by sending an email to support@staysmart.com or by sending a letter to 21 Telok Blangah Drive, #29-03 Harbour View Towers, Singapore 109258.
              You may ask us, or we may ask you, to correct information you or we think is inaccurate, and you may also ask us to remove information which is inaccurate.</p>
            </li>
          </ol>
        </li>
        <li class="first-bold justify-text"><p class="wb-kit kit-1 fw-bold">SECURITY OF YOUR PERSONAL INFORMATION</p>
          <ol class="sub">
            <li><p class="wb-kit">The security of your personal information is important to us.
              Your account information is protected by a password. It is important that you protect against unauthorized access of your account and information by choosing your password carefully, and keeping your password and computer secure by signing out after using the Service.</p>
            </li>
            <li><p class="wb-kit">Where appropriate, we use available technology to protect the security of communications made through the Site. However, as no data transmission over the Internet can be guaranteed to be completely secure, we cannot guarantee the security of any information you transmit to us, and you transmit such information at your own risk.
              We do not accept liability for the security, authenticity, integrity or confidentiality of any transaction and other communications made through the Site.</p>
            </li>
            <li><p class="wb-kit">Internet communications may be susceptible to interference or interception by third parties. Despite our best efforts, we make no warranties that the Site is free of viruses or other unauthorised software.</p></li>
            <li><p class="wb-kit">You should take appropriate steps to keep your information, software and equipment secure. This includes clearing your Internet browser cookies and cache before and after using the Service on the Site.</p>
            </li>
          </ol>
        </li>
        <li class="first-bold justify-text"><p class="wb-kit kit-1 fw-bold">THIRD PARTY WEBSITES</p>
          <ol class="sub">
            <li><p class="wb-kit">The Site may contain hyperlinks to and from other Internet websites.
              These websites may have different privacy practices from the ones described here.
              Since this Privacy Policy applies solely to the Site, please read the privacy statements of the other websites you visit.</p>
            </li>
          </ol>
        </li>
        <li class="first-bold justify-text"><p class="wb-kit kit-1 fw-bold">APPLICABLE LAW</p>
          <ol class="sub">
            <li><p class="wb-kit">The terms in this Privacy Policy are governed by the laws of the Republic of Singapore.</p></li>
          </ol>
        </li>
        <li class="first-bold justify-text"><p class="wb-kit kit-1 fw-bold">MODIFICATION</p>
          <ol class="sub">
            <li><p class="wb-kit">The terms of this Privacy Policy may be changed from time to time.
              All changes will be posted on this page, and your access or use of the Site after such changes have been posted will constitute your agreement to the modified Privacy Policy and all of the changes.
              You should therefore read this page carefully each time you visit the Site.</p>
            </li>
          </ol>
        </li>
        <li class="first-bold justify-text"><p class="wb-kit kit-1 fw-bold">TERMS AND CONDITIONS</p>
          <ol class="sub">
            <li><p class="wb-kit">By accessing or using the Site, you are deemed to have also accepted our Terms and Conditions
              <a routerLink="/terms_condition" class="under-line">here</a>.</p>
            </li>
          </ol>
        </li>
      </ol>
    </div>
</section>