<div class="container container-body">
	<div class="row">
		<p class="current-list page-header-top between-navbar why-us">
			<a routerLink="/">Home</a>
			<a [routerLink]="['/ta/'+ id +'/initiate']">&gt; Tenancy Agreement</a>
		</p>
		<h3 class="page-header page_header_intent">INITIATE TENANCY AGREEMENT</h3>
		<div class="col-md-8 col-md-offset-2">
			<div id="tenancyAgreementRootWizard">
				<div class="stepwizard">
					<div class="stepwizard-row setup-panel">
						<ul class="nav nav-pills">
							<li class="stepwizard-step width-100 active" id="taT1">
								<a routerLink="#taTab1" data-toggle="tab" type="button" class="btn btn-circle" aria-expanded="true"><i class="fa fa-check" aria-hidden="true"></i></a>
								<p><b>Step 1</b><br>Key Information</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-content">
					<!-- key information -->
					<div class="tab-pane active" id="taTab1">
						<form id="myForm"  name="form" #f="ngForm" novalidate="novalidate">
							<div class="row">
								<div class="col-md-12 background_loi color_homepage">
									<b>Key Information</b>
								</div>
								<div class="col-md-12 background_loi_special">
									<div class="col-md-4">
										<b>Payment Information</b>
									</div>
								</div>
								<div class="col-md-6 col-xs-12 bank">
									<div class="form-group" [ngClass]="{ 'has-error': isValid && !bank_valid  }">
										<label class="label_loi control-label" for="bank_id">Bank</label>
										<div *ngIf="banks.length > 0">
											<ng-select [allowClear]="true"
									        	[items]="banks"
									          	(data)="refreshValue($event)"
									          	(selected)="selected($event)"
									          	(removed)="removed($event)"
									          	(typed)="typed($event)"
									          	placeholder="-"
									          	[(ngModel)]="selectedBank"
									          	name="bank">
  											</ng-select>
										</div>
										<!-- <p-dropdown (onChange)="getId()" name="bank" pattern=".{3,255}" [(ngModel)]="selectedBank" placeholder="Select a Brand" [options]="banks" [editable]="true" [style]="{'width':'100%','padding':'6px 12px'}" required></p-dropdown> -->
										<small class="help-block" *ngIf="isValid && !bank_valid">
											Bank is required (Must at least 3 character and less than 255 character)
										</small>
									</div>
								</div>
								<div class="col-md-6 col-xs-12 responsive">
									<div class="form-group" [ngClass]="{ 'has-error': isValid && !name.valid }">
										<label class="label_loi control-label">Bank Account Name.</label>
										<input type="text" (keypress)="text($event)" pattern=".{3,255}" name="account_name" class="input_web_kit form-control" placeholder="-" [(ngModel)]="model.name" #name="ngModel" required>
										<small *ngIf="isValid && !name.valid" class="help-block">Bank account name is required (Must at least 3 character and less than 255 character)</small>
									</div>
								</div>
								<div class="col-md-6 col-xs-12 responsive">
									<div class="form-group" [ngClass]="{ 'has-error': isValid && !no.valid }">
										<label class="label_loi control-label" for="TSPmWkdvP8oMjya6r">Bank Account No.</label>
										<input type="text" (keypress)="number($event)" pattern=".{3,255}" name="account_no" class="input_web_kit form-control" placeholder="-" [(ngModel)]="model.no" #no="ngModel" required>
										<small *ngIf="isValid && !no.valid" class="help-block">Bank account no is required (Must at least 3 character and less than 255 character)</small>
									</div>
								</div>
							</div>
							<ul class="pager wizard loi_pager_wizard">
								<li class="previous disabled"><a class="previous_loi">Previous</a></li>
								<li (click)="createTA(f.valid)" [ngClass]="{'disabled': loading }" type="button" class="next pull-right finish pointer" style="display: block;">
									<span *ngIf="loading"><i class='fa fa-spinner fa-spin '></i> Please Wait</span>
            						<span *ngIf="!loading" class="confirm-loi">Confirm</span>
								</li>
							</ul>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>