<div id="content" [class]="contentClass">
	<div class="panel panel-inverse" data-sortable-id="table-basic-1">
	    <div class="panel-heading">
	        <div class="panel-heading-btn">
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
	        </div>
	        <h4 class="panel-title">Form Faq</h4>
	    </div> 
	    <div class="panel-body">
			<form #form="ngForm" [formGroup]="myForm" (ngSubmit)="myForm.valid && faqId ? updateFaq() : createFaq()">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="form-group"  [ngClass]="{'has-error':!myForm.controls['question'].valid && myForm.controls['question'].touched }">
						<label for="question">Question</label>
						<input type="question" class="form-control" formControlName="question" placeholder="Input your question" name="question" [(ngModel)]="dataFaq.question" required>
						<span *ngIf="myForm.controls['question'].hasError('required') && myForm.controls['question'].touched" class="text-danger">Question is required</span>
					</div>
					<div class="form-group" [ngClass]="{'has-error':!myForm.controls['answer'].valid && myForm.controls['answer'].touched }">
						<label for="answer">Answer</label>
						<input type="text" class="form-control" formControlName="answer" placeholder="Input your answer" name="answer" [(ngModel)]="dataFaq.answer" required>
						<span *ngIf="myForm.controls['answer'].hasError('required') && myForm.controls['answer'].touched" class="text-danger">answer is required</span>
					</div>
					<div class="form-group">
						<label for="for" class="col-sm-12 no-padding">For</label>
						<input type="radio" formControlName="for" [(ngModel)]="dataFaq.for" [value]=true>Landlord
						<input type="radio" formControlName="for" [(ngModel)]="dataFaq.for" [value]=false>Tenant
					</div>
					<div class="form-group">
						<button class="btn btn-primary" [disabled]="!myForm.valid">Save</button>
						<button (click)="back()" type="button" class="btn btn-primary admin-mg-btn-amenity"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Back</button>
					</div>
				</div>
			</form>      
		</div>	
	</div>		
</div>