<div id="content" [class]="contentClass">
    <div class="panel panel-inverse" data-sortable-id="table-basic-1">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Default Table</h4>
        </div>   
        <div class="panel-body">
            <fieldset class="bd-gray">
                <button class="btn btn-primary all-mg-2px" [routerLink] = "['new']">Add</button>
                <div class="ui-widget-header">
                    <i class="fa fa-search global-filter"></i>
                    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                </div>
            	<p-dataTable [value]="faqs" [rows]="10" [paginator]="true" [globalFilter]="gb">
            		<p-column field="question" header="Question"></p-column>
                	<p-column field="answer" header="Answer"></p-column>
                	<p-column field="for" header="For"></p-column>
                	<p-column header="Action">
                        <template let-data="rowData" pTemplate="body">
                    		<button class="btn btn-warning" (click)="editFaq(data)">Edit</button>
                    		<button class="btn btn-danger mg-bot-top" (click)="deleteFaq(data)">Delete</button>
                        </template>
                	</p-column>
            	</p-dataTable>
            </fieldset>
        </div>
    </div>        
</div>	