<div class="login-container">
    <div class="login-header">
        <a href="/"><img src="public/assets/images/logo2.png" style="width:100px; height:100px;"></a>
    </div>
    <div class="login-body">
        <div class="at-form">
            <div class="at-pwd-form">
                <form role="form" id="adminLoginForm" #form="ngForm" [formGroup]="myForm" (ngSubmit)="myForm.valid && login()" novalidate>
                    <fieldset>
                        <div class="at-input form-group" [ngClass]="{'has-error':!myForm.controls['username'].valid && myForm.controls['username'].touched }">
                            <div class="alert alert-danger" *ngIf="errorMessage">
                                <strong>{{errorMessage}}</strong>
                            </div>
                            <label class="control-label">username </label>
                            <input type="username" formControlName="username" class="form-control" id="username" name="username" placeholder="username" autocapitalize="none" autocorrect="off" [(ngModel)]="user.username" required>
                            <span *ngIf="myForm.controls['username'].hasError('required') && myForm.controls['username'].touched" class="text-danger">Username is required</span>
                        </div>
                        <div class="at-input form-group" [ngClass]="{'has-error':!myForm.controls['password'].valid && myForm.controls['password'].touched }">
                            <label class="control-label">Password </label>
                            <input type="password" formControlName="password" class="form-control" id="password" name="password" placeholder="Password" autocapitalize="none" autocorrect="off"  [(ngModel)]="user.password" required>
                            <span *ngIf="myForm.controls['password'].hasError('required') && myForm.controls['password'].touched" class="text-danger">Password is required</span>
                        </div>
                        <button type="submit" class="at-btn submit btn btn-lg btn-block btn-primary" >Sign In</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>