.width-100 {
	width: 100%;
}
.delete-dev {
	width: 48%;
	padding-left: 4px;
}
.accordion-heading p {
    padding: 0px 0px 10px 0px !important;
    margin: 0px !important;
}
.form-absolute {
    position: relative;
    z-index: 10;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5 !important;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-heading h3 {
	font-weight: bold;
}
.sebm-google-map-container {
  height: 300px;
  width: 50%;
}
.mg-bot-20 {
    margin-bottom: 20px;
}
.color-black {
    color: black !important;
}