.login-container {
    margin-top: 100px;
}
.login-header {
    width: 350px;
    text-align: center;
}
.login-header, .login-body {
    margin: 0 auto;
}
.login-body {
    width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
}
.login-body .at-form {
    margin-top: 0;
    margin-bottom: 0;
}
.at-form {
    float: none;
    margin: auto;
    overflow: auto;
    border-radius: 10px;
    padding: 15px;
}
.at-pwd-form form label {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
}
.form-group {
    margin: 0px 0px 15px 0px;
}
.login-body .at-pwd-form form {
    margin-top: 0;
}
.at-pwd-form form label {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 14px;
}
.form-control {
    box-shadow: none;
    border-radius: 2px;
    height: 40px;
    margin-bottom: 5px;
}
.btn-lg {
    font-size: 14px;
    border-radius: 5px;
}
a, a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
    outline: none;
    color: unset;
}
.w-h-100 {
	width: 100px;
	height: 100px;
}
.mg-bot-10 {
	margin-bottom: 10px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #286090 !important;
    border-color: #204d74 !important;
}