.width-150 {
	width: 150% !important;
}
.color-pending {
    color: #ddbc39;
}
.color-reject {
    color: #dd4b39;
}
.color-accept {
    color: #00a65a;
}
.mg-bot-10 {
	margin-bottom: 10px;
}
.mg-top-10 {
	margin-top: 10px;
}
.payment div#dropzone {
	width: 220px !important;
}
.pd-l-0 {
	padding-left: 0px;
}
.mg-bot-30 {
	margin-bottom: 30px;
}
.mg-top-30 {
	margin-top: 30px;
}
.bd-radius-0 {
	border-radius: 0px !important;
}
.information-payment h5 {
	font-weight: bold;
}