.container.create.admin-property {
	margin-right: 85px;
	width: 960px;
	border: 1px solid #ddd;
}
.admin-description p {
    padding-left: 10px !important;
    padding-bottom: 20px !important;
}
.row.less.step4.admin  {
	padding-bottom: 0px !important;
}
.mg-t-5 {
	margin-top: 5px;
}
.mg-l-min10 {
	margin-left: -10px;
}
.mg-amenities {
    margin-top: 10px;
    margin-bottom: 25px;
}
.col-sm-3.dropzone-w {
    padding-right: 20px;
    padding-left: 20px;
}
.col-md-12.col-xs-12.upload-file-box .form-group .col-sm-12 {
	padding-right: 15px !important
}
.dropzone {
	min-height: 232px !important;
}
.step3 select {
	width: 29.5%;
}
.pager.wizard {
	padding-left: 15px;
	padding-right: 15px;
}
.mg-l-25 {
	margin-left: 25px;
}
.mg-l-15 {
	margin-left: 15px;
}
.mg-l-10 {
	margin-left: 10px;
}
.btn-danger.remove {
	margin-top: 5px;
}
.admin-upload.confirm .dropzone {
	margin-bottom: 10px;
}
.admin-mg-min-plus {
	margin-left: -65px;
}
.mg-top-55 {
	margin-top: 55px;
}
.pd-0 {
	padding: 0px;
}
