.mg-bot-top {
	margin : 3px 0px 3px 0px;
}
fieldset.bd-gray {
	border: 1px solid #ddd;
}
.all-mg-2px {
	margin: 3px;
}
.admin-pro-title h4.color-black {
	color: black;
	font-weight: bold;
}
.mg-top-20 {
	margin-top: 20px;
}
.no-pd-lf {
	padding-left: 0px;
}