<div class="dashboard-appointments">
	<h3 class="align-member-section">Inventory List</h3>
	<div class="header-breadcrumb">
		<span id="filAll" [ngClass]="{'color-in-status-blue': isAll }">
			<a class="pointer" (click)="isAll=true;isAction=false;isPending=false;isArchived=false">All ({{agreements.length}})</a>
		</span>|
		<span id="filAction" [ngClass]="{'color-in-status-blue': isAction }" class="span-pd-left-8">
			<a class="pointer" (click)="isAll=false;isAction=true;isPending=false;isArchived=false">Action Required ({{action.length}})</a>
		</span>|
		<span id="filPending" [ngClass]="{'color-in-status-blue': isPending }" class="span-pd-left-8">
			<a class="pointer" (click)="isAll=false;isAction=false;isPending=true;isArchived=false">Pending ({{pending.length}})</a>
		</span>|
		<span id="filArchived" [ngClass]="{'color-in-status-blue': isArchived }" class="span-pd-left-8">
			<a class="pointer" (click)="isAll=false;isAction=false;isPending=false;isArchived=true">Archived ({{archived.length}})</a>
		</span>
	</div>
	<div class="tab-content">
		<div role="tabpanel" [ngClass]="{'active': isAll }" class="tab-pane active tab-pd-top" id="isAll">
			<p-dataTable [value]="agreements" [rows]="10" [paginator]="true">
				<p-column header="Property">
			    	<template let-agreements="rowData" pTemplate="body">
			    		#{{agreements.property?.address.floor}}-{{agreements.property?.address.block_number}} {{agreements.property?.address.street_name}}
			    	</template>
			    </p-column>
			    <p-column field="landlord.username" header="Landlord"></p-column>
			    <p-column field="tenant.username" header="Tenant"></p-column>
			    <p-column header="Status">
			    	<template let-agreements="rowData" pTemplate="body">
			    		<span *ngIf="agreements.inventory_list.data?.status == 'pending'">Pending Tenant Signature</span>
			    		<span *ngIf="agreements.inventory_list.data?.status == 'completed'">Archived</span>
			    	</template>
			    </p-column>
			    <p-column field="inventory_list.data.created_at" header="Since"></p-column>
			    <p-column header="Action" styleClass="col-button">
			    	<template let-agreements="rowData" pTemplate="body">
			    		<a (click)="view(agreements)" class="under_line pointer">View</a>
			    	</template>
			    </p-column>
			</p-dataTable>
		</div>
		<div role="tabpanel" [ngClass]="{'active': isAction }" class="tab-pane active tab-pd-top" id="isAll">
			<p-dataTable [value]="action" [rows]="10" [paginator]="true">
			    <p-column header="Property">
			    	<template let-action="rowData" pTemplate="body">
			    		#{{action.property?.address.floor}}-{{action.property?.address.block_number}} {{action.property?.address.street_name}}
			    	</template>
			    </p-column>
			    <p-column field="landlord.username" header="Landlord"></p-column>
			    <p-column field="tenant.username" header="Tenant"></p-column>
			    <p-column header="Status">
			    	<template let-action="rowData" pTemplate="body">
			    		<span *ngIf="action.inventory_list.data?.status == 'pending'">Pending Tenant Signature</span>
			    		<span *ngIf="action.inventory_list.data?.status == 'completed'">Archived</span>
			    	</template>
			    </p-column>
			    <p-column field="inventory_list.data.created_at" header="Since"></p-column>
			    <p-column header="Action" styleClass="col-button">
			    	<template let-action="rowData" pTemplate="body">
			    		<a (click)="view(action)" class="under_line pointer">View</a>
			    	</template>
			    </p-column>
			</p-dataTable>
		</div>
		<div role="tabpanel" [ngClass]="{'active': isPending }" class="tab-pane active tab-pd-top" id="isAll">
			<p-dataTable [value]="pending" [rows]="10" [paginator]="true">
			    <p-column header="Property">
			    	<template let-pending="rowData" pTemplate="body">
			    		#{{pending.property?.address.floor}}-{{pending.property?.address.block_number}} {{pending.property?.address.street_name}}
			    	</template>
			    </p-column>
			    <p-column field="landlord.username" header="Landlord"></p-column>
			    <p-column field="tenant.username" header="Tenant"></p-column>
			    <p-column header="Status">
			    	<template let-pending="rowData" pTemplate="body">
			    		<span *ngIf="pending.inventory_list.data?.status == 'pending'">Pending Tenant Signature</span>
			    		<span *ngIf="pending.inventory_list.data?.status == 'completed'">Archived</span>
			    	</template>
			    </p-column>
			    <p-column field="inventory_list.data.created_at" header="Since"></p-column>
			    <p-column header="Action" styleClass="col-button">
			    	<template let-pending="rowData" pTemplate="body">
			    		<a (click)="view(pending)" class="under_line pointer">View</a>
			    	</template>
			    </p-column>
			</p-dataTable>
		</div>
		<div role="tabpanel" [ngClass]="{'active': isArchived }" class="tab-pane active tab-pd-top" id="isAll">
			<p-dataTable [value]="archived" [rows]="10" [paginator]="true">
			    <p-column header="Property">
			    	<template let-archived="rowData" pTemplate="body">
			    		#{{archived.property?.address.floor}}-{{archived.property?.address.block_number}} {{archived.property?.address.street_name}}
			    	</template>
			    </p-column>
			    <p-column field="landlord.username" header="Landlord"></p-column>
			    <p-column field="tenant.username" header="Tenant"></p-column>
			    <p-column header="Status">
			    	<template let-archived="rowData" pTemplate="body">
			    		<span *ngIf="archived.inventory_list.data?.status == 'pending'">Pending Tenant Signature</span>
			    		<span *ngIf="archived.inventory_list.data?.status == 'completed'">Archived</span>
			    	</template>
			    </p-column>
			    <p-column field="inventory_list.data.created_at" header="Since"></p-column>
			    <p-column header="Action" styleClass="col-button">
			    	<template let-archived="rowData" pTemplate="body">
			    		<a (click)="view(archived)" class="under_line pointer">View</a>
			    	</template>
			    </p-column>
			</p-dataTable>
		</div>
	</div>
</div>