<section id="terms-condition">
  <div class="container col_md_aboutus mg-bot-30">
    <p class="current-list page-header-top pd-left-0">
      <a routerLink="/">Home</a>
      <a routerLink="/terms_condition">&gt; Terms And Condition</a>
    </p>
    <h2 class="text-center page-header page_header_about mg-top-30 mg-bot-30">STAYSMART PTE. LTD.<br>TERMS AND CONDITIONS OF USE OF THIS WEBSITE<br>[www.staysmart.sg] (the "Site")</h2>
    <ol class="sub">
      <li class="first-bold justify-text"><p class="wb-kit kit-1 fw-bold fw-bold">ACCEPTANCE OF TERMS</p>
        <ol class="sub">
          <li><p class="wb-kit">Your use of this Site is subject to these Terms and Conditions. By using this Site, you are deemed to have accepted and agree to be bound by these Terms and Conditions. We may make changes to these Terms and Conditions from time to time. Your uses of the Site following changes to these Terms of Conditions will constitute your acceptance of those changes.</p>
          </li>
        </ol>
      </li>
      <li class="first-bold justify-text"><p class="wb-kit kit-1 fw-bold">ABILITY TO ACCEPT TERMS AND CONDITIONS</p>
        <ol class="sub">
          <li><p class="wb-kit">You affirm that you are either more than 18 years of age, or possess legal parental or   guardian consent, and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations, and warranties set forth in these Terms and Conditions, and to abide by and comply with these Terms and Conditions.</p></li>
        </ol>
      </li>
      <li class="first-bold justify-text"><p class="wb-kit kit-1 fw-bold">TRADEMARKS </p>
        <ol class="sub">
          <li><p class="wb-kit">Staysmart, its related companies, affiliates, contractors and/or participating corporations are the owners of the trade and service marks appearing on this Site and all rights are reserved in respect of such trade and service marks.</p></li>
        </ol>
      </li>
      <li class="first-bold justify-text"><p class="wb-kit kit-1 fw-bold">REGISTRATION</p>
        <ol class="sub">
          <li><p class="wb-kit">Please note that the Site and the Service are only meant for home owners, potential tenants and potential buyers for their own needs. Real estate agents, salespersons or any other person who intend to use the Site, or the Service for commercial or business purposes shall not be allowed to register for an account on the Site.</p>
          </li>
          <li><p class="wb-kit">Please note that each user shall only be entitled to one account to be used when accessing the Site. Your account is personal to you, and you may not assign or transfer your account or any of your rights under these Terms and Conditions to any third party without our prior written consent. Any attempted assignment or transfer in violation of the foregoing shall be deemed a material breach of these Terms and Conditions.</p>
          </li>
          <li><p class="wb-kit">In order to register for an account on the Site, we will require you to provide us with certain personal information, including but not limited to your name, email address, National Registration Identity Card (NRIC) number, home address, contact number and a password of your choice. You confirm that all information provided is true, accurate, correct and up to date.</p>
          </li>
          <li><p class="wb-kit">You are responsible for the confidentiality of the username and password allocated to you and you shall take ownership of all activity and transactions under your account. You shall notify us immediately if you become aware of any unauthorized use of your password or account or any other breach of security.</p>
          </li>
        </ol>
      </li>
      <li class="first-bold justify-text"><p class="wb-kit kit-1 fw-bold">RESTRICTION, DELETION OR SUSPENSION OF ACCOUNT OR SERVICES</p>
        <ol class="sub">
          <li><p class="wb-kit">We reserve the right to restrict, suspend or delete your account or restrict your access to the Site, or to restrict, suspend or cease to provide the Service to you at any time at our sole discretion for any reason whatsoever. If your account is suspended, restricted, or deleted, you are not permitted to continue to use the Service or the Site under a different or new account without our prior approval.</p>
          </li>
          <li><p class="wb-kit">You may terminate your account at any time by writing to us at support@staysmart.sg. We may terminate your account for inactivity for at least a period of 365 days at our sole discretion.</p>
          </li>
        </ol>
      </li>
      <li class="first-bold justify-text"><p class="wb-kit kit-1 fw-bold">USE OF SITE</p>
        <ol class="sub">
          <li><p class="wb-kit">By using the Site, or the Service, you agree to abide by all the Terms and Conditions herein as well as our Privacy Policy at here</p>
          </li>
          <li><p class="wb-kit">You agree that you will not:</p>
            <ol class="sub">
              <li><p class="wb-kit kit-3">use the Site for purposes of conducting and/or disseminating surveys, contests, pyramid schemes, chain letters, junk email, spamming or sending of any duplicative or unsolicited messages;</p></li>
              <li><p class="wb-kit kit-3">defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy) of others;</p></li>
              <li><p class="wb-kit kit-3">publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, obscene, indecent or unlawful material or information;</p></li>
              <li><p class="wb-kit kit-3">upload, or otherwise make available, files that contain images, photographs, software or other material protected by intellectual property laws, including, by way of example, and not as limitation, copyright or trademark laws (or by rights of privacy or publicity) unless you have ownership or control the rights thereto or have received all necessary consent to do the same;</p></li>
              <li><p class="wb-kit kit-3">use any material or information, including images or photographs, which are made available through the Site in any manner that infringes any copyright, trademark, patent, trade secret, or other proprietary right of any party;</p></li>
              <li><p class="wb-kit kit-3">upload files that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of another's computer or property of another;</p></li>
              <li><p class="wb-kit kit-3">violate any applicable laws or regulations;</p></li>
              <li><p class="wb-kit kit-3">create a false identity for the purpose of misleading others.</p></li>
            </ol>
          </li><li>
          <p class="wb-kit kit-minus">You will be required to provide information regarding your property if you are a home owner looking to rent or sell your property and information about your requirements, if you are a potential tenant or potential buyer. We reserve the right to request additional information from you to ensure and verify that you are not a real estate agent or salesperson.</p>
        </li>
        
      </ol>
    </li>
    <li class="first-bold justify-text"><p class="wb-kit kit-1 fw-bold">LINKS TO OTHER SITES</p>
      <ol class="sub">
        <li><p class="wb-kit">The Site may contain information from third party sites or web applications such as Google Maps (“Third Party Content”). Staysmart makes no representation and is not responsible for such Third Party Content and shall not be liable for any damages or loss arising from access or use of such Third Party Content. Any content, services, representations made on such websites and/or web applications are solely the responsibility of the operator of those websites and/or web applications and Staysmart assumes no responsibility for any content, the operation or the services provided thereon. Use of the hyper-links and access to such linked websites and/or web applications are entirely at your own risk.</p></li>
      </ol>
    </li>
    <li class="first-bold justify-text"><p class="wb-kit kit-1 fw-bold">INDEMNITY</p>
      <ol class="sub">
        <li><p class="wb-kit">You shall indemnify and hold us, our officers, directors, shareholders, predecessors, successors in interest, employees, agents, subsidiaries and affiliates, harmless from all demands, claims, actions, proceedings, judgements, orders, decrees, damages, costs, losses and expenses of any nature whatsoever against us by any third party due to or arising out of or in connection with any failure by you to comply with any of these Terms and Conditions or otherwise by your use of the Site, or the Service.</p>
        </li>
      </ol>
    </li>
    <li class="first-bold justify-text"><p class="wb-kit kit-1 fw-bold">CONSENT FOR USE OF PERSONAL INFORMATION</p>
      <ol class="sub">
        <li><p class="wb-kit">You hereby consent to our collection, use and disclosure of your personal information provided to us.</p>
        </li>
        <li><p class="wb-kit">You agree that we may collect, use or disclose your personal information for the following purposes:</p>
          <ol class="sub">
            <li><p class="wb-kit kit-3">setting up your registered user account and profile on the Site;</p></li>
            <li><p class="wb-kit kit-3">to provide and improve the Service;</p></li>
            <li><p class="wb-kit kit-3">to verify that you are an actual home owner, potential tenant or potential buyer, and not a real estate agent or salesperson;</p></li>
            <li><p class="wb-kit kit-3">to send to you emails which are specific to your account and which are necessary for the normal functioning of the Service, including one or more welcome emails which help inform new users about various features of the Service;</p></li>
            <li><p class="wb-kit kit-3">for targeted online marketing;</p></li>
            <li><p class="wb-kit kit-3">to contact you regarding any complaints, feedback, queries or requests;</p></li>
            <li><p class="wb-kit kit-3">handling any issues which have come to our attention;</p></li>
            <li><p class="wb-kit kit-3">to facilitate investigations into any suspicious or illegal activity on the Site;</p></li>
            <li><p class="wb-kit kit-3">for internal administrative and management purposes;</p></li>
            <li><p class="wb-kit kit-3">where required by any act, statute, law, or regulation, or by the order of a government authority or a court or tribunal of competent jurisdiction;</p></li>
            <li><p class="wb-kit kit-3">such other purposes consented by you for which your personal information is collected;</p></li>
            <li><p class="wb-kit kit-3">handling any issues which have come to our attention;</p></li>
            <li><p class="wb-kit kit-3">any other purpose reasonably related to the aforesaid.</p></li>
          </ol>
        </li><li>
        <p class="wb-kit kit-minus">We may disclose your personal information to our partners, agents, or affiliates whom we have engaged to provide the Service, to maintain the Site or to protect the security or integrity of the Site and our databases. We will use commercially reasonable efforts to ensure that such partners, agents or affiliates do not use your personal information for a purpose other than the purposes for which the personal information were originally given.</p>
      </li>
      
    </ol>
  </li>
  <li class="first-bold justify-text"><p class="wb-kit kit-2 fw-bold">SHARING OF YOUR INFORMATION</p>
    <ol class="sub">
      <li><p class="wb-kit kit-3">We will not rent or sell your information to third parties outside of Staysmart without your consent, except in accordance with these Terms and Conditions.</p>
      </li>
      <li><p class="wb-kit kit-3">We may remove parts of data that can identify you, and share anonymised data with other parties. We may also combine your information with other information in a way that is no longer associated with you and share that aggregated information.</p>
      </li>
      <li><p class="wb-kit kit-3">Any information or content that you voluntarily disclose for posting to the Service becomes available to the public. You may opt out of the public sharing of your information by editing your privacy settings. Once you have shared your information or made it public, such content may be re-shared by others.</p>
      </li>
      <li><p class="wb-kit kit-3">Subject to your profile and privacy settings, any information that you make public is searchable by other members of the Service.</p>
      </li>
      <li><p class="wb-kit kit-3">Information that you post to the Service can be removed by you, however, copies may remain viewable in cached and archived pages of the Service, or if other users or third parties have copied or saved that information.</p>
      </li>
    </ol>
  </li>
  <li class="first-bold justify-text"><p class="wb-kit kit-2 fw-bold">LANGUAGE</p>
    <ol class="sub">
      <li><p class="wb-kit kit-3">If the information on this Site is translated into or presented in languages other than English, the English version of that information will prevail in relation to any disputes regarding its interpretation.</p>
      </li>
    </ol>
  </li>
  <li class="first-bold justify-text"><p class="wb-kit kit-2 fw-bold">NO WARRANTY</p>
    <ol class="sub">
      <li><p class="wb-kit kit-3">The Service, the Site and the content therein are provided on an “as is”, “as available” basis. We do not warrant the correctness, accuracy, adequacy, completeness, timeliness or validity of the Service, the Site and/or the content therein and expressly disclaims liability for errors or omissions in the content. No warranty of any kind, implied, express or statutory, including but not limited to the warranties of non-infringement of third party rights, title, merchantability, satisfactory quality and/or fitness for a particular purpose, is given in conjunction with the Service, the Site and the content therein.</p>
      </li>
      <li><p class="wb-kit kit-3">We do not warrant that the Service, the Site and/or any content therein will be provided uninterrupted or free from errors or that any identified faults will be corrected. No warranty is given that the Service, the Site and the content therein are free from any computer virus or other malicious, destructive or corrupting code/programme.</p>
      </li>
    </ol>
  </li>
  <li class="first-bold justify-text"><p class="wb-kit kit-2 fw-bold">ACKNOWLEDGEMENT</p>
    <ol class="sub">
      <li><p class="wb-kit kit-3">You acknowledge and agree that you are solely responsible for (and that we    have    no responsibility to you or to any third party for) any data that you transmit, update or upload while using the Site and for the consequences of your actions (including any loss or damage which we may suffer) by doing so;</p>
      </li>
      <li><p class="wb-kit kit-3">Your use and reliance on the content on the Site is entirely at your own risk, and therefore we specifically disclaim any liability arising from or in connection with your use of the Site, including but not limited to any damages or losses which you may suffer as a result of the buying, selling or renting of any property through the Site;</p>
      </li>
      <li><p class="wb-kit kit-3">We shall not be responsible for any materials posted on the Site, including, but not limited to, information relating to any property;</p>
      </li>
      <li><p class="wb-kit kit-3">We shall not be responsible for any disputes, demands, claims, actions, proceedings, judgments, orders, decrees, damages, costs, losses and expenses of any nature whatsoever arising out of or in connection with the buying, selling or rental of any property conducted through the Site;</p>
      </li>
      <li><p class="wb-kit kit-3">You are required to use your own judgment, caution, and common sense in evaluating the information provided on the Site and any information provided by us or any third party;</p>
      </li>
      <li><p class="wb-kit kit-3">We reserve the right to review materials posted, to edit, refuse to post, to remove any content, terminate your access to the Site at our sole discretion at any time, without notice, for any reason whatsoever;</p>
      </li>
      <li><p class="wb-kit kit-3">The Site may become temporarily unavailable for a number of reasons, including but not limited to, capacity constraints, transmission limitations, equipment modifications, upgrades, relocations, and repairs. Notwithstanding this, we will use reasonable commercial efforts to minimize such non-availability of the Site.</p>
      </li>
    </ol>
  </li>
  <li class="first-bold justify-text"><p class="wb-kit kit-2 fw-bold">LIMITATION OF LIABILITY</p>
    <ol class="sub">
      <li class="wb-kit start-kit-0"><p class="wb-kit kit-3">We shall in no event be liable for any death, injury, direct, indirect, incidental, special, consequential, exemplary damages or other indirect damages or costs of any kind suffered or incurred by you or any third party arising from or in connection with:</p>
        <ol class="sub">
          <li class="wb-kit before-kit-1"><p class="wb-kit kit-3">any acts or omissions of any home owner, potential tenant or potential buyer;</p></li>
          <li class="wb-kit before-kit-1"><p class="wb-kit kit-3">any content or material on the Site, including but not limited to any incorrectness, inaccuracy, inadequacy, incompleteness or invalidity thereof;</p></li>
          <li class="wb-kit before-kit-1"><p class="wb-kit kit-3">any unauthorized access by any person of your account with us;</p></li>
          <li class="wb-kit before-kit-1"><p class="wb-kit kit-3">any access, use or the inability to access or use the Site, or reliance on the materials and/or any information on the Site;</p></li>
          <li class="wb-kit before-kit-1"><p class="wb-kit kit-3">any system, server or connection failure, error, omission, interruption, delay in transmission, or computer virus;</p></li>
          <li class="wb-kit before-kit-1"><p class="wb-kit kit-3">any use of or access to any other website linked to the Site, even if we or our agents or employees are advised of the possibility of such damages, losses and/or expenses. Any hyperlinks to any other websites are not an endorsement of such websites and such websites should only be accessed at your own risks.</p></li>
        </ol>
      </li><li class="wb-kit kit-1 before">
      <p class="wb-kit kit-minus wb-kit kit-3">This provision shall take effect to the fullest extent permitted by the applicable law.</p>
    </li>
    
  </ol>  
  </li>
  <li class="first-bold justify-text"><p class="wb-kit kit-2 fw-bold">PROPRIETARY RIGHTS</p>
    <ol class="sub">
      <li><p class="wb-kit kit-3">You acknowledge and agree that we own, or have the licence to use the Site, including the source codes, pages, documents and online graphics, audio, video and such other contents found on the Site and any and all intellectual property rights used or embodied in or in connection thereto, including any suggestions, ideas, enhancement requests, feedback, recommendations or other information that you may provide relating to the Site or the Service. The Site and the content therein shall not be reproduced, republished, transmitted or distributed in any way, without our prior written permission.</p>
      </li>
      <li><p class="wb-kit kit-3">You further acknowledge that we own, or have the exclusive licence to use, the Trade Marks, and may from time to time apply for registration of other Trade Marks and service marks. We are not aware of other persons using any of the Trade Marks and we do not warrant that we have sole or exclusive rights in and to such Trade Marks. You agree not to at any time contest our ownership of the Trade Marks and undertake not to use the Trade Marks without our prior written consent and/or in derogation of our rights.</p>
      </li>
      <li><p class="wb-kit kit-3">For the purposes of these Terms and Conditions, “Trade Marks” means the “Staysmart” mark and such other marks and devices used by and belonging to us whether registered or not and all such other trade marks, trade names, service marks, trade dress, logos, and emblems which are under our control or ownership and which we stipulate are to be used from time to time by us.</p>
      </li>
    </ol>
  </li>
  <li class="first-bold justify-text"><p class="wb-kit kit-2 fw-bold">GENERAL</p>
    <ol class="sub">
      <li><p class="wb-kit kit-3">Nothing contained in these Terms and Conditions shall be so construed as to create any agency, partnership or joint venture of any kind between the parties hereto.</p>
      </li>
      <li><p class="wb-kit kit-3">No failure by us to exercise and no delay by us in exercising any right, power or remedy under these Terms and Conditions will operate as a waiver. Nor will any single or partial exercise by us of any right, power or remedy preclude any other or further exercise of that or any other right, power or remedy by us. No waiver shall be valid unless in writing signed by us. The rights and remedies herein are in addition to any rights or remedies provided by law.</p>
      </li>
      <li><p class="wb-kit kit-3">All rights and obligations hereunder are personal to the parties and each party shall not assign any such rights and obligations to any third party without our prior written consent.</p>
      </li>
      <li><p class="wb-kit kit-3">Any one or more clauses, stipulations or provisions of these Terms and Conditions, or any part thereof, which is declared or adjudged to be illegal, invalid, prohibited or unenforceable under any applicable law in any jurisdiction shall be ineffective to the extent of such illegality, invalidity, prohibition or unenforceability without invalidating, vitiating or rendering unenforceable the remaining clauses, stipulations or provisions of these Terms and Conditions, and any such illegality, invalidity, prohibition or unenforceability in any jurisdiction shall not invalidate, vitiate or render unenforceable any such clauses, stipulations or provisions in any other jurisdiction.</p>
      </li>
    </ol>
  </li>
  <li class="first-bold justify-text"><p class="wb-kit kit-2 fw-bold">GOVERNING LAW</p>
    <ol class="sub">
      <li><p class="wb-kit kit-3">These Terms of Use will be governed by and construed in accordance with the laws of Singapore, and the courts of Singapore will have non-exclusive jurisdiction over any claim or dispute arising under or in connection with these Terms and Conditions.</p>
      </li>
    </ol>
  </li>
  </ol>
  </div>
</section>