<div id="content" [class]="contentClass">
	<button (click)="GoogleAnalytic()" class="btn btn-primary">Google Analytic</button>
	<button (click)="MigrateChats()" class="btn btn-success">Migrate Chats</button>
</div>
