<div id="content" [class]="contentClass">
    <div class="panel panel-inverse" data-sortable-id="table-basic-1" *ngIf="!developmentId">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">View Development</h4>
        </div>   
        <div class="panel-body">
            <fieldset class="bd-gray">
                <button class="btn btn-primary all-mg-2px" [routerLink] = "['new']">Add</button>
                <div class="ui-widget-header">
                    <i class="fa fa-search global-filter"></i>
                    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                </div>
            	<p-dataTable [value]="developments" [rows]="10" [paginator]="true" [globalFilter]="gb">
                    <p-column field="name" header="Name"></p-column>
                    <p-column field="tenure" header="Tenure"></p-column>
                    <p-column field="age" header="Age"></p-column>
                    <p-column field="number_of_units" header="No.of units"></p-column>
                    <p-column field="description" header="Description"></p-column>
                    <p-column field="planning_region" header="Planning_region"></p-column>
                    <p-column field="planning_area" header="Planning area"></p-column>
                	<p-column field="postal_district" header="Postal district"></p-column>
                	<p-column header="Action">
                        <template let-data="rowData" pTemplate="body">
                    		<button class="btn btn-success mg-bot-top width-100" (click)="viewDevelopment(data)">View</button>
                    		<button class="btn btn-primary mg-bot-top width-100" (click)="viewUnit(data)">View Units</button>
                            <button class="btn btn-warning mg-bot-top width-100" (click)="editDevelopment(data)">Edit</button>
                            <button class="btn btn-danger mg-bot-top width-100" (click)="deleteDevelopment(data)">Delete</button>
                        </template>
                	</p-column>
            	</p-dataTable>
            </fieldset>
        </div>
    </div>        

    <fieldset class="bd-gray" *ngIf="unitDev">
        <button class="btn btn-default all-mg-2px" [routerLink] = "['new']">Add</button>
        <div class="ui-widget-header">
            <i class="fa fa-search global-filter"></i>
            <input #gb type="text" pInputText size="50" placeholder="Global Filter">
        </div>
        <p-dataTable [value]="unitDev" [rows]="10" [paginator]="true" [globalFilter]="gb">
            <p-column field="address.full_address" header="Address"></p-column>
            <p-column field="details.size_sqf" header="Size (sqf)"></p-column>
            <p-column field="details.price" header="Price (psf)"></p-column>
            <p-column header="Action">
                <template let-data="rowData" pTemplate="body">
                    <button class="btn btn-warning" (click)="editUnit(data)">Edit</button>
                    <button class="btn btn-danger" (click)="deleteUnit(data)">Delete</button>
                </template>
            </p-column>
        </p-dataTable>
    </fieldset>

    <div class="row admin-listing" *ngIf="detailDev">
        <div class="col-sm-12 col-xs-12 admin-position padding">
            <div class="admin-pro-title">
                <h4 class="color-black">Developments Information</h4>
            </div>
            <div class="col-sm-6 col-xs-6 admin-size-carousel">
                <div id="carousel-details-slider11" class="carousel slide admin-details-slider" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="item active">
                                <img class="img-responsive col-sm-12 col-xs-12 admin-photo-development" style="width:100%; height: 400px; " src="public/assets/images/No-Picture-Available.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-xs-6 admin-size-carousel">
                <div class="col-sm-12 col-xs-6" style="padding: 0px">
                    <div class="col-sm-12 col-xs-12 admin-size-carousel">
                        <div class="col-sm-6 col-xs-6 admin-size-carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="img-responsive  admin-listing-img admin-photo-development second" style="width:100%; height: 200px;" src="public/assets/images/No-Picture-Available.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6 admin-size-carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="img-responsive  admin-listing-img admin-photo-development second" style="width:100%; height: 200px;" src="public/assets/images/No-Picture-Available.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 admin-size-carousel">
                        <div class="col-sm-6 col-xs-6 admin-size-carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="img-responsive  admin-listing-img admin-photo-development second" style="width:100%; height: 200px;"  src="public/assets/images/No-Picture-Available.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6 admin-size-carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="img-responsive  admin-listing-img admin-photo-development second" style="width:100%; height: 200px;" src="public/assets/images/No-Picture-Available.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>  
        <div class="col-sm-12 col-xs-12 admin-position padding">
          <div class="col-sm-12 col-xs-6" style="padding: 0px">
            <div class="admin-pro-title mg-bot-15 col-sm-12 col-xs-12">
              <h4 class="color-black">Details</h4>
            </div>
            <div class="col-sm-3 col-xs-2">
              <div class="accordion-heading">
                <h4>Name of unit development</h4>
                <p> Postal District </p>
                <p> Tenure  </p>
                <p> Plannning Area</p>
                <p> Age </p>
                <p> Number of Units </p>
              </div>
            </div>
            <div class="col-sm-9 col-xs-10">
              <div class="accordion-heading">
                <h4 class="admin-visibility-hidden">{{detailDev.name}}</h4>
                <p><span class="admin-mg-min-plus">:</span><span>{{detailDev.postal_district}}</span></p>
                <p><span class="admin-mg-min-plus">:</span><span>{{detailDev.tenure}}</span> </p>
                <p><span class="admin-mg-min-plus">:</span><span>{{detailDev.planning_area}}</span> </p>
                <p><span class="admin-mg-min-plus">:</span><span>{{detailDev.age}}</span> </p>
                <p><span class="admin-mg-min-plus">:</span><span>{{detailDev.number_of_units}}</span></p>
              </div>
            </div>
            <br>
            <div class="admin-pro-title mg-bot-15 col-sm-12 col-xs-12">
              <h4 class="color-black">Description</h4>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="accordion-heading">
                <h5 class="admin-no-margin-0">{{detailDev.description}}</h5>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>	