<div id="content" [class]="contentClass">
	<div class="panel panel-inverse" data-sortable-id="table-basic-1">
	    <div class="panel-heading">
	        <div class="panel-heading-btn">
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
	        </div>
	        <h4 class="panel-title">Default Table</h4>
	    </div>   
	    <div class="panel-body">
			<form #form="ngForm" [formGroup]="myForm" (ngSubmit)="myForm.valid && developmentId ? updateDevelopment() : createDevelopment()" *ngIf="typeDev == true">
				<div class="col-md-6 col-sm-12 col-xs-12 form-absolute">
					<div class="form-group">
						<label for="header_image">Header Image</label>
						<dropzone
					         [element]="'#dropzone'"
					         [clickable]="'#dropzone'"
					         [acceptedFiles]="'image/*,application/pdf'"
					         [uploadMultiple]="'false'"
					         [autoProcessQueue]="'false'"
					         [url]="'http://localhost:5000/api/v1/attachments'"
					         (sending)="handleFileSending($event, 'image')"
					         (success)="handleFileSuccess($event, 'image')"
					         (addedfile)="handleFileAdded($event)"
					         (removedfile)="handleFileRemoved($event)"
					         (error)="handleFileFailure($event, 'image')"
					        >
					    </dropzone>
					    <div id="dropzone" class="dropzone"></div>
					</div>
					<div class="form-group">
						<label for="image">Image</label>
						<dropzone
					         [element]="'#dropzone1'"
					         [clickable]="'#dropzone1'"
					         [acceptedFiles]="'image/*,application/pdf'"
					         [uploadMultiple]="'false'"
					         [autoProcessQueue]="'false'"
					         [url]="'http://localhost:5000/api/v1/attachments'"
					         (sending)="handleFileSending($event, 'image')"
					         (success)="handleFileSuccess($event, 'image')"
					         (addedfile)="handleFileAdded($event)"
					         (removedfile)="handleFileRemoved($event)"
					         (error)="handleFileFailure($event, 'image')"
					        >
					    </dropzone>
					    <div id="dropzone1" class="dropzone"></div>
					</div>
					<div class="form-group" [ngClass]="{'has-error':!myForm.controls['name'].valid && myForm.controls['name'].touched }">
						<label for="name">Name</label>
						<input type="text" class="form-control" formControlName="name" placeholder="Input development name" name="name" [(ngModel)]="dataDevelopment.name" required>
						<span *ngIf="myForm.controls['name'].hasError('required') && myForm.controls['name'].touched" class="text-danger">Name is required</span>
					</div>
					<div class="form-group">
						<label for="type_of_area">Type Of Area</label>
						<input type="type_of_area" class="form-control" formControlName="type_of_area" placeholder="Input development type" name="type_of_area" [(ngModel)]="dataDevelopment.type_of_area">
					</div>
					<div class="form-group">
						<label for="tenure">Tenure</label>
						<input type="tenure" class="form-control" formControlName="tenure" placeholder="Input development tenure" name="tenure" [(ngModel)]="dataDevelopment.tenure">
					</div>
					<div class="form-group">
						<label for="planning_area">Planning Area</label>
						<input type="planning_area" class="form-control" formControlName="planning_area" placeholder="Input development planning area" name="planning_area" [(ngModel)]="dataDevelopment.planning_area">
					</div>
					<div class="form-group">
						<label for="age">Age</label>
						<input type="age" class="form-control" formControlName="age" placeholder="Input development age" name="age" [(ngModel)]="dataDevelopment.age">
					</div>
					<div class="form-group">
						<label for="number_of_units">Number Of Units</label>
						<input type="number_of_units" class="form-control" formControlName="number_of_units" placeholder="Input development number of units" name="number_of_units" [(ngModel)]="dataDevelopment.number_of_units">
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<input type="description" class="form-control" formControlName="description" placeholder="Input development description" name="description" [(ngModel)]="dataDevelopment.description">
						<span *ngIf="myForm.controls['description'].hasError('required') && myForm.controls['description'].touched" class="text-danger">Description is required</span>
					</div>
					<div class="form-group">
						<button class="btn btn-default" (click)="backToDevelopment()">Back</button>
						<button class="btn btn-primary" [disabled]="!myForm.valid">Save</button>
					</div>
				</div>
			</form>   
		</div>
	</div>		

	<div class="" *ngIf="typeDev == false">
		<div class="panel panel-inverse" data-sortable-id="table-basic-1">
		    <div class="panel-heading">
		        <div class="panel-heading-btn">
		            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
		            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
		            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
		            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
		        </div>
		        <h4 class="panel-title">Default Table</h4>
		    </div>   
		    <div class="panel-body">
				<div class="col-md-12 mg-bot-20">
					<sebm-google-map [latitude]="lat" [longitude]="lng">
				  		<sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
					</sebm-google-map>
				</div>
				<form #form="ngForm" [formGroup]="formUnit" (ngSubmit)="formUnit.valid && unitDevelopmentId ? updateUnitDevelopment() : createUnitDevelopment()">
				<div class="col-md-6 col-sm-12 col-xs-12 form-absolute">
					<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['address'].valid && formUnit.controls['address'].touched }">
						<label for="address">Address</label>
						<input type="address" class="form-control" formControlName="address" placeholder="Input address" name="address" [(ngModel)]="dataUnitDevelopment.address">
						<span *ngIf="formUnit.controls['address'].hasError('required') && formUnit.controls['address'].touched" class="text-danger">Address is required</span>
					</div>
					<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['block_number'].valid && formUnit.controls['block_number'].touched }">
						<label for="block_number">Block No</label>
						<input type="block_number" class="form-control" formControlName="block_number" placeholder="Input block_number" name="block_number" [(ngModel)]="dataUnitDevelopment.block_number">
						<span *ngIf="formUnit.controls['block_number'].hasError('required') && formUnit.controls['block_number'].touched" class="text-danger">Block No is required</span>
					</div>
					<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['street_name'].valid && formUnit.controls['street_name'].touched }">
						<label for="street_name">Street Name</label>
						<input type="street_name" class="form-control" formControlName="street_name" placeholder="Input street_name" name="street_name" [(ngModel)]="dataUnitDevelopment.street_name">
						<span *ngIf="formUnit.controls['street_name'].hasError('required') && formUnit.controls['street_name'].touched" class="text-danger">Street Name is required</span>
					</div>
					<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['floor'].valid && formUnit.controls['floor'].touched }">
						<label for="floor">Unit</label>
						<input type="floor" class="form-control" formControlName="floor" placeholder="Input floor" name="floor" [(ngModel)]="dataUnitDevelopment.floor">
						<span *ngIf="formUnit.controls['floor'].hasError('required') && formUnit.controls['floor'].touched" class="text-danger">Floor is required</span>
					</div>
					<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['unit'].valid && formUnit.controls['unit'].touched }">
						<input type="unit" class="form-control" formControlName="unit" placeholder="Input unit" name="unit" [(ngModel)]="dataUnitDevelopment.unit">
						<span *ngIf="formUnit.controls['unit'].hasError('required') && formUnit.controls['unit'].touched" class="text-danger">Unit is required</span>
					</div>
					<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['postal_code'].valid && formUnit.controls['postal_code'].touched }">
						<label for="postal_code">Postal Code</label>
						<input type="postal_code" class="form-control" formControlName="postal_code" placeholder="Input  postal_code" name="postal_code" [(ngModel)]="dataUnitDevelopment.postal_code">
						<span *ngIf="formUnit.controls['postal_code'].hasError('required') && formUnit.controls['postal_code'].touched" class="text-danger">Postal Code is required</span>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Details</h3>
						</div>
						<div class="panel-body">
							<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['size_sqm'].valid && formUnit.controls['size_sqm'].touched }">
								<label for="size_sqm">Size Sqm</label>
								<input type="size_sqm" class="form-control" formControlName="size_sqm" placeholder="Input size sqm" name="size_sqm" [(ngModel)]="dataUnitDevelopment.size_sqm">
								<span *ngIf="formUnit.controls['size_sqm'].hasError('required') && formUnit.controls['size_sqm'].touched" class="text-danger">Size Sqm is required</span>
							</div>
							<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['size_sqf'].valid && formUnit.controls['size_sqf'].touched }">
								<label for="size_sqf">Size Sqf</label>
								<input type="size_sqf" class="form-control" formControlName="size_sqf" placeholder="Input size sqf" name="size_sqf" [(ngModel)]="dataUnitDevelopment.size_sqf">
								<span *ngIf="formUnit.controls['size_sqf'].hasError('required') && formUnit.controls['size_sqf'].touched" class="text-danger">Size Sqf is required</span>
							</div>
							<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['price'].valid && formUnit.controls['price'].touched }">
								<label for="price">Price</label>
								<input type="price" class="form-control" formControlName="price" placeholder="Input  price" name="price" [(ngModel)]="dataUnitDevelopment.price">
								<span *ngIf="formUnit.controls['price'].hasError('required') && formUnit.controls['price'].touched" class="text-danger">Price is required</span>
							</div>
							<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['psqft'].valid && formUnit.controls['psqft'].touched }">
								<label for="psqft">Price (sqft)</label>
								<input type="psqft" class="form-control" formControlName="psqft" placeholder="Input  psqft" name="psqft" [(ngModel)]="dataUnitDevelopment.psqft">
								<span *ngIf="formUnit.controls['psqft'].hasError('required') && formUnit.controls['psqft'].touched" class="text-danger">Price (sqft) is required</span>
							</div>
							<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['psqm'].valid && formUnit.controls['psqm'].touched }">
								<label for="psqm">Price (sqm)</label>
								<input type="psqm" class="form-control" formControlName="psqm" placeholder="Input  psqm" name="psqm" [(ngModel)]="dataUnitDevelopment.psqm">
								<span *ngIf="formUnit.controls['psqm'].hasError('required') && formUnit.controls['psqm'].touched" class="text-danger">Price (sqm) is required</span>
							</div>
							<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['sale_date'].valid && formUnit.controls['sale_date'].touched }">
								<label for="sale_date">Sale date</label>
								<input type="sale_date" class="form-control" formControlName="sale_date" placeholder="Input  sale_date" name="sale_date" [(ngModel)]="dataUnitDevelopment.sale_date">
								<span *ngIf="formUnit.controls['sale_date'].hasError('required') && formUnit.controls['sale_date'].touched" class="text-danger">Sale date is required</span>
							</div>
							<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['type'].valid && formUnit.controls['type'].touched }">
								<label for="type">Property Type</label>
								<input type="type" class="form-control" formControlName="type" placeholder="Input  type" name="type" [(ngModel)]="dataUnitDevelopment.type">
								<span *ngIf="formUnit.controls['type'].hasError('required') && formUnit.controls['type'].touched" class="text-danger">Property Type is required</span>
							</div>
							<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['tenure'].valid && formUnit.controls['tenure'].touched }">
								<label for="tenure">Tenure</label>
								<input type="tenure" class="form-control" formControlName="tenure" placeholder="Input  tenure" name="tenure" [(ngModel)]="dataUnitDevelopment.tenure">
								<span *ngIf="formUnit.controls['tenure'].hasError('required') && formUnit.controls['tenure'].touched" class="text-danger">Tenure is required</span>
							</div>
							<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['completion_date'].valid && formUnit.controls['completion_date'].touched }">
								<label for="completion_date">completion_date</label>
								<input type="completion_date" class="form-control" formControlName="completion_date" placeholder="Input  completion_date" name="completion_date" [(ngModel)]="dataUnitDevelopment.completion_date">
								<span *ngIf="formUnit.controls['completion_date'].hasError('required') && formUnit.controls['completion_date'].touched" class="text-danger">completion_date is required</span>
							</div>
							<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['type_of_sale'].valid && formUnit.controls['type_of_sale'].touched }">
								<label for="type_of_sale">Type of Sale</label>
								<input type="type_of_sale" class="form-control" formControlName="type_of_sale" placeholder="Input  type_of_sale" name="type_of_sale" [(ngModel)]="dataUnitDevelopment.type_of_sale">
								<span *ngIf="formUnit.controls['type_of_sale'].hasError('required') && formUnit.controls['type_of_sale'].touched" class="text-danger">Type of Sale is required</span>
							</div>
							<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['purchaser_address_indicator'].valid && formUnit.controls['purchaser_address_indicator'].touched }">
								<label for="purchaser_address_indicator">Purchase Address Indicator</label>
								<input type="purchaser_address_indicator" class="form-control" formControlName="purchaser_address_indicator" placeholder="Input  purchaser_address_indicator" name="purchaser_address_indicator" [(ngModel)]="dataUnitDevelopment.purchaser_address_indicator">
								<span *ngIf="formUnit.controls['purchaser_address_indicator'].hasError('required') && formUnit.controls['purchaser_address_indicator'].touched" class="text-danger">Purchase Address Indicator is required</span>
							</div>
							<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['planning_region'].valid && formUnit.controls['planning_region'].touched }">
								<label for="planning_region">Planning Region</label>
								<input type="planning_region" class="form-control" formControlName="planning_region" placeholder="Input  planning_region" name="planning_region" [(ngModel)]="dataUnitDevelopment.planning_region">
								<span *ngIf="formUnit.controls['planning_region'].hasError('required') && formUnit.controls['planning_region'].touched" class="text-danger">Planning Region is required</span>
							</div>
							<div class="form-group" [ngClass]="{'has-error':!formUnit.controls['planning_area'].valid && formUnit.controls['planning_area'].touched }">
								<label for="planning_area">Planning Area</label>
								<input type="planning_area" class="form-control" formControlName="planning_area" placeholder="Input planning_area" name="planning_area" [(ngModel)]="dataUnitDevelopment.planning_area">
								<span *ngIf="formUnit.controls['planning_area'].hasError('required') && formUnit.controls['planning_area'].touched" class="text-danger">Planning Area is required</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<button class="btn btn-default" (click)="backToDevelopment()">Back</button>
						<button class="btn btn-primary" [disabled]="!formUnit.valid">Save</button>
					</div>
				</div>
				</form>      
			</div>	
		</div>
	</div>		
</div>