<div class="container container-body">
    <div class="row">
        <p class="current-list page-header-top between-navbar why-us reupload">
        </p>
        <loading *ngIf="!agreement" class="mg-l-47"></loading>
        <div *ngIf="agreement" class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 mg-bottom-15">
            <div id="loiPreview" class="col-md-12 col-sm-12 col-xs-12">
                <!-- <!DOCTYPE html> -->
                <meta charset="utf-8">
                <style type="text/css">
                    body {
                        text-align: justify;
                        counter-reset: increament alpha;
                        zoom: {{zoomLevel}};
                    }
                    .text-center {
                        text-align: center;
                    }
                    .b {
                        font-weight: bold;
                    }
                    .i {
                        font-style: italic;
                    }
                    .u {
                        text-decoration: underline;
                    }
                    .blue {
                        color: #4F81BD;
                    }
                    ol {
                        /*counter-reset: increament;*/
                        -webkit-padding-start: 2em;
                    }
                    ol li {
                        list-style: none;
                        position: relative;
                    }
                    ol > li:before {
                        position: absolute;
                        left: -2em;
                        counter-increment: increament;
                        content: counter(increament)". ";
                    }
                    ol.alpha.reset {
                        counter-reset: alpha;
                    }
                    ol.alpha > li:before {
                        counter-increment: alpha;
                        content:"(" counter(alpha, lower-alpha)") ";
                    }
                    .page {
                        page-break-after: always;
                    }
                    .box {
                        padding: 8px;
                        border: 1px solid;
                    }
                    .header-letter img {
                        height: 45px;
                        outline: 0px;
                    }
                    .header-letter {
                        text-align: center;
                    }
                    .font-style-staysmart {
                        color: #333;
                        font-size: 22px;
                        letter-spacing: 2px;
                        font-weight: 600;
                        padding: 0;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        height: 60px;
                        top: 6px;
                        position: relative;
                    }
                    .lg-green {
                        color: #20bb55;
                    }
                </style>
                <div class="page">
                    <p class="text-center blue b i">ACCEPTANCE</p>
                    <p>
                        I, the undersigned Landlord(s) of the above mentioned premises hereby 
                        <span contenteditable="false">
                            <span class="do-remove" field="form_data.status_sign">
                                accept 
                            </span>
                        </span>
                        the offer by the Tenant to lease the premises based on the terms and conditions mentioned
                        in the Letter Of Intent and acknowledge receipt of the good faith deposit.
                    </p>
                    <p class="text-center b">
                        <span contenteditable="false">
                            <span class="do-remove" field="form_data.confirmation_date">
                            </span>
                        </span>
                    </p>
                </div>
            </div>
            <br>
            <div class="col-md-3 col-sm-3 signature_ta">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 signature_ta pull-right pull-left">
                <div class="signature_tenant acceptance">
                    <p>
                        <b class="ta_color">Signature of Landlord</b>
                        <br>
                        <signature name="landlordLoiSign" width="350" height="135"></signature>
                        <br>
                        <b *ngIf="agreement?.landlord">{{agreement?.landlord?.username}}</b>
                        <br>
                        <b *ngIf="agreement?.landlord?.landlord?.data">{{agreement?.landlord?.landlord?.data?.identification_number}}</b>
                        <br>
                        <b>{{ date | date:'dd/MM/y' }}</b>
                        <br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 signature_ta">
                <button type="button" (click)="accept()" class="btn btn-success float-r ml-5 h-40 previous_loi">
                    <span *ngIf="loading"><i class='fa fa-spinner fa-spin '></i> Please Wait</span>
                    <span *ngIf="!loading">Confirm</span>
                </button>
                <button type="button" (click)="back()" class="btn btn-default float-r ml-5 h-40 previous_loi back back-to-list-loi">Back</button>
            </div>
        </div>
    </div>
</div>