h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
#profile {
  margin-top: 45px;
  border-top: 40px solid #23282e;
}
#profile-image {
  border-top: none !important; 
}
#home .dropdown-menu {
  color: #9c9c9c;
}
#home .ui-widget {
  font-size: 15px !important;
}
.dropdown-result {
  color: #7c7c7c;
  font-weight: bold;
}
input[type="date"]::-webkit-calendar-picker-indicator{
  color: #7c7c7c;
}
input[type="date"]::-webkit-inner-spin-button{
    display: none;
}
.ui-datatable {
	padding: 2px;
}
.ui-widget-header {
    padding: 4px 10px;
    margin: 2px;
    border-bottom: 0 none;
}
.global-filter {
    margin: 4px 4px 0 0;
}
body {
	font-family: 'Open Sans',sans-serif;
}
admin-app .content {
	margin-top: 70px;
}
.btn-white i.fa {
  padding-right: 5px;
}
.cursor-pointer {
  cursor: pointer;
}
.font-bold {
  font-weight: bold !important;
}
.bd-normal {
  border: 1px solid;
}
.mg-bot-10 {
  margin-bottom: 10px !important;
}
home .carousel-indicators {
  visibility: hidden;
}
setting .carousel-indicators {
  visibility: hidden;
}
.carousel-control {
  visibility: hidden;
}
.image-carousel {
  width: 100%;
  height: 70%;
}
.no-padding {
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-top: 12px !important;
  background-color: transparent !important;
}
.minus-margin.profil {
  padding-top: 9px !important;
  margin-right: -54px !important;
}
.minus-margin {
  padding-top: 9px !important;
  margin-right: -15px !important;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.nav-top {
  position: fixed !important;
  width: 100%;
  z-index: 1000;
}
.filter-menu {
  z-index: 500;
  background-color: transparent;
  position: absolute;
  width: 800px;
  margin-left: 20%;
}
.notif-count {
    border-radius: 50%;
    font-size: 10px;
    border: 1px solid #fff;
}
home .ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-shadow {
  top: -295px !important;
  bottom: 32px;
}
.intl-tel-input {
  width: 100%;
}
.has-error {
  color: red !important;
}
.noUi-base {
  margin-top: 25px !important;
}
.noUi-horizontal {
  width: 93% !important;
}
.noUi-horizontal .noUi-handle {
  width: 6px !important;
}
.noUi-horizontal .noUi-handle {
  height: 18px !important;
  left: 0px !important;
}
.noUi-handle {
  border: none !important;
  border-radius: none !important;
  background: #ad3535 !important;
  box-shadow: none !important;
}
.noUi-handle {
  border: none !important;
  box-shadow: none !important;
  border-radius: 3px !important;
}
.noUi-pips-horizontal {
  padding: 0 !important;
  height: 30px !important;
}
.noUi-handle:after {
  left: 0 !important;
}
.noUi-handle:after, .noUi-handle:before {
  content: none !important;
}
.noUi-horizontal .noUi-handle-lower .noUi-tooltip, .noUi-horizontal .noUi-handle-upper .noUi-tooltip {
  top: -25px !important;
  left: -57px !important;
}
.noUi-horizontal .noUi-handle {
  outline: none !important;
}
.textarea-message {
  width: 100%;
}
.size-150{
  height: 150px !important;
  width: 150px !important;
}
.m-t-10{
  margin-top: 10px !important;
}
.available {
  display: block;
}

.inventory-list .ui-chkbox{
  margin-right: 1.25em !important;
  /*margin-top: 0.55em !important;*/
}

.inventory-list .ui-widget{
  font-size: 1.34em !important;
  margin-top: 0.25em !important;
}

.ui-widget-header .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-state-highlight {
  border-color: #1c3c46 !important;
  background: #d6d6d6 !important;
  color: #000 !important;
}
.btn-print {
  padding: 9px 25px !important;
}
.cursor {
  cursor: pointer;
}
.span-button {
  display: inline !important;
  line-height: 20px !important;
}
.confirm-loi {
  color: #fff !important;
  padding: 10px 20px !important;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important
}
.confirm-loi:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.create-listing .ui-inputtext {
  padding: 10px !important;
  width: 200px !important;
}
#setting-page {
  margin-top: 45px;
  border-top: 40px solid #23282e;
}
.remove-img {
  margin-left: 25%;
}
.admin-sidebar {
  padding-top: 0 !important;
}
.navbar-admin {
  float: left !important;
}
.toggle-admin {
  float: right !important;
}
.admin-img {
  width: 35px !important;
  height: 35px !important;
  margin-right: 10px !important;
  float: left !important;
}
.admin-blog h4{
  color: black !important;
}
.cancel {
  padding: 10px 14px !important;
  margin: 15px 0px 0px 15px;
  width: 134px !important;
  height: 40px !important;
}
.col-md-12.bg-white-timing {
  background-color: transparent !important;
}
.filter-date {
  z-index: 500;
  background-color: #f1f4f7;
  position: absolute;
  width: 280px;
  right: 5%;
}
.mg-l-47{
  margin-left: 47%;
}
.btn-clear-date {
  margin-right: 20px;
  margin-bottom: 15px !important;
}
.btn-chat-send {
  padding: 9.5px !important;
}
.footer-site {
  margin-top: 10px !important;
}
.zone-image {
  margin-top: 15px;
}
.btn-noradius {
  border-radius: 0 !important;
}
.fix-image-size {
  width: 222px !important;
  height: 220px !important;
}
.ui-dropdown .ui-dropdown-trigger { 
    padding: 8px .25em !important; 
} 
.passport { 
    width: 29.5% !important; 
}
.listing {
    width: 1125px !important;
}
.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
  overflow-wrap: break-word !important;
}
.min-width {
  width: 65px !important;
}
.left-0 {
  left: 0 !important;
}
.sidebar-z-index {
  z-index: 1010 !important;
}
.bg-z-index {
  z-index: 1000 !important;
}
.sidebar-padding-top {
  top: 5px !important;
}
@media (max-width: 768px) {
  .content {
    padding-left: 80px !important;
    margin-top: 100px !important;
  }
  .padding_nounit {
    left: 35px !important;
  }
  .col-md-5.pd-right-0 .form-group {
    margin-left: 65px !important;
  }
  .filter-date {
    top: 150px !important;
    left: 65px !important;
  }
}
.resize-margin-left {
  margin-left: 50px !important
}
.ui-dropdown-panel .ui-dropdown-filter-container .fa {
  top: 1.35em !important;
}
.required-dropzone {
  color: white !important;
}
.required-dropzone .dz-default.dz-message:after {
  color: white !important;
}
.little-space {
  left: 13px !important;
}
.btn-submit-sc {
  width: auto !important;
  padding: 10px 20px !important;
}
#initiate-loi .glyphicon {
  padding-top: 5px !important;
}
.mini-input {
  width: 235px !important;
}
.dz-remove {
  color: black !important;
}
a {
  cursor: pointer !important;
}
.margin-right {
  margin-right: 5px;
}
.navbar-nav>li>.navbar-search {
  left: 0px !important;
}
.sebm-google-map-info-window-content {
  padding: 10px !important;
  font-size: 16px !important;
}