<section id="blog">
		<div class="container-fluid blog-no-padding blog-divider-b">
			<div class="col-md-12 col-sm-12 col-xs-12 blog-no-padding">
				<div id="myCarousel" class="carousel slide blog-no-padding hidden-xs" data-ride="carousel">
					<carousel>
					<div class="carousel-inner between-navbar" role="listbox">
						<template ngFor let-data [ngForOf]="totalSlide" let-a="index">
							<slide>
								<div class="item">
									<div class="col-md-4 col-sm-4 col-xs-12 blog-no-padding bd-col-rl" *ngFor="let blog of datas[a];let i=index ">
										<a (click)="add(blog.slug)">
											<img class="img-blog-slider" [src]="blog.cover">
											<div class="feat-overlay">
												<div class="feat-text">
													<h3>{{ blog.title }}</h3>
												</div>
											</div>
										</a>	
									</div>
								</div>
							</slide>
						</template>
					</div>
					</carousel>	
				</div>

				<div id="myCarousel" class="carousel slide blog-no-padding visible-xs" data-ride="carousel">
					<ol class="carousel-indicators blog-indicat"></ol>
					<carousel>
					<div class="carousel-inner between-navbar" role="listbox">
						<template ngFor let-data [ngForOf]="totalSlide" let-a="index">
					    <slide *ngFor="let blog of datas[a];let i=index ">
					    	<div class="item" >
					    	<div class="col-md-12 col-sm-12 col-xs-12 blog-no-padding mg-bot-30">
        					<img  [src]="blog.cover" class="img-blog-slider">
        						<div class="feat-overlay color-white text-center">
									<div class="feat-text">
										<a (click)="add(blog.slug)"><h3>{{ blog.title }}</h3></a>
									</div>
								</div>
								</div>
								</div>
        				</slide>
        				</template>
					</div>
					</carousel>
				</div>
			</div>
		</div>

		<div class="sp-grid-title" id="scrollPoint">
			<h3>(RE) DISCOVER SINGAPORE</h3>
			<span class="sub-title">Your guide to finding a home that fits.</span><br>
			<a routerLink="#" class="dot-bd" data-toggle="dropdown">
				<span class="sub-title">Explore our topics <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></span>
			</a>
			<ul class="dropdown-menu">
			
				<li><a routerLink="/category/DthFhTm7EshsWiRPB#scrollPoint" class="categoryList" id="viewList">healthylife</a></li>
			
				<li><a routerLink="/category/Z7wFwgifw2HJgZeJy#scrollPoint" class="categoryList" id="viewList">property</a></li>
			
		  	</ul>
		</div>

		<div id="" class="container-fluid no-padding blog-divider-t">
			<div class="col-md-12 padding-0 blog-bd">
				<a *ngFor="let blog of blogs" (click)="add(blog.slug)">
					<div class="col-md-3 all-pd-30">
						<img  [src]="blog.cover.url">
						<h2>{{ blog.title }}</h2>
						<div [innerHtml]="blog.content | safeHtml"></div>
					</div>
				</a>
			</div>
		</div>
	</section>