<div class="container">
  <div class="row">
    <div class="about-desc col-lg-12 between-navbar about">
      <p class="current-list page-header-top">
        <a routerLink="/">Home</a>
        <a routerLink="/savings">&gt; How Much Can You Save</a>
      </p>
    </div>
    <h1 class="page-header page_header_about" id="top-our-fee-and-charges"><b>How much can you save?</b></h1>
    <div class="container width-600">
      <div class="col-md-12 col-sm-12 col-xs-12 monthly-rental">
        <div class="row header mg-bot-15 text-center">
          <h4 class="font-weight-bold">Savings Calculator</h4>
        </div>
        <div class="row mg-bot-15">
          <div class="input-group col-md-12 col-sm-12 col-xs-12">
            <label class="col-md-3 col-sm-3 col-xs-3">For </label>
            <label class="radio-inline">
              <input [(ngModel)]="model.for" (change)="changeCalculate()" type="radio" name="for" value="landlord" checked="">Landlords
            </label>
            <label class="radio-inline">
              <input [(ngModel)]="model.for" (change)="changeCalculate()" type="radio" name="for" value="tenant">Tenants
            </label>
          </div>
        </div>
        <div class="row mg-bot-15">
          <div class="input-group col-md-12 col-xs-12 col-sm-12">
            <label class="col-md-3 col-sm-3 col-xs-3">Monthly Rental </label>
            <input [(ngModel)]="model.rental" (ngModelChange)="changeCalculate()" maxlength="8" type="text">
            <button (click)="calculate()" class="btn btn-sm btn-info btn-calculate">Calculate</button>
          </div>
        </div>
        <div class="row mg-bot-15">
          <div class="input-group col-md-12 col-sm-12 col-xs-12 radio-staysmart">
            <label class="col-md-3 col-sm-3 col-xs-3">Lease Tenure </label>
            <div id="ck-button" class="radio-btn-wide">
              <label>
                <input [(ngModel)]="model.lease" (change)="changeCalculate()" type="radio" id="m6" name="lease" value="6" checked><span>6 months</span>
              </label>
            </div>
            <div id="ck-button" class="radio-btn-wide">
              <label>
                <input [(ngModel)]="model.lease" (change)="changeCalculate()" type="radio" id="m12" name="lease" value="12"><span>12 months</span>
              </label>
            </div>
            <div id="ck-button" class="radio-btn-wide">
              <label>
                <input [(ngModel)]="model.lease" (change)="changeCalculate()" type="radio" id="m24" name="lease" value="24"><span>24 months</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row mg-bot-15">
          <div class="input-group col-md-12 col-sm-12 col-xs-12">
            <label class="col-md-3 col-sm-3 col-xs-3">Market Practice</label>
            <span *ngIf="marketPractice != 0">{{marketPractice | currency:undefined:'1.2-2'}}
            </span>
            <span *ngIf="marketPractice == 0">No Fees</span>
          </div>
        </div>
        <div class="row mg-bot-15">
          <div class="input-group col-md-12 col-sm-12 col-xs-12">
            <label class="col-md-3 col-sm-3 col-xs-3">Staysmart </label>
            <span *ngIf="staysmart != 0">{{staysmart | currency:undefined:'1.2-2'}}
            </span>
            <span *ngIf="staysmart == 0">No Fees</span>
          </div>
        </div>
        <div class="row mg-bot-15">
          <div class="input-group col-md-12 col-sm-12 col-xs-12">
            <b>
              <label class="col-md-3 col-sm-3 col-xs-3 font-weight-bold imp cgreen">SAVINGS </label>
              <span *ngIf="savings != 0" class="cgreen">{{savings | currency:undefined:'1.2-2'}}
              </span>
              <span *ngIf="savings == 0" class="cgreen">No Fees</span>
            </b>
          </div>
        </div>
        <div class="row bd-staysmart">
          <h6 class="our-fee-information text-center">*Not inclusive of 7% GST, where applicable.</h6>
        </div>
      </div>
    </div>
  </div>
</div>