<section id="signup">
	<div class="container">
		<div class="board-box signup">
			<h1>SMS Verification</h1>
			<p class="lead">Just one more step</p>
			<form name="form" (ngSubmit)="f.form.valid && submitCode()" #f="ngForm" novalidate>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Click here to send One-Time Pin (OTP) to your mobile</label>
						</div>
					</div>
					<div class="col-md-6">
						<button type="button" [disabled]="disable" (click)="sendCode()" class="btn btn-primary">Send One-Time Pin (OTP) </button>
						<span *ngIf="countdown > 0">{{countdown}}</span>
					</div>
				</div>
				<div class="row" [ngClass]="{ 'has-error': f.submitted && !code.valid }">
					<div class="col-md-6">
						<div class="form-group">
							<label>Please key in your pin</label>
						</div>
					</div>
					<div class="col-md-3">
						<input type="text" class="form-control" name="code" [(ngModel)]="model.code" #code="ngModel" required>
						<small *ngIf="f.submitted && !code.valid" class="help-block">Code is required</small>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-6 col-md-6">
						<button type="submit" class="btn btn-default"><span *ngIf="loading"><i class='fa fa-spinner fa-spin '></i></span>Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>