<div id="setting-page">
	<div class="container">
		<div class="row usr">
			<p class="current-list page-header-top">
	          <a routerLink="/">Home</a>
	          <a routerLink="/user/dDGEotTcqRSRL8tLc/setting">&gt; My Account</a>
			</p>
			<div class="col-md-12 col-sm-12 col-xs-12 padding_ta_side">
				<div class="col-md-12 background_ta loi_preview_btn">
					<div class="col-md-4 col-sm-4 col-xs-12 color_homepage">
			      		<b>Account information</b>
					</div>
		   		 </div>
		    	<div class="col-md-12 col-sm-12 col-xs-12">
					<form *ngIf="status" [formGroup]="myForm" #form="ngForm" (ngSubmit)="myForm.valid && updateSetting(dataProfile.id)" id="updateAccount" novalidate="novalidate">
						<div class="form-horizontal">
						    <div class="form-group" data-required="true" [ngClass]="{'has-error':!myForm.controls['username'].valid && myForm.controls['username'].touched }">
						    	<label class="col-sm-2 col-xs-12 control-label" for="pjknateLeZffkW6Ez">Username</label>
						    	<div class="col-sm-10 col-xs-12">
								    <input type="text" name="username" placeholder="Username" id="pjknateLeZffkW6Ez" required="" data-schema-key="username" class="form-control" formControlName="username" [(ngModel)]="dataProfile.username">
                					<control-messages [control]="myForm.controls.username" [field]="'Username'"></control-messages>
    							</div>
  							</div>
  							<div class="form-group">
	    						<label class="col-sm-2 col-xs-12 control-label" for="4gtZzeKeFthHKDFn3">Full Name</label>
							    <div class="col-sm-10 col-xs-12">
									<input type="text" name="fullname" placeholder="Full Name" disabled="" id="4gtZzeKeFthHKDFn3" data-schema-key="fullname" class="form-control" formControlName="fullname" [(ngModel)]="dataProfile.landlord.data.name">
							    </div>
							</div>
						    <div class="form-group">
							    <label class="col-sm-2 col-xs-12 control-label" for="XoTXPPaKAWmKXhCyt">Identification Number</label>
							    <div class="col-sm-10 col-xs-12">
      								<input type="text" name="identification_number" placeholder="Identification Number" disabled="" id="XoTXPPaKAWmKXhCyt" data-schema-key="identification_number" class="form-control" formControlName="identification" [(ngModel)]="dataProfile.identification_number">
							    </div>
							</div>
  							<div class="form-group" data-required="true" [ngClass]="{'has-error':!myForm.controls['email'].valid && myForm.controls['email'].touched }">
    							<label class="col-sm-2 col-xs-12 control-label" for="xroCj3e4Bxwr62s8F">Email Address</label>
    							<div class="col-sm-10 col-xs-12">
      								<input type="text" name="email" placeholder="Email" id="xroCj3e4Bxwr62s8F" required="" data-schema-key="email" class="form-control" formControlName="email" [(ngModel)]="dataProfile.email">
									<control-messages [control]="myForm.controls.email" [field]="'Email Address'"></control-messages>
							    </div>
							</div>
							<div class="form-group" *ngIf="isNotSocial">
							    <label class="col-sm-2 col-xs-12 control-label" for="password">Password</label>
							    <div class="col-sm-10 col-xs-12">
							    	<button type="button" id="changePassword" class="btn btn-info" (click)="showPassword()">Change Password</button>
							    	<div id="password" *ngIf="displaypassword" style="margin-top:15px;">
									<form id="changePasswordForm" novalidate="novalidate" [formGroup]="myFormPassword" #form="ngForm" (ngSubmit)="myFormPassword.valid && updatePassword()">
    									<div class="form-group" data-required="true" [ngClass]="{'has-error':!myFormPassword.controls['oldpassword'].valid && myFormPassword.controls['oldpassword'].touched }">
										    <label class="control-label" for="ZhjNyh5WB95PWGNQc"></label>
										    <div class="col-sm-10 col-xs-12">
											    <input type="password" name="oldpassword" placeholder="Old password" required="" data-schema-key="oldpassword" class="form-control" formControlName='oldpassword' [(ngModel)]="data.oldpassword">
											    <control-messages [control]="myFormPassword.controls.oldpassword" [field]="'Old Password'"></control-messages>
										    </div>
										</div>
    									<div class="form-group" data-required="true" [ngClass]="{'has-error':!myFormPassword.controls['newpassword'].valid && myFormPassword.controls['newpassword'].touched }">
   											<label class="control-label" for="YmwukwSN6XqeLYYzo"></label>
    										<div class="col-sm-10 col-xs-12">
  												<input type="password" name="newpassword" placeholder="New password" required="" data-schema-key="newpassword" class="form-control" formControlName="newpassword" [(ngModel)]="data.newpassword">
  												<control-messages [control]="myFormPassword.controls.newpassword" [field]="'New Password'"></control-messages>
										    </div>
									  	</div>
									    <div class="form-group" data-required="true" [ngClass]="{'has-error':!myFormPassword.controls['confirmpassword'].valid && myFormPassword.controls['confirmpassword'].touched }">
										    <label class="control-label" for="PoP7WzQpkYEptnwSh"></label>
										    <div class="col-sm-10 col-xs-12">
										    	<input type="password" name="confirmpassword" placeholder="New password again" required="" data-schema-key="confirmpassword" class="form-control" formControlName='confirmpassword' [(ngModel)]="data.confirmpassword">
										    	<control-messages [control]="myFormPassword.controls.confirmpassword" [field]="'Confirm Password'"></control-messages>
										    </div>
									 	 </div>
									 	<button type="button" id="cancelChangePassword" (click)="hidePassword()" class="btn btn-danger" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Do not change page">Cancel</button>
										<button type="submit" [disabled]="!myFormPassword.valid" id="saveChangePassword" class="btn btn-info" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Wait a moment">Submit</button>
						    			<span class="help-block"></span>
  									</form>
						    		</div>
					    		</div>
					 		</div>
							<div class="form-group" data-required="true">
    							<label class="col-sm-2 col-xs-12 control-label" for="2BkJrwE8vz4fJSA8W">Mobile Number</label>
								<div class="col-sm-10 col-xs-12">
									<input type="text" name="phone" placeholder="Phone Number" id="xroCj3e4Bxwr62s8F" disabled="" required="" data-schema-key="phone" class="form-control" formControlName="phone" [(ngModel)]="dataProfile.phone">
  									<span *ngIf="myForm.controls['phone'].hasError('required') && myForm.controls['phone'].touched" class="text-danger">Phone number is required</span>
							    </div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2 col-xs-2">Picture</label>
								<div class="col-sm-4 col-xs-12">
									<img *ngIf="dataProfile?.picture" [src]="dataProfile?.picture?.url" class="col-sm-12 col-xs-12 pd-left-0" width="300" height="255" alt="In Upload">
									<img *ngIf="!dataProfile?.picture" src="client/include/images/img/cs.png" class="col-sm-12 col-xs-12 pd-left-0" width="300" height="255" alt="In Upload">
								</div>
				    		</div>
				    		<div class="form-group">
								<div class="col-sm-6 col-xs-6 btn-change">
									<button type="button" (click)="modalUpload.show()" class="btn btn-info pull-right">Change</button>
								</div>
				    		</div>
							<div class="form-group">
								<label class="control-label col-sm-2 col-xs-12">Manager</label>
								<div class="col-sm-5 col-xs-12">
									<div class="input-group">
										<span class="input-group-btn padding_manager">
											<button type="button" class="btn add-manager" data-toggle="modal" data-target="#managermodal" (click)="modalManager.show()"><i class="fa fa-plus icon-plus-spacing" aria-hidden="true"></i>
											<span class="add-manager-color">Add Manager</span></button>
										</span>
									</div>
									
								</div>
				    		</div> 
						</div>
						<button type="submit" id="updateAccountSettings" class="btn btn-primary" [disabled]="!myForm.valid"><h5>Save</h5></button>
					</form>
  				</div>
				<div class="form-horizontal">
					<hr>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 background_ta loi_preview_btn">
							<div class="col-md-4 col-sm-12 col-xs-12 color_homepage">
					      		<b>Portfolio Owned</b>
							</div>
				    	</div>
				    	<div class="col-md-15 user_account_md15">
				    		<div *ngFor="let property of shownedOwnedProperties">
				    			<a (click)="view(property?._id)">
									<div class="col-md-3 portofolio cursor">
										<div class="col-md-12 no-padding">
											<img class="image_road_sg" width="100%" height="100%" [src]="property.pictures?.living[0].url">
										</div>
										<div class="col-md-12 no-padding">
											<span class="font-size-12">#{{property?.address.floor}}-{{property?.address.unit}} {{property?.development.name}}</span><br>
											<!-- <span>Apartments</span><br> -->
											<span class="blue_road_sg"><i class="fa fa-map-marker icon_list_right" aria-hidden="true"></i>{{property?.address.full_address}}</span>
										</div>
									</div>
								</a>
				    		</div>
				    		<div *ngIf="showHiddenOwnedProperties">
				    			<div *ngFor="let property of hiddenOwnedProperties">
					    			<a (click)="view(property?._id)">
										<div class="col-md-3 portofolio cursor">
											<div class="col-md-12 no-padding">
												<img class="image_road_sg" width="100%" height="100%" [src]="property.pictures?.living[0].url">
											</div>
											<div class="col-md-12 no-padding">
												<span class="font-size-12">#{{property?.address.floor}}-{{property?.address.unit}} {{property?.development.name}}</span><br>
												<!-- <span>Apartments</span><br> -->
												<span class="blue_road_sg"><i class="fa fa-map-marker icon_list_right" aria-hidden="true"></i>{{property?.address.full_address}}</span>
											</div>
										</div>
									</a>
					    		</div>
				    		</div>
				    		<div class="col-md-12 col-sm-12 col-xs-12" *ngIf="ownedProperties.length > 0">
								<span id="increasePortfOwned" class="float_right_see margin_up_about" *ngIf="clickedOwnedProperties" (click)="clickSeeAllOwnedProperties()">See all ({{ownedProperties.length}})</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 background_ta loi_preview_btn">
							<div class="col-md-4 col-sm-12 col-xs-12 color_homepage">
					      		<b>Portofolio Managed</b>
							</div>
				    	</div>
				    	<div class="col-md-15 user_account_md15">
				    		<div *ngFor="let property of shownedManagedProperties">
				    			<a (click)="view(property?._id)">
									<div class="col-md-3 portofolio cursor">
										<div class="col-md-12 no-padding">
											<img class="image_road_sg" width="100%" height="100%" [src]="property.pictures?.living[0].url">
										</div>
										<div class="col-md-12 no-padding">
											<span class="font-size-12">#{{property?.address.floor}}-{{property?.address.unit}} {{property?.development.name}}</span><br>
											<!-- <span>Apartments</span><br> -->
											<span class="blue_road_sg"><i class="fa fa-map-marker icon_list_right" aria-hidden="true"></i>{{property?.address.full_address}}</span>
										</div>
									</div>
								</a>
				    		</div>
				    		<div *ngIf="showHiddenManagedProperties">
				    			<div *ngFor="let property of hiddenManagedProperties">
					    			<a (click)="view(property?._id)">
										<div class="col-md-3 portofolio cursor">
											<div class="col-md-12 no-padding">
												<img class="image_road_sg" width="100%" height="100%" [src]="property.pictures?.living[0].url">
											</div>
											<div class="col-md-12 no-padding">
												<span class="font-size-12">#{{property?.address.floor}}-{{property?.address.unit}} {{property?.development.name}}</span><br>
												<!-- <span>Apartments</span><br> -->
												<span class="blue_road_sg"><i class="fa fa-map-marker icon_list_right" aria-hidden="true"></i>{{property?.address.full_address}}</span>
											</div>
										</div>
									</a>
					    		</div>
				    		</div>
					    		
				    		<div class="col-md-12 col-sm-12 col-xs-12" *ngIf="managedProperties.length > 0">
								<span id="increasePortfOwned" class="float_right_see margin_up_about" *ngIf="clickedManagedProperties" (click)="clickSeeAllManagedProperties()">See all ({{managedProperties.length}})</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 background_ta loi_preview_btn">
							<div class="col-md-4 col-sm-12 col-xs-12 color_homepage">
					      		<b>Appointed Property</b>
							</div>
				    	</div>
				    	<div class="col-md-15 user_account_md15">
				    		<div *ngFor="let data of shownedAppointedProperties">
				    			<a (click)="modalAccept.show(); getId(data?._id)">
									<div class="col-md-3 portofolio cursor">
										<div class="col-md-12 no-padding">
											<img class="image_road_sg" width="100%" height="100%" [src]="data?.property.pictures.living[0].url">
										</div>
										<div class="col-md-12 no-padding">
											<span class="font-size-12">#{{data?.property.address.floor}}-{{data?.property.address.unit}} {{data?.property.development.name}}</span><br>
											<!-- <span>Apartments</span><br> -->
											<span class="blue_road_sg"><i class="fa fa-map-marker icon_list_right" aria-hidden="true"></i>{{data?.property.address.full_address}}</span>
										</div>
									</div>
								</a>
				    		</div>
				    		<div *ngIf="showHiddenAppointedProperties">
				    			<div *ngFor="let data of hiddenAppointedProperties">
					    			<a (click)="modalAccept.show(); getId(data?._id)">
										<div class="col-md-3 portofolio cursor">
											<div class="col-md-12 no-padding">
												<img class="image_road_sg" width="100%" height="100%" [src]="data?.property.pictures.living[0].url">
											</div>
											<div class="col-md-12 no-padding">
												<span class="font-size-12">#{{data?.property.address.floor}}-{{data?.property.address.unit}} {{data?.property.development.name}}</span><br>
												<!-- <span>Apartments</span><br> -->
												<span class="blue_road_sg"><i class="fa fa-map-marker icon_list_right" aria-hidden="true"></i>{{data?.property.address.full_address}}</span>
											</div>
										</div>
									</a>
					    		</div>
				    		</div>
				    		<div class="col-md-12 col-sm-12 col-xs-12" *ngIf="appointedProperties.length > 0">
								<span id="increasePortfOwned" class="float_right_see margin_up_about" *ngIf="clickedAppointedProperties" (click)="clickSeeAllAppointedProperties()">See all ({{appointedProperties.length}})</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" bsModal #modalManager="bs-modal" [config]="{closeOnOutsideClick: 'true',closeOnEscape: 'true'}" (onShown)="setFocus(idName)" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content mg-top-120">
			<div class="modal-header">
			    <h4 class="modal-title">ADD MANAGER</h4>
			</div>
		  	<div class="modal-body">
				<form class="searchManagerForm">
					<div class="form-group">
						<input  #idName  type="text" name="searchBox" [(ngModel)]="model.name" #name="ngModel" class="form-control" placeholder="Search Manager">
					</div>
					<div class="form-group">
						<button (click)="search() || modalConfirmation.show() || modalManager.hide()" class="btn-block btn btn-info">Next</button>
					</div>
				</form>
		  	</div>
		</div>
	</div>
</div>
<!-- STEP 2-->
<div class="modal fade" bsModal #modalConfirmation="bs-modal" [config]="{closeOnOutsideClick: 'true',closeOnEscape: 'true'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
	    	<div class="modal-header">
	        	<h4 class="modal-title">CONFIRMATION</h4>
	      	</div>
	      	<div class="modal-body">
	        	Add {{model.name}} As Manager ?
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-info" (click)="getProperty() || modalConfirmation.hide() || modalProperty.show()" data-dismiss="modal">Yes</button>
	        	<button type="button" class="btn btn-default" (click)="modalConfirmation.hide()">No</button>
	      	</div>
	    </div>
	</div>
</div>
<!-- STEP 3-->
<div class="modal fade" bsModal #modalProperty="bs-modal" [config]="{closeOnOutsideClick: 'true',closeOnEscape: 'true'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<h4 class="modal-title">PORTFOLIO FOR MANAGER</h4>
	      	</div>
	      	<div class="modal-body">	
	        	<div class="row">	
					<div class="col-md-4 col-sm-6 col-xs-12 img-portofolio-manager" *ngFor="let property of properties; let i = index ">
						<div class="list-wrapper">
							<a class="list-box"></a>
							<div [class]="classes[i]">
								<div class="carousel slide" data-ride="carousel">
									<a (click)="clicked(property._id , i)" class="list-box selectProperty" style="cursor: pointer;">
										<!-- Wrapper for slides -->
										<carousel interval="0">
											<div class="carousel-inner" role="listbox">				
			                            		<slide class="item active">
			                              			<img src="{{property.pictures.bed[0].url}}" alt="Not found">
			                            		</slide>
			                            		<slide class="item">
			                              			<img src="{{property.pictures.dining[0].url}}" alt="Not found">
			                            		</slide>
			                            		<slide class="item">
			                              			<img src="{{property.pictures.kitchen[0].url}}" alt="Not found">
			                            		</slide>
			                            		<slide class="item">
			                              			<img src="{{property.pictures.living[0].url}}" alt="Not found">
			                            		</slide>
			                            		<slide class="item">
			                              			<img src="{{property.pictures.toilet[0].url}}" alt="Not found">
			                            		</slide>
											</div>
										</carousel>
										<!-- Left and right controls -->
									</a>
									<!-- <a class="left carousel-control" href="#myCarousel3BhzFD3iDTFxBqPcw-3" role="button" data-slide="prev">
										<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a>
									<a class="right carousel-control" href="#myCarousel3BhzFD3iDTFxBqPcw-3" role="button" data-slide="next">
										<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
									</a> -->
								</div>
							</div>
						</div>
					</div>
	        	</div>
	      	</div>
	      	<div class="modal-footer">
					<button type="button" class="btn btn-info" (click)="modalProperty.hide() || modalChat.show()">Next</button>
	        	<!-- <button type="button" class="btn btn-info" id="chooseProperties">Next</button> -->
	      	</div>
	    </div>
	 </div>
</div>

<!-- <div class="col-md-4 col-sm-6 col-xs-12 img-portofolio-manager">
	<div class="list-wrapper">
		<a href="#" class="list-box"></a>
		<div class="list-image"><a href="#" class="list-box"></a>
			<div id="myCarouselaE6TBCgRwamytkzB9-3" class="carousel slide" data-ride="carousel">
				<a href="#" class="list-box selectProperty"> -->
					<!-- Wrapper for slides -->
					<!-- <div class="carousel-inner" role="listbox">
		                <div class="item active">
		                    <img src="/cfs/files/images/avyjyxejRWLhdnRnv?token=eyJhdXRoVG9rZW4iOiJuMUlUQVBUdVdzaFlCb0E0Y2VTZVdZNTAyVjlDU1hiVEJWUi1RR0JoU0pFIn0%3D" alt="Not found">
		                </div>
		            </div>
				</a>
				<a class="left carousel-control" href="#myCarouselaE6TBCgRwamytkzB9-3" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarouselaE6TBCgRwamytkzB9-3" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
</div> -->
<!-- STEP 2-->
<div class="modal fade" bsModal #modalChat="bs-modal" [config]="{closeOnOutsideClick: 'true',closeOnEscape: 'true'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
	      	<div class="modal-header">
	        	<h4 class="modal-title">ACCESS FOR</h4>
	      	</div>
	      	<div class="modal-body">
	        	<div class="row">
					<div class="container">
						<form id="accessRoleForm">
							<div class="form-group">
								<label>
									<input type="checkbox" [(ngModel)]="model.chat" #chat="ngModel" name="chat" value="chat" checked="">Chat
								</label>
							</div>
							<div class="form-group">
								<button (click)="confirm() || modalChat.hide()" class="btn btn-info">Done</button>
							</div>
						</form>
					</div>
	        	</div>
	      	</div>
	    </div>
	</div>
</div>
<!--MODAL NOTIF -->
<div class="modal fade" bsModal #modalNotif="bs-modal" [config]="{closeOnOutsideClick: 'true',closeOnEscape: 'true'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
	    	<div class="modal-header">
	        	<h4 class="modal-title"></h4>
	      	</div>
	      	<div class="modal-body">
	        	<h4>APPOINTMENT DONE  </h4>
	        	Wait For Manager To Confirm Acceptance of Appointment
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-info" (click)="modalNotif.hide()">OK</button>
	      	</div>
	    </div>
	</div>
</div>
<!-- MODAL ACCEPT -->
<div class="modal fade" bsModal #modalAccept="bs-modal" [config]="{closeOnOutsideClick: 'true',closeOnEscape: 'true'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
			    <h4 class="modal-title">Accept Appointment to be Manager?</h4>
			</div>
		  	<div class="modal-body">
				You will be assigned as manager of the properties.
		  	</div>
		  	<div class="modal-footer">
		  		<button type="button" (click)="modalAccept.hide()" class="btn btn-default modal-btn-dismiss">Close</button>
		  		<button type="button" (click)="accept() || modalAccept.hide()" class="btn btn-primary modal-btn-confirm">OK</button>
		  	</div>
		</div>
	</div>
</div>
<!-- MODAL UPLOAD -->
<div class="modal fade" bsModal #modalUpload="bs-modal" [config]="{closeOnOutsideClick: 'true',closeOnEscape: 'true'}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm" role="document">
	    <div class="modal-content mg-top-120">
	      	<div class="modal-body">
				<div id="dropzone" class="dropzone"></div>
				<dropzone #customDropzone
				[element]="'#dropzone'"
			 	[clickable]="'#dropzone'"
				[acceptedFiles]="'image/*'"
				[uploadMultiple]="'false'"
				[autoProcessQueue]="'false'"
				[url]="link"
				[headers]="header"
				(sending)="handleFileSending($event)"
				(success)="handleFileSuccess($event)"
				(addedfile)="handleFileAdded($event)"
				(removedfile)="handleFileRemoved($event)"
				(error)="handleFileFailure($event)"
				></dropzone>
				<div class="col-sm-12 acc-upload zone-image">
					<button type="button" (click)="upload(customDropzone);modalUpload.hide()" class="btn btn-info pull-right btn-upload-account btn-noradius">Upload</button>
				</div>
			</div>
	    </div>
	</div>
</div>