<section id="forgetpassword">
	<div class="container">
		<div *ngIf="!id">
			<div class="board-box signup forget-password">
				<h1 class="text-center">Forgot password?</h1>
				<p class="lead text-center">Don't worry, you can send a reset password email</p>
				<form class="form-horizontal" name="form" [formGroup]="myFormForgot" (ngSubmit)="f.form.valid && sentMail()" #f="ngForm" novalidate>
					<div class="row">
						<div class="col-md-5 text-right">
							<div class="form-group">
								<label class="control-label"><b>Email</b></label>
							</div>
						</div>
						<div class="col-md-3" [ngClass]="{'has-error':!myFormForgot.controls['email'].valid && myFormForgot.controls['email'].touched }">
							<input type="text" class="form-control" name="email" [(ngModel)]="model.email" placeholder="name@mail.com" required formControlName="email">
							<control-messages [control]="myFormForgot.controls.email" [field]="'Email Address'"></control-messages>
						</div>
					</div>
					<div class="row">
						<div class="col-md-offset-5 col-md-7">
							<button id="sendToken" type="submit" class="btn btn-default" [disabled]="!myFormForgot.valid">Send</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div *ngIf="id">
			<div class="board-box signup reset-password">
        		<h1 class="text-center">Reset Password</h1>
  				<form id="resetPassword" novalidate="novalidate" [formGroup]="myFormReset" (ngSubmit)="f.form.valid && resetPass()" #f="ngForm">
          			<div class="row">
            			<div class="col-md-offset-4 col-md-4">
   							<div class="form-group" [ngClass]="{'has-error':!myFormReset.controls['password'].valid && myFormReset.controls['password'].touched }">
    							<label class="control-label">Password</label>
    							<input type="password" class="form-control" name="password" [(ngModel)]="model.password" required validateEqual="repassword" reverse="true" placeholder="Password" formControlName="password"/>
    							<control-messages [control]="myFormReset.controls.password" [field]="'Password'"></control-messages>
  							</div>
            			</div>
          			</div>
          			<div class="row">
            			<div class="col-md-offset-4 col-md-4">
    						<div class="form-group" [ngClass]="{'has-error':!myFormReset.controls['repassword'].valid && myFormReset.controls['repassword'].touched }">
    							<label class="control-label">Password Confirmation</label>
    							<input type="password" validateEqual="password" class="form-control" name="repassword" [(ngModel)]="model.repassword" required placeholder="Password Confirmation" formControlName="repassword"/>
    							<control-messages [control]="myFormReset.controls.repassword" [field]="'Confirmation Password'"></control-messages>
  							</div>
            			</div>
          			</div>
          			<div class="row">
            			<div class="col-md-offset-5 col-md-7">
              				<button type="submit" id="submitResetPassword" class="btn btn-primary" [disabled]="!myFormReset.valid"><h5>Reset Password</h5></button>
            			</div>
          			</div>
  				</form>
        	</div>
		</div>
	</div>
</section>